<template>
<v-row>
  <v-col cols="12" sm="12" md="12" lg="8" class=" mx-auto" style="background-color:#231f20;">
    <h1 class="font-konkretika text-left">
      <v-icon>mdi-chevron-down</v-icon> Conditions d'utilisations
    </h1>
    
    <v-card class="pa-5 mt-5" outlined >
      <p >1. Présentation et principe :
      </p>

      <p >
        Est désigné ci-après : <br><strong>Utilisateur</strong>, 
        tout internaute se connectant et utilisant le site susnommé : 
        <a :href="domaineUrl" target="_blank">{{ domaineName }}</a>.<br />
        Le site <strong>{{ domaineName }}</strong> regroupe un ensemble de services, dans l'état,  
        mis à la disposition des utilisateurs. Il est ici précisé que ces derniers doivent rester courtois 
        et faire preuve de bonne foi tant envers les autres utilisateurs qu'envers le webmaster du site {{ domaineName }}. 
        Le site {{ domaineName }} est mis à jour régulièrement par {{ pseudoWebmaster }}.<br /><br />
        {{ pseudoWebmaster }} s’efforce de fournir sur le site {{ domaineName }} des informations les plus précises possibles 
        (sous réserve de modifications apportées depuis leur mise en ligne), mais ne saurait garantir l'exactitude, 
        la complétude et l'actualité des informations diffusées sur son site, 
        qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
      </p>

    </v-card>
    <v-card class="pa-5 mt-5" outlined >
      <p ><b class="bold">2. Accessibilité :</b></p>
      <p >
      Le site {{ domaineName }} est par principe accessible aux utilisateurs 24/24h, 7/7j, 
      sauf interruption, programmée ou non, pour les besoins de sa maintenance ou en cas de force majeure. 
      En cas d’impossibilité d’accès au service, {{ domaineName }} s’engage à faire son maximum afin de rétablir 
      l’accès au service et s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.  
      N’étant soumis qu’à une obligation de moyen, {{ domaineName }} ne saurait être tenu pour responsable de tout dommage, 
      quelle qu’en soit la nature, résultant d’une indisponibilité du service.</p>
    </v-card>

    <v-card class="pa-5 mt-5" outlined >
        <p ><strong>3. Propriété intellectuelle :</strong></p>
        <p >
          {{ domaineName }} est un logiciel libre publié sous la licence 
          <a href="https://gitlab.com/plaanet/plaanet-client/-/blob/dev/LICENSE" target="_blank">GNU/GPL 3</a>.<br>
          Les contenus publiés par les utilisateurs sur le site, textes, images, et liens hypertextes, 
          sont et restent la propriété de leurs auteurs respectifs, et sont placés sous leurs responsabilités.
          {{ pseudoWebmaster }} est propriétaire exclusif de tous les droits de propriété intellectuelle ou détient les droits d’usage 
          sur tous les éléments accessibles sur le site, tant sur la structure que sur les textes, 
          images, graphismes, logo, icônes, sons, logiciels…<br />
          Toute reproduction totale ou partielle du site {{ domaineName }}, représentation, modification, publication, 
          adaptation totale ou partielle de l'un quelconque de ces éléments, 
          quel que soit le moyen ou le procédé utilisé, est interdite, 
          sauf autorisation écrite préalable de {{ pseudoWebmaster }},  
          à défaut elle sera considérée comme constitutive d’une contrefaçon et passible de poursuite conformément
           aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
        </p>

    </v-card>

    <v-card class="pa-5 mt-5" outlined >

        <p ><strong>4. Modération des contenus publiés par les membres du réseau :</strong></p>

        
        <p v-if="false">
          <!-- this section is not displayed, because this system doesnt exist yet -->
          Aucune équipe de modérateurs désignés ne sera jamais employée sur le site afin de censurer arbitrairement les contenus publiés par les membres.<br><br>

          Un système de modération collective et démocratique est mis en place, afin de faire de chaque membre du réseau un modérateur ayant le même pouvoir que tous les autres.<br><br>

          Les règles de cette prodédure de modération collective sont détaillés 
          <a href="javascript:" data-toggle="modal" data-target="#modal-quickview" class="btn-modal-report-howitworks">
            ICI
          </a>.<br><br>

          Le Créateur du site, en tant que principal administrateur du réseau, se réserve le droit de nommer un ou plusieurs autres administrateur, et de leur attribuer le droit de bloquer certains contenus sans validation collective préalable, <b>uniquement</b> dans le but de traiter rapidement les cas d'abus <b>évidents</b>, comme la publication de contenus pornographiques ou ultra-violents, <b>pouvant choquer un public jeune ou sensible</b>. Ce pouvoir ne sera jamais exercé pour des raisons personnelles ou politiques, et se limitera strictement aux cas identifiés précedemment (pornographie et violence caractérisée). <br><br>

          Une page récapitulant toutes les décisions prises par le/les administrateur(s) est disponible 
          <a href="" target="_blank">ICI</a>, 
          afin d'éviter toute modération abusive de leur part. 
          (L'ouverture du code source est le garant du respect de ces règles)<br><br>

          Une page récapitulant toutes les décisions prises par les membres à travers le système de modération collective est aussi disponible 
          <a href="" target="_blank">ICI</a>, afin de rendre absolument transparente l'ensemble des procédures de modération.
        </p>

        <p>
          La modération se fait par les utilisateurs eux-mêmes, 
          qui peuvent "blacklister" les autres membres selon leurs préférences. 
          Les administrateurs de la plateforme n'opèrent aucune censure arbitraire des contenus publiés sur le réseau.
          <br><br>
          Les règles relatives au système de modération collective seront amenées à évoluer avec le temps, 
          afin de prendre en compte les besoins qui pourront apparaître. 
          L'évolution du système se fera en collaboration avec les utilisateurs, 
          en suivant leurs suggestions et conseils s'ils en ont, 
          dans le but de proposer un processus de modération au plus près des besoins des utilisateurs.
        </p>

        </v-card>

        <v-card class="pa-5 mt-5" outlined >
        <p>
          <strong>5. Liens hypertextes et cookies :</strong>
        </p>
        <p >
          Le site {{ domaineName }} contient un certain nombre de liens hypertextes vers d’autres sites 
          (partenaires, informations …) mis en place avec l’autorisation de {{ pseudoWebmaster }}. 
          Cependant, {{ pseudoWebmaster }} n’a pas la possibilité de vérifier l'ensemble du contenu des sites 
          ainsi visités et décline donc toute responsabilité de ce fait quand aux risques éventuels de contenus illicites.<br />
          L’utilisateur est informé que lors de ses visites sur le site {{ domaineName }}, un ou des cookies sont susceptibles 
          de s’installer automatiquement sur son ordinateur par l'intermédiaire de son logiciel de navigation.<br><br>

          Un cookie est un bloc de données qui enregistre des informations relatives à la navigation de celui-ci sur le site. <br /><br>
          Le paramétrage du logiciel de navigation permet d’informer de la présence de cookie et éventuellement, 
          de la refuser de la manière décrite à l’adresse suivante : 
          <a href="http://www.cnil.fr" target="_blank">www.cnil.fr</a>. 
          L’utilisateur peut toutefois configurer le navigateur de son ordinateur pour refuser l’installation des cookies, 
          sachant que le refus d'installation d'un cookie peut entraîner l’impossibilité d’accéder à certains services. 
          Pour tout bloquage des cookies, tapez dans votre moteur de recherche : 
          bloquage des cookies sous IE ou firefox et suivez les instructions en fonction de votre version.
        </p>

      </v-card>

      <v-card class="pa-5 mt-5" outlined >

        <p >
          <strong>6. Protection des biens et des personnes - gestion des données personnelles :</strong>
        </p>
        <p >						
          En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, 
          la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.
        </p>

        <p>Sur le site {{ domaineName }}, {{ pseudoWebmaster }} ne collecte des informations personnelles 
          ( suivant l'article 4 loi n°78-17 du 06 janvier 1978) 
          relatives à l'utilisateur que pour le besoin de certains services proposés par le site {{ domaineName }}. 
          L'utilisateur fournit ces informations en toute connaissance de cause, 
          notamment lorsqu'il procède par lui-même à leur saisie. 
          Il est alors précisé à l'utilisateur du site {{ domaineName }} l’obligation ou non de fournir ces informations.
          <br /><br />
          Sur la plateforme, l'exactitude de la position géographique utilisée par un utilisateur n'est ni exigée, ni recommandée.
          <br /><br />

        Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, 
        aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification, 
        de suppression et d’opposition aux données personnelles le concernant. <br /><br />

        Pour l’exercer, le site {{ domaineName }} intègre une précédure automatique effectuant la suppression de l'ensemble de vos contenus à votre demande.
        Pour cela, rendez-vous sur votre Page personnelle, cliquez sur le bouton Configuration, puis sur le bouton 
        "Supprimer mon compte". Cette prodédure supprimera toutes traces de votre activité sur le site depuis votre inscription.
        <br><br>
        </p>

        <p >Aucune information personnelle de l'utilisateur du site {{ domaineName }} n'est publiée à l'insu de l'utilisateur, 
          échangée, transférée, cédée ou vendue sur un support quelconque à des tiers.<br />
        Le site {{ domaineName }} est en conformité avec le RGPD voir notre politique RGPD  {{ domaineUrl }}/rgpd.</p>

        <p >Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant 
          la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.</p>
        
      </v-card>

      <v-card class="pa-5 mt-5" outlined >
        <strong><u>CREDIT :</u> </strong> Les mentions légales ont étés générées par <strong> 
          <a href="https://www.generer-mentions-legales.com/generateur-mentions-legales.html" 
          target="_blank">générateur de mentions legales</a></strong>, puis modifiées pour les besoins du site.<br />
      </v-card>
  </v-col>
</v-row>
</template>

<style></style>

<script>

const config = require('../../config/' + process.env.NODE_ENV)

//import axios from 'axios'
import core from '../../plugins/core.js'


export default {
  name: 'empty',
  components: {  },
  data: () => ({
    pseudoWebmaster: "",
    domaineName: "",
    domaineUrl: "",
    
  }),
  async mounted(){
    this.pseudoWebmaster = config.pseudoWebmaster
    this.domaineName = config.domaineName
    this.domaineUrl = config.domaineUrl
    core.incStat('/cgu')
  },
  methods: {
  },
  computed: {
  },
}
</script>
