<template>
  <v-dialog v-model="openPopupInfoSurvey" max-width="650">
    <v-card>
      <v-card-title>
        <v-icon small class="mr-2">mdi-vote</v-icon>{{ $vuetify.lang.t('$vuetify.survey.voteOrganisationRules') }}
      </v-card-title>
      <v-card-text>
        <ul>
          <li>{{ $vuetify.lang.t('$vuetify.survey.voteOrganisationDistanceBegin') + ' ' + kmMax + ' ' + $vuetify.lang.t('$vuetify.survey.voteOrganisationDistanceEnd') }}
          </li>
          <br>
          <li>{{ $vuetify.lang.t('$vuetify.survey.voteOrganisationDistanceCreateBegin') + ' ' + kmMax + ' ' + $vuetify.lang.t('$vuetify.survey.voteOrganisationDistanceCreateEnd') }}
          </li>
          <br>
          <li>{{ $vuetify.lang.t('$vuetify.survey.voteOrganisationDistanceMembersBegin') + ' ' + kmMax + ' ' + $vuetify.lang.t('$vuetify.survey.voteOrganisationDistanceMembersEnd') }}
          </li>
        </ul>
        <br>
        <h3 class="text-center">{{ $vuetify.lang.t('$vuetify.survey.whyOrganisationDistance') }} ?</h3><br>
        {{ $vuetify.lang.t('$vuetify.survey.OrganisationDistanceComment1Part1') }}
        <b>{{ $vuetify.lang.t('$vuetify.survey.OrganisationDistanceComment1Part2') }}</b>
        {{ $vuetify.lang.t('$vuetify.survey.OrganisationDistanceComment1Part3') }}
        <br><br>
        {{ $vuetify.lang.t('$vuetify.survey.OrganisationDistanceComment2') }}
        <br><br>
        {{ $vuetify.lang.t('$vuetify.survey.OrganisationDistanceComment3') }}
        
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="openPopupInfoSurvey = false">
          {{ $vuetify.lang.t('$vuetify.main.Ok') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>


<script>

export default {
  name: 'modalInfoSurvey',
  components: {  },
  props: [ 'openPopupInfoSurvey' ],
  data:() => ({
    kmMax: 200
  }),
  async mounted(){
    
  },
  methods: {    
  },
}
</script>
