<template>
     <v-dialog
      v-model="$store.state.app.popupScopeOpen"
      max-width="600"
    >
      <v-card>
        <v-app-bar>
            <v-icon small class="pa-1">mdi-map-marker</v-icon> 
            <h4>{{ $vuetify.lang.t('$vuetify.post.whatIsBroadcastRange') }} ?</h4>
            <v-spacer></v-spacer>
            <v-btn class="mr-3" icon @click="$store.dispatch('app/setPopupScopeOpen', false)"><v-icon>mdi-close</v-icon></v-btn>
        </v-app-bar>

        <!-- <v-card-title class="headline">
            Qu'est-ce que le rayon de diffusion ?
        </v-card-title> -->

        <v-card-text><br>
          <v-icon small>mdi-information-outline</v-icon>
          {{ $vuetify.lang.t('$vuetify.post.BroadcastRangeComment1') }}
        </v-card-text>

        <v-card-text>
          <v-icon small>mdi-information-outline</v-icon> 
          {{ $vuetify.lang.t('$vuetify.post.BroadcastRangeComment2') }}
        </v-card-text>
        
        <v-card-text class="secondary--text">
          <v-icon color="secondary" small>mdi-information-outline</v-icon> 
          {{ $vuetify.lang.t('$vuetify.post.BroadcastRangeComment3') }}
        </v-card-text>

       <v-card-title class="headline">
            <small>{{ $vuetify.lang.t('$vuetify.post.BroadcastLimit') }}</small>
        </v-card-title>
        <v-card-text>
          <v-icon small>mdi-information-outline</v-icon> 
          {{ $vuetify.lang.t('$vuetify.post.BroadcastLimitComment') }}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text
                @click="$store.dispatch('app/setPopupScopeOpen', false)">
            {{ $vuetify.lang.t('$vuetify.main.CloseWindow') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>
