<template>
  <v-dialog v-model="openPopupInfoSurveySupport" max-width="850">
    <v-card>
      <v-card-title>
        <v-icon small class="mr-2">mdi-vote</v-icon>{{ $vuetify.lang.t('$vuetify.survey.openingVoteRules') }}
      </v-card-title>
      <v-card-text><br>
        <ul>
          <li>{{ $vuetify.lang.t('$vuetify.survey.openingVoteComment1') }}
          </li>
          <br>
          <li>{{ $vuetify.lang.t('$vuetify.survey.openingVoteComment2') }}
          </li>
          <br>
          <li>{{ $vuetify.lang.t('$vuetify.survey.openingVoteComment3') }}
          </li>
          <br>
          <li>{{ $vuetify.lang.t('$vuetify.survey.openingVoteComment4') }}
          </li>
        </ul>
        <br>
        <h3 class="">{{ $vuetify.lang.t('$vuetify.survey.whyVotesValidationPeriod') }} ?</h3>
        <br>
        {{ $vuetify.lang.t('$vuetify.survey.votesValidationPeriodComment1') }}
        <br><br>
        {{ $vuetify.lang.t('$vuetify.survey.votesValidationPeriodComment2') }}
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="$parent.openPopupInfoSurveySupport = false">
          {{ $vuetify.lang.t('$vuetify.main.Ok') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>


<script>

export default {
  name: 'ModalInfoSurveySupport',
  components: {  },
  props: [ 'openPopupInfoSurveySupport' ],
  data:() => ({
    kmMax: 200
  }),
  async mounted(){
    
  },
  methods: {    
  },
}
</script>
