<template>
<div class="d-inline">
  <v-btn outlined class="ml-2 my-2"
          x-small @click="dialog= true">
        {{ $vuetify.lang.t('$vuetify.main.KnowMore') }}
  </v-btn>

    <v-dialog
    v-model="dialog"
    max-width="600"
    :scrollable="true"
  >
    <v-card>
      <v-app-bar>
          <v-icon small class="pa-1">mdi-map-marker</v-icon> 
          <h4>{{ $vuetify.lang.t('$vuetify.page.mainPosition') }}</h4>
          <v-spacer></v-spacer>
          <v-btn class="mr-3" icon @click="dialog=false"><v-icon>mdi-close</v-icon></v-btn>
      </v-app-bar>
      <v-card-text>
      <br>
        <v-icon small>mdi-information-outline</v-icon> 
        {{ $vuetify.lang.t('$vuetify.settings.geographicalPositionComment1') }}
        <br>
        <br>
        <h3 class="white--text"><v-icon small>mdi-chevron-down</v-icon>{{ $vuetify.lang.t('$vuetify.settings.AsAUser') }} :</h3><br>
        <v-icon small>mdi-information-outline</v-icon> 
        {{ $vuetify.lang.t('$vuetify.settings.geographicalPositionAdvice1') }}
        <br><br>
        <v-icon small>mdi-information-outline</v-icon> 
        {{ $vuetify.lang.t('$vuetify.settings.geographicalPositionAdvice2') }}
      <br><br>
        <v-icon small>mdi-information-outline</v-icon> 
        {{ $vuetify.lang.t('$vuetify.settings.geographicalPositionAdvice3') }}
      <br><br>
      <h3 class="white--text"><v-icon small>mdi-chevron-down</v-icon>{{ $vuetify.lang.t('$vuetify.settings.ForPageGroupEventAssembly') }}</h3>
        <br>
        <v-icon small>mdi-information-outline</v-icon> 
        {{ $vuetify.lang.t('$vuetify.settings.geographicalPositionGroupEventAssemblyComment1') }}<br>
        {{ $vuetify.lang.t('$vuetify.settings.geographicalPositionGroupEventAssemblyComment2') }}
        <br><br>

      <v-alert dense outlined type="error" color="error">
          <small>{{ $vuetify.lang.t('$vuetify.settings.geographicalPositionChangeWarning') }}</small>
      </v-alert>
      <small class="error--text">
          {{ $vuetify.lang.t('$vuetify.settings.geographicalPositionChangeWarningComment') }}
      </small>

      </v-card-text>


      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="primary"
          text small
          @click="dialog = false"
        >
          <v-icon small>mdi-close</v-icon>{{ $vuetify.lang.t('$vuetify.main.CloseWindow') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</div>
</template>

<script>
  export default {
    props: [],
    data () {
      return {
        dialog: false,
      }
    },
    mounted: function(){
        this.dialog = this.show
    },
    watch: {
        show: {
            // the callback will be called immediately after the start of the observation
            immediate: true, 
            handler (val, oldVal) {
                if(window.isDev) { console.log("watch preSelectUid", val, oldVal); }
                if(val != null)
                    this.dialog = true
                
            }
        },
    }
  }
</script>
