<template>
  <v-dialog v-model="$store.state.app.popupEmailOpen" max-width="700" persistent>
    <v-card color="#28292f">
      <v-card-actions>
        <v-card-title style="font-size:1.8em;">
          {{ $vuetify.lang.t('$vuetify.email.Hello') + ' ' + $store.state.auth.profile.name }}, &#128515;
        </v-card-title>
        <v-spacer></v-spacer>
        <v-btn color="red lighten-1" class="mr-" small fab 
               @click="$store.dispatch('app/setPopupEmailOpen', false)">
          <v-icon small>mdi-close</v-icon>
        </v-btn>
      </v-card-actions>

      <v-card-actions>
        <h3 class="px-2">
          <v-icon class="mr-2">mdi-mail</v-icon> 
          {{ $vuetify.lang.t('$vuetify.email.doYouWantEmailNotifs') }} ?
        </h3>
      </v-card-actions>

      <v-card-text>
        <p>
          {{ $vuetify.lang.t('$vuetify.email.helpEmailNotifText1') }}</p>
        <p>
          {{ $vuetify.lang.t('$vuetify.email.helpEmailNotifText2') }}
          <small class="d-md-none white--text">
            <br>* {{ $vuetify.lang.t('$vuetify.email.optionNotMandatory') }}.
          </small>
        </p>
        <v-text-field v-model="email" color="orange lighten-2" @change="rulesEmail = rulesEmailTmp"
                      outlined rounded :placeholder="$vuetify.lang.t('$vuetify.email.EmailAddress') + '...'"
                      :rules="[rulesEmail]">
          </v-text-field>
        <small>
          {{ $vuetify.lang.t('$vuetify.email.helpEmailNotifText3') }}
        </small>
        <small>
          {{ $vuetify.lang.t('$vuetify.email.helpEmailNotifText4') }}
        </small>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions class="py-4">
        <small class="d-none d-md-inline">
          * {{ $vuetify.lang.t('$vuetify.email.optionNotMandatory') }}.
        </small>

        <v-spacer></v-spacer>

        <v-btn v-if="$store.state.auth.user.allowEmail != true" color="red lighten-1"  text @click="cancelEmail">
          <v-icon small class="mr-1">mdi-cancel</v-icon> {{ $vuetify.lang.t('$vuetify.email.noThanks') }}
        </v-btn>
        <v-btn v-if="$store.state.auth.user.allowEmail == true" color="red lighten-1"  text @click="cancelEmail">
          <v-icon small class="mr-1">mdi-cancel</v-icon> {{ $vuetify.lang.t('$vuetify.email.cancelSubscription') }}
        </v-btn>
        <v-btn color="secondary darken-1" class="ml-3 pr-4" :disabled="email=='' || !rulesEmailValid" @click="saveEmail">
          <v-icon small class="mr-2">mdi-check</v-icon> {{ $vuetify.lang.t('$vuetify.email.saveMyAddress') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>


<script>

import axios from 'axios'
export default {
  name: 'modalSetEmail',
  components: {  },
  props: [ 'open' ],
  data() {
    return {
    email: "",
    rulesEmail: true,
    rulesEmailTmp: value => (value.match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/)) || this.$vuetify.lang.t('$vuetify.email.incorrectEmailFormat'),
    }
  },
  async mounted(){
    this.email = this.$store.state.auth.user.email != null ? this.$store.state.auth.user.email : ""
  },
  methods: {
    async saveEmail(){
        let res = await axios.post('/user/set-email', { email: this.email, allowEmail: true })
        if(res.data.success == true){
          await this.$store.dispatch('app/setPopupEmailOpen', false)
          this.$store.dispatch('auth/fetchUserContext')
        }
    },
    async cancelEmail(){
        let res = await axios.post('/user/set-email', { allowEmail: false })
        if(res.data.success == true){
          this.email = ""
          this.rulesEmail = true
          await this.$store.dispatch('app/setPopupEmailOpen', false)
          this.$store.dispatch('auth/fetchUserContext')
        }
    },
  },
   computed: {
    rulesEmailValid() {
      return (this.email.match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/))
    },
  },
  watch: {
      'open': { immediate: true, 
          handler (val, oldVal) {
            if(window.isDev) { console.log("#open has changed", oldVal, val); }
            this.show = val
          }
      },
  }, 
}
</script>
