<template>
  <v-dialog v-model="show" max-width="700" persistent>
    <v-card>
      <v-card-actions>
        <v-card-title class="">
          <v-icon  class="mr-2">mdi-hexagon-multiple-outline</v-icon> 
          {{ $vuetify.lang.t('$vuetify.survey.RulesSurveyAndAssembly') }}
        </v-card-title>
        <v-spacer></v-spacer>
        <v-btn color="purple darken-3" class="mr-3" small fab 
               @click="$parent.openPopupInfoAssembly = false">
          <v-icon small>mdi-close</v-icon>
        </v-btn>
      </v-card-actions>
      <v-card-text>
        <ul>
          <li>{{ $vuetify.lang.t('$vuetify.survey.assemblyCreationDistanceBegin') + ' ' + kmMax + ' ' + $vuetify.lang.t('$vuetify.survey.assemblyCreationDistanceEnd') }}
          </li>
          <br>
          <li>{{ $vuetify.lang.t('$vuetify.survey.assemblyParticipateDistanceBegin') + ' ' + kmMax + ' ' + $vuetify.lang.t('$vuetify.survey.assemblyParticipateDistanceEnd') }}
          </li>
          <br>
          <li>{{ $vuetify.lang.t('$vuetify.survey.assemblyTooFarReadOnlyBegin') + ' ' + kmMax + ' ' + $vuetify.lang.t('$vuetify.survey.assemblyTooFarReadOnlyEnd') }}
          </li>
          <br>
          <li>{{ $vuetify.lang.t('$vuetify.survey.assemblyDuplicateSurveyBegin') + ' ' + kmMax + ' ' + $vuetify.lang.t('$vuetify.survey.assemblyDuplicateSurveyEnd') }}
          </li>
          <br>
          <li>{{ $vuetify.lang.t('$vuetify.survey.assemblyCreateComment1') }} <br><br>
            {{ $vuetify.lang.t('$vuetify.survey.assemblyCreateComment2') }}
          </li>
        </ul>
        <br>
        <h3 class="text-center">{{ $vuetify.lang.t('$vuetify.survey.whyOrganisationDistance') }} ?</h3><br>
        {{ $vuetify.lang.t('$vuetify.survey.OrganisationDistanceComment1Part1') }}
        <b>{{ $vuetify.lang.t('$vuetify.survey.OrganisationDistanceComment1Part2') }}</b>
        {{ $vuetify.lang.t('$vuetify.survey.OrganisationDistanceComment1Part3') }}
        <br><br>
        {{ $vuetify.lang.t('$vuetify.survey.OrganisationDistanceComment2') }}
        <br><br>
        {{ $vuetify.lang.t('$vuetify.survey.OrganisationDistanceComment3') }}
        <br><br>
          
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="purple lighten-1" class="mr-3" text @click="$parent.openPopupInfoAssembly = false">
          <v-icon small class="mr-2">mdi-check</v-icon>{{ $vuetify.lang.t('$vuetify.main.Ok') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>


<script>

export default {
  name: 'modalInfoAssembly',
  components: {  },
  props: [ 'openPopupInfoAssembly' ],
  data:() => ({
    show: false,
    kmMax: 200
  }),
  async mounted(){
    
  },
  methods: {    
  },
  watch: {
      'openPopupInfoAssembly': { immediate: true, 
          handler (val, oldVal) {
            if(window.isDev) { console.log("#openPopupInfoAssembly has changed", oldVal, val); }
            this.show = val
          }
      },
  }, 
}
</script>
