<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= VUE_APP_FAVICON %>">
    <title><%= VUE_APP_TITLE %></title>
    <meta name="description" content="La rébellion s'organise, partout sur la Plaanet">
    <meta property="og:title" content="Rejoignez la Résilience">
    <meta property="og:type" content="article">
    <meta property="og:description" content="La résilience s'organise, partout sur la Plaanet ! Rejoignez le réseau de la résilence et connectez-vous aux résilients qui vous entourent !">
    <meta property="og:url" content="<%= VUE_APP_BASE_URL %>">
    <meta property="og:image" content="<%= VUE_APP_BASE_URL %>/og-cover-image.png">
    <meta property="og:site_name" content="Réseau social résilient - Plaanet">

    <style>body {background-color: #2b2a2d;}</style>

    <!-- <link rel="stylesheet" href="<% VUE_APP_BASE_URL %>/cdn/raleway.css"> -->
    <link
    href="https://fonts.googleapis.com/css?family=Raleway:wght@200;600;700;800,Roboto:100,300,400,500,900&display=swap"
    rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"> -->
    <!-- <link rel="stylesheet" href="<% VUE_APP_BASE_URL %>/cdn/materialdesignicons.min.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link href="https://unpkg.com/nprogress@0.2.0/nprogress.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="<% VUE_APP_BASE_URL %>/cdn/nprogress.css"> -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Plaanet doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <!-- <script src="<% VUE_APP_BASE_URL %>/cdn/share-min.js"></script> -->
    <script src="https://unpkg.com/share-api-polyfill/dist/share-min.js"></script>
  </body>
  <style>
    .v-application{
      font-family: 'Raleway', sans-serif;
      font-weight: 500 !important;
      letter-spacing: unset !important;
    }
  </style>
</html>
