<template>
<div>
  <v-card class="pa-3 mt-3 pt-3 mx-auto" :key="k" elevation="0">
    <v-row>
      <v-col cols="12" sm="6">
        <h1><small>{{ app.name }}</small> {{ app.version }}</h1>
        <span>
          <v-icon v-if="app.OS == 'Android'" large>mdi-android</v-icon> 
          <v-icon v-if="app.OS == 'iOS'" large>mdi-apple-ios</v-icon> 

          <v-icon small class="ml-4">mdi-pencil</v-icon> {{ dateFormat(app.created, true) }} 
          <span class="ml-4" title="last update">
              <v-icon small>mdi-update</v-icon>
              {{ dateFormat(app.updated) }}
          </span>
        </span>
      </v-col>
      <v-col cols="12" sm="6"  class="py-0">
        <v-row>
          <v-col cols="12" sm="12" class="mt-5">
            <h3><small>{{ $vuetify.lang.t('$vuetify.settings.PublishUpdate') }}</small></h3>
          </v-col>
        
          <v-col cols="8" sm="8">
            <v-text-field dense solo hide-details class="mb-2" 
                          v-model="newVersion" placeholder="new version 0.0..."></v-text-field>
          </v-col>

          <v-col cols="4" sm="4">
            <v-btn small color="grey darken-2" @click="showDialogDelete = true" class="mt-1">
              <v-icon small>mdi-delete</v-icon>{{ $vuetify.lang.t('$vuetify.main.Clear') }}
            </v-btn>
          </v-col>
        </v-row>
      </v-col>

      <v-col cols="12" sm="6" class="py-0">
        <small>{{ app.description }}</small>
      </v-col>

      <v-col cols="12" sm="6" class="py-0">
        <v-textarea solo dense hide-details v-model="appDescription"   spellcheck="false"
                    :placeholder="$vuetify.lang.t('$vuetify.settings.NewVersionDesc')"></v-textarea>
        <v-col class="px-0 text-right">
          <v-btn small color="red darken-4" @click="showDialogMaj = true" class="mt-1 mr-2">
            <v-icon>mdi-check</v-icon>{{ $vuetify.lang.t('$vuetify.main.Publish') }}
          </v-btn>
        </v-col>
      </v-col>
    </v-row>
  </v-card>

  <v-dialog v-model="showDialogMaj" width="400">
    <v-card>
      <v-card-title class="headline">
        <v-icon>mdi-cellphone-cog</v-icon>
        {{ $vuetify.lang.t('$vuetify.settings.ConfirmUpdate') }}
      </v-card-title>
      <v-card-text>
        {{ $vuetify.lang.t('$vuetify.settings.AreYouSureUpdate') }} ?
        <br><br>
        <b>
        > {{ app.name }} v-{{ newVersion }}
        </b>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="showDialogMaj = false">
          {{ $vuetify.lang.t('$vuetify.main.Cancel') }}
        </v-btn>
        <v-btn color="success" @click="majMobileApp()" small class="ml-2">
          <v-icon small>mdi-check</v-icon>{{ $vuetify.lang.t('$vuetify.main.Validate') }}
        </v-btn>
      </v-card-actions>      
    </v-card>
  </v-dialog>

  <v-dialog v-model="showDialogDelete" width="400">
    <v-card>
      <v-card-title class="headline">
        <v-icon>mdi-cellphone-cog</v-icon>
        {{ $vuetify.lang.t('$vuetify.settings.ConfirmRemoveApp') }} ?
      </v-card-title>
      <v-card-text>
        {{ $vuetify.lang.t('$vuetify.settings.AreYouSureRemove') }} ?
        <br><br>
        <b>
        > {{ app.name }} v-{{ newVersion }}
        </b>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="showDialogDelete = false">
          {{ $vuetify.lang.t('$vuetify.main.Cancel') }}
        </v-btn>
        <v-btn color="red" @click="deleteMobileApp()" small class="ml-2">
          <v-icon small>mdi-check</v-icon>{{ $vuetify.lang.t('$vuetify.settings.YesRemove') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</div>
</template>


<script>

import axios from 'axios'
//import core from '../../plugins/core.js'

export default {
  name: 'admin-version-mobile',
  props: [ 'app', 'k', 'getMobileApps' ],
  components: {
  },
  computed: {
   
  },
  data: () => ({
    newVersion: '',
    appDescription: '',
    showDialogMaj: false,
    showDialogDelete: false,
  }),
  mounted: function(){ 
    
    this.calcNewVersionNum()
    this.$nextTick(async () => {
    this.calcNewVersionNum()

    })
  },
  methods: {
    async majMobileApp(){
      axios.post('/admin/maj-mobile-app', { appName: this.app.name,  
                                            appDescription: this.appDescription,
                                            newVersion: this.newVersion, })
            .then( res => {
              if(res.data.error == false){                  
                console.log("res /admin/maj-mobile-app", res.data)
                this.showDialogMaj = false
                this.getMobileApps()
              }
            })
    },
    async deleteMobileApp(){
      axios.post('/admin/delete-mobile-app', { appName: this.app.name })
            .then( res => {
              if(res.data.error == false){                  
                console.log("res /admin/delete-mobile-app", res.data)
                this.showDialogDelete = false
                this.getMobileApps()
              }
            })
    },

    
    calcNewVersionNum(){
      console.log("calcNewVersionNum", this.app.version)
      let sp = this.app.version.split(".")
      let l = sp.length -1
      sp[l] = "" + (parseInt(sp[l]) + 1)

      this.newVersion = ""
      for(let i = 0; i<=l; i++) {
      //console.log("newV", i, sp.length, sp)
      this.newVersion += sp[i] + (i<sp.length-1 ? "." : "")
      }
    },
    dateFormat(date, min=false){
      let d = new Date(date)

      if(min)
      return ("0" + d.getDate()).slice(-2) + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" + d.getFullYear()

      return ("0" + d.getDate()).slice(-2) + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" +
              d.getFullYear() + " " + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2)
    },
  }
}
</script>