
  .app-footer a{
    text-transform: none!important;
  }
  
  a{
    text-decoration: none!important;
  }
  
  .container.notif-open #private .main-container{
    margin-right: 50%!important;
  }
  .container.notif-open .card-container{
    margin-right: 50%!important;
  }

    .v-application, .v-btn{
      font-family: 'Raleway', sans-serif;
      font-weight: 500 !important;
      letter-spacing: unset !important;
    }
    .drawer-notifications{
      width:100%!important;
      max-width:500px!important;
      /* top:55px!important; */
      /* padding-top:15px; */
      /* z-index:4!important; */
      bottom: 0px;
      position: fixed;
      /* width:400px!important; */
    }
    #notif .v-navigation-drawer__content{
      padding-top:80px;
    }
    .theme--dark.v-navigation-drawer {
      background-color: #313131;
    }
    .container div {
        text-align: left !important;
    }
    div.v-alert__content{
      text-align: center !important;
    }
    #notif .v-overlay{
      display:none!important;
    }
    .snackbar{
      bottom: 0px !important;
    }
    .snackbar .v-snack__wrapper{
      background-color: #232828!important;
      border-radius: 5px 0 0 0 !important;
    }
    .snackbar .v-snack__wrapper .notif-wrapper{
      border:none!important;
    }
    .snackbar .v-snack__wrapper .col{
      padding:0px!important;
    }
    .snackbar .v-snack__content{
      padding:4px!important;
    }
    .snackbar .v-snack__wrapper .notif-wrapper{
      max-width:84%!important;
    }

    .snackbar .v-card__text{
      display: none!important;
    }
    .drawer-single-post{
      position:fixed;
      width:unset!important;
      background-color: #212121!important;
      z-index:11;
      will-change: unset;
    }
  .leaflet-popup-close-button{
    margin: -10px!important;
    background:#393939!important;
    height: 27px!important;
    width: 27px!important;
    padding: 4px!important;
    border-radius: 20px!important;
    border: 2px solid#dfdfdf!important;
  }
  .leaflet-container{
    z-index:1;
  }
  
  img.leaflet-marker-icon.leaflet-marker-draggable{
    z-index: 10555!important;
  }

  .v-bottom-navigation .v-btn:not(.v-btn--round).v-size--default{
    height:unset;
  }

  .theme--dark.v-application {
    background: #2b2a2d!important;
  }

   .theme--dark .drawer-notifications,
  .theme--dark .v-bottom-navigation,
  .theme--dark.v-sheet,
  .theme--dark .v-card{
      background-color: #212121;
      color:white;
  }

   .v-dialog, .v-dialog:not(.v-dialog--fullscreen){
    max-height:100%!important;
    margin:0px!important;
  }

  .marker-cluster-large div{
    text-align:center!important;
  }
  .marker-cluster-large,
  .marker-cluster-large div{
    background-color: rgba(163, 30, 59, 0.4) !important;
    font-weight:bold !important;
  }
  .marker-cluster-medium,
  .marker-cluster-medium div{
    background-color: rgba(114, 30, 163, 0.3) !important;
    font-weight:bold !important;
  }
  .marker-cluster-small,
  .marker-cluster-small div{
    background-color: rgba(21, 82, 157, 0.3) !important;
    font-weight:bold !important;
  }


  .btn-lowerc .v-btn{
    text-transform: none!important;
    font-weight: 800!important;
  }


  .avatar-notif{
    margin-right:7px!important;
    margin-left:7px!important;
    height:30px;
    min-width:30px!important;
    width:30px;
  }

  .notif-wrapper{
    border: 1px solid #344a55 !important;
  }
  .notif-wrapper .v-list-item:hover{
    background-color: #111517 !important;
  }

  .notif-wrapper .v-list-item__title{
    line-height:1.4;
  }

  .cursor-pointer{
    cursor:pointer;
  }