
  .main-card{
    background-color:rgba(30, 27, 28, 0.87) !important;
  }

  .v-window__container .display-1{
    line-height: 1.3em;
    font-weight:200;
    font-size:2.1em!important; 
    text-align:center!important;
    padding: 15px 40px;
  }

  .v-card__subtitle{
     color:white!important;
  }

  .carousel-geocom p{
    min-height:80px;
    /* height:100px; */
    font-size:1.2em;
  }

  .carousel-geocom .v-window__prev, 
  .carousel-geocom .v-window__next {
    background: rgba(0, 0, 0, 0.3);
    margin: 0 5px;
    /* top: calc(0% + 90px); */
  }

  .container {
      padding-top: 0px;
      margin:0px;
      max-width: unset;
  }

  .homepage .section{

  }

  .homepage .border-top-primary{
    border-top:5px solid rgb(2, 119, 189); 
  }
  .homepage .border-top-secondary{
    border-top:5px solid rgb(38, 166, 154); 
  }

  .homepage .bg-transparent{
     background-color:rgba(26, 29, 30, 0.84);
  }
  .homepage .border-top-black{
    border-top:5px solid rgb(0, 0, 0); 
  }

  .homepage .mw-1000{
    max-width:800px;
  }

  .homepage .home-main-section{
    max-height:600px; 
    overflow:hidden;
  }

  .homepage .btn-onglet{
    /* border-radius: 5px 5px 0 0; */
    padding:20px 15px !important;
    /* border-bottom:1px solid transparent !important; */
    /* margin-bottom:0px; */
  }

  .homepage .col-btn-header{
    margin-top:-80px!important;
    padding-left:40px;
  }
  @media (max-width: 960px){
    .homepage .col-btn-header{
      margin-top:-60px!important;
      padding-left:30px;
    }
  }
  

  @media (max-width: 600px){
    .homepage .home-main-section{
      max-height:750px; 
    }
    .homepage .home-main-title{
      margin-top:20px;
      font-size:40px; 
      line-height: 42px;
      width:100%; 
    }
    .homepage .home-sub-title{
      position: relative;
      bottom:0px;
    }
    
  }

.home-main-title{
  text-transform:uppercase; 
  font-size:40px; 
  width:75%; 
  margin-top:50px;
  line-height: 50px;
}
.bg-section-darkocean{
  background-color:#101c1f;
}
.bg-section-darkocean2{
  background-color:#132428;
}
.bg-section-white{
  background-color:#FFF;
}
.bg-section-black{
  background-color:#000;
}

.bg-section-radius-1{
  border-radius: 10px;
}

@media (max-width: 960px){
  .home-main-title{
    margin-top:50px;
    font-size:30px; 
    line-height: 30px;
  }
}
@media (max-width: 600px){
  .home-main-title{
    margin-top:10px;
    font-size:22px; 
    line-height: 23px;
  }
}

/* INFO-NODES / DECENTRALIZATION */

.section{
  padding: 10px 50px 20px 50px;
}
.main-txt{
  text-transform:uppercase; 
  font-size:40px; 
  width:100%; 
  margin-top:50px;
}
.main-img{
  width:100%;
  margin-top:50px
}
.icon-illu{
  font-size:70px !important;
  margin: 5px 10px;
}
@media (max-width: 960px){
  .section{
    padding: 10px 20px 20px 20px;
  }
  .section div{
    padding: 10px 20px;
  }
  .main-txt{
    margin-top:40px;
    font-size:29px; 
  }
  .main-img{
    width:100%;
    margin-top:50px
  }
  .icon-illu{
    font-size:50px !important;
    margin: 5px 5px;
  }
}
@media (max-width: 600px){
  .section{
    padding: 10px 50px 20px 50px;
  }
  .section div{
    text-align: center !important;
  }
  .main-txt{
    margin-top:20px;
    font-size:25px; 
  }
  .main-img{
    width:100%;
    margin-top:10px
  }
  .icon-illu{
    font-size:40px !important;
    margin: 5px 10px;
  }
}
