<template>
<div>
    <v-col class="d-none d-sm-flex "></v-col>
    
    <v-card color="#242424">
        <v-col class="pa-2 pt-6 pb-0 center">
            <small class="pl-2">
                <v-icon small>mdi-send</v-icon>
                {{ $vuetify.lang.t('$vuetify.private.SendPrivateMessage') }}
            </small><br>
            <hr class="mt-3">
        </v-col>

        <v-col cols="12" class="mt-3">
            <v-icon color="primary" class="mr-3 mb-2">mdi-account-multiple-plus</v-icon>
            <v-btn @click="showAutocomplete=true" 
                    class="mb-2" small
                    outlined color="primary">
                <v-icon x-small class="mr-1">mdi-plus-circle</v-icon>
                {{ $vuetify.lang.t('$vuetify.private.AddRecipients') }}
            </v-btn>

            <div style="padding-left:35px; padding-bottom:15px;">
                <template v-for="(page, index) in finalReceivers">
                    <v-chip color="primary darken-2" class="ma-1 px-2" :key="index">
                        <v-img :src="getAvatarUrl(page.uid)" width="20" class="mr-2"></v-img>
                        @{{ page.name }}
                        <v-btn x-small icon class="ml-1" @click="removeReceiver(page)">
                            <v-icon>mdi-close-circle</v-icon>
                        </v-btn>
                    </v-chip>
                </template>
            </div>
        </v-col>


        <v-col cols="12" class="pt-0 mt-0">

            <v-toolbar color="transparent" elevation="0">
                <v-icon style="margin-top:-30px;" class="mr-2">
                    mdi-head-dots-horizontal-outline
                </v-icon>
                <v-text-field outlined :label="$vuetify.lang.t('$vuetify.main.About') + ' ?...'" v-model="postTitle">
                </v-text-field>
            </v-toolbar>

            <v-textarea style="font-size:13px;"
                :counter="postText.length > 1980" 
                auto-grow solo
                :label="$vuetify.lang.t('$vuetify.private.YourMessage') + '...'"        
                :rules="rulesTxtareaEditPost"
                v-model="postText"
                spellcheck="false"
                @change="extractMeta"
            ></v-textarea>

            <v-row flex>
                <v-card color="transparent" style="width:100%; box-shadow:none;" 
                        class="pa-0 pr-4 mb-0 d-flex align-end flex-column">
                    <small>
                        {{ $vuetify.lang.t('$vuetify.private.AllowAddingRecipients') }} ?
                    </small>
                    <v-switch v-model="sharable" hide-details color="primary" class="ma-0 mb-5"></v-switch>
                </v-card>
            </v-row>

            <v-col class="mt-0 pa-0 mb-5" v-if="showTags">
                <v-card>
                    <v-col class="">
                    <!-- <h4>#hashtags</h4> -->
                    <h5>#{{ $vuetify.lang.t('$vuetify.private.HastagsSuggestions') }}</h5>
                    <v-col class="pa-0 mt-2">
                        <template v-for="(tag, i) in hashtagList">
                        <v-chip @click="addTagNewPost(tag.tag)" small 
                                :color="postText.indexOf(tag.tag) > -1 ? 'blue' : ''"
                                :key="i" class="mr-2 mt-2">
                            {{ tag.tag }}
                        </v-chip>
                        </template>
                        </v-col>
                    </v-col>
                </v-card>
            </v-col>

            <!-- link metadata preview -->
            <v-col flex class="ma-0">
                <MetaLinks :embedMetaLinks="embedMetaLinks" :clearable="true"></MetaLinks>          
            </v-col>

            <v-col class="pa-0" v-show="showInputImage">
                <v-file-input ref="fileInput" id="fileInput"
                :label="$vuetify.lang.t('$vuetify.stream.addPicture')" 
                outlined dense accept="image/*"
                prepend-icon="mdi-image-plus"
                v-model="postImage"
                ></v-file-input>
                <v-img :src="urlToImage" :v-show="urlToImage!=''"></v-img>
            </v-col>
                    
            <!-- link metadata preview -->
            <v-col 
                v-if="$store.state.postComposer.showLinkPreviews"
                flex class="ma-0"
            >
                <MetaLinks 
                    :links="$store.getters['postComposer/linkPreviewsList']"
                    :show="$store.getters['postComposer/shouldShowLinkPreviews']"
                    :clearable="true"
                />
            </v-col>
            
            <v-row flex v-if="postTextError!=''">
                <v-col  col="12" class="text-right" style="padding-top:0"> 
                    <v-chip color="red">{{ postTextError }}</v-chip>
                </v-col>
            </v-row>

            <v-row flex>
                <v-col col="4" class="text-center" style="padding-top:0"> 
                    <v-btn icon large @click="selectImage">
                        <v-icon>mdi-image-plus</v-icon>
                    </v-btn><br>
                    <small>{{ $vuetify.lang.t('$vuetify.stream.addPicture') }}</small>
                </v-col>
                <!-- <v-col col="4" class="text-center" style="padding-top:0"> 
                    <v-btn icon large @click="showTags=!showTags">
                        <v-icon>mdi-tag-plus</v-icon>
                    </v-btn><br>
                    <small>#tags</small>
                </v-col> -->
                <v-col col="4" class="text-center" style="padding-top:0"> 
                    <v-btn icon large color="red" @click="back">
                        <v-icon>mdi-cancel</v-icon>
                    </v-btn><br>
                    <small>{{ $vuetify.lang.t('$vuetify.main.Cancel') }}</small>
                </v-col>
                <v-col col="4" class="text-center" style="padding-top:0"> 
                    <v-btn icon large @click="sendPost" color="green" :disabled="postText == ''">
                        <v-icon>mdi-send</v-icon>
                    </v-btn><br>
                    <small>{{ $vuetify.lang.t('$vuetify.private.Send') }}</small>
                </v-col>
            </v-row>
            <v-row flex>
                <v-col col="12"> 
                <br><br>
                </v-col>
            </v-row>

        </v-col>

    </v-card>

    <v-navigation-drawer  id="contact-drawer" absolute
            v-model="showAutocomplete" color="grey darken-4" 
            style="max-width:100%; width:400px; ">
      <v-card class="pt-4" flat>

        <v-toolbar class="px-3" color="transparent" 
                    elevation="0" v-if="!hideReceiver">
            <v-icon class="mr-2">mdi-account-search</v-icon>
            <v-text-field color="primary darken-2"
                hide-details
                solo
                class="mb-1"
                :placeholder="$vuetify.lang.t('$vuetify.private.FindRecipients') + '...'"
                @focusin="showAutocomplete=true"
                v-model="autocomplete"
            ></v-text-field>
            <v-btn class="ml-2 mb-3 mt-2" 
                    @click="showAutocomplete=false"
                    color=primary fab small>
                <v-icon>mdi-check</v-icon>
            </v-btn>
        </v-toolbar>


        <v-card-text class="pa-0">
            <v-card v-if="showAutocomplete"
                        flat
                        style="overflow-x:auto;">
                <v-list color="transparent">
                    <v-subheader style="height:20px;">
                        <v-icon>mdi-chevron-down</v-icon> 
                        {{ countNbContactShown() }} 
                        {{ countNbContactShown() > 1 ? $vuetify.lang.t('$vuetify.page.contacts') : $vuetify.lang.t('$vuetify.page.contact') }} 
                    </v-subheader>
                    <template v-for="(item, index) in myPages">
                        <v-list-item v-if="matchSearch(item.name)"
                                    :key="index" @click="addReceiver(item)">
                            <v-list-item-avatar>
                                <v-img :src="getAvatarUrl(item.uid)"></v-img>
                            </v-list-item-avatar>

                            <v-list-item-content>
                                <v-list-item-title>{{ item.name }}</v-list-item-title>
                                <v-list-item-subtitle>
                                    <v-icon x-small color="grey">mdi-spider-web</v-icon> 
                                    {{ incore.iName(item.uid) }} 
                                    <v-icon x-small class="ml-1" color="grey">mdi-map-marker</v-icon> 
                                    {{ item.city }} 
                                </v-list-item-subtitle>
                            </v-list-item-content>

                            <v-list-item-icon v-if="postReceivers.indexOf(item.uid) > -1">
                                <v-icon color="primary">mdi-check-circle</v-icon>
                            </v-list-item-icon>
                            <v-list-item-icon v-else>
                                <v-icon>mdi-plus-circle</v-icon>
                            </v-list-item-icon>
                        </v-list-item>
                    </template>
                    <v-list-item v-if="countNbContactShown() == 0">
                        <v-list-item-content>
                            <v-alert type="error" style="font-size:11px;" 
                                     v-if="!originIsContact"
                                     outlined dense class="mb-3">
                                {{ $vuetify.lang.t('$vuetify.private.noSearchResult') }}
                            </v-alert>
                            <v-alert type="info" style="font-size:11px;" 
                                     v-if="originIsContact"
                                     outlined dense class="mb-3">
                                {{ $vuetify.lang.t('$vuetify.private.noContactResult') }}
                            </v-alert>
                            <v-btn block color="primary" 
                                    :loading="loadingAutocomplete"
                                    @click="checkAutocomplete">
                                    <v-icon>mdi-magnify</v-icon>
                                {{ $vuetify.lang.t('$vuetify.private.ExtendedSearch') }}
                            </v-btn>
                            <small class="pa-3"></small>
                        </v-list-item-content>

                    </v-list-item>
                </v-list>
            </v-card>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="showAutocomplete = false">
            <v-icon>mdi-check</v-icon> {{ $vuetify.lang.t('$vuetify.main.Finished') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-navigation-drawer>    

</div>
</template>

<style>
    .v-select__slot{
        height:unset!important;
    }
    .v-overflow-btn .v-input__control::before {
        height: 0px;
    }
</style>

<script>


import axios from 'axios'
import core from '../../plugins/core.js'
import router from '../../router/router'
import MetaLinks from '@/components/MetaLinks.vue'

export default {
  name: 'FormPrivate',
  components: { MetaLinks },
  props: [ 'preSelectUid', 'preSelectName', 'forceContacts', 
            'defaultUserPage', 'hideReceiver'],
  data() {
    return {
      userPage: {},
      postReceivers: [],
      avatarUrl: '',
      myPages: [],
      allContacts: [],
      rulesTxtareaEditPost: [v => v.length <= 2000 || this.$vuetify.lang.t('$vuetify.post.maxMsg2Label')],
      postText: '',
      postTitle: '',
      sharable: true,
      searchContentStr: '',
      embedMetaLinks: [],
      showInputImage: false,
      urlToImage: '',
      postImage: null,
      showTags: false,
      postTagText: "",
      postTextError: "",
      autocomplete: "",
      autoBroadcast: false,
      showAutocomplete: false,
      originIsContact: true,
      loadingAutocomplete: false,
      hashtagList: [
        { tag: '#info', count: 2 },
        { tag: '#annonce', count: 4 },
        { tag: '#question', count: 2 },
        { tag: '#sondage', count: 2 },
        { tag: '#proposition', count: 2 },
        { tag: '#action', count: 4 },
        { tag: '#manifestation', count: 4 },
        { tag: '#mobilisation', count: 4 },
        { tag: '#assemblée', count: 2 },
      ],
      incore: core
    }
  },
  mounted: function(){
      this.incore = core 
      this.$root.$off('setReceiver').$on('setReceiver', (receiverUid) => { 
          if(window.isDev) { console.log("setReceiver", receiverUid); }
        this.postReceivers = [receiverUid]
      })
      
      this.updateDataProfile()

      if(this.preSelectUid != null){
          let found = false
          //dont add the contact if already exists in the list
          this.allContacts.forEach(page => {
              if(page.uid == this.preSelectUid) found = true
          })
          if(!found) this.allContacts.push({ uid: this.preSelectUid, name: this.preSelectName})
          this.postReceivers = [this.preSelectUid]
      }
      console.log("preSelectUid ?", this.preSelectUid, this.postReceivers)
        
  },
  methods: {

    async updateDataProfile(){
        if(this.defaultUserPage != null) {
            this.userPage = this.defaultUserPage
            return
        }
        this.myPages = this.$store.state.auth.profile.follows
        this.allContacts = this.$store.state.auth.profile.follows
    },

    selectImage : function(){
        this.showInputImage=!this.showInputImage
        if(window.isDev) { console.log("this.$refs.fileInput", this.$refs.fileInput); }
        if(this.showInputImage)
            document.getElementById('fileInput').click()
        else{
            this.postImage = null
        }
    },

    addReceiver : function(page){
        if(window.isDev) { console.log("add receiver", page); }
        let x = this.postReceivers.indexOf(page.uid)
        if(x > -1){
            this.postReceivers.splice(x, 1)
        }else{
            this.postReceivers.push(page.uid)
        }
    },
    removeReceiver : function(page){
        if(window.isDev) { console.log("remove receiver", page); }
        let x = null
        this.postReceivers.forEach((p, i)=>{
            if(p == page.uid) x = i
        })
        if(x != null) this.postReceivers.splice(x, 1)
    },
    matchSearch(name){
        if(window.isDev) { console.log("matchSearch()", name); }
        let regx = new RegExp(".*"+this.autocomplete.toLowerCase().trim(), "i")
        return name.match(regx)
    },

    countNbContactShown : function(){
        let nbContactShown = 0
        this.myPages.forEach((contact) => {
            if(window.isDev) { console.log("check autocomplete", this.autocomplete, nbContactShown, contact.name); }
            if(this.matchSearch(contact.name)) nbContactShown++
        })
        if(nbContactShown > 0)
            this.originIsContact = true

        return nbContactShown
    },

    checkAutocomplete : function(){
        if(window.isDev) { console.log("regex", new RegExp(".*"+this.autocomplete.toLowerCase().trim(), "i")); }
        if(this.countNbContactShown() == 0){
            this.autoBroadcast = true
            this.loadingAutocomplete = true
            axios.post('/page/get-user-autocomplete', { search: this.autocomplete })
            .then( res => {
                if(window.isDev) { console.log('/page/get-user-autocomplete', res.data); }
              if(res.data.error == false){
                this.loadingAutocomplete = false
                this.originIsContact = false
                this.myPages = this.allContacts.concat(res.data.userPages)
              }else{
                this.loadingAutocomplete = false
                this.originIsContact = false
                if(window.isDev) { console.log('error on /page/get-user-autocomplete', res.data); }
              }
            })        
        }else{
            this.originIsContact = true
            this.myPages = this.allContacts
        }
    },

    showFormMsg(bool){
        this.$root.$emit('showFormMsg', bool);
    },
    

    addTagNewPost : function(tag){
        let pos = this.postText.indexOf(tag)
        if(pos > -1){ //tag exist in text
            this.postText = this.postText.replace(tag, '').trim()
        }else{ //tag not exist in text
            this.postText += ' ' + tag
        }
    },


    sendPost: async function(){
        
        if(window.isDev) { console.log('sendPost', this.postReceivers.length); }
        if(this.postReceivers.length == 0){
            this.postTextError = this.$vuetify.lang.t('$vuetify.private.PleaseSelectARecipient') + ' !'
            return
        }

        if(window.isDev) { console.log('/upload/image-post', this.postImage); }
        let imageName = null
        if(this.postImage != null){
            const imgData = new FormData()
            imgData.append('image-post', this.postImage, this.postImage.name)
            if(window.isDev) { console.log('send image', imgData); }
            const resImg = await axios.post('/upload/image-post', imgData)
            imageName = resImg.data.imageName
            if(window.isDev) { console.log('/upload/image-post', resImg); }
        }

        let finalReceivers = []
        this.myPages.forEach((page) => {       
            this.postReceivers.forEach((page2) => {
                if(page.uid == page2) 
                finalReceivers.push({ uid : page.uid, name: page.name })
            })
        })

        if (window.isDev) {
          console.log('embedMetaLinks', JSON.stringify(this.$store.getters['postComposer/linkPreviewsList']))
        }

        const res = await axios.post('/publication/send-post-private', 
                                        {   text: this.postText, 
                                            title: this.postTitle,
                                            imageName: imageName,
                                            receivers: finalReceivers,
                                            postSignedUid: this.postSignedUid,
                                            sharable: this.sharable,
                                            embedMetaLinks: [...this.$store.getters['postComposer/linkPreviewsList']],
                                        })

        if(res.data.error == true){
            if(window.isDev) { console.log("error /publication/send-post", res.data); }
            this.postTextError = "Sorry, an error occured"
        }else{
            await this.$store.dispatch('postComposer/hideLinkPreviews', null, {root:true});
            if(window.isDev) { console.log("success /publication/send-post", res.data); }
            router.push('/private');
            //this.$root.$emit('loadStream');
            //this.showFormMsg(false)
        }
        
        
        if(window.isDev) { console.log("res /publication/send-post", res.data); }

    },
    
    async extractMeta() {
      const matches = this.postText.match(/\bhttps?:\/\/\S+/gi);
      if (matches == null) {
        await this.$store.dispatch('postComposer/hideLinkPreviews', null, {root: true});

        // Avoid useless computations.
        return;
      }

      await Promise.all(matches.map((url) => 
        this.$store.dispatch('postComposer/addLinkPreview', url, {root: true})
      ));

      await this.$store.dispatch('postComposer/showLinkPreviews', true, {root: true});
      console.log('linkPreviewsList', this.$store.getters['postComposer/linkPreviewsList'])
    },
    removeMetaLink: function(url){
      this.$store.dispatch('postComposer/removeLinkPreview', url, {root:true});
    },

    back: function(){ router.back() },

    getAvatarUrl: function(pageUid){
        return core.avatarUrl(pageUid)
    }
      
  },

  watch: {
    forceContacts: {
        // the callback will be called immediately after the start of the observation
        immediate: true, 
        handler (val, oldVal) {
            if(window.isDev) { console.log("watch forceContacts", val, oldVal); }
            if(val != null){
                this.myPages = val
                this.userPage.contacts = val
                this.hideReceiver = true
            }
            
        }
    }
  },
  computed: {
      finalReceivers(){
          let finalReceivers = []
          this.myPages.forEach((page) => {       
            this.postReceivers.forEach((page2) => {
                if(page.uid == page2) 
                finalReceivers.push({ uid : page.uid, name: page.name })
            })
          })
          return finalReceivers
      },

  },
  
}
</script>