<template>
  <v-col class="px-0">

    <v-textarea background-color="#212121"
                outlined counter style="font-size:0.9em;"
                :placeholder="$vuetify.lang.t('$vuetify.page.SendMsgToFollowers')+'...'"
                v-model="postText"
                :rules="rulesTxtareaEditPost"
                @change.passive="extractMeta"
                @focus="showFormPost = true"
                @focusout="showFormPost = false"
                spellcheck="false">
    
    </v-textarea>
    <v-row flex>
      
      <!-- link metadata preview -->
      <v-col flex v-if="$store.state.postComposer.linkPreviewsLoading">
        <small>
          <v-icon small>mdi-dots-horizontal</v-icon> 
          {{ $vuetify.lang.t('$vuetify.page.loadingLinkPreview') }}
        </small>
        <v-skeleton-loader ref="skeleton"
            :boilerplate="false"
            type="list-item-avatar-three-line"
            :tile="false"
            class="mx-auto mt-2"
        ></v-skeleton-loader> 
      </v-col>

      <v-col 
        v-if="$store.state.postComposer.showLinkPreviews"
        flex class="py-0 mb-2" 
      >
        <MetaLinks 
          :links="$store.getters['postComposer/linkPreviewsList']"
          :show="$store.getters['postComposer/shouldShowLinkPreviews']"
          :clearable="true"
        />          
      </v-col>

      <template v-if="postText.length > 0 || showFormPost">
        <v-col cols="12" class="pa-0 mb-3">
          <v-card color="transparent" style="width:100%; box-shadow:none;" 
                  class="enableShare pa-0 pl-4 mb-3 d-flex align-end flex-column">
              <!-- <small>{{ $vuetify.lang.t('$vuetify.stream.enableShare') }} ?</small> -->
              <small class="grey--text pr-5 mb-2 text-right">
                <small v-if="!postSharable">
                  {{ $vuetify.lang.t('$vuetify.page.MsgSendOnlyToFollowers') }}
                </small>
                <small v-if="postSharable">
                  {{ $vuetify.lang.t('$vuetify.page.MsgSendToFollowersAndShare1') }}<br>
                  {{ $vuetify.lang.t('$vuetify.page.MsgSendToFollowersAndShare2') }}
                </small>
              </small>
              <v-switch hide-details v-model="postSharable" 
                        color="primary" class="ma-0 mb-0 mr-3"
                        :label="$vuetify.lang.t('$vuetify.stream.enableShare')+' ?'">
              </v-switch>
          </v-card>
        </v-col>

        <v-col cols="12" class="pt-0" v-show="showInputImage">
          <v-file-input
            :label="postImage!=null ? $vuetify.lang.t('$vuetify.page.ImgSelected') : $vuetify.lang.t('$vuetify.page.selectImg')" 
            ref="fileInput" id="fileInput"
            outlined accept="image/*"
            prepend-icon="mdi-camera"
            v-model="postImage"
          ></v-file-input>
          <v-img :src="urlToImage" :v-show="urlToImage!=''"></v-img>
        </v-col> 

        <v-col cols="12" class="pt-0">
          <v-file-input v-show="showInputPdf"
            :label="$vuetify.lang.t('$vuetify.main.AddAPdf')" ref="pdfInput" id="pdfInput"
            outlined accept=".pdf"
            prepend-icon="mdi-file"
            v-model="postPDF"
          ></v-file-input>
        </v-col> 
        
        <v-col class="py-0 mb-4 text-center">
          <v-btn block outlined color="secondary" @click="selectImage">
            <v-icon>mdi-image-plus</v-icon> {{ $vuetify.lang.t('$vuetify.main.Image') }}
          </v-btn>
        </v-col>
        <v-col class="py-0 mb-4 text-center">
          <v-btn block outlined color="secondary" @click="selectPDF">
            <v-icon>mdi-file-plus</v-icon>PDF
          </v-btn>
        </v-col>
        <v-col class="py-0 mb-4 text-center">
          <v-btn block color="green" :loading="sendingMsg" :disabled="sendingMsg" @click="sendPost">
            <v-icon>mdi-send</v-icon> {{ $vuetify.lang.t('$vuetify.private.Send') }}
          </v-btn>
        </v-col>
      </template>
    </v-row>
  </v-col>

</template>
<script>

import axios from 'axios'
//import router from '../router/router'
//import core from '../plugins/core.js'

import MetaLinks from '@/components/MetaLinks.vue'


export default {
  name: 'auth',
  props: [ 'userPage', 'loadStream' ],
  components: { MetaLinks },

  data: () => ({

    rulesTxtareaEditPost: [v => (v != null && v.length <= 500) || 'Max 500 caractères'],
    sendingMsg: false,
    postText: "",
    postTextError: '',
    postTagText: "",
    postSignedUid: "",
    postSharable: false,
    showInputImage: false,
    showFormPost: false,
    urlToImage: '',
    postImage: null,
    embedMetaLinks: [],
    postPDF: null,
    showInputPdf: false,
      
  }),
  async mounted(){
  },
  methods:{
    sendPost: async function(){
      this.sendingMsg = true
      this.popupKey = "send2"

      if(window.isDev) { console.log('/upload/image-post', this.postImage); }
      let imageName = null
      if(this.postImage != null){
        const imgData = new FormData()
        imgData.append('image-post', this.postImage, this.postImage.name)
        if(window.isDev) { console.log('send image', imgData); }
        const resImg = await axios.post('/upload/image-post', imgData)
        imageName = resImg.data.imageName
        if(window.isDev) { console.log('/upload/image-post', resImg); }
      }

      if(window.isDev) { console.log('/upload/pdf-post', this.postPDF); }
      let pdfId = null
      if(this.postPDF != null){
        const pdfData = new FormData()

        //pdfData.append('accessToken', this.$store.state.auth.user.access_token)
        pdfData.append('originalName', this.postPDF.name)
        pdfData.append('signedUid', this.userPage.uid)
        pdfData.append('pdf-post', this.postPDF, this.postPDF.name)

        if(window.isDev) { console.log('send image', pdfData); }
        const resPdf = await axios.post('/upload/pdf-post', pdfData)
        pdfId = resPdf.data.pdfId
        if(window.isDev) { console.log('/upload/pdf-post', resPdf); }
      }

      if (window.isDev) {
        console.log('embedMetaLinks', JSON.stringify(this.$store.getters['postComposer/linkPreviewsList']))
      }

      const res = await axios.post('/publication/send-post', { 
        text: this.postText, 
        sharable: this.postSharable,
        fromCity: this.userPage.city,
        imageName: imageName,
        postSignedUid: this.userPage.uid,
        embedMetaLinks: [...this.$store.getters['postComposer/linkPreviewsList']],
        scopeType: 'followers',
        pdf: pdfId
      });
      
      if(res.data.error == true){
        if(window.isDev) { console.log("error /publication/send-post", res.data); }
        this.popupKey = "send1"
        this.postTextError = "Sorry, an error occured. Check console log"
      }else{
        await this.$store.dispatch('postComposer/hideLinkPreviews', null, {root:true});
        this.loadStream()
      }
      this.postText = ""
      this.postSharable = true
      this.embedMetaLinks = []
      this.postImage = null
      this.showInputImage = false
      this.postPDF = null
      this.showInputPdf = false

      this.sendingMsg = false
              
      if(window.isDev) { console.log("res /publication/send-post", res.data); }
    },
    selectImage : function(){
        this.showInputImage=!this.showInputImage
        if(window.isDev) { console.log("this.$refs.fileInput", this.$refs.fileInput); }
        if(this.showInputImage)
            document.getElementById('fileInput').click()
        else{
            this.postImage = null
        }
    },

    selectPDF: function(){
        this.showInputPdf=!this.showInputPdf
        if(window.isDev) { console.log("this.$refs.pdfInput", this.$refs.pdfInput); }
        if(this.showInputPdf)
            document.getElementById('pdfInput').click()
        else{
            this.postPDF = null
        }
    },
    async extractMeta() {
      const matches = this.postText.match(/\bhttps?:\/\/\S+/gi);
      if (matches == null) {
        await this.$store.dispatch('postComposer/hideLinkPreviews', null, {root: true});

        // Avoid useless computations.
        return;
      }

      await Promise.all(matches.map((url) => 
        this.$store.dispatch('postComposer/addLinkPreview', url, {root: true})
      ));

      await this.$store.dispatch('postComposer/showLinkPreviews', true, {root: true});
      console.log('linkPreviewsList', this.$store.getters['postComposer/linkPreviewsList'])
    },
    removeMetaLink: function(url){
      this.$store.dispatch('postComposer/removeLinkPreview', url, {root:true});
    },   

  }

}
</script>