<template>

<v-row id="profil" v-if="page.contacts != null">

  <v-col cols="12" >
    <v-card max-width="800" class="mx-auto">
      <v-list-item>

        <v-list-item-avatar height="60" width="60">
          <v-img :src="avatarUrl(page.uid)"></v-img>
        </v-list-item-avatar>
        
        <v-list-item-content>

          <v-list-item-title class="headline">
            <small>
              <v-icon>mdi-clipboard-account</v-icon>
              {{ $vuetify.lang.t('$vuetify.page.YouHave') }} <strong class="pa-1">{{ page.contacts.length }}</strong> 
              {{ page.contacts.length > 1 ? $vuetify.lang.t('$vuetify.page.contacts') : $vuetify.lang.t('$vuetify.page.contact') }}
            </small>
          </v-list-item-title>
          
        </v-list-item-content>

      </v-list-item>
    </v-card>
    
    <br>
    
    <template v-if="page.contacts != null && page.contacts.length > 0">
      <template v-for="(p, i) in page.contacts">
          <PageCard :page="p" :key="i"></PageCard>
      </template>
    </template>

    <v-card max-width="800" class="mx-auto">
    
      <v-list v-if="page.contacts == null || page.contacts.length < 0">
          <v-list-item>
          <v-list-item-content>
                <v-list-item-title>
                    <v-icon>mdi-cancel</v-icon>{{ $vuetify.lang.t('$vuetify.settings.ContactLisEmpty') }}
                </v-list-item-title>
                <v-list-item-subtitle>
                    {{ $vuetify.lang.t('$vuetify.settings.contactUsageCommentPart1') }} 
                    <v-icon>mdi-clipboard-account</v-icon> 
                    {{ $vuetify.lang.t('$vuetify.settings.contactUsageCommentPart2') }}<br>
                    {{ $vuetify.lang.t('$vuetify.settings.contactUsageCommentPart3') }}
                </v-list-item-subtitle>
          </v-list-item-content>
          </v-list-item>
      </v-list>
    
    </v-card>

  </v-col>

</v-row>
</template>


<script>
import core from '../plugins/core.js'
import PageCard from '@/components/page/PageCard.vue'


export default {
  name: 'contacts',
  components: { PageCard },
  props: [],
  data: () => ({
    activeList: []   
  }),
  async mounted(){
    this.page = this.$store.state.auth.profile;
  },
  methods: {
    avatarUrl: function(pageUid){ return core.avatarUrl(pageUid) }
  },
  computed: {
  }
}
</script>
