<template>
  <v-card class="mx-auto mt-3" max-width="800">

    <v-col cols="12" class="ma-0">
      <v-card-title v-if="type == ''">
        <v-icon class="mr-2">mdi-card-plus-outline</v-icon> 
        {{ $vuetify.lang.t('$vuetify.createPage.createANewPage') }}
      </v-card-title> 
      <v-card-title v-else>
        <v-icon class="mr-2">mdi-card-plus-outline</v-icon> 
        {{ $vuetify.lang.t('$vuetify.createPageType.'+type) }}
      </v-card-title> 
        
      <v-form @submit.prevent="login">

        <template v-if="$route.params.pageType == null">
          <hr><br>

          <v-card-subtitle>
            <v-icon small>mdi-chevron-down</v-icon> 
            {{ $vuetify.lang.t('$vuetify.createPage.whatKindActivity') }} ?
          </v-card-subtitle>

          <v-bottom-navigation :height="70" style="margin:0;border-radius:5px;"
                              v-model="type" grow color="primary">
              <v-btn class="hover-blue" value="group">
                  <span>{{ $vuetify.lang.t('$vuetify.pageType.group') }}</span>
                  <v-icon>mdi-account-group-outline</v-icon>
              </v-btn>

              <v-btn class="hover-yellow" value="event">
                  <span>{{ $vuetify.lang.t('$vuetify.pageType.event') }}</span>
                  <v-icon>mdi-calendar-clock</v-icon>
              </v-btn>

              <v-btn class="hover-red" value="assembly">
                  <span>{{ $vuetify.lang.t('$vuetify.pageType.assembly') }}</span>
                  <v-icon>mdi-hexagon-multiple-outline</v-icon>
              </v-btn>
          </v-bottom-navigation>
        

        </template>

        <v-divider></v-divider>

        <v-col cols="12">
          <small class="primary--text" v-if="type=='group'">
            <v-icon color="primary" small>mdi-account-group-outline</v-icon> 
            {{ $vuetify.lang.t('$vuetify.createPageType.createGroupComment') }} 
          </small>
          <small class="primary--text" v-if="type=='event'">
            <v-icon color="primary" small>mdi-calendar-clock</v-icon> 
            {{ $vuetify.lang.t('$vuetify.createPageType.createEventComment') }} 
          </small>
          <small class="primary--text" v-if="type=='assembly'">
            <v-icon color="primary" small>mdi-hexagon-multiple-outline</v-icon> 
            {{ $vuetify.lang.t('$vuetify.createPageType.createAssemblyComment') }} 
          </small>
        </v-col>


        <template v-if="type!=''">
          <v-text-field outlined v-model="name" id="name" 
                        :label="$vuetify.lang.t('$vuetify.createPage.name')"
                        :placeholder="$vuetify.lang.t('$vuetify.createPage.pageName')">
          </v-text-field>

          <v-textarea outlined v-model="description" id="description"  spellcheck="false"
                      :placeholder="$vuetify.lang.t('$vuetify.createPage.aboutThisPage') + '?'"
                      :label="$vuetify.lang.t('$vuetify.createPage.Description')"></v-textarea>
  
          <v-col cols="12" v-if="type=='event'">
            <v-date-picker v-model="startDate" v-if="type=='event'" 
                          :locale="$vuetify.lang.current"
                          color="primary" class="mr-5"></v-date-picker>
          
            <v-time-picker :locale="$vuetify.lang.current" width="270" color="primary" 
                            v-if="type=='event'" v-model="startTime"></v-time-picker>
          </v-col>
          

          <v-col cols="12" class="pa-0">
              <v-card-subtitle>
                <v-icon small>mdi-map-marker</v-icon> 
                {{ $vuetify.lang.t('$vuetify.createPage.youWillDefinePositionComment1') }}<br>
                <small>{{ $vuetify.lang.t('$vuetify.createPage.youWillDefinePositionComment2') }}</small>
              </v-card-subtitle>
          </v-col>
          <br>
        </template>
        

        <v-btn class="white--text" color="secondary" :disabled="type==''" @click="createPage" style="min-width:100%">
          <v-icon>mdi-check</v-icon>{{ $vuetify.lang.t('$vuetify.createPage.createPage') }}
        </v-btn>

      </v-form>
      <v-card-subtitle v-if="resMsg != ''" :class="resColor">{{ resMsg }}</v-card-subtitle>
    </v-col>
      
  </v-card>
</template>

<style scoped>  

  .v-time-picker-title__time .v-picker__title__btn, 
  .v-time-picker-title__time span{
    height: 57px;
    font-size: 57px;
  }

</style>
<script>

import router from '../router/router'
import axios from 'axios'
import moment from 'moment'
import core from '../plugins/core.js'

export default {
  name: 'login',
  components: {
  },
  data: () => ({
    name: '',
    description: '',
    type: '',
    city: '',
    address: '',
    startDate: '',
    startTime: '12:00',
    resColor: '',
    resMsg: '',
    showpwd: false
  }),
  mounted: function(){
    let date =  new Date()
    this.startDate = moment(date).format('YYYY-MM-DD')

    if(this.$route.params.pageType != null){
      this.type = this.$route.params.pageType
    }
    core.incStat('/create-page')
  },
  methods: {
    async createPage(){

      try{
        let startDatetime = Date.parse(this.startDate+" "+this.startTime)
        if(window.isDev) { console.log("try to createPage", this.name, this.description, this.type); }
        const res = await axios.post('/page/create-page', 
                                      { name: this.name, 
                                        description: this.description, 
                                        type: this.type,
                                        startDate: this.type == "event" ? startDatetime : null
                                      })
        
        if(window.isDev) { console.log("res " + "/page/create-page", res); }

        if(res.data.error == false){
          if(window.isDev) { console.log("PAGE CREATED WITH SUCCESS", res.data, res); }

          this.$store.commit('auth/add_page_to_user', res.data.page)

          this.$store.dispatch('auth/fetchUserContext')
          router.push('/page/'+res.data.page.uid);
        }else{
          if(window.isDev) { console.log("PAGE CREATED ERROR 1", res.data.errorMsg); }
          this.resColor = "red--text"
          this.resMsg = res.data.errorMsg
        }
      }catch(e){
        if(window.isDev) { console.log("PAGE CREATED ERROR 2", e); }
          this.resColor = "red--text"
          this.resMsg = "Your node seems to be offline (unreachable)"
      }
    },
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    iName: function(){
      return core.iName(this.$store.state.auth.profile.uid)
    }
  },
  watch: {
        '$route.params.pageType': {
            immediate: true, 
            handler () {
                this.type = this.$route.params.pageType
                
            }
        },
    }
}
</script>
