<template>
<div>
<v-row class="d-flex">
  <h1 class="d-none">Charte utilisateur du réseau Plaanet,  à lire attentivement !</h1>
  <v-col cols="12" lg="7"  md="10" sm="10" class="mx-auto">
    <v-col cols="12" class="mx-auto text-center">
      <v-col cols="12" class="pa-0 mx-auto" style="background-color:#231f20;">

        <v-col class="text-center mx-auto"  cols="12" sm="8">
          <v-chip color="transparent" class="pa-2 mt-1" small text-color="primary">
              Vous serez ensuite redirigé vers la suite de la procédure d'inscription
          </v-chip>
        </v-col>    
        <v-col cols="12" sm="12" class="pa-0 mt-5 text-center">
          <h1 class="d-none d-sm-inline font-konk mt-5">
            <v-icon>mdi-book</v-icon> {{ $vuetify.lang.t('$vuetify.home.donate') }}
          </h1>
          <h3 class="d-sm-none font-konk mt-5">
            <v-icon>mdi-book</v-icon> 
          
          </h3>
        </v-col>

        <v-card class="pa-5 mt-4" outlined >
          <h1 class="font-konk"> Réseau social créé par et pour la \Résistance </h1>
          <p class="text-left">
              <br>En vous remerciant par avance pour votre comportement, soyons tolérants, respectueux et responsables, sur Plaanet comme ailleurs.<br><br><br>
                    Plaanet est un réseau social local.
                    Il a été conçu comme l’outil idéal pour favorise les rencontres physiques et l’organisation locale.v
                    + Ses principales caractéristiques :<br><br>

                        - pas d’email pour s’inscrire (nous ne voulons pas de vos données personnelles).<br><br>
                        - retrouver des êtres proches de chez vous sur une carte interactive.<br><br>
                        - recherche de membres par aspirations et compétences.<br><br>
                        - diffuser des messages localisés de 1 à 600 kilomètres.<br><br>
                        - organiser des évènements locaux sur un agenda ouvert.<br><br>
                        - créer des groupes.<br><br>
                        - créer des assemblées pour publier des sondages et des référendum.<br><br>
                        - messagerie privée intégrés avec salon de discussion par groupes.<br><br>
                        - gérer son fil d’actualité locale selon la zone définie (en kilomètre)<br>

                    <br><br>Plaanet a des exigences de sécurité et de développement élevés.
                    C’est un logiciel libre, open source et décentralisé.
                    Tout le monde peut participer à l’élaboration du réseau Plaanet et l’installer chez lui pour enrichir notre maillage de serveurs. Le projet est sur Gitlab

                    <br><br><b><u>Il est autofinancé, fonctionne par les dons de la communauté et n’a pas recours à la publicité.</u></b>

                    <br><br>Plaanet s’oriente en projet collaboratif, ce qui veut dire que chacun peut contribuer selon ses compétences et disponibilités.
                    Étant sans la moindre publicité, Plaanet repose sur les dons pour financer le coup des domaines et des serveurs d’hébergement.
                    Vos compétences sont précieuses

                    <br><br> Nous avons tous notre pierre à poser sur l’édifice de notre liberté. Alors, que tu sois développeur (front/backend, langage vue.js, node.js et mongodb), administrateur système Linux, possesseur de serveurs, graphiste, communicant, chef de projet, modérateur, traducteur ou donateur… Plaanet a besoin de toi !

                    <br><br> Contacte-nous pour participer à cette belle aventure 
                    <br><br>[**Dons Paypal**]

                    <br><br>Il est possible de faire un don ponctuel ou un don récurrent: <a href="https://www.paypal.com/donate?token=jJpEpnlZeCrxvB0kD1QJlF2Y2ewQhG8MrUYJVeaKv8SqHoqWE7A8YR7ShQzAIo4B-E9pYiKrAuFxHo3h">Dons PayPal</a>

                   <br><br>[** Dons Monero (XMR) **]
                   <br><br> Monero est une cryptomonnaie qui permet de faire des dons totalement anonymes. Voici la clé de la cagnotte:

                    <br><br>    86vgwW3VXqSja7CPppVDNrKJM3Q87WjyjhP6RzSbekQiH4pyPS3LGqZMh7qVguaL3vHDiGrthFLoQbrXP9V8yqGq5zHrSR4

                    <br><br>[** Dons Bitcoin (BTC) **]

                    <br><br>Le Bitcoin est la cryptomonnaie la plus célèbre, il est possible de financer certains services avec, dont nos serveurs. Clé de la cagnotte:

                   <br><br>1Ne8j8a2MpihK1sWu2MCDaFjzX8sHMp7hB

                   <br><br>L’équipe Plaanet vous remercie chaleureusement.
          </p>
        </v-card>
      </v-col>
    </v-col>
  </v-col>
</v-row>
</div>
</template>

<style>
  @media (max-width: 960px){
    .home-main-title{
      margin-top:45px;
      font-size:25px; 
    }
  }
  @media (max-width: 600px){
    .home-main-title{
      margin-top:10px;
      font-size:15px; 
    }
  }
</style>

<script>
</script>
