<template>

  <v-row class="d-flex">      
    <v-col cols="12" md="12" sm="12" class="">
      <v-card max-width="900" class="pa-3 mx-auto text-center"  elevation="0">
        <!-- <small>Vous utilisez actuellement :</small><br> -->
        <br> 
        <v-icon x-large style="font-size:5em;">mdi-android</v-icon> <br> 
        <small>Vous avez un smartphone Android ?</small>
        <h2>
          <v-icon >mdi-cellphone-arrow-down</v-icon>
          Installez l'application
        </h2>
        <p>et retrouvez toute la <b>Plaanet</b> dans votre poche, à tout moment !</p>
        <br> 
        <v-btn color="blue darken-2" class="mb-2" target="_blank" :href="pathToAPK">
          <v-icon>mdi-download</v-icon> Télécharger l'application
        </v-btn>
        <br>
        <a target="_blank" class="blue--text" :href="pathToAPK"><small>{{ pathToAPK }}</small></a>
        <br><br>
        <v-col cols="12" class="text-left">
            L'application Plaanet pour Android <b>n'est pas</b> disponible sur la PlayStore, 
            ni aucun autre Store.
            <br><br>
            Pour installer Plaanet sur votre smartphone :<br>
            <ul>
              <li>Cliquez simplement sur le bouton "Télécharger l'application"</li>
              <li>Ouvrez le fichier téléchargé, en utilisant l'explorateur de fichier de votre smartphone.</li>
              <li>Suivez la procédure d'installation :</li>
            </ul>
          
        </v-col>

        <v-row>
          <v-col cols="12" sm="4" class="text-left">
              <br>
              <small><b>
                <v-icon small>mdi-information</v-icon> 
                Lancez l'installation
                en cliquant sur le fichier</b> android-plaanet-app.apk<br>
              </small>
              <br><br>
              <img src="install-android1.jpg" width="100%" style="border:2px dashed white;">
          </v-col>
          <v-col cols="12" sm="4" class="text-left">
              <br>
              <small>
                <b>
                  <v-icon small>mdi-information</v-icon> 
                  Si vous recevez l'alerte "Bloqué par Play Protect",
                  cliquez simplement sur "Installer quand même".
                </b>
              </small>
              <br><br>
              <img src="install-android2.jpg" width="100%" style="border:2px dashed white;">
          </v-col>
          <v-col cols="12" sm="4" class="text-left">
              <br>
              <small>
                <b>
                  <v-icon small>mdi-information</v-icon> 
                  Ça y est ! Plaanet est installé !
                  <br>Vous pouvez l'utiliser !
                  <br>
                </b>
              </small>
              <br><br>
              <img src="install-android3.jpg" width="100%" style="border:2px dashed white;">
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="12" class="text-center">
            <br><hr><br>
            <h2>Mise à jour de l'application</h2>
          </v-col>
          
          <v-col cols="12" sm="6" class="text-left">
              
              <ul>
                <li>Lorsqu'une mise à jour est disponible, vous recevez l'alerte suivante ></li>
                <br>
                <li>Cliquez simplement sur le bouton "Mettre à jour"</li>
                <br>
                <li>Puis reproduisez la procédure d'installation comme expliquée plus haut.</li>
              </ul>
              <br>
          </v-col>
          <v-col cols="12" sm="6" class="text-center">
            <img src="maj-plaanet.png" style="border:2px dashed white;max-width:100%;">
          </v-col>

        </v-row>
      </v-card>
    </v-col>
  </v-row>

</template>

<script>

//import axios from 'axios'
//import ManageApp from '@/components/admin/ManageApp.vue'
//import router from '../router/router'
import core from '../plugins/core.js'
//const config = require('../config/' + process.env.NODE_ENV)

export default {
  name: 'admin-version-mobile',
  props: [],
  components: {
    //ManageApp
  },
  data: () => ({
  }),
  mounted: function(){ 
  },
  methods: {
    
  },
  computed: {
    pathToAPK(){ return core.pathToAPK() }
  }
}
</script>