<template>

<div id="findAssembly">
<v-row 
    id="scroll-target"
    class="d-flex main"
    :class="$store.state.app.drawerOpen ? 'left-drawer-open' : ''"
  >
  <!-- MAIN MAP -->
    <l-map ref="map"  :zoom="zoom"  :maxZoom="15" :minZoom="3" :center="mapCenter"  
            id="map-container">
      <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
        <!-- ROOT MARKER (img profile user connected) -->
        <l-marker ref="markerNewAssembly"
                  :lat-lng="[markerNewAssembly.lat, markerNewAssembly.lng]" 
                  :icon="markerIconNewAssembly"
                  :draggable="true"
                  @drag="markerDrag()" 
                  @dragend="markerDragend()">
            <l-popup class=" text-center">
              <span class="purple--text text--lighten-2">
                <v-icon x-small color="purple lighten-2" class="">mdi-map-marker</v-icon> 
                {{ $vuetify.lang.t('$vuetify.position.moveIconLine1') }} <br>{{ $vuetify.lang.t('$vuetify.position.moveIconLine2') }}
              </span>
              <v-text-field color="purple lighten-2" dense filled hide-details
                            v-model="newAssemblyName" class="my-3"
                            :label="$vuetify.lang.t('$vuetify.assembly.assemblyName')"></v-text-field>
              <v-btn block @click="saveAssembly" color="purple" :disabled="newAssemblyName==''">
                <v-icon small class="mr-1">mdi-hexagon-multiple-outline</v-icon> 
                {{ $vuetify.lang.t('$vuetify.assembly.create') }}
              </v-btn>
              <v-btn block small class="mt-2" color="purple darken-3" @click="openPopupInfoAssembly=true">
                <v-icon x-small>mdi-plus-circle</v-icon> {{ $vuetify.lang.t('$vuetify.main.knowMore') }}
              </v-btn>
            </l-popup>
        </l-marker>
        <l-marker ref="rootMarker" :lat-lng="[rootMarker.lat, rootMarker.lng]" 
                  :icon="markerIconRoot" class="myMarker" v-if="!creatingAssembly">
        </l-marker>
        
        <!-- MAIN CIRCLE TO SHOW ROOT RADIUS -->
        <l-circle :lat-lng="[rootMarker.lat, rootMarker.lng]" 
                  :radius="rootCircle.radius"
                  color="rgba(94, 67, 113, 0.1)"
                  fill-color="rgba(94, 67, 113)"
                  :fill-opacity=".35" ref="rootCircle">
        </l-circle>

        <!-- MARKER CLUSTER : contains all markers to display (post or page) -->
        <v-marker-cluster   v-if="!creatingAssembly"
                            ref="markerCluster" 
                            :options="clusterOptions"></v-marker-cluster>
    </l-map>

    <!-- MARKER POPUP FOR PAGES : displayed on marker popup on the map -->
  <div v-show="false" v-if="pageMapPopup!=null" id="bar-popup-map-pages">
    
    <v-list-item>
      <v-list-item-avatar height="46" width="46"
          :class="'mr-3 btn-poppage-to-page-'+pageMapPopup.uid">
        <v-img :src="avatarUrl(pageMapPopup.uid)"></v-img>
      </v-list-item-avatar>
      
      <v-list-item-content>

        <v-list-item-title class="headline" style="line-height: 1.3rem;">
          <a href="javascript:" text 
            style="color:white;text-transform:none;font-size:0.7em!important;text-decoration:none;white-space:normal;display:inline;" 
                :class="'pa-0 btn-poppage-to-page-'+pageMapPopup.uid">@{{ pageMapPopup.name }}</a>
        </v-list-item-title>
        
        <v-list-item-subtitle v-show="pageMapPopup.address==null &&  pageMapPopup.city==null">
          <small style="margin-right:10px;"><v-icon x-small>mdi-spider-web</v-icon> {{ iName(pageMapPopup.uid) }}</small>
          <small><v-icon x-small>mdi-map-marker</v-icon> {{ $vuetify.lang.t('$vuetify.map.notLocated') }}</small>
        </v-list-item-subtitle>

        <v-list-item-subtitle v-show="pageMapPopup.address!=null ||  pageMapPopup.city!=null">
          <small style="margin-right:10px;"><v-icon x-small>mdi-spider-web</v-icon> {{ iName(pageMapPopup.uid) }}</small>
          <v-icon x-small style="margin-left:-5px;">mdi-map-marker</v-icon>{{ pageMapPopup.address }} {{ pageMapPopup.city }}
        </v-list-item-subtitle>

      </v-list-item-content>
    </v-list-item>

    <v-bottom-navigation :height="70" v-if="localAssembly.indexOf(pageMapPopup.uid) > -1" 
        style="margin-bottom:15px; border-radius:5px; "
        grow color="primary">
        <v-btn :class="'btn-poppage-to-assembly-'+pageMapPopup.uid">
            <span>{{ $vuetify.lang.t('$vuetify.createSurvey.organizeVote') }}</span>
            <v-icon>mdi-vote-outline</v-icon>
        </v-btn>
    </v-bottom-navigation>
  </div>

  <v-alert small
            v-if="showHelpMsg && $store.state.stream.pages.length > 0"
            style="background-color: rgb(28, 29, 36); position:fixed; right:0px; bottom:0px;" class="mx-3">
    {{ $vuetify.lang.t('$vuetify.assembly.selectAssemblyForSession') }}<br>
    <small>{{$store.state.stream.pages.length}}
    {{ ($store.state.stream.pages.length > 1 ? $vuetify.lang.t('$vuetify.assembly.assembliesAvailable') : $vuetify.lang.t('$vuetify.assembly.assemblyAvailable')) }}
    {{ $vuetify.lang.t('$vuetify.assembly.nearbyBegin') + ' ' + kmMax + ' ' + $vuetify.lang.t('$vuetify.assembly.nearbyEnd') }}
    </small>
    <br>
    <v-row>
      <v-col cols="12">
        <v-btn block class="mt-2"  small color="blue-grey darken-4" @click="startCreateAssembly()">
          <v-icon small class="">mdi-plus</v-icon> 
          <v-icon small class="mr-1">mdi-hexagon-multiple-outline</v-icon> 
          {{ $vuetify.lang.t('$vuetify.assembly.createOne') }}
        </v-btn>
      </v-col>
      <v-col cols="8">
        <v-btn block small class="" outlined color="grey darken-" @click="openPopupInfoAssembly=true">
          <v-icon x-small>mdi-plus-circle</v-icon> {{ $vuetify.lang.t('$vuetify.main.knowMore') }}
        </v-btn>
      </v-col>
      <v-col cols="4" class="">
        <v-btn block small class="" color="purple darken-2" @click="showHelpMsg=false">
          <v-icon small>mdi-check</v-icon> {{ $vuetify.lang.t('$vuetify.main.ok') }}
        </v-btn>
      </v-col>
    </v-row>
  </v-alert>

  <v-alert  small
            v-if="showHelpMsg && $store.state.stream.pages.length == 0"
            style="background-color: rgb(28, 29, 36);position:fixed; right:0px; bottom:0px;" class="mx-3">
    {{ $vuetify.lang.t('$vuetify.assembly.noAssemblyExistsNearbyBegin') + ' ' + kmMax + ' ' + $vuetify.lang.t('$vuetify.assembly.nearbyEnd') }}
    <br>
    <small>
      {{ $vuetify.lang.t('$vuetify.assembly.createFirstInRegion') }}
    </small>
    <br>
    <v-row>
      <v-col cols="5">
        <v-btn block small class="mt-2" color="purple darken-3" @click="openPopupInfoAssembly=true">
          <v-icon x-small class="mr-1">mdi-plus-circle</v-icon> 
          {{ $vuetify.lang.t('$vuetify.main.knowMore') }}
        </v-btn>
      </v-col>
      <v-col cols="7">
        <v-btn block small class="mt-2" color="purple" @click="startCreateAssembly()">
          <v-icon small class="">mdi-plus</v-icon> 
          <v-icon small class="mr-1">mdi-hexagon-multiple-outline</v-icon> 
          {{ $vuetify.lang.t('$vuetify.assembly.createOne') }}
        </v-btn>
      </v-col>
    </v-row>
  </v-alert>

    <ModalInfoAssembly :openPopupInfoAssembly="openPopupInfoAssembly"></ModalInfoAssembly>
</v-row>
</div>

</template>

<style>
  @import "~leaflet/dist/leaflet.css";
  @import "~leaflet.markercluster/dist/MarkerCluster.css";
  @import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

  .leaflet-marker-icon { z-index:2!important; }
</style>

<style scoped>
  .v-btn{
    text-transform: none;
  }
  
</style>

<style>
  #findAssembly .leaflet-marker-icon {
    z-index:500!important;
  }
</style>

<script>

import axios from 'axios'
import router from '../router/router'

import L from 'leaflet';
import {LMap, LTileLayer, LMarker, LCircle, LPopup } from 'vue2-leaflet'
import Vue2LeafletMarkerCluster from 'vue2-leaflet-markercluster'
//import CTP from 'circle-to-polygon';

import core from '../plugins/core.js'
//import nominatim from '../services/nominatim.js'
import ModalInfoAssembly from '@/components/main-layout/modals/ModalInfoAssembly.vue';

import '@/assets/css/main.css';

import haversine from 'haversine-distance'

const config = require('../config/' + process.env.NODE_ENV)

export default {
  name: 'find-assembly',
  props: [],
  components: { LMap, LTileLayer, LMarker, LCircle, LPopup, ModalInfoAssembly,
                'v-marker-cluster' : Vue2LeafletMarkerCluster },
  data:() => ({
      
      zoom:8,
      mapCenter: L.latLng(46.16685851396646, -1.1697435379028323),
      url : config.mapTilesUrl,
      attribution:'&copy; <a href="http://osm.org/copyright">OSM</a>',
      
      markers: null,
      rootMarker: {
        lat: 46.16685851396646,
        lng: -1.1697435379028323,
      },
      rootCircle: {
        radius: 200000
      },
      markerNewAssembly: {
        lat: 46.16685851396646,
        lng: -1.1697435379028323,
      },
      rootRadius: 200,
      rootRadiusMeters: 900,
      kmCurrentMax: 200,
      kmMax: '200',
      kmLimit: 200,
      clusterOptions: { showCoverageOnHover: false, maxClusterRadius: 30 },

      pageMapPopup: {},
      showHelpMsg: false,
      creatingAssembly: false,

      newAssemblyName: '',
      errorNewAssembly: '',
      openPopupInfoAssembly: false,
      localAssembly: [],
      allAssembly: []
  }),
  async mounted(){
    if(window.isDev) { console.log('#MAIN UX MOUNTED') }

    delete L.Icon.Default.prototype._getIconUrl
    L.Icon.Default.mergeOptions({
      iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
      iconUrl: require('leaflet/dist/images/marker-icon.png'),
      shadowUrl: require('leaflet/dist/images/marker-shadow.png')
    })

    await this.$store.dispatch('stream/init')

    this.mapCenter = L.latLng(this.$store.state.auth.profile.coordinates[1], 
                              this.$store.state.auth.profile.coordinates[0])

    //init root marker on the position of the current user loggedIn
    this.rootMarker = { lat: this.$store.state.auth.profile.coordinates[1],
                        lng: this.$store.state.auth.profile.coordinates[0],
                      }

    this.markerNewAssembly = {  lat: this.$store.state.auth.profile.coordinates[1],
                                lng: this.$store.state.auth.profile.coordinates[0],
                              }

    await this.loadAssembly()

    if(this.$route.params.createAssembly == "true"){
      setTimeout(()=>{
        this.startCreateAssembly()
      }, 100)
    }

    core.incStat('/find-assembly')
  },

  methods: {
    loadAssembly: async function(){
      await this.$store.dispatch('stream/initPages') 
      await this.$store.dispatch('stream/fetchPages', { 
                                      pageType: 'assembly',
                                      lat: this.rootMarker.lat, 
                                      lng: this.rootMarker.lng, 
                                      radius: this.rootCircle.radius,
                                  })
      
      const res = await axios.post('/page/get-map-assembly')
      this.allAssembly = res.data.map

      this.updateMarkerLocal()
      this.updateMarkerOther()

      this.showHelpMsg = true
    },
    updateMarkerLocal: function(){
        if(window.isDev) { console.log("#MAIN updateMarkerLocal nbPages:", this.$store.state.stream.pages.length); }
        if(this.$refs.markerCluster == null) return 
        let mks = this.$refs.markerCluster.mapObject
        if(mks != null) mks.clearLayers()
        this.localAssembly = []
        //let cnt = 0
        this.$store.state.stream.pages.forEach((page) => { this.localAssembly.push(page.uid)
          if(page.owner !== this.$store.state.auth.user._id || page.type != "user")
          if(page.coordinates != null){
            //cnt++
            //console.log("#MAIN updateMarkerLocal uid:", page.uid)
            let icon = this.markerIconPage(page.uid)
            //if(window.isDev) { console.log("show page on map", page.name, icon); }
            let marker = L.marker([page.coordinates[1], page.coordinates[0]], { icon: icon })

            marker.on('click', () => {
              if(window.isDev) { console.log("click marker", page.uid); }
              this.pageMapPopup = page
              setTimeout(()=>{
                let popup = document.getElementById("bar-popup-map-pages").innerHTML
                marker.bindPopup("<div id='popup"+page._id+"' style='min-width:300px'>" +
                                    popup + " " +
                                "</div>").openPopup()
                document.getElementsByClassName("btn-poppage-to-page-" + page.uid).forEach((el)=>{
                  el.addEventListener("click", ()=>{
                    router.push("/page/"+page.uid)
                  })
                })
                document.getElementsByClassName("btn-poppage-to-assembly-" + page.uid).forEach((el)=>{
                  el.addEventListener("click", ()=>{
                    router.push("/room/publish/"+page.uid)
                  })
                })
              }, 300)
            })
            mks.addLayer(marker)
          }
        })
    },
    updateMarkerOther: function(){
        if(window.isDev) { console.log("#MAIN updateMarkerOther nbPages:", this.allAssembly) }
        if(this.$refs.markerCluster == null) return 
        let mks = this.$refs.markerCluster.mapObject
        //if(mks != null) mks.clearLayers()
        //let cnt = 0
        this.allAssembly.forEach((page) => {
          if(page.owner !== this.$store.state.auth.user._id || page.type != "user")
          if(page.coordinates != null && this.localAssembly.indexOf(page.uid) == -1){
            //cnt++
            //console.log("#MAIN updateMarkerLocal uid:", page.uid)
            let icon = this.markerIconPage(page.uid)
            //if(window.isDev) { console.log("show page on map", page.name, icon); }
            let marker = L.marker([page.coordinates[1], page.coordinates[0]], { icon: icon })

            marker.on('click', () => {
              if(window.isDev) { console.log("click marker", page.uid); }
              this.pageMapPopup = page
              setTimeout(()=>{
                let popup = document.getElementById("bar-popup-map-pages").innerHTML
                marker.bindPopup("<div id='popup"+page._id+"' style='min-width:300px'>" +
                                    popup + " " +
                                "</div>").openPopup()
                document.getElementsByClassName("btn-poppage-to-page-" + page.uid).forEach((el)=>{
                  el.addEventListener("click", ()=>{
                    router.push("/page/"+page.uid)
                  })
                })
                // document.getElementsByClassName("btn-poppage-to-assembly-" + page.uid).forEach((el)=>{
                //   el.addEventListener("click", ()=>{
                //     router.push("/room/publish/"+page.uid)
                //   })
                // })
              }, 300)
            })
            mks.addLayer(marker)
          }
        })
    },
    markerIconPage: function(uid){
      let avatar = core.avatarUrl(uid) //'markers/icon-popup.png'
      return L.icon({
          iconUrl: avatar, //'markers/root-marker-earth.png',
          iconSize:     [30, 30], // size of the icon
          iconAnchor:   [15, 15], // point of the icon which will correspond to marker's location
          popupAnchor:  [0, -15] // point from which the po
      })
    },
    startCreateAssembly: function(){
      this.creatingAssembly = true
      this.showHelpMsg = false
      this.$refs.markerNewAssembly.mapObject.openPopup()
    },
    markerDrag: function(){
      //console.log("markerDrag")
      let lat = this.markerNewAssembly.lat
      let lng = this.markerNewAssembly.lng
      this.markerNewAssembly.lat = this.$refs.markerNewAssembly.mapObject._latlng.lat
      this.markerNewAssembly.lng = this.$refs.markerNewAssembly.mapObject._latlng.lng
      let innaCircle = this.innaCircle()
      if(!innaCircle){
        this.markerNewAssembly.lat = lat
        this.markerNewAssembly.lng = lng
      }
    },
    markerDragend: function(){
      //console.log("markerDragend")
      let innaCircle = this.innaCircle()
      console.log("innaCircle", innaCircle)
      this.$refs.markerNewAssembly.mapObject.openPopup()
      //this.drawCircle()
    }, 
    saveAssembly: async function(){
      let coords = [this.markerNewAssembly.lng, this.markerNewAssembly.lat]
      const res = await axios.post('/page/create-page', 
                                  { name: this.newAssemblyName, 
                                    description: '', 
                                    type: 'assembly',
                                    coordinates: coords
                                  })

      if(res.data.error == false){
        this.errorNewAssembly = "L'assemblée a bien été créé"
        router.push('/page/'+res.data.page.uid)
      }else{
        this.errorNewAssembly = "Une erreur s'est produite lors de la création de l'assemblée"
      }
    },
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    iName: function(uid){
      return core.iName(uid)
    },
    innaCircle: function() {
        var haversine_m = haversine(this.markerNewAssembly, this.rootMarker)
        //console.log("innaCircle ?", haversine_m, this.rootCircle.radius, haversine_m < this.rootCircle.radius)
        return haversine_m < this.rootCircle.radius
    }

  },

  computed: {
      markerIconRoot: function(){
        let avatar = core.avatarUrl(this.$store.state.auth.profile.uid) //this.$store.state.auth.avatarUrl
        if(window.isDev) { console.log("markerRoot", this.$store.state.auth, avatar); }
        return L.icon({
            iconUrl: avatar, //'markers/root-marker-earth.png',
            iconSize:     [60, 60], // size of the icon
            iconAnchor:   [30, 30], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -30] // point from which the po
        });
      }, 
      markerIconNewAssembly: function(){
        console.log("markerIconNewAssembly")
        //let avatar = core.avatarUrl(this.$store.state.auth.profile.uid) //this.$store.state.auth.avatarUrl
        return L.icon({
            iconUrl: 'markers/default-assembly.png',
            iconSize:     [56, 56], // size of the icon
            iconAnchor:   [28, 28], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -28] // point from which the po
        });
      }, 
  },

}

</script>