<template>
<v-col cols="12" lg="10"  md="8" sm="8" class="mx-auto pa-0" style="max-width:750px;">

<br>
<h2 class="mb-3 text-center font-konkretika">Bienvenue sur Plaanet !</h2>
<p class="text-center">
    <small>Prenons quelques secondes pour faire connaissance...</small>
</p>

<!-- <v-btn block color="primary darken-3" @click="e1++">Suivant<v-icon small>mdi-arrow-right</v-icon></v-btn><br> -->

<v-stepper v-model="e1"  v-if="userPage!=null">
    <v-stepper-header>
      <v-stepper-step :complete="e1 > 1" editable step="1">Position principale</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="e1 > 2" editable step="2">#Hashags</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="3" :complete="e1 > 3" editable>Photo de profil</v-stepper-step>
      
      <v-divider></v-divider>

      <v-stepper-step step="4" :complete="e1 > 4" editable>Premier message</v-stepper-step>
      
    </v-stepper-header>


    <v-stepper-items v-if="userPage != null">

      <v-stepper-content step="1" class="pa-2 pt-5">
        <h3 class="text-center">
          <v-icon>mdi-map-marker</v-icon> Position principale
        </h3>        
        
          <br>
          <p class="px-4">
           > Par défaut, votre position initiale sur celle du serveur que vous avez choisi.
         <br><br>
         > Définissez la position qu vous convient le mieux en saisissant votre ville,
         et en déplaçant l'icône sur la carte pour un placement plus précis.
          </p>
        <FormPosition :userPage="userPage" :showMapParent="false"></FormPosition>
      </v-stepper-content>

      <v-stepper-content step="2">
        <h3 class="text-center">
          <v-icon>mdi-pound-box</v-icon> hashtags
        </h3>        
        <FormTags :page="userPage"></FormTags>
      </v-stepper-content>

      <v-stepper-content step="3">
        <h3 class="text-center">
          <v-icon>mdi-newspaper-variant-multiple</v-icon> Photo de profil
        </h3>
        <br>     
        <h5>
          <v-icon>mdi-chevron-right</v-icon> 
          Souhaitez-vous définir votre première photo de profil ?
        </h5>
        <v-col cols="12" class="py-0">
          <v-card max-width="700" elevation="0" class="mx-auto mt-5" style="border-radius: 4px 4px 0 0;">
            <v-list-item>
              <v-list-item-avatar class="mr-2"
                  v-if="avatarUrl != ''" 
                  height="50" width="50" 
                  @click="startCropper">
                <v-img :src="avatarUrl" 
                      :title="$vuetify.lang.t('$vuetify.page.changeImgProfil')" 
                      class="btn-upload-img-profil"></v-img>
              </v-list-item-avatar>

              <v-btn color="blue darken-2" small @click="startCropper">
                <v-icon>mdi-image</v-icon> changer l'image
              </v-btn>
            </v-list-item>
          </v-card>
        </v-col>
        <Cropper :pageUid="userPage.uid" class="cropper"></Cropper>
      </v-stepper-content>

      <v-stepper-content step="4">
        <h3 class="text-center">
          <v-icon>mdi-newspaper-variant-multiple</v-icon> Publier votre premier message
        </h3>
        <br>     
        <p>
            <v-icon>mdi-chevron-right</v-icon> 
            Souhaitez-vous publier un premier message dès maintenant, 
            pour signaler votre arrivée, et créer un premier contact avec les membres les plus proches de vous ?
        </p>           
        <FormFirstMsg :page="userPage" :streamRadius="300"></FormFirstMsg>
      </v-stepper-content>

      <v-stepper-content step="5">
        <h3 class="text-center success--text mb-3">
          <v-icon color="success">mdi-thumb-up</v-icon> C'est terminé !
        </h3>        
        <v-btn block @click="endFirstStep" 
              color="success">
          <v-icon small>mdi-account</v-icon> accéder à mon compte 
        </v-btn><br>
        
      </v-stepper-content>
    </v-stepper-items>
</v-stepper>

  <br>

  <!-- <v-btn block @click="endFirstStep" :color="e1 == 4 ? 'secondary darken-3' : 'secondary darken-3'">
    <v-icon small>mdi-account</v-icon> accéder à mon compte 
    <v-icon small>mdi-chevron-right</v-icon>
  </v-btn> -->
  
  <br><br>
  
</v-col>
</template>

<style>
/* .header .v-toolbar__content{
  display:none!important;
} */

  .btn.vodal-confirm-btn{
    display: none;
  }
</style>

<script>

import axios from 'axios'
import router from '../router/router'
import core from '../plugins/core.js'

import FormTags from '@/components/page/FormTags.vue'
import FormPosition from '@/components/page/FormPosition.vue'
import FormFirstMsg from '@/components/page/FormFirstMsg.vue'
import Cropper from '@/components/Cropper.vue'

import '@/assets/css/main.css';

export default {
  name: 'empty',
  components: { FormTags, FormPosition, FormFirstMsg, Cropper },
  data: () => ({
    e1: 1,
    user: null,
    userPage: null,
    avatarUrl: ''
  }),
  async mounted(){

    if(this.$store.state.auth.user.step == this.$store.state.auth.user.id){
      //router.push('/stream');
    }
    
    this.updateDataProfile()

    this.$root.$off('nextFirstStep').$on('nextFirstStep', () => { 
        if(window.isDev) { console.log('nextFirstStep FS', this.e1); }
        this.e1 = parseInt(this.e1) + 1
        if(window.isDev) { console.log('nextFirstStep FS', this.e1); }
    })


    this.$root.$on('changeAvatar', (avatarUrl, pageUid) => { 
      if(window.isDev) { console.log('changeAvatar in page', avatarUrl); }
      if(pageUid == this.userPage.uid)
        this.avatarUrl = avatarUrl
        setTimeout(()=>{ this.$root.$emit('nextFirstStep') }, 1000)
    })

  },
  methods: {
    
    async updateDataProfile(){
        if(window.isDev) { console.log("local", this.$store.state.auth.profile.uid); }
      try{
        axios.post('/page/profil', { pageUid: this.$store.state.auth.profile.uid })
            .then( res => {
              if(res.data.error == false){
                this.userPage = res.data.page
                this.avatarUrl = core.avatarUrl(this.userPage.uid)
              }else{
                router.push('/');
              }
            })        
      }catch(e){
        router.push('/login');
      }
    },

    endFirstStep : function(){
      this.$store.commit('auth/update_is_new_user')
      router.push('/stream');
    },

    startCropper: function(){
      var parentDOM = document.getElementById("inspire");
      let el = parentDOM.getElementsByClassName('btn vodal-confirm-btn')[0]
      if(window.isDev) { console.log("starCropper", el); }
      el.click()

      let btn = parentDOM.getElementsByClassName('vodal-cancel-btn')[0]
      setTimeout(()=>{ btn.click() }, 300)
    },


  },
  computed: {
    
    
  }
}
</script>
