<template>

<v-row> 
    <v-col style="max-width:600px; margin:auto; padding:0;">  
        <FormPrivate 
          :preSelectUid="$route.params.uid" 
          :preSelectName="$route.params.name" 
          :hideReceiver="false"
        />
    </v-col>
</v-row>


</template>

<style>
    .container{
        padding-top:0px!important;
    }
    .main-row,
    #contact-drawer{
        height:100%;
    }
    

</style>

<script>

import axios from 'axios'
import FormPrivate from '@/components/private/FormPrivate.vue'
import core from '../plugins/core.js'

//import GetUrls from 'get-urls'

export default {
  name: 'home',
  components: { FormPrivate },
  props: [],
  data:() => ({    
    showTags: false,
    hashtagList: []
  }),
  mounted: function(){
    core.incStat('/private/sendto')
  },
  methods: {
      
      removeUid : function(arr, uid){
        if(window.isDev) { console.log("removeUid", arr, uid); }
        let pos = arr.indexOf(uid)
        arr.splice(pos, 1)
        return arr
      },
      
      addTagNewPost : function(tag){
          let pos = this.searchContentStr.indexOf(tag)
          if(pos > -1){ //tag exist in text
              this.searchContentStr = this.searchContentStr.replace(tag, '')
          }else{ //tag not exist in text
              this.searchContentStr += ' ' + tag
          }
      },

      setReceiver: async function(receiverUid){
        this.$root.$emit('setReceiver', receiverUid);
      },
      extractMeta: async function(){
        //let links = GetUrls(this.postText)
        var matches = this.postText.match(/\bhttps?:\/\/\S+/gi);
        this.embedMetaLinks = []
        if(matches != null)
        matches.forEach(async (link, i) => {
          const res = await axios.post('/publication/extract-meta', 
                                      { link: link })
          if(window.isDev) { console.log("request for", link, i, res); }
          this.embedMetaLinks.push(res.data.embedMetaLink)
        })
        
      },
      removeMetaLink: function(i){
        this.embedMetaLinks.splice(i, 1)
      },
      
      avatarUrlF: function(pageUid){
        return core.avatarUrl(pageUid)
      },
      iName: function(pageUid){
        return core.iName(pageUid)
      }
      
  },
  computed: {
      
  },
}
</script>
