<template>
<div class="homepage">

  <!-- SECTION : HEAD -->
  <v-row class="d-flex home-main-section" style="">
    <img src="../assets/home/bg-section-v2.png" class="d-none d-sm-inline" style="max-width:100%;">
    <img src="../assets/home/bg-section1-xs.png" class="d-sm-none" style="max-width:100%;min-width:100%;">
    <!-- <v-btn style="position:absolute; top: 250px; left:15px;text-transform: none">
      <v-icon small color="white" class="mr-2">mdi-login</v-icon> Se connecter
    </v-btn> -->
    <h1 class="d-none">{{ $vuetify.lang.t('$vuetify.guest.resilienceOrganiseMsg') }}</h1>
  </v-row>

  <v-row>
    <v-col cols="12" class="py-0 d-none d-sm-inline col-btn-header" 
         style="">
      <v-btn @click="joinRebellion()" class="btn-onglet" elevation="0"
              color="red darken-1 mr-2" 
              style="text-transform:none;" >
          <v-icon small color="white">mdi-handshake</v-icon>
          {{ $vuetify.lang.t('$vuetify.home.joinRebellion') }} !
        </v-btn>
        <v-btn to="/manifest" color="primary" class="btn-onglet" 
              style="text-transform:none; background-color:#101c1f;" elevation="0" 
              outlined >
          <v-icon small color="white">mdi-book</v-icon> 
          <span class="white--text">{{ $vuetify.lang.t('$vuetify.home.readTheManifest') }}</span>
          <v-icon small class="ml-2">mdi-arrow-right</v-icon>
        </v-btn>
        <v-btn outlined color="secondary" to="/download-app"  class="btn-onglet ml-2" elevation="0" v-if="!isMobile"
               style="text-transform:none; background-color:#101c1f;"  >
          <v-icon color="white">mdi-android</v-icon>
          <span class="white--text">{{ $vuetify.lang.t('$vuetify.main.InstallApp') }} <span class="d-none d-md-inline"> Android</span></span>
          <v-icon class="ml-2">mdi-cellphone-arrow-down</v-icon> 
        </v-btn>
    </v-col>
    <div class="mt-3 d-sm-none" style="margin-top:-65px!important;padding-left:20px;">
      <v-btn @click="joinRebellion()" 
              color="red darken-1" class=" mb-1 mr-2" 
              small style="text-transform:none;" >
          <v-icon small color="white">mdi-handshake</v-icon>
          {{ $vuetify.lang.t('$vuetify.home.joinRebellion') }} !
        </v-btn>
        <v-btn to="/login" color="blue" class="mb-1 mr-2"
              small  style="text-transform:none;">
          <v-icon small color="" class="mr-1">mdi-login</v-icon>{{ $vuetify.lang.t('$vuetify.login.connectToAccount') }}
        </v-btn>
    </div>
  </v-row>

  <!-- SECTION : VIDEO - un contact permanent -->

  <v-row class="d-flex border-top-primary bg-transparent" v-if="!isMobile && false">
    <v-btn block color="blue" to="/download-app" style="border-radius:0px; text-transform:none; height:110px;text-align:center;font-size:18px;" class="no-text-transform">
      <span style="white-space: normal;">
      <v-icon x-large>mdi-android</v-icon><br>
      <v-icon >mdi-cellphone-arrow-down</v-icon> 
      {{ $vuetify.lang.t('$vuetify.main.DownloadApp') }}<br>Plaanet Android
      </span>
    </v-btn>
  </v-row>

  <v-row class="d-flex border-top-primary bg-transparent" v-if="false">
    <v-col cols="12" class="pa-0 text-center">
      <iframe width="100%" :height="heightIframe" class="mx-auto" id="iframeVid"
              sandbox="allow-same-origin allow-scripts allow-popups" 
              src="https://tube.nocturlab.fr/videos/embed/d3a32bdc-0f49-493d-97ef-1478a85b4e96?subtitle=fr&title=0&warningTitle=0" 
              frameborder="0" allowfullscreen></iframe>
    </v-col>
  </v-row>

  <!-- SECTION : ARTICLE 1 CHARTE -->

  <v-row class="d-flex bg-section-white px-5 black--text" 
        style="padding-top:15px;padding-bottom:30px;">
    <v-col cols="12" class="mx-auto text- ">

      <v-btn outlined block color="secondary darken-2" to="/download-app"  v-if="!isMobile" 
              class=" ml-2 d-sm-none" elevation="0" x-large
              style="text-transform:none;"  >
        <v-icon color="">mdi-android</v-icon>
        <span class="">{{ $vuetify.lang.t('$vuetify.main.InstallApp') }} Android</span>
        <v-icon class="ml-2">mdi-cellphone-arrow-down</v-icon> 
      </v-btn>

      <!-- <br><hr> <br> -->
      <br>
      <h1 class="font-konk text-center">{{ $vuetify.lang.t('$vuetify.login.readManifestText1') }}
      <span class="primary--text">{{ $vuetify.lang.t('$vuetify.login.readManifestText2') }}</span><br>
      {{ $vuetify.lang.t('$vuetify.login.readManifestText3') }} !</h1>
      <br><br>
    </v-col>
    
    <v-col cols="12" md="5" lg="4" class="ml-auto black--text">
      <v-card elevation="4">
      <iframe width="100%" :height="heightIframe" class="mx-auto" id="iframeVid"
                sandbox="allow-same-origin allow-scripts allow-popups" style="margin-bottom: -10px;"
                src="https://tube.nocturlab.fr/videos/embed/d3a32bdc-0f49-493d-97ef-1478a85b4e96?subtitle=fr&title=0&warningTitle=0" 
                frameborder="0" allowfullscreen></iframe>
      </v-card>
    </v-col>

    <v-col cols="12" md="6" lg="4" class="mr-auto">
      <h2 class="font-konk">Plaanet ?</h2>
      <p class="text-left">
        Plaanet est un outil libre dont la raison d’être principale est de favoriser les rencontres physiques et l’organisation locale, dans l’optique du développement de notre résilience et vers une certaine forme d’émancipation collective.
      </p> 

      <v-btn to="/manifest" color="primary" class="ml-auto" 
              style="text-transform:none; background-color:transparent;"  >
        <v-icon small color="">mdi-book</v-icon> 
        <span class="">{{ $vuetify.lang.t('$vuetify.home.readTheManifest') }}</span>
        <v-icon small color="white" class="ml-2">mdi-arrow-right</v-icon>
      </v-btn>
    </v-col>

  </v-row>

  <!-- SECTION : Comment ça marche ? -->

  <v-row class="d-flex border-top-" style="padding-bottom:70px;">
    <v-col cols="12" class="text-center">

      <h3 style="text-transform:uppercase; font-size:30px; width:80%; margin-top:70px;"
          class="font-konk mx-auto mb-5">
        {{ $vuetify.lang.t('$vuetify.login.howDoesItWork') }} ?
      </h3>
    </v-col>

    <v-col cols="12" sm="11" md="11" lg="10" class="mt-5 mx-auto">
      <v-row class="d-flex">
        <v-col cols="12" md="4">
          <v-card class="pa-4" color="rgb(44, 47, 51)">
            <v-btn fab color="primary" style="margin-top:-50px;font-size:1.2em;">1</v-btn>
            <h3 class="font-konk">
              <v-icon color="white">mdi-account-plus-outline</v-icon>
              {{ $vuetify.lang.t('$vuetify.login.Register') }}
            </h3>
            <p style="font-size:0.8em;" class="primary--text">{{ $vuetify.lang.t('$vuetify.login.fastFreeAnonymous') }}</p>
            <p style="font-size:0.84em;">
            {{ $vuetify.lang.t('$vuetify.login.noNeedEmail') }}<br>
            {{ $vuetify.lang.t('$vuetify.login.onlyPseudoAndMapPoint') }}<br><br>
            {{ $vuetify.lang.t('$vuetify.login.realIdentityDoesntMatter') }}<br>
            </p>
            <v-row>
              <v-col cols="12" class="text-right">
              <v-btn @click="joinRebellion()" color="red darken-1" style="text-transform:none;" >
                <v-icon small color="white">mdi-handshake</v-icon>
                {{ $vuetify.lang.t('$vuetify.home.joinRebellion') }} !
              </v-btn>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card class="pa-4" color="rgb(44, 47, 51)">
            <v-btn fab color="primary" style="margin-top:-50px;font-size:1.2em;">2</v-btn>
            <h3 class="font-konk">
              <v-icon color="white">mdi-map-marker</v-icon>
              {{ $vuetify.lang.t('$vuetify.login.localise') }}
            </h3><br>
            <p style="font-size:0.8em;">
              {{ $vuetify.lang.t('$vuetify.login.localiseComment1') }}<br><br>
              {{ $vuetify.lang.t('$vuetify.login.localiseComment2') }}<br><br>

              <span class="red--text">
                <v-icon small color="red">mdi-check</v-icon>{{ $vuetify.lang.t('$vuetify.login.freePositionning') }}<br>
                <v-icon small color="red">mdi-check</v-icon>{{ $vuetify.lang.t('$vuetify.login.noSpying') }}
              </span>

            </p>          
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card class="pa-4" color="rgb(44, 47, 51)">
            <v-btn fab color="primary" style="margin-top:-50px;font-size:1.2em;">3</v-btn>
            <h3 class="font-konk">
              <v-icon color="white">mdi-newspaper-variant-multiple</v-icon>
              {{ $vuetify.lang.t('$vuetify.login.discussAndMeet') }}
            </h3><br>
            <p style="font-size:0.84em;">
              {{ $vuetify.lang.t('$vuetify.login.discussAndMeetComment1') }}<br><br>
              {{ $vuetify.lang.t('$vuetify.login.discussAndMeetComment2') }}
            </p>          
          </v-card>
        </v-col>
      </v-row>
      
    </v-col>
  </v-row>

  <!-- SECTION : Un vrai réseau social adapté aux besoins de la Résistance -->

  <v-row class="d-flex border-top-primary bg-section-darkocean" style=" padding-bottom:70px;">
    <v-col cols="12" md="10" lg="8" class="mx-auto text-center">

      <h3 style="text-transform:uppercase; font-size:30px; width:90%; margin-top:70px;"
          class="font-konk mx-auto">
        <span class="blue--text">{{ $vuetify.lang.t('$vuetify.login.realSocialNetworkBegin') }}</span><br>
        {{ $vuetify.lang.t('$vuetify.login.realSocialNetworkEnd') }}
      </h3>
    </v-col>

    <v-col cols="12" sm="11" md="10" lg="8" class="mt-5 mx-auto">
      <v-row class="d-flex mb-5 px-5 bg-section-darkocean2 bg-section-radius-1">
        <v-col cols="12" md="6">
          <img src="../assets/home/needs1.png" style="max-width:100%;">
        </v-col>
        <v-col cols="12" md="6" class="mt-5">
            <h2 class="font-konk">
              <v-icon color="white">mdi-map-marker-radius-outline</v-icon>
              {{ $vuetify.lang.t('$vuetify.login.LOCATED_MESSAGES') }}
            </h2>
            <p ><br>
              {{ $vuetify.lang.t('$vuetify.login.locatedMessagesComment1') }}
              <br><br>
              {{ $vuetify.lang.t('$vuetify.login.locatedMessagesComment2') }}
            </p>
        </v-col>
      </v-row>

      <!-- MD -->
      <v-row class="d-none d-md-flex pb-5 pt-5">
        <v-col cols="12" md="6" class="mt-5">
            <h2 class="font-konk">
              <v-icon color="white">mdi-map-marker-radius-outline</v-icon>
              {{ $vuetify.lang.t('$vuetify.login.LOCAL_STREAM') }}
            </h2>
            <p><br>
              {{ $vuetify.lang.t('$vuetify.login.localStreamComment1') }}
              <br><br>
              {{ $vuetify.lang.t('$vuetify.login.localStreamComment2') }}
            </p>
        </v-col>
        <v-col cols="12" md="6">
          <img src="../assets/home/needs2.png" style="max-width:100%;">
        </v-col>
      </v-row>
      <!-- XS  -->
      <v-row class="d-md-none pb-5 pt-5">
        <v-col cols="12" md="6">
          <img src="../assets/home/needs2.png" style="max-width:100%;">
        </v-col>
        <v-col cols="12" md="6" class="mt-5">
            <h2 class="font-konk">
              <v-icon color="white">mdi-map-marker-radius-outline</v-icon>
              {{ $vuetify.lang.t('$vuetify.login.LOCAL_STREAM') }}
            </h2>
            <p><br>
              {{ $vuetify.lang.t('$vuetify.login.localStreamComment1') }}
              <br><br>
              {{ $vuetify.lang.t('$vuetify.login.localStreamComment2') }}
            </p>
        </v-col>
      </v-row>

      <v-row class="d-flex mt-5 px-5 bg-section-darkocean2 bg-section-radius-1">
        <v-col cols="12" md="6">
          <img src="../assets/home/needs3.png" style="max-width:100%;">
        </v-col>
        <v-col cols="12" md="6" class="mt-5">
            <h2 class="font-konk">
              <v-icon color="white">mdi-map-marker-radius-outline</v-icon>
              {{ $vuetify.lang.t('$vuetify.login.PRIVATE_MESSAGES') }}
            </h2>
            <p style=""><br>
              {{ $vuetify.lang.t('$vuetify.login.privateMessagesComment') }}
            </p>
        </v-col>
      </v-row>



      <!-- MD -->
      <v-row class="d-none d-md-flex pb-5 pt-5">
        <v-col cols="12" md="6" class="mt-5">
            <h2 class="font-konk">
              <v-icon color="white">mdi-vote</v-icon>
              {{ $vuetify.lang.t('$vuetify.login.ORGANISE_OWN_POOLS') }}
            </h2>
            <p><br>
              <!-- Organisez vos propres sondages et référendums pour recueillir l'avis des membres qui vous entourent.
              <br><br> -->
              <i><b>{{ $vuetify.lang.t('$vuetify.login.discoverAssembliesComment1') }}</b></i>,
              {{ $vuetify.lang.t('$vuetify.login.discoverAssembliesComment2') }}
              
              <!-- C'est à nous de nous donner les moyens de nos ambitions !<br><br> -->
              <br><br><i><b>{{ $vuetify.lang.t('$vuetify.login.discoverAssembliesComment4') }}</b></i>
              <br>
              {{ $vuetify.lang.t('$vuetify.login.discoverAssembliesComment5') }}
            </p>
        </v-col>
        <v-col cols="12" md="6">
          <img src="../assets/home/needs4.png" style="max-width:100%;">
        </v-col>
      </v-row>
      <!-- XS  -->
      <v-row class="d-md-none pb-5 pt-5">
        <v-col cols="12" md="6">
          <img src="../assets/home/needs4.png" style="max-width:100%;">
        </v-col>
        <v-col cols="12" md="6" class="mt-5">
            <h2 class="font-konk">
              <v-icon color="white">mdi-vote</v-icon>
              {{ $vuetify.lang.t('$vuetify.login.ORGANISE_OWN_POOLS') }}
            </h2>
            <p><br>
              <i><b>{{ $vuetify.lang.t('$vuetify.login.discoverAssembliesComment1') }}</b></i> 
              {{ $vuetify.lang.t('$vuetify.login.discoverAssembliesComment2') }}<br><br>
              {{ $vuetify.lang.t('$vuetify.login.discoverAssembliesComment3') }}<br>
              {{ $vuetify.lang.t('$vuetify.login.discoverAssembliesComment4') }}<br>
              {{ $vuetify.lang.t('$vuetify.login.discoverAssembliesComment5') }}<br><br>
              {{ $vuetify.lang.t('$vuetify.login.discoverAssembliesComment6') }}<br>
              {{ $vuetify.lang.t('$vuetify.login.discoverAssembliesComment7') }}
              <!-- C'est à nous de nous donner les moyens de nos ambitions !<br><br> -->
              <br><br><i><b>{{ $vuetify.lang.t('$vuetify.login.discoverAssembliesComment8') }}</b></i>
              <br>
              {{ $vuetify.lang.t('$vuetify.login.discoverAssembliesComment9') }}
            </p>
        </v-col>
      </v-row>
    </v-col>
  </v-row>

  <!-- SECTION : Des pages pour tous vos besoins -->

  <v-row class="d-flex border-top-black bg-section-white" style="padding-bottom:50px;">
    <v-col cols="12" class="text-center">

      <h3 style="text-transform:uppercase; font-size:35px; width:90%; margin-top:40px;"
          class="font-konk mx-auto black--text">
        {{ $vuetify.lang.t('$vuetify.login.pagesForAllYourNeeds') }}
      </h3>
    </v-col>

    <v-col cols="12" sm="11" md="11" lg="10" class="mx-auto">
      <v-row class="d-flex black--text pt-5">
        <v-col cols="12" sm="4" class="text-center">
            <h3 class="font-konk">
              <v-icon large color="black">mdi-account-group</v-icon><br>
              {{ $vuetify.lang.t('$vuetify.login.GROUPS') }}
            </h3><br>
            <p style="font-size:0.84em;">
              {{ $vuetify.lang.t('$vuetify.login.groupComment1') }}<br>
              {{ $vuetify.lang.t('$vuetify.login.groupComment2') }}<br><br>
              {{ $vuetify.lang.t('$vuetify.login.groupComment3') }}<br>
              {{ $vuetify.lang.t('$vuetify.login.groupComment4') }}
            </p>
        </v-col>
        <v-col cols="12" sm="4" class="text-center">
            <h3 class="font-konk">
              <v-icon large color="black">mdi-hexagon-multiple-outline</v-icon><br>
              {{ $vuetify.lang.t('$vuetify.login.ASSEMBLIES') }}
            </h3><br>
            <p style="font-size:0.8em;">
              {{ $vuetify.lang.t('$vuetify.login.assembliesComment1') }}<br>
              {{ $vuetify.lang.t('$vuetify.login.assembliesComment2') }}<br><br>
              {{ $vuetify.lang.t('$vuetify.login.assembliesComment3') }}<br>
              {{ $vuetify.lang.t('$vuetify.login.assembliesComment4') }}
            </p>         
        </v-col>
        <v-col cols="12" sm="4" class="text-center">
            <h3 class="font-konk">
              <v-icon large color="black">mdi-calendar-clock</v-icon><br>
              {{ $vuetify.lang.t('$vuetify.login.EVENTS') }}
            </h3><br>
            <p style="font-size:0.84em;">
              {{ $vuetify.lang.t('$vuetify.login.eventComment1') }}<br>
              {{ $vuetify.lang.t('$vuetify.login.eventComment2') }}<br><br>
              <small>{{ $vuetify.lang.t('$vuetify.login.eventComment3') }}<br>
              {{ $vuetify.lang.t('$vuetify.login.eventComment4') }}
              </small>
            </p>       
        </v-col>
      </v-row>
      
    </v-col>
  </v-row>

  <!-- SECTION : Plaanet est un réseau décentralisé -->

  <v-row class="d-flex border-top-primary px-2 py-4 bg-section-transparent">
    <v-col cols="12" md="6" class="px-2 text-center">
      <v-card outlined color="white" width="560" height="317" class="mx-auto">
      <iframe width="560" height="315" style="max-width:100%" sandbox="allow-same-origin allow-scripts allow-popups" 
                src="https://tube.nocturlab.fr/videos/embed/6168466d-0717-4a9b-90a0-322bc99cb1e1?subtitle=fr&title=0&warningTitle=0" 
                frameborder="0" allowfullscreen></iframe>
      </v-card>
    </v-col>
    <v-col cols="12" md="6" class="px-2 text-center">
      <v-card outlined color="white" width="560" height="317" class="mx-auto">
      <iframe width="560" height="315" style="max-width:100%" sandbox="allow-same-origin allow-scripts allow-popups" 
                src="https://tube.nocturlab.fr/videos/embed/a57a4a67-5811-46d2-9b4b-2de4f4042a6e?subtitle=fr&title=0&warningTitle=0" 
                frameborder="0" allowfullscreen></iframe>
      </v-card>
    </v-col>
  </v-row>

  <!-- SECTION : Plaanet est un réseau décentralisé -->

  <v-row class="d-flex border-top-primary bg-section-darkocean" style="padding-bottom:70px;">
    <v-col cols="12" class="text-center">
      <h3 style="text-transform:uppercase; font-size:25px; width:90%; margin-top:40px;"
          class="font-konk mx-auto">
        <span class="blue--text">{{ $vuetify.lang.t('$vuetify.login.planeetIsNetwork') }} </span> 
        <span class="secondary--text">{{ $vuetify.lang.t('$vuetify.login.decentralised') }} </span><br>
        {{ $vuetify.lang.t('$vuetify.login.openFreeNoAd') }}
      </h3>
    </v-col>
    <v-col cols="12" sm="11" md="11" lg="10" class="mx-auto">
      <v-row class="d-flex  pt-5">
        <v-col cols="12" sm="4" class="text-center">
            <img src="../assets/home/decntz.png" style="max-width:100%; max-height:130px;">
            <h3 class="font-konk">
              {{ $vuetify.lang.t('$vuetify.login.DECENTRALISATION') }}
            </h3><br>
            <p style="font-size:0.84em;">
              {{ $vuetify.lang.t('$vuetify.login.decentralisationComment1') }}
            </p>
            <v-btn outlined color="blue" to="/info-nodes" style="text-transform:none;">
                {{ $vuetify.lang.t('$vuetify.main.KnowMore') }}
            </v-btn>
        </v-col>
        <v-col cols="12" sm="4" class="text-center"><br>
            <img src="../assets/opensource.png" style="max-width:30%; max-height:80px;">
            <img src="../assets/freesoftware.png" style="max-width:15%; max-height:80px; margin-left:5px; margin-bottom:30px;">
            <img src="../assets/gitlab.png" style="max-width:30%; max-height:80px;"><br><br>
              
            <h3 class="font-konk">
              {{ $vuetify.lang.t('$vuetify.login.OPEN_SOURCE') }}
            </h3><br>
            <p style="font-size:0.8em;">
              {{ $vuetify.lang.t('$vuetify.login.opensourceComment1') }}<br>
              {{ $vuetify.lang.t('$vuetify.login.opensourceComment2') }} :
            </p>         
            <v-btn href="https://gitlab.com/plaanet2"
                   target="_blank" outlined color="orange" style="text-transform:none;">
              {{ $vuetify.lang.t('$vuetify.login.ReadCode') }}
            </v-btn>
        </v-col>
        <v-col cols="12" sm="4" class="text-center"><br>
            <img src="../assets/home/priceless.jpg" style="max-width:80%; max-height:80px;"><br><br>
            <h3 class="font-konk">
              {{ $vuetify.lang.t('$vuetify.login.FREE_NO_AD') }}
            </h3><br>
            <p style="font-size:0.84em;">
              {{ $vuetify.lang.t('$vuetify.login.freeNoAdComment1') }}
            </p>       
            <v-btn outlined color="blue" style="text-transform:none;">
              {{ $vuetify.lang.t('$vuetify.login.freeNoAdComment2') }}
            </v-btn>
        </v-col>
      </v-row>
    </v-col>
  </v-row>

  <!-- SECTION : Anonymous -->

  <v-row class="d-flex bg-section-black">
    <v-col cols="12" sm="11" md="10" lg="9" class="mt-5 mx-auto">
      <v-row class="d-flex mb-5">
        <v-col cols="12" md="4" sm="4">
          <img src="../assets/home/anonymous.png" style="max-width:100%;">
        </v-col>
        <v-col cols="12" md="8" sm="8" class="px-5"><br>
            <h2 class="font-konk">
              {{ $vuetify.lang.t('$vuetify.login.personnalDataComment1') }}
            </h2>
            <p style="font-size:0.8em;"><br>
              {{ $vuetify.lang.t('$vuetify.login.personnalDataComment2') }}<br>
              {{ $vuetify.lang.t('$vuetify.login.personnalDataComment3') }}<br>
              {{ $vuetify.lang.t('$vuetify.login.personnalDataComment4') }}<br>
            </p>
        </v-col>
      </v-row>
    </v-col>
  </v-row>

  <!-- SECTION : GITLAB DISCORD - Vous souhaitez nous aider à développer la plateforme ? -->

  <v-row class="d-flex blue--text text--darken-4 bg-section-white">
    <v-col cols="12" class="text-center">
      <h3 style="text-transform:uppercase; font-size:25px; width:90%; margin-top:40px;"
          class="mx-auto font-konk">
        {{ $vuetify.lang.t('$vuetify.login.questionOrHelpComment1') }}<br>
        {{ $vuetify.lang.t('$vuetify.login.questionOrHelpComment2') }}
      </h3>
    </v-col>
    <v-col cols="12" sm="11" md="11" lg="10" class="mt-5 mx-auto">
      <v-row class="d-flex mb-5">
        <v-col cols="12" md="6" class="text-center">
          <a href="https://gitlab.com/plaanet2/plaanet-install/-/project_members">
            <img src="../assets/gitlab.png" style="max-width:100%; max-height:100px;">
          </a>
          <br>
          <p>
            {{ $vuetify.lang.t('$vuetify.login.joinUsOnGitlab') }}
          </p>
          <a class="blue--text text--darken-2" target="_blank"
              href="https://gitlab.com/plaanet2/plaanet-install/-/project_members">
              <small>https://gitlab.com/plaanet2/plaanet-install/-/project_members</small>
          </a>
        </v-col>
        <v-col cols="12" md="6" class="text-center">
          <a  target="_blank"
              href="https://discord.gg/RbPdg7A">
              <img src="../assets/discord-Logo.png" style="max-width:100%; max-height:100px;">
          </a>
          <br>
          <p>
            {{ $vuetify.lang.t('$vuetify.login.joinUsOnDiscord') }}
          </p>
          <a class="blue--text text--darken-2"  target="_blank"
              href="https://discord.gg/RbPdg7A">
              <small>https://discord.gg/RbPdg7A</small>
          </a>
        </v-col>
      </v-row>
    </v-col>
  </v-row>

  <!-- SECTION : Main Footer -->

  <Footer></Footer>

</div>
</template>

<style>
  @import "~leaflet/dist/leaflet.css";
</style>

<script>
import axios from 'axios'
import router from '../router/router'
import core from '../plugins/core.js'

import '@/assets/css/landing.css'
import Footer from '@/components/main-layout/Footer.vue'
const config = require('../config/' + process.env.NODE_ENV)
// import Header from '@/components/home/Header.vue'
// import ModalVideoHome from '@/components/main-layout/modals/ModalVideoHome.vue'

//import FormLogin from '@/components/FormLogin.vue'

export default {
  name: 'home',
  props: [],
  components: { Footer },
  data:() => ({
    rebootInstanceName: '',
    user: null,
    //instance: null,
    isOnNetwork: false,
    network: [],
    networkInited: false,
    currentNodeName: '',
    showMoreInfoNode: false,
    showEnterNetwork: false,
    cityFindNode: '',
    loadPlaces: false,
    name: '',
    password: '',
    showpwd: false,
    places: [],
    isLogin: false,
    resMsg: '',
    resColor: 'green',
    local: 'fr',
    showModalVideoHome: false,
    readCarousel: false,
    heightIframe: 350,
  }),
  async mounted(){
    if(this.$store.state.network.localName){
    //if(localStorage.getItem("iname") != null){
      this.isOnNetwork = true
      this.currentNodeName = this.$store.state.network.localName
    }

    this.heightIframeVid()
    window.addEventListener('resize', this.heightIframeVid)

    core.incStat('/home')
  },

  methods: {
    scrollBottom: function(){
      setTimeout(() => {
        document.getElementsByTagName('html')[0].scrollTop = 
          document.getElementsByTagName('html')[0].offsetHeight
      }, 1)
    },
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    joinRebellion: function(){
      if(localStorage.getItem("signedCharte")){
        if(localStorage.getItem("nodeSelected") === true){
          router.push('/register')
        }else{
          router.push('/select-node')
        }
      }else{
        router.push('/manifest')
      }
    },
    heightIframeVid: function(){
      let iframe = document.getElementById("iframeVid")
      if(iframe == null) return 350

      let w = iframe.offsetWidth 
      console.log("height vid", w, w*9/16)
      this.heightIframe = parseInt(w*9/16)
    },
  },
  computed: {
    
    isMobile(){
      return config.mobileAppVersion != null
    },
    axiosBaseUrl(){ return axios.defaults.baseURL }
  },
}
</script>
