<template>
<div>
<h1 class="d-none">{{ $vuetify.lang.t('$vuetify.info.WhatIsNetworkDecentralisedLikePlaanet') }} ?</h1>
<v-row class="d-flex bg-section-darkocean section" style="padding-top:70px;">
  <v-col cols="12" sm="12" md="12" lg="10" style="position:absolute;right:0px;" class="d-none d-sm-inline">
      <img alt="" src="../assets/centralize_distributed.png" style="float:right;width:60%; margin-top:-60px; padding-right:5%">
  </v-col>
  <v-col cols="12" sm="12" md="8" lg="6">
    <h3 class="font-konk main-txt">
      {{ $vuetify.lang.t('$vuetify.info.WhatIsNetworkDecentralisedPart1') }}<br>
      {{ $vuetify.lang.t('$vuetify.info.WhatIsNetworkDecentralisedPart2') }}
      <span class="primary--text">{{ $vuetify.lang.t('$vuetify.info.WhatIsNetworkDecentralisedPart3') }}</span>
      {{ $vuetify.lang.t('$vuetify.info.WhatIsNetworkDecentralisedPart4') }} ?
    </h3>
    <p class="mt-3">
      <span class="">
        {{ $vuetify.lang.t('$vuetify.info.AnswerWhatIsNetworkDecentralised') }}
      </span>
    </p>
  </v-col>
  <v-col cols="12" sm="12" md="12" lg="10" class="d-sm-none">
      <img alt="" src="../assets/centralize_distributed.png" style="width:100%;">
  </v-col>
</v-row>
    

<v-row class="d-flex bg-section-darkocean2 section">
  <v-col cols="12" sm="4" md="4" class="text-center"><br><br>
      <v-icon class="icon-illu">mdi-server-network</v-icon>
      <v-icon class="icon-illu">mdi-server-network</v-icon>
      <br>
      <v-icon class="icon-illu">mdi-server-network</v-icon>
      <v-icon class="icon-illu">mdi-server-network</v-icon>
      <br>
      <v-icon class="icon-illu" color="primary">mdi-server-network</v-icon>
      <v-icon class="icon-illu">mdi-server-network</v-icon>
  </v-col>
  <v-col cols="12" sm="8" md="8">
    <h3 class="font-konk main-txt">
      {{ $vuetify.lang.t('$vuetify.info.WhatIsServerPart1') }}
      <span class="primary--text">{{ $vuetify.lang.t('$vuetify.info.WhatIsServerPart2') }}</span> ?
    </h3>
    <p class="mt-3">
      <span class="">
        {{ $vuetify.lang.t('$vuetify.info.AnswerWhatIsServer1') }}
        <br><br>
        {{ $vuetify.lang.t('$vuetify.info.AnswerWhatIsServer2') }}
        <br><br><br>
      </span>
    </p>
  </v-col>
</v-row>
    
<v-row class="d-flex bg-section-darkocean section">
  <v-col cols="12" sm="7" md="7">
    <h3 class="font-konk main-txt">
       
      <span class="secondary--text">{{ $vuetify.lang.t('$vuetify.info.HowDoesItWorkPart1') }}</span>
      {{ $vuetify.lang.t('$vuetify.info.HowDoesItWorkPart2') }} ?
    </h3>
    <p class="mt-3">
      <span class="">
        {{ $vuetify.lang.t('$vuetify.info.AnswerHowDoesItWork1') }}
        <br><br>
        {{ $vuetify.lang.t('$vuetify.info.AnswerHowDoesItWork2') }}
      </span>
    </p>
  </v-col>
  <v-col cols="12" sm="5" md="5" class="px-0 text-center"><br><br>
      <v-icon class="icon-illu">mdi-server-network</v-icon>
      <v-icon class="icon-illu" color="secondary">mdi-server-network</v-icon>
      <v-icon class="icon-illu">mdi-server-network</v-icon><br><br>
      <v-btn color="secondary" to="/select-node">
        {{ $vuetify.lang.t('$vuetify.home.selectAServer') }}
        <v-icon style="margin-left:8px;">mdi-arrow-right-circle</v-icon>
      </v-btn>
  </v-col>
</v-row>
    

<v-row class="d-flex bg-section-darkocean2 section">
  <v-col cols="12" sm="5" md="5" class="text-center"><br><br>
      <v-icon style="font-size:150px!important;">mdi-monitor-cellphone</v-icon>
  </v-col>
  <v-col cols="12" sm="7" md="7">
    <h3 class="font-konk main-txt">
      <span class="secondary--text">{{ $vuetify.lang.t('$vuetify.info.WhatDoesItChangePart1') }}</span>
      {{ $vuetify.lang.t('$vuetify.info.WhatDoesItChangePart2') }} ?
    </h3>
    <h2 class="font-konk primary--text">
      {{ $vuetify.lang.t('$vuetify.info.AnswerWhatDoesItChange1') }}
    </h2>
    <p class="mt-3">
      <span class="">
        {{ $vuetify.lang.t('$vuetify.info.AnswerWhatDoesItChange2') }}
      </span>
    </p>
  </v-col>
</v-row>
    

<v-row class="d-flex bg-section-darkocean section">
  <v-col cols="12" sm="7" md="7">
    <h3 class="font-konk main-txt">
      {{ $vuetify.lang.t('$vuetify.info.SoWhatForPart1') }}
      <span class="secondary--text">{{ $vuetify.lang.t('$vuetify.info.SoWhatForPart2') }} </span>
      {{ $vuetify.lang.t('$vuetify.info.SoWhatForPart3') }} ?
    </h3>
    <h2 class="font-konk primary--text">
      {{ $vuetify.lang.t('$vuetify.info.AnswerSoWhatFor1') }}
    </h2>
    <p class="mt-3">
      <span class="">
         {{ $vuetify.lang.t('$vuetify.info.AnswerSoWhatFor2') }}
         <br><br>
         {{ $vuetify.lang.t('$vuetify.info.AnswerSoWhatFor3') }}
         <br><br>
         {{ $vuetify.lang.t('$vuetify.info.AnswerSoWhatFor4') }}
      </span>
    </p>
  </v-col>
  <v-col cols="12" sm="5" md="5" class="text-center"><br><br>
      <v-icon style="font-size:150px!important;">mdi-lock</v-icon>
  </v-col>
</v-row>
    
<!-- <CarouselInfoNodes v-if="false"></CarouselInfoNodes> -->
</div>
</template>

<style>
 
  .container {
      padding-top: 0px !important;
      margin:0px;
      max-width: unset;
  }
</style>

<script>

//import axios from 'axios'
//import router from '../router/router'
import '@/assets/css/landing.css'
import core from '../plugins/core.js'

export default {
  name: 'home',
  components: { }, 
  data:() => ({
    
  }),
  async mounted(){
    core.incStat('/info-nodes')
  },
  methods: {
    
  },
}
</script>
