<template>
  <v-row class="d-flex" justify="center" align="center">
    <v-col class="full-height-centered-col">
      <v-card raised outlined width="468px">
        <v-tabs
          v-model="cardTabs"
          background-color="secondary"
          center-active
          dark
          fixed-tabs
          show-arrows=""
        >
          <v-tab active-class="font-weight-bold">{{ $vuetify.lang.t('$vuetify.guest.inviteFriends') }}</v-tab>
          <v-tab active-class="font-weight-bold">{{ $vuetify.lang.t('$vuetify.guest.statistics') }}</v-tab>
        </v-tabs>
        <v-tabs-items v-model="cardTabs" style="padding:0;">
          <v-tab-item>
            <v-card-title>
              <v-list-item>
                <v-list-item-avatar class="mr-4">
                  <v-avatar>
                    <v-icon color="secondary">mdi-account-heart</v-icon>
                  </v-avatar>
                </v-list-item-avatar>
                <v-list-item-title class="font-weight-bold">
                  {{ $vuetify.lang.t('$vuetify.guest.howToInvite') }}
                </v-list-item-title>
              </v-list-item>
            </v-card-title>
            <v-card-text>
              {{ $vuetify.lang.t('$vuetify.guest.helpInviteLink') }} :
              <br><br>
              <v-chip 
                v-clipboard:copy="referralLink"
                v-clipboard:success="onCopySuccess"
                v-clipboard:error="onCopyError"
                label
                primary--text
                :ripple="true"
                class="font-weight-bold"
                style="cursor:pointer;"
                color="rgba(29, 59, 70, 0.5)"
                text-color="primary"
              >
                {{ referralLink }}
              </v-chip>
              <br><br>
              {{ $vuetify.lang.t('$vuetify.guest.helpHaveNewRecruit') }} ! 
            </v-card-text>
            <div class="actions-center">
              <v-btn
                @click="share"
                primary--text
                large
                class="share-btn"
                color="primary"
                elevation="3"
              >
                <v-icon class="mr-4">mdi-share-variant</v-icon>
                <h3>
                  {{ $vuetify.lang.t('$vuetify.guest.inviteFriends') }} !
                </h3>
              </v-btn>
            </div>
          </v-tab-item>
          <v-tab-item>
            <v-card-title>
              <v-list-item>
                <v-list-item-avatar class="mr-4">
                  <v-avatar>
                    <v-icon color="secondary">mdi-chart-timeline-variant</v-icon>
                  </v-avatar>
                </v-list-item-avatar>
                <v-list-item-title class="font-weight-bold">
                  {{ $vuetify.lang.t('$vuetify.guest.inviteStatistics') }}
                </v-list-item-title>
              </v-list-item>
            </v-card-title>
            <v-card-text>
              <p>
                {{ $vuetify.lang.t('$vuetify.main.featureUnderDevelopment') }}
              </p>
            </v-card-text>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-col>
  </v-row>
</template>

<style scoped>
  .full-height-centered-col {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 88px);
  }
  .actions-center {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  .share-btn {
    padding: 8px 16px;
    margin-bottom: 16px;
  }
</style>

<script>
import {getReferralLink} from '../core/referral/getReferralLink.js';

export default {
  name: 'InviteFriendsPage',
  data: () => ({
    cardTabs: null,
  }),
  computed: {
    referralLink() {
      return getReferralLink(this.$store.state.network.localName, this.$store.state.auth.user._id);
    }
  },


      navigatorShareTitle: 'Plaanet: Le réseau des personnes résilientes',
      navigatorShareMsg: 'Rejoignez la résillience sur Plaanet',
      copyLinkTitle: 'Lien d\'invitation copié dans le presse-papier',
      copyLinkBody: 'Vous pouvez dès maintenant coller le lien',
      copyLinkErrorTitle: 'Impossible de copier le lien',
      copyLinkErrorBody: 'Il semble que votre navigateur n\'autorise pas la copie automatique',


  methods: {
    share() {
      if (navigator.share) {
        console.log('share')
        
        navigator.share({
          title: this.$vuetify.lang.t('$vuetify.guest.navigatorShareTitle'),
          text: this.$vuetify.lang.t('$vuetify.guest.navigatorShareMsg'),
          url: this.referralLink,
        })
          .then(() => console.log('Successful share'))
          .catch((error) => console.log('Error sharing', error));
      } else {
        // TODO: Show share modal
        console.log('share not supported')
      }
    },
    onCopySuccess() {
      this.$store.dispatch('notifications/sendNotification', {
        title: this.$vuetify.lang.t('$vuetify.guest.copyLinkTitle'),
        body: this.$vuetify.lang.t('$vuetify.guest.copyLinkBody'),
        icon: 'mdi-check',
        closable: true,
        appOnly: true,
      })
    },
    onCopyError() {
      this.$store.dispatch('notifications/sendNotification', {
        title: this.$vuetify.lang.t('$vuetify.guest.copyLinkErrorTitle'),
        body: this.$vuetify.lang.t('$vuetify.guest.copyLinkErrorBody'),
        icon: 'mdi-bug',
        closable: true,
        appOnly: true,
      })
    }
  }
}
</script>