<template>
<div id="live">
  <v-row class="d-flex">
    <v-col cols="12" v-if="drawerLiveOpen && $store.state.live.currentPage && ($store.state.live.currentLive != null || $store.state.live.currentPage.type == 'user')"
          class=" pa-0 saloon"
          style="position:fixed; top:60px;">
      <v-list  color="rgb(35, 37, 40)" 
              :style="'width:'+widthListSaloon+'px;'" style="border-radius:0px;" class="pa-0">
        <v-list-item-group>
          <v-list-item 
              class="pt-1 pl-2" :title="$vuetify.lang.t('$vuetify.stream.backToContacts')"
              style="background-color:rgba(0,0,0,0.2);" 
              :to="'/live'">
          <v-list-item-content>
            <v-list-item-title>
              <v-icon color="grey" small class="mr-1">mdi-chevron-left</v-icon>
              <v-list-item-avatar width="24" height="24" class="pa-0 ml-0 mr-1 my-0">
                <img :src="avatarUrl($store.state.auth.profile.uid)">
              </v-list-item-avatar>
              <!-- <v-icon :color="colorPageType" class="mr-1">mdi-{{ iconPageType }}</v-icon>  -->
              <b>{{ $store.state.auth.profile.name }}</b>
            </v-list-item-title>
          </v-list-item-content> 
          </v-list-item>
        </v-list-item-group>
      </v-list>

      <v-list :min-height="heightListContact" :max-height="heightListContact" color="rgb(35, 37, 40)" 
              :style="'width:'+widthListSaloon+'px;'" style="border-radius:0px;" class="pt-0 listContact">
        <v-list-item-group>
          <template v-if="$store.state.live.currentPage.type != 'user'">
            <v-subheader class="pa-3 px-4" style="height:unset;text-transform:uppercase;font-weight:bold">
              <v-list-item-avatar width="40" height="40" class="pa-0 ml-0 mr-0 my-0">
                <img :src="avatarUrl($store.state.live.currentPage.uid)">
              </v-list-item-avatar>
              <span class="pa-3" :class="getColorPageType($store.state.live.currentPage.type)+'--text'">
                {{ $store.state.live.currentPage.name }}
              </span>
            </v-subheader>

            <v-btn x-small class="ml-2 pl-1 px-2" v-if="isModerator || isAdmin"
                  color="blue-grey darken-1" text
                  @click="showInputNewCategory = !showInputNewCategory">              
              <template v-if="!showInputNewCategory">
                <v-icon x-small color="" class="mr-1">mdi-plus</v-icon>
                {{ $vuetify.lang.t('$vuetify.live.createCategory') }}
              </template>
              <template v-else>
                <v-icon color="grey" x-small>mdi-close</v-icon> {{ $vuetify.lang.t('$vuetify.main.cancel') }}
              </template>
            </v-btn>
            <v-text-field v-if="showInputNewCategory" hide-details
                          v-model="newCategoryName"
                          solo class="mx-4 mb-2 mt-2" dense :placeholder="$vuetify.lang.t('$vuetify.live.categoryName')"
                          append-icon="mdi-check"
                          @click:append="createCategory()">
            </v-text-field>
        
            <template v-for="(category, i) in $store.state.live.currentLive.categories">
              <v-subheader style="text-transform:uppercase;" :key="'a'+i" class="px-2 sub-channel">
                <v-icon small color="grey lighten-1" class="mr-1">mdi-chevron-down</v-icon>
                <b>{{ category.name }}</b>
                <v-btn icon small class="ml-2" :title="$vuetify.lang.t('$vuetify.live.createSaloon') + category.name.toUpperCase()"
                        v-if="showInputNewChannel != category.name && (isModerator || isAdmin)" 
                        @click="showInputNewChannel = category.name">
                  <v-icon color="grey" small>mdi-plus</v-icon>
                </v-btn>
                <v-btn text x-small class="ml-2" v-if="showInputNewChannel == category.name"
                      @click="showInputNewChannel = ''">
                  <v-icon color="grey" x-small>mdi-close</v-icon> {{ $vuetify.lang.t('$vuetify.main.cancel') }}
                </v-btn>
                <v-btn icon v-if="isModerator || isAdmin" small class="ml-0 btn-crud-channel" :title="$vuetify.lang.t('$vuetify.live.modifyCategoryName')"
                        @click="editCategory(category.name, category.uid)" @click.native.stop>
                  <v-icon color="grey" x-small>mdi-pencil</v-icon>
                </v-btn>
                <v-btn icon v-if="isModerator || isAdmin" small class="ml-0 btn-crud-channel" :title="$vuetify.lang.t('$vuetify.live.deleteCategory')"
                        @click="deleteCategory(category.uid)" @click.native.stop>
                  <v-icon color="grey" x-small>mdi-delete</v-icon>
                </v-btn>
              </v-subheader>
              <v-text-field v-if="showInputNewChannel == category.name" hide-details
                            v-model="newChannelName"
                            solo class="mx-2 mb-2" dense :placeholder="$vuetify.lang.t('$vuetify.live.saloonName')" :key="'b'+i"
                            append-icon="mdi-check"
                            @click:append="createChannel(category.uid)">
              </v-text-field>
              <v-list-item 
                v-for="(channel) in category.channels" :key="channel.uid"
                small link :style="currentChannelUid == channel.uid ? 'background-color: #b4b4b430;' : ''"
                class="px-2 sub-channel" @click="openChannel(category.uid, channel.uid, channel.name)">
                <v-list-item-content>
                  <v-list-item-title :style="currentChannelUid == channel.uid ? 'color: white;' : ''" class="pl-3 chanel" :class="channel.alert==true?'pending':''">
                    <v-icon small :color="currentChannelUid == channel.uid ? 'white' : 'grey lighten-1'" class="mb-1">mdi-pound</v-icon> 
                    {{ channel.name }}
                  </v-list-item-title>
                </v-list-item-content>

                <v-list-item-action>
                  <v-btn icon v-if="isModerator || isAdmin" x-small 
                          class="ml-0 btn-crud-channel" :title="$vuetify.lang.t('$vuetify.live.modifyCategoryName')"
                          @click="editChannel(channel.name, channel.uid, category.uid)" @click.native.stop>
                    <v-icon color="grey ligthen-2" x-small>mdi-pencil</v-icon>
                  </v-btn>
                </v-list-item-action>
                <v-list-item-action>
                  <v-btn icon v-if="isModerator || isAdmin" x-small 
                          class="ml-0 btn-crud-channel" :title="$vuetify.lang.t('$vuetify.live.deleteCategory')"
                          @click="deleteChannel(channel.uid, category.uid)" @click.native.stop>
                    <v-icon color="grey ligthen-2" x-small>mdi-delete</v-icon>
                  </v-btn>
                </v-list-item-action>
                <v-list-item-action>
                  <v-chip v-if="channel.countMention >= 1" class="px-2" small color="red">
                    <b>{{ channel.countMention }}</b>
                  </v-chip>
                </v-list-item-action>
              </v-list-item>
            </template>
          </template>
          <template v-else>
            <div id="members">
              <span class="d-none">{{ $store.state.live.refreshOnlineDate }}</span>
              <template v-for="(type, t) in getTypeAvailables()">
                <v-subheader :key="type"  style="font-weight:bold;border-top:1px solid #3e3a3a;text-transform:uppercase;">
                  <v-icon small class="ml-2 mr-1">mdi-{{ getIconPageType(type) }}</v-icon> 
                  <v-icon small class="mr-1">mdi-chevron-down</v-icon> 
                  <!-- {{ type }} -->
                  <template v-if="type=='user'">
                    {{ $vuetify.lang.t('$vuetify.pageType.friend') }}s
                  </template>
                  <template v-else>
                    {{ $vuetify.lang.t('$vuetify.pageType.'+type) }}s
                  </template>
                </v-subheader>
                <template v-for="(member) in $store.state.auth.profile.memberPages">
                  <template v-if="member.type == type && member.uid != $store.state.live.currentPage.uid">
                    <v-list-item
                      small link :key="type+member.uid" :title="member.name"
                      class="px-0" :to="'/live/'+member.uid">
                      <v-list-item-content>
                        <v-list-item-title class="pl-3 chanel" :class="classItemTitle(member)">
                          <v-list-item-avatar width="34" height="34" class="pa-0 ml-0 mr-1 my-0" 
                                :class="member.online ? 'online' : ''">
                            <img :src="avatarUrl(member.uid)">
                          </v-list-item-avatar>
                          {{ member.name }}
                        </v-list-item-title>
                      </v-list-item-content>
                      <v-list-item-action v-if="member.alert == true">
                        <!-- <v-chip v-if="member.countMention >= 1" class="ml-2 px-2" small color="red">
                          <b>{{ member.countMention }}</b>
                        </v-chip> -->
                          <v-icon small color="red" class="mr-3">mdi-comment-multiple</v-icon>
                      </v-list-item-action>
                    </v-list-item>
                  </template>
                </template>
                <small class="pl-5 mb-2" :key="t" v-if="noMemberType(type)">
                  <template v-if="type == 'user'">{{ $vuetify.lang.t('$vuetify.live.toDiscussBecomeFriend') }}</template>
                  <template v-if="type == 'event'">{{ $vuetify.lang.t('$vuetify.live.toDiscussJoinGroup') }}</template>
                  <br><br>
                </small>
              </template>
            </div>
          </template>
        </v-list-item-group>
        <span style="display:none;">{{ $store.state.auth.lastCheckLiveNotif }}</span>
        <span class="d-none">{{ $store.state.live.lastMsgDate }}</span>
        
      </v-list>
    </v-col>


    <v-col cols="12" sm="4" md="3" lg="3" v-if="drawerLiveOpen" class=" pa-0">
    </v-col>

    <v-col cols="12" sm="8" md="9" lg="9" class="py-0 px-0"
            :class="!drawerLiveOpen?'drawer-live-close':'drawer-live-open'" 
            id="container-live-conv">
      <v-card elevation="0" class="mx-auto" :min-height="heightConv"
              color="#2F3136" id="main-live-container" style="">

        <div class="d-none">{{ $store.state.live.refreshConvDate }}</div>

        <v-btn x-small text @click="loadMore()" v-if="$store.state.live.currentConversation.length > $store.state.live.convLimit" color="blue" class="my-3">
          <v-icon small>mdi-menu-up</v-icon> {{ $vuetify.lang.t('$vuetify.live.displayMoreMsgBegin') + ' ' + ($store.state.live.convLimit + 1) + ' ' + $vuetify.lang.t('$vuetify.live.displayMoreMsgEnd') }}
        </v-btn>

        <v-col cols="12" v-if="$store.state.live.currentConversation.length > 0 && !$store.state.live.loadingChannel">
          <v-row class="pa-0" v-for="(msg, i) in $store.state.live.currentConversation" :key="i">
            <v-col cols="2" sm="2" md="1" class="pa-0 text-center" style="max-width:50px">
              <v-list-item-avatar width="40" height="40" class="pa-0 mr-3 d-none d-sm-inline-block">
                <img :src="avatarUrl(msg.author.uid)" width="40" height="40">
              </v-list-item-avatar>
              <v-list-item-avatar width="30" height="30" class="pa-0 ma-0 mt-4 mr-1 d-sm-none">
                <img :src="avatarUrl(msg.author.uid)" width="30" height="30">
              </v-list-item-avatar>
            </v-col>
            <v-col cols="9" sm="10" md="11" class="pa-0 pt-4 msg-text-conv">
              <router-link :to="'/page/'+msg.author.uid" class="link-author-name mr-1">{{ msg.author.name }}</router-link>
              <time-ago :datetime="msg.created" :refresh="60" long :locale="$vuetify.lang.current"></time-ago>
              
              <!-- 3 dots -->
              <v-list-item-action class="ml-1 btn-dots-conv" v-if="(isAuthorPost(msg.author.uid) || canDelete())">
                  <v-menu bottom left dark>
                      <template v-slot:activator="{ on }">
                          <v-btn v-on="on" x-small color="grey" icon class="mr-3"><v-icon>mdi-dots-vertical</v-icon></v-btn>
                      </template>
                      <v-list dense>
                          <v-list-item v-if="isAuthorPost(msg.author.uid)"
                                      @click="editLiveMsg(msg.text, msg.uid)"
                                      color="blue" dense>
                              <v-list-item-icon>
                                  <v-icon>mdi-pencil</v-icon>
                              </v-list-item-icon>
                              <v-list-item-title>
                                  {{ $vuetify.lang.t('$vuetify.live.editLiveMsg') }}
                              </v-list-item-title>
                          </v-list-item>
                          <v-list-item v-if="isAuthorPost(msg.author.uid) || canDelete()"
                                      @click="deleteLiveMsg(msg.text, msg.uid)" dense >
                              <v-list-item-icon>
                                  <v-icon color='red'>mdi-delete</v-icon>
                              </v-list-item-icon>
                              <v-list-item-title class="red--text">
                                  {{ $vuetify.lang.t('$vuetify.live.deleteLiveMsg') }}
                              </v-list-item-title>
                          </v-list-item>
                      </v-list>
                  </v-menu>
              </v-list-item-action>

              <div v-html="completeText(msg.text)"></div>
              
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" class="text-center" v-else>
          <template v-if="$store.state.live.currentConversation.length == 0">
            <v-chip class="mt-5" v-if="currentChannelUid != null"><v-icon>mdi-ban</v-icon> {{ $vuetify.lang.t('$vuetify.live.noMsgInSaloon') }}</v-chip>
            <v-skeleton-loader v-if="currentChannelUid == null && $store.state.live.loadingChannel"
                               type="list-item-avatar-three-line" class="mb-2"
            ></v-skeleton-loader>
          </template>
          <template v-else>
            <v-skeleton-loader class="mb-2" type="list-item-avatar-three-line"></v-skeleton-loader>
          </template>

          <div class="text-center mt-5" v-if="currentChannelUid == null && $store.state.auth.countUnreadLiveMsg > 0">
            <br>
            <h4 class="red--text text--darken-2">
            <!-- <v-icon style="" class="" :color="'red'">
                   mdi-chevron-down
            </v-icon>  -->
            <v-icon style="" small class="" :color="'red darken-2'">
                   mdi-comment-multiple
            </v-icon> 
              {{ $vuetify.lang.t('$vuetify.live.newMsgReceived') }}
            </h4>
            <small class="red--text text--darken-1">
              {{ $vuetify.lang.t('$vuetify.live.in')  + ' ' + $store.state.auth.countUnreadLiveMsg }} 
              {{  $store.state.auth.countUnreadLiveMsg > 1 ? $vuetify.lang.t('$vuetify.live.conversations') : $vuetify.lang.t('$vuetify.live.conversation') }}
            </small><br><br>
            <v-row flex>
              <template v-for="(member) in $store.state.auth.profile.memberPages">
                <v-col cols="12" sm="12" md="6" lg="4" :key="member.uid" v-if="member.alert == true" class="mx-auto">
                  <v-card class="pa-4 text-center" :to="'/live/'+member.uid">
                    <img :src="avatarUrl(member.uid)" height="70" width="70"><br>
                    {{ member.name }}<br>
                    <small><v-icon small color="grey lighten-1" class="mb-1" v-if="member.city">mdi-map-marker</v-icon> {{ member.city }}</small><br>

                  </v-card>
                </v-col>
              </template>
            </v-row>
          </div>

          <div class="text-center" v-else-if="currentChannelUid == null && !$store.state.live.isLoading">
            <br>
            <h4>
            <v-icon style="" small class="">
                   mdi-comment-multiple
            </v-icon> 
              {{ $vuetify.lang.t('$vuetify.live.noNewMsg') }}
            </h4>
            <small>{{ $vuetify.lang.t('$vuetify.live.selectContactToDiscuss') }}</small>
          </div>
        </v-col>
        <!-- <v-textarea class="main-live-textbar" 
                  dense outlined auto-grow
                  background-color="grey darken-3"></v-textarea> -->
      </v-card>


      <v-toolbar dense flat class="pt-1 pr-5" 
                  style="position:fixed; top:61px; height:51px;" 
                  v-if="$store.state.live.currentPage != null"
                  :width="widthConv+32">
        <v-app-bar-nav-icon @click="drawerLiveOpen = !drawerLiveOpen" class="ml-1"></v-app-bar-nav-icon>

        <v-toolbar-title class="pl-1">
          <template v-if="$store.state.live.currentDestPage == null && $store.state.live.currentPage.uid != $store.state.auth.profile.uid">
            <v-icon small color="grey lighten-1" class="mb-1">mdi-pound</v-icon> 
            {{ currentChannelName }}
            <small><small class="pl-2">
            <router-link :to="'/page/'+$store.state.live.currentPage.uid"  :class="colorPageType + '--text'">
              <v-icon x-small ml-2 :color="colorPageType">mdi-{{ getIconPageType($store.state.live.currentPage.type) }}</v-icon>
              {{ $store.state.live.currentPage.name }}
            </router-link>
            </small></small>
          </template>
          <template v-else-if="$store.state.live.currentDestPage == null && $store.state.live.currentPage.uid == $store.state.auth.profile.uid">
            <v-list-item-avatar width="25" height="25" class="pa-0 mr-0">
              <img :src="avatarUrl($store.state.live.currentPage.uid)">
            </v-list-item-avatar>
            {{ $vuetify.lang.t('$vuetify.live.privateMessaging') }}
            <!-- {{ $store.state.live.currentPage.name }} -->
          </template>
          <router-link v-else class="white--text" :to="'/page/'+$store.state.live.currentDestPage.uid" 
                      :title="'cliquer pour afficher la page perso de '+$store.state.live.currentDestPage.name">
            <v-list-item-avatar width="25" height="25" class="pa-0 mr-0">
              <img :src="avatarUrl($store.state.live.currentDestPage.uid)">
            </v-list-item-avatar>
            {{ $store.state.live.currentDestPage.name }}
          </router-link>
        </v-toolbar-title>

        <v-btn :class="$store.state.live.currentPage.type != 'user' ? 'btn-refresh' : ''" class="ml-2"
               icon small @click="updateLiveData(true)" :loading="$store.state.live.isLoading"> 
          <v-icon small color="grey">mdi-refresh</v-icon>
        </v-btn>
  
        <v-spacer></v-spacer>

        <v-btn icon @click="showLiveMemberList=!showLiveMemberList">
          <v-icon small>mdi-account-multiple</v-icon>
        </v-btn>

      </v-toolbar>
      <v-toolbar v-if="$store.state.live.lastMsgNotRead != null && showMsgNotRead" 
                  dense flat class="px-3 elipsis" id="lastMsgNotRead"
                  style="position:fixed; top:106px;font-size:11px;" 
                  height="42" :width="widthConv+32"
                  @click="openLastMsg()">
        <div class="pb-3 mt-4" style="font-size:1.1em;">
          <v-icon class="ml-1 mr-4" style="transform: rotate(180deg);">mdi-reply</v-icon>
          <v-list-item-avatar width="25" height="25" class="pa-0 mx-0" style="margin-top:-2px;">
            <img :src="avatarUrl($store.state.live.lastMsgNotRead.author.uid)">
          </v-list-item-avatar>
          <span class="ml-1">
            <b>{{ $store.state.live.lastMsgNotRead.author.name }}</b> 
            {{ $store.state.live.lastMsgNotRead.text }}
            <span class="ml-2 grey--text" style="font-size:1.1em;">
              <template v-if="$store.state.live.lastMsgNotRead.livePageType != 'user'">
                #{{ $store.state.live.lastMsgNotRead.channelName }}
              </template>
                @{{ $store.state.live.lastMsgNotRead.livePageName }}
                
            </span>
          </span>
        </div>
      </v-toolbar>
    </v-col>
    
  </v-row>

  <v-navigation-drawer fixed right class="d-none d-sm-inline"
                       permanent expand-on-hover>
    <DrawerRight></DrawerRight>
  </v-navigation-drawer>

  <v-navigation-drawer fixed right class="d-sm-none" v-model="showLiveMemberList">
    <DrawerRight></DrawerRight>
  </v-navigation-drawer>

  <div :class="!drawerLiveOpen?'':'drawer-live-open'"  class="main-live-textbar">
    <v-card v-if="showMentionList && $store.state.live.currentPage != null" 
            style="overflow-y:auto; margin-bottom:-5px; padding-bottom:5px;">
      <v-list max-height="220">
        <template v-for="(page, p) in $store.state.live.currentPage.roles.editor.filter(page => mentionMatch(page.name))">
          <v-list-item dense :key="p" 
                      @click="validateMention(page)"
                      :class="p == inxSelectMention ? 'selected' : ''">
            <v-list-item-content>@{{ page.name }}</v-list-item-content>
            <v-list-item-action :key="page.uid"><small class="grey--text">{{ page.uid }}</small></v-list-item-action>
          </v-list-item>
        </template>

        <v-list-item dense v-if="$store.state.live.currentPage.roles.editor.filter(page => mentionMatch(page.name)).length == 0">
          <v-list-item-content>{{ $vuetify.lang.t('$vuetify.stream.noResult') }}</v-list-item-content>
        </v-list-item>
        
      </v-list>
    </v-card>

    <v-textarea color="primary" solo auto-grow flat v-if="$store.state.live.currentChannelUid != null"
                :label="sendingMsg ? $vuetify.lang.t('$vuetify.live.sendOnGoing') : $vuetify.lang.t('$vuetify.live.sendMessage')"
                rows="1" class="live-textarea"
                prepend-inner-icon="mdi-comment"
                :value="newMsgText"
                :style="'width:'+widthInputText+'px;'"
                background-color="#3F444A"
                ref="textarea" :loading="sendingMsg"
                @click="keyuped"
                @keypress="keypressed"
                @keyup="keyuped"
                @keypress.enter.exact.prevent="validateMsg()"
                @keydown.up.exact="selectMentionUp($event)"
                @keydown.down.exact="selectMentionDown($event)"
                @keydown.esc.exact="showMentionList = false"
                @focusout="focusoutNewmsg"
                @focusin="keyuped"
                spellcheck="false"
                >
      <template
          v-if="currentDestPage && currentDestPage.publicPGPKey && currentDestPage.publicPGPKey.length"
          slot="append"  >
        <v-icon
            @click="isCrypted = !isCrypted"
            :style="isCrypted ? { 'color': 'green' } : {}"
            style="margin-right: 10px;"
        >mdi-key</v-icon>
      </template>
      <template
          slot="append">
        <v-icon @click="validateMsg()"
        >mdi-send</v-icon>
      </template>
    </v-textarea>

  </div>
  <div v-show="false">{{ updateProfile }}</div>

  <ModalManageLive :showEditChannel="showEditChannel"
                   :showEditCategory="showEditCategory"
                   :showDeleteChannel="showDeleteChannel"
                   :showDeleteCategory="showDeleteCategory"
                   :catName="catName"
                   :catUid="catUid"
                   :chanName="chanName"
                   :chanUid="chanUid"
                   :updateLiveData="updateLiveData"></ModalManageLive>
  
  <ModalManageLiveMsg :showEditLiveMsg="showEditLiveMsg"
                      :showDeleteLiveMsg="showDeleteLiveMsg"
                      :updateLiveData="updateLiveData"></ModalManageLiveMsg>
</div>
</template>

<style scoped>
  
</style>

<style>

  .container{
    max-width: 100%;
    padding-top:0px;
    padding-bottom:0px;
  }
  
</style>

<script>

import '@/assets/css/live.css';

//import axios from 'axios'
//import router from '../router/router'
import core from '../plugins/core.js'

import ModalManageLive from '@/components/live/ModalManageLive.vue'
import ModalManageLiveMsg from '@/components/live/ModalManageLiveMsg.vue'
import DrawerRight from '@/components/live/DrawerRight.vue'
import * as openpgp from 'openpgp';
import TimeAgo from 'vue2-timeago'

export default {
  name: 'home',
  props: [],
  components: { TimeAgo, ModalManageLive, ModalManageLiveMsg, DrawerRight },
  data() {
    return {
    isCrypted: false,
    currentDestPage: null,
    page: null,
    heightListContact: 0,
    heightConv: 0,
    widthConv: 0,
    widthListSaloon: 0,
    widthInputText: 0,
    drawerLiveOpen: true,
    newMsgText: "",
    newMsgText2: "",
    conversation: [],
    saloon: [this.$vuetify.lang.t('$vuetify.live.receptionDesk'), this.$vuetify.lang.t('$vuetify.live.general'), this.$vuetify.lang.t('$vuetify.live.news'), this.$vuetify.lang.t('$vuetify.live.helloAll')],
    lastKeyPress: '',
    showInputNewChannel: '',
    showMentionList: false,
    currentDestUid: null,

    currentCategoryUid: null,
    currentChannelUid: null,
    currentMention: '',
    newChannelName: '',
    currentChannelName: '',
    showMsgNotRead: false,
    timeoutMSR: null,
    showInputNewCategory: false,
    newCategoryName: "",

    showEditChannel: false,
    showEditCategory: false,
    showDeleteChannel: false,
    showDeleteCategory: false,

    chanName: "",
    chanUid: "",
    catName: "",
    catUid: "",

    showEditLiveMsg: false,
    showDeleteLiveMsg: false,
    
    showLiveMemberList: false,
    sendingMsg: false,

    rulesTxtareaEditPost: [v => v.length <= 5000 || this.$vuetify.lang.t('$vuetify.post.maxMsg5Label')],
    inxSelectMention: 0,
    }
  },
  async mounted(){
    //console.log("#LIVE mounted")

    this.calcSizeUI()
    window.addEventListener("resize", ()=>{ this.calcSizeUI() });

    this.$store.dispatch("app/setDrawerOpen", false)

    this.updateLiveData()

    this.$root.$off('scrollBottom').$on('scrollBottom', async () => {
        this.scrollBottom()
    })

    core.incStat('/live')
  },

  methods: {

    async updateLiveData(keepSameChannel=false){
      console.log("#LIVE updateLiveData")
      this.$store.state.live.currentPageNumber = 1
      this.currentDestUid = null
      if(window.innerWidth <= 600) this.drawerLiveOpen = false

      let pageUid = this.$route.params.pageUid
      if(pageUid == null) pageUid = this.$store.state.auth.profile.uid
      else this.currentDestUid = pageUid
      let live = await this.$store.dispatch('live/fetchLive', { pageUid: pageUid, 
                                                                categoryUid: this.$route.params.categoryUid, 
                                                                channelUid: this.$route.params.channelUid,
                                                                keepSameChannel: keepSameChannel })
      try {
        await openpgp.readKey({ armoredKey: this.currentDestPage.publicPGPKey });
        this.currentDestPage = this.$store.state.live.currentDestPage;
      } catch (e) {
        console.log('NO PGP KEY VALID');
      }

      if(live == null){
        //console.log("############################## return to /live")
        //this.$router.push('/live')
      }
        
      this.scrollBottom()
      this.calcSizeUI()

      let newRoute = '/live/'+this.$route.params.pageUid
      if(this.$route.params.pageUid != null && newRoute != this.$route.path)
      this.$router.push('/live/'+this.$route.params.pageUid)

    },

    async loadMore(){
      this.$store.dispatch("live/loadMoreConversation")
      ///live/get-conversation
    },
    calcSizeUI: function(){
      this.heightListContact = window.innerHeight - 112
      this.heightConv = window.innerHeight - 60
      if(document.querySelectorAll('#container-live-conv').item(0) == null) return
      this.widthConv = document.querySelectorAll('#container-live-conv').item(0).offsetWidth - 31
      this.widthListSaloon =  document.querySelectorAll('.v-content__wrap').item(0).offsetWidth - 
                              document.querySelectorAll('#container-live-conv').item(0).offsetWidth
      
      this.widthInputText = this.widthConv
      this.widthInputText = this.widthConv - 70

    },
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid, false)
    },
    alertMe: function(str){
      alert(str)
    },
    focusoutNewmsg: function(){
      setTimeout(()=>{ this.showMentionList = false }, 200)
    },
    keypressed: function(event){ 
      if(event.key != "Enter")
        this.inxSelectMention = 0
    },
    keyuped: function(event){

      let eKey = event != null ? event.key : ""

      if(eKey == " " || eKey == "") this.showMentionList = false 

      const textarea = this.$refs.textarea.$refs.input
      let newMsgText = event != null ? textarea.value : this.newMsgText
      let atPos = newMsgText.lastIndexOf("@", textarea.selectionStart)
      let spacePos = newMsgText.lastIndexOf(" ", textarea.selectionStart)
      
      if(eKey == "@" || atPos >= 0 && atPos > spacePos){
        this.showMentionList = true
      }else if(eKey != "@" && (atPos >= 0 && atPos > spacePos)) {
        this.showMentionList = true
      }else{
        this.showMentionList = false
      }

      if(this.showMentionList){
        if(atPos >= 0 && atPos > spacePos){
          this.currentMention = newMsgText.substr(atPos, textarea.selectionStart - atPos)
        }
      }
    },
    selectMentionUp: function(event){
      if(this.showMentionList)
        event.preventDefault()
        
      if(this.inxSelectMention > 0)
        this.inxSelectMention = this.inxSelectMention - 1
    },
    selectMentionDown: function(event){
      if(this.showMentionList)
        event.preventDefault()

      let count = 0
      this.$store.state.live.currentPage.roles.editor.forEach((page) => {
        if(this.mentionMatch(page.name)) count++
      })
      if(this.inxSelectMention < count - 1)
        this.inxSelectMention = this.inxSelectMention + 1
    },

    validateMention: function(page){

      console.log("validateMention", page)
      
      const textarea = this.$refs.textarea.$refs.input
      this.newMsgText = textarea.value
      let atPos = this.newMsgText.lastIndexOf("@", textarea.selectionStart) +1
      let start = this.newMsgText.substr(0, atPos)
      let end = this.newMsgText.substr(textarea.selectionStart, this.newMsgText.lenght)

      let pageName = page.name
      while(pageName.indexOf(' ')>-1){ pageName = pageName.replace(' ', '_') }
      
      this.newMsgText = start + pageName + ' ' + end
      this.showMentionList = false
      this.$refs.textarea.$refs.input.focus()
    },
    validateMsg: function(){
      if(this.showMentionList){
        let mention = null
        let matches = this.$store.state.live.currentPage.roles.editor.filter(page => this.mentionMatch(page.name))

        matches.forEach((page, inx) => {
          if(this.inxSelectMention == inx) mention = page 
        })

        if(mention != null){
          const textarea = this.$refs.textarea.$refs.input
          this.newMsgText = textarea.value
          this.validateMention(mention)
        }
      }else{
        const textarea = this.$refs.textarea.$refs.input
        this.newMsgText = textarea.value
        this.inxSelectMention = 0
        this.sendMsg()
      }
    },
    sendMsg: async function(){
      let msg = this.newMsgText
      if(msg == "" || this.sendingMsg) return 
      this.sendingMsg = true
            
      setTimeout(()=>{ 
        this.newMsgText = ""
        this.scrollBottom() 
      }, 100)


      let mentions = this.getMentionToSend()


      let encryptedMsg;
      if (this.isCrypted && this.currentDestPage.publicPGPKey && this.currentDestPage.publicPGPKey.length) {
         const publicKey = await openpgp.readKey({ armoredKey: this.currentDestPage.publicPGPKey });
         encryptedMsg = await openpgp.encrypt({
          message: await openpgp.createMessage({ text: msg }),
          encryptionKeys: publicKey,
        });
      }

      await this.$store.dispatch('live/sendMessage', 
                  { liveUid: this.$store.state.live.currentLive.uid,
                    categoryUid: this.$store.state.live.currentCategoryUid,
                    channelUid: this.$store.state.live.currentChannelUid,
                    text: encryptedMsg || msg,
                    mentions: mentions,
                    toPageUid: this.currentDestUid
                  })
                  
      this.sendingMsg = false
      this.scrollBottom() 
    },
    getMentionToSend: function(){
      let final = []
      let mentions = this.newMsgText.match(/(@[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ_\d-]+)/ig);
      if(mentions != null && mentions.length > 0)
      mentions.forEach((mention)=>{
          this.$store.state.live.currentPage.roles.editor.forEach((member)=>{
            let n = "@" + member.name.replace(' ', '_')
            console.log("getMentionToSend", n, mention)
            if(n == mention) final.push({ uid: member.uid, date: new Date() })
          })
      })
      //console.log("getMentionToSend", final)
      return final
    },
    openChannel: async function(categoryUid, channelUid, channelName){
      this.currentChannelName = channelName
      this.currentChannelUid = channelUid

      if(window.innerWidth <= 600) this.drawerLiveOpen = false
      
      await this.$store.dispatch('live/openChannel', {  
                      liveUid: this.$store.state.live.currentLive.uid,
                      categoryUid: categoryUid, 
                      channelUid: channelUid })
    },
    createChannel: async function(categoryUid){
      await this.$store.dispatch('live/createChannel', {  
                      liveUid: this.$store.state.live.currentLive.uid,
                      categoryUid: categoryUid, 
                      channelName: this.newChannelName })
      this.showInputNewChannel = ''
      this.newChannelName = ''
    },
    createCategory: async function(){
      console.log("createCategory")
      await this.$store.dispatch('live/createCategory', {  
                      liveUid: this.$store.state.live.currentLive.uid,
                      categoryName: this.newCategoryName })
      this.showInputNewCategory = false
      this.newCategoryName = ''
    },
    deleteChannel: async function(chanUid, catUid){
      console.log("deleteChannel", chanUid)
      this.$root.$emit('sDeleteChannel', chanUid, catUid);
      
    },
    deleteCategory: async function(catUid){
      console.log("deleteCategory", catUid)
      this.$root.$emit('sDeleteCategory', catUid);
    },
    editChannel: async function(chanName, chanUid, catUid){
      console.log("editChannel", chanUid)
      this.$root.$emit('sEditChannel', chanName, chanUid, catUid);
      
    },
    editCategory: async function(catName, catUid){
      console.log("editCategory", catUid)
      this.$root.$emit('sEditCategory', catName, catUid);
    },
    editLiveMsg: async function(msgTxt, msgUid){
      console.log("editLiveMsg", msgTxt, msgUid)
      this.$root.$emit('sEditLiveMsg', msgTxt, msgUid);
    },
    deleteLiveMsg: async function(msgTxt, msgUid){
      console.log("deleteLiveMsg", msgTxt, msgUid)
      this.$root.$emit('sDeleteLiveMsg', msgTxt, msgUid);
    },
    scrollBottom: function(){
      setTimeout(() => {
        document.getElementsByTagName('html')[0].scrollTop = 
          document.getElementsByTagName('html')[0].offsetHeight
      }, 1)
    },
    completeText: function(text){
        return core.completeText(text)
    },
    channelAlert: function(channel){
      console.log("channel.dateLastOpen", channel.dateLastOpen)
      if(channel.dateLastOpen == null) return true
      let res = true
      channel.dateLastOpen.forEach((data)=>{
        if(data.uid == this.$store.state.auth.profile.uid){
          //console.log("check date last open", data.date, channel.dateLastMsg, data.date > channel.dateLastMsg)
          if(data.date > channel.dateLastMsg){
            res = false
          }
        }
      })
      return res
    },
    mentionMatch: function(pageName){
      let name = "@"+pageName.toLowerCase().trim()
      let regx = new RegExp(".*"+this.currentMention.toLowerCase().trim(), "i")
      let m = regx.test(name);
      //console.log("mentionMatch", name, regx, m)
      return m
    },
    focusoutTxt: function(){ setTimeout(()=>{ this.showMentionList=false }, 500) },
    iName: function(uid){ return core.iName(uid) },

    classItemTitle: function(member){
      if(this.$store.state.live.currentDestPage == null) return ''
      let c = member.alert==true?'pending':''
      c += member.uid==this.$store.state.live.currentDestPage.uid ? ' selected' : ''
      return c
    },

    getIconPageType: function(type){
      return core.iconPageType(type)
    },
    getTypeAvailables: function(){
      let types = []
      this.$store.state.auth.profile.memberPages.forEach((member)=>{
        if(types.indexOf(member.type) < 0) types.push(member.type)
      })
      return types
    },
    getColorPageType: function(type){
      if(type == "user") return ""
      return core.colorPageType(type)
    },
    isAuthorPost: function(authorUid){
      return this.$store.state.auth.profile.uid == authorUid
    },
    canDelete: function(){
      return this.$store.state.live.currentPage.type != 'user' && (this.isModerator || this.isAdmin)
    },
    noMemberType: function(type){
      let c=0
      this.$store.state.auth.profile.memberPages.forEach((member)=>{
        //console.log("checkType", member.type, type)
        if(member.type == type && member.uid != this.$store.state.auth.profile.uid) c++
      })
      return c==0
    },
    openLastMsg: function(){
      if(this.$store.state.live.lastMsgNotRead == null) return 
      this.showMsgNotRead = false
      let foreignLiveUid = this.$store.state.live.lastMsgNotRead.parentPageUid.replace(this.$store.state.auth.profile.uid, '')
      this.$router.push('/live/'+foreignLiveUid+"/"+this.$store.state.live.lastMsgNotRead.categoryUid+"/"+this.$store.state.live.lastMsgNotRead.channelUid)
    }

  },
  computed: {
    updateProfile : function(){
      if(this.$store.state.live.currentPage != null 
      && this.$store.state.live.currentPage.uid != this.$route.params.pageUid
      && this.$store.state.live.currentPage.type != 'user'){
        console.log("LOAD AGAIN ?", this.$store.state.live.currentLive)
        //this.updateLiveData()
      }

      return this.$route.params.pageUid
    },
    iconPageType: function(){
      return core.iconPageType(this.$store.state.live.currentPage.type)
    },
    colorPageType: function(){
      if(this.$store.state.live.currentPage == null || this.$store.state.live.currentPage.type == "user") return ""
      return core.colorPageType(this.$store.state.live.currentPage.type)
    },
    isAdmin: function(){
        return core.isRole(this.$store.state.auth.profile.uid, 
                            this.$store.state.live.currentPage, 'admin')
    },
    isModerator: function(){
        return core.isRole(this.$store.state.auth.profile.uid, 
                            this.$store.state.live.currentPage, 'moderator')
    },
    isEditor: function(){
        return core.isRole(this.$store.state.auth.profile.uid, 
                            this.$store.state.live.currentPage, 'editor')
    },
  },

  watch: {
    drawerLiveOpen: {
      // the callback will be called immediately after the start of the observation
      immediate: true, 
      handler () {
          setTimeout(()=>{ this.calcSizeUI() }, 1)
          
      }
    },
    '$route.params.pageUid': {
      // the callback will be called immediately after the start of the observation
      immediate: true, 
      handler () {
        //console.log("#LIVE watch $route.params.pageUid")
        this.updateLiveData()
        core.incStat('/live')
      }
    },
    '$route.params.categoryUid': {
      // the callback will be called immediately after the start of the observation
      immediate: true, 
      handler () {
        //console.log("#LIVE watch $route.params.categoryUid")
        if(this.$route.params.categoryUid != null) this.updateLiveData()
      }
    },
    '$route.params.channelUid': {
      // the callback will be called immediately after the start of the observation
      immediate: true, 
      handler () {
        //console.log("#LIVE watch $route.params.channelUid")
        if(this.$route.params.channelUid != null) this.updateLiveData()
      }
    },
    /*'$route.params.channelUserUid': {
      // the callback will be called immediately after the start of the observation
      immediate: true, 
      handler () {
        if(this.$store.state.live.currentPage == null) return
        console.log("#LIVE watch $route.params.channelUserUid", 
        this.$route.params.pageUid , this.$store.state.live.currentPage.uid)

        if(this.$route.params.channelUserUid == this.$store.state.live.currentPage.uid) return
        console.log("#LIVE watch $route.params.channelUserUid")
        this.openLive(this.$route.params.channelUserUid)
      }
    },*/
    '$store.state.live.currentChannelUid': {
      // the callback will be called immediately after the start of the observation
      immediate: true, 
      handler () {
        this.currentChannelUid = this.$store.state.live.currentChannelUid
        if(this.$store.state.live.currentLive != null){
          this.$store.state.live.currentLive.categories.forEach((category)=>{
            category.channels.forEach((channel)=>{
              if(channel.uid == this.currentChannelUid)
                this.currentChannelName = channel.name
            })
          })
          this.scrollBottom()
        }

        //console.log("watch $store.state.live.currentChannelUid", this.currentChannelUid, this.$store.state.live.currentChannelUid)
      }
    },
    '$store.state.live.lastMsgNotRead': {
      // the callback will be called immediately after the start of the observation
      immediate: true, 
      handler () {
        this.showMsgNotRead = true
        if(this.timeoutMSR != null) clearTimeout(this.timeoutMSR)
        this.timeoutMSR = setTimeout(()=>{ this.showMsgNotRead = false }, 4000)

        //console.log("watch $store.state.live.currentChannelUid", this.currentChannelUid, this.$store.state.live.currentChannelUid)
      }
    },


    
  }

  
}
</script>
