<template>
<div>
  <v-col v-if="$store.state.auth.isLoggedIn != true"
    cols="12" lg="5" md="7" sm="9" 
    class="mx-auto mt-5 text-center"
  >
    <v-card class="mx-auto pa-0" max-width="550" color="transparent" elevation="0">
      <v-col cols="12" class="pa-0">      
        <v-card-title class="pa-2" style="font-size:0.9em;">
          <v-btn icon class="mr-1" to="/select-node">
            <v-icon>mdi-spider-web</v-icon>
          </v-btn> 
          <v-icon small class="mr-1 mt-1">mdi-check</v-icon> 
          {{ $vuetify.lang.t('$vuetify.main.connectedToServer') }}
          <b class="ml-1">
            {{ $store.state.network.localName }}, 
            {{ $vuetify.lang.t('$vuetify.main.in') }} {{ $store.state.network.localLocation }}
          </b>

          <v-btn x-small fab color="blue darken-3" to="/select-node" class="ml-auto">
            <v-icon small>mdi-spider-web</v-icon> 
          </v-btn>
         </v-card-title> 

      </v-col>
    </v-card>

    <br>

    <FormLogin></FormLogin>

    <br>

    <v-card class="mx-auto" color="#231f20" elevation="0">
      <v-col cols="12" class=" text-center">      
        <v-card-subtitle class="text-center">
          {{ $vuetify.lang.t('$vuetify.main.notYetRegistered') }}  ?
        </v-card-subtitle>

        <v-btn rounded outlined color="blue darken-3" to="/select-node" class="lowercase mt-2 mx-1">
          <v-icon small class="mr-1">mdi-spider-web</v-icon> 
          {{ $vuetify.lang.t('$vuetify.home.switchServer') }}
        </v-btn>
        <v-btn rounded outlined color="red" to="/register" class="lowercase mt-2 mx-1">
          <v-icon small class="mr-1">mdi-handshake</v-icon> 
          {{ $vuetify.lang.t('$vuetify.main.register') }}
        </v-btn>
      </v-col>
    </v-card>
    
  </v-col>

</div>
</template>

<style scoped>
  .v-btn.lowercase{
    text-transform: none!important;
  }
</style>

<script>

//import router from '../router/router'
import core from '../plugins/core.js'
import FormLogin from '@/components/FormLogin.vue'

export default {
  name: 'login',
  components: { FormLogin },
  data: () => ({
    currentNodeName: '',
    currentNodeLocation: '',
  }),

  async mounted(){  
    this.currentNodeName = this.$store.state.network.localName
    this.currentNodeLocation = this.$store.state.network.localLocation
    core.incStat('/login')
  },
  methods: {
    
  },
}
</script>
