<template>
<div>
  <v-row 
    id="scroll-target"
    class="d-flex main"
    :class="$store.state.app.drawerOpen ? 'left-drawer-open' : ''"
  >
    <!-- MAIN MAP -->
    <l-map ref="map"  :zoom="zoom"  :maxZoom="15" :minZoom="3" :center="mapCenter"  
            id="map-container" v-if="showMap == true">
      <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
        <!-- ROOT MARKER (img profile user connected) -->
        <l-marker ref="rootMarker" :lat-lng="[rootMarker.lat, rootMarker.lng]" 
                  :draggable="$store.getters['stream/draggable']" 
                  @drag="rootMarkerDrag()" 
                  @dragend="rootMarkerDragend()" 
                  :icon="markerIconRoot" id="myMarker">
          <!-- POPUP FOR ROOT MARKER -->
          <l-popup class="">
            <!-- POPUP CONTENT IN STEP 1 OF SEND -->
            <div v-show="$store.state.stream.mode == 'send' && popupKey == 'send1'">
              <v-alert dense color="teal" v-if="sharedPostUid != null">
                <v-icon small>mdi-transition-masked</v-icon>
                {{ $vuetify.lang.t('$vuetify.post.relayPost') }}
                <!-- sharedUid: {{ sharedPostUid }} -->
              </v-alert>
              
              <h4 class="text-center white--text">
                {{ $vuetify.lang.t('$vuetify.map.selectReceptionZone') }}<br>
                {{ $vuetify.lang.t('$vuetify.map.clickToSend') }}
              </h4>

              <br>
              <h3 class="text-center white--text" v-if="!$store.state.stream.isLoading">
                {{ $store.state.stream.countPages }} 
                {{ $vuetify.lang.t('$vuetify.map.peopleAffected') }}
              </h3>
              <h3 class="text-center white--text" v-else>
                <v-btn class="" 
                       outlined fab dark x-small color="white"
                      :loading="$store.state.stream.isLoading">
                  <v-icon x-small dark>mdi-refresh</v-icon>
              </v-btn>
              </h3>
              
              <br>
              <v-card elevation="2" class="mb-2" style="font-size:0.8em!important; background: rgba(0,0,0,0.3); text-align:left!important;" dense>
                <v-card-text class="white--text pa-3"  style="font-size:12px!important; "
                    v-html="nl2br(postText.substr(0, 100))"></v-card-text>
              </v-card>

              <v-alert border="left" v-if="kmMax <= 0" 
                      colored-border color="red" elevation="2">
                <small>{{ $vuetify.lang.t('$vuetify.stream.msgUsedAllKm') }}</small>
              </v-alert>

              <v-bottom-navigation :height="70" 
                  style="margin-bottom:15px; border-radius:5px; "
                  grow color="white"
              >
                  <v-btn @click="editPostFromMap()">
                      <span>{{ $vuetify.lang.t('$vuetify.main.Edit') }}</span>
                      <v-icon color="blue">mdi-tooltip-edit</v-icon>
                  </v-btn>
                  <v-btn @click="sendPost" :disabled="kmMax <= 0">
                      <span>{{ $vuetify.lang.t('$vuetify.map.Send') }}</span>
                      <v-icon color="green">mdi-send</v-icon>
                  </v-btn>
                  <v-btn @click="closeFormEditPost()">
                      <span>{{ $vuetify.lang.t('$vuetify.main.Cancel') }}</span>
                      <v-icon color="red">mdi-cancel</v-icon>
                  </v-btn>
              </v-bottom-navigation>


            </div>

            <!-- POPUP CONTENT IN STEP 2 OF SEND -->
            <div v-show="$store.state.stream.mode == 'send' && popupKey == 'send2'">
              <v-alert border="left" colored-border color="blue" elevation="2">
                {{ $vuetify.lang.t('$vuetify.map.SendingYourMessage') }}...<br>
                {{ $vuetify.lang.t('$vuetify.map.PleaseWait') }}
              </v-alert>
            </div>
          
            <!-- POPUP CONTENT IN STREAM (3 btn : Home - Send - Position) -->
            <div v-show="$store.state.stream.mode == 'posts' || $store.state.stream.mode == 'pages'">
              <v-bottom-navigation :height="70" 
                  style="margin-bottom:15px; border-radius:5px; "
                  grow color="darkblock" >
                  <v-btn @click="$store.dispatch('stream/showMap', false)">
                      <span>{{ $vuetify.lang.t('$vuetify.menu.Home') }}</span>
                      <v-icon>mdi-home</v-icon>
                  </v-btn>
                  <v-btn @click="$store.dispatch('stream/setMode', 'send')">
                      <span>{{ $vuetify.lang.t('$vuetify.stream.sendPost') }}</span>
                      <v-icon>mdi-tooltip-edit</v-icon>
                  </v-btn>
                  <v-btn :to="'/page/'+postSignedUid+'/editpos'">
                      <span>{{ $vuetify.lang.t('$vuetify.stream.position') }}</span>
                      <v-icon>mdi-map-marker</v-icon>
                  </v-btn>
              </v-bottom-navigation>
            </div>
          </l-popup>
        </l-marker>
        
        <!-- MAIN CIRCLE TO SHOW ROOT RADIUS -->
        <l-circle :lat-lng="[rootMarker.lat, rootMarker.lng]" 
                  :radius="rootCircle.radius"
                  color="rgba(18, 191, 200, 0.1)"
                  fill-color="rgba(18, 191, 200)"
                  :fill-opacity=".35" ref="rootCircle" v-if="!scopePrivate">
        </l-circle>

        <!-- SECONDARY CIRCLE TO SHOW THE RADIUS OF A SHARED POST (or possibly others) -->
        <l-circle :lat-lng="[scopeCircle.lat, scopeCircle.lng]" 
                  :radius="scopeCircle.radius"
                  color="rgba(0, 0, 0, 0.1)"
                  fill-color="rgba(0, 0, 0)"
                  v-if="showScopeCircle"
                  :fill-opacity=".35" ref="scopeCircle">
        </l-circle>
        
        <!-- MARKER CLUSTER : contains all markers to display (post or page) -->
        <v-marker-cluster ref="markerCluster" :options="clusterOptions"></v-marker-cluster>
    </l-map>

    <!-- BTN AT THE TOP OF THE MAP : to reopen the main layer -->
    <v-expand-transition>
      <!-- TOOLBAR AT THE BOTTOM OF THE MAP : to search Pages while exploring -->
    <v-toolbar v-show="$store.state.stream.mode != 'send'&& showMap && $store.state.stream.map.show === true" 
               top class="px-2 mx-auto toolbar-map-search" color="rgba(39, 39, 39, 0.9)"> 

        <v-btn x-small fab class="ml-2 mr-2 d-none d-sm-inline" title="afficher les publications locales"
              color="primary" 
              @click="$store.dispatch('stream/setMode', 'posts')"
              :outlined="$store.state.stream.mode != 'posts'">
              <v-icon small>mdi-newspaper-variant-multiple</v-icon> 
              <!-- {{ $vuetify.lang.t('$vuetify.stream.newsstream') }} -->
        </v-btn>

        <v-text-field :loading="$store.state.stream.isLoading" style="max-width:280px;"
          hide-details :placeholder="$vuetify.lang.t('$vuetify.stream.searchOnMap')+'...'"
          :label="$vuetify.lang.t('$vuetify.stream.searchOnMap')+'...'"
          outlined dense single-line class="mr-1"
          @keypress.enter.exact.prevent="startSearchOnMap()" v-model="searchContentStr"
        ></v-text-field>

        <v-btn x-small fab class="ml-2" title="afficher tous les éléments"
              color="secondary" 
              :outlined="$store.state.stream.mode != 'pages'"
              @click="searchInClouds">
              <v-icon small>mdi-cloud-search-outline</v-icon> 
              <!-- {{ $vuetify.lang.t('$vuetify.stream.searchUser') }} -->
        </v-btn>

        <template v-for="(type, ipt) in pageTypes">
          <v-btn x-small fab class="ml-2" :key="type" 
                :title="$vuetify.lang.t('$vuetify.pageType.'+type)"
                :color="pageColors[ipt]" :outlined="$store.state.stream.pageType != type || $store.state.stream.mode != 'pages'"
                @click="$store.dispatch('stream/setPageType', type)">
                <v-icon small>mdi-{{ iconPageType(type) }}</v-icon> 
          </v-btn>
        </template>
        <v-btn small outlined color="primary"
              @click="$store.dispatch('stream/showMap', false)" 
              :loading="$store.state.stream.isLoading"
              dense class="ml-4 mr-2">
            <!-- {{ $store.state.stream.posts.length }} {{ $vuetify.lang.t('$vuetify.stream.results') }}  -->
            <v-icon small>mdi-close</v-icon>
            <span class="ml-2 d-none d-sm-inline">{{ $vuetify.lang.t('$vuetify.stream.closeMap') }}</span>
        </v-btn>
    </v-toolbar>


    </v-expand-transition>

    <div class="slider-show-only-connected" :style="$store.state.stream.mode == 'send' ? 'top: 15px !important;' : ''"
         v-if="$store.state.stream.map.show && $store.state.stream.mode != 'posts'">
      <v-slider v-model="showOnlyConnectedModel"
                :color="colorSliderOnlyConnected + ' darken-2'" 
                inverse-label 
                max=3 min=0 step="1"
                ticks="always" tick-size="10"
                :tick-labels="ticksLabelsOnlyConnected"
                >
      </v-slider>
    </div>
    <div class="slider-show-only-connected d-md-none" 
         v-if="$store.state.stream.map.show && $store.state.stream.mode != 'posts' && $store.state.stream.pageType == ''">
      <v-slider v-model="showOnlyConnectedModel"
                :color="colorSliderOnlyConnected + ' darken-2'" 
                inverse-label
                max=3 min=0 step="1"
                ticks="always" tick-size="10"
                :label="labelSliderOnlyConnected"
                >
      </v-slider>
    </div>

    <div class="lbl-nb-res-map mode-page" style="text-align:center!important;" 
          v-if="$store.state.stream.map.show === true && $store.state.stream.mode=='pages' && (!$store.state.stream.isLoading || $store.state.stream.pages.length > 0)">
      {{ cntPageOnMap }} / {{ $store.state.stream.pages.length }} / {{ $store.state.stream.countPages }} 
      <template v-if="$store.state.stream.pages.length > 1">
        {{ $vuetify.lang.t('$vuetify.stream.results') }}
      </template>
      <template v-else>
        {{ $vuetify.lang.t('$vuetify.stream.result') }}
      </template>
      <v-btn outlined icon small color="white" title="afficher plus de résultats" dark
              @click="$root.$emit('loadNextContent')" :loading="$store.state.stream.isLoading">
        <v-icon small color="">mdi-arrow-u-right-bottom</v-icon>
      </v-btn>
    </div>
    <div class="lbl-nb-res-map" style="text-align:center!important;" 
          v-if="$store.state.stream.map.show === true && $store.state.stream.mode=='posts' && !$store.state.stream.isLoading">
      {{ $store.state.stream.posts.length }} 
      <template v-if="$store.state.stream.posts.length > 1">
        {{ $vuetify.lang.t('$vuetify.stream.results') }}
      </template>
      <template v-else>
        {{ $vuetify.lang.t('$vuetify.stream.result') }}
      </template>
    </div>

    <!-- TOOLBAR AT THE BOTTOM OF THE MAP : to search place before sending message -->
    <v-toolbar v-show="$store.state.stream.mode == 'send' && showMap && $store.state.stream.map.show === true" 
              id="toolbar-place" bottom dense>  
        <v-text-field :loading="loadPlaces"
          hide-details :placeholder="$vuetify.lang.t('$vuetify.stream.searchAPlace')+'...'"
          prepend-icon="mdi-map-search-outline"
          single-line @change="searchPlace" v-model="searchPlaceStr"
        ></v-text-field>
      
        <v-btn icon @click="showSlider=!showSlider">
          <v-icon>mdi-bullseye</v-icon>
        </v-btn>

        <v-btn icon @click="goToMainPosition">
          <v-icon>mdi-target-account</v-icon>
        </v-btn>

        <v-btn icon>
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
    </v-toolbar>

    
    <!-- SLIDER TO SET ROOT RADIUS METERS (on map) -->
    <div id="slider-radius-meters" v-show="$store.state.stream.map.show && $store.state.stream.mode !='send'">
      <v-slider v-model="rootRadiusMeters" @change="updateRadius"
                v-show="rootRadius == 0 && showSlider"
                color="secondary" :label="rootRadiusMeters+' m'" inverse-label
                max=1000 min=30
      >
        <template v-slot:prepend>
          <v-icon @click="decrementM">mdi-minus</v-icon>
        </template>

        <template v-slot:append>
          <v-icon @click="incrementM">mdi-plus</v-icon>
        </template>
      </v-slider>
    </div>
    
    <!-- SLIDER TO SET ROOT RADIUS km (on map) -->
    <div id="slider-radius" v-show="$store.state.stream.map.show && $store.state.stream.mode !='send'">
      <v-slider v-model="rootRadius" @change="updateRadius"
                v-show="showSlider" color="primary"  :label="rootRadius+' km'" 
                inverse-label 
                :max='kmCurrentMax'
      >
        <template v-slot:prepend>
          <v-icon @click="decrement">mdi-minus</v-icon>
        </template>

        <template v-slot:append>
          <v-icon @click="increment">mdi-plus</v-icon>

          <v-btn x-small fab @click="updateContent()" class="ml-3"
                 style="margin-top:-3px;">
            <v-icon small>mdi-refresh</v-icon>
          </v-btn>
        </template>

      </v-slider>
    </div>

    <!-- DROP-UP LIST FOR SEARCH PLACE RESULTS -->
    <v-expand-transition>
      <v-list v-show="places.length > 0" dense id="toolbar-place-list">
        <v-list-item-group  color="primary" > 
          <v-list-item v-for="(place, i) in places" :key="i"
              @click="updateRootLocation(place.lat, place.lng, place.city)">
            <v-list-item-icon>
              <v-icon>mdi-map-marker</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="place.text"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-expand-transition>

    <!-- FORM EDIT POST -->
    <v-expand-transition>
      
      <v-card id="formEditPost" 
              v-show="showFormEdit == true && $store.getters['stream/showFormEditPost']" 
              class="mx-auto" 
              style="padding: 0 0 70px 0; bottom:0px; right:0px; 
                    overflow-y: auto; overflow-x: hidden; max-width:600px;">
        <v-col v-show="!scopePrivate">
          <v-chip color="transparent" small text-color="primary" elevation="2">
            <small>{{ $vuetify.lang.t('$vuetify.stream.limit') }} : {{ kmLimitByDay }} {{ $vuetify.lang.t('$vuetify.stream.kmByDay') }}</small>
          </v-chip> 
          <v-chip color="transparent" small text-color="secondary" elevation="2">
            <small :title="$vuetify.lang.t('$vuetify.stream.youAlreadyUsed') + ' ' + (kmLimitByDay - kmMax) + ' km ' + $vuetify.lang.t('$vuetify.stream.today')">
            {{ $vuetify.lang.t('$vuetify.stream.used') }} : {{ kmLimitByDay - kmMax }} km
            </small>
          </v-chip> 
          <v-chip :color="kmMax > 100 ? 'green' : kmMax > 0 ? 'orange darken-2' : 'red'" 
                  small elevation="2" style="float:right;" v-show="!scopePrivate">
            <small :title="$vuetify.lang.t('$vuetify.stream.remainingTitle') + ' ' + kmMax + ' km ' + $vuetify.lang.t('$vuetify.stream.today')">
            {{ $vuetify.lang.t('$vuetify.stream.remaining') }} : {{ kmMax }} km
            </small>
          </v-chip> 
        </v-col>

        <v-col cols="12" v-if="kmMax <= 0">
          <v-alert border="left" colored-border color="red" elevation="2">
            <small>{{ $vuetify.lang.t('$vuetify.stream.msgUsedAllKm') }}</small>
          </v-alert>
        </v-col>


        <v-col class="mt-3">
          <v-label>
            <small>
              <v-btn icon @click="$store.dispatch('app/setPopupScopeOpen', true)">
                <v-icon small>mdi-information-outline</v-icon>
              </v-btn>
              <v-icon class="ml-1" small>mdi-map-marker-radius-outline</v-icon>
              {{ $vuetify.lang.t('$vuetify.stream.broadcastRadius') }}
            </small>
          </v-label>
            <v-slider class="ml-1" v-model="rootRadius" @change="updateRadius"
                    v-show="showSlider" color="primary"  :label="rootRadius+' km'" 
                    inverse-label
                    :max='kmCurrentMax'
          >
            <template v-slot:prepend>
              <v-icon @click="decrement">mdi-minus</v-icon>
            </template>

            <template v-slot:append>
              <v-icon @click="increment">mdi-plus</v-icon>
            </template>
          </v-slider>
        </v-col>

        <ModalScopeGeo></ModalScopeGeo>

        <v-col cols="12" class="pb-0 pt-0" v-if="kmMax > 0 && $store.state.auth.profile.memberPages != null">
          <v-label>
            <small><v-icon small>mdi-chevron-down</v-icon>{{ $vuetify.lang.t('$vuetify.stream.PublishAs') }}...</small>
          </v-label>
          <v-overflow-btn
            class="my-2" solo chips
            v-model="postSignedUid"
            :items="$store.state.auth.profile.memberPages"
            item-value="uid"
            item-text="name"
            target="#dropdown-example-1"
            @change="changeCenterSendPost"
          ></v-overflow-btn>
          
          <v-textarea spellcheck="false"
            solo style="font-size:0.9em;"
            :label="$vuetify.lang.t('$vuetify.stream.YourMessage')"     
            :counter="true"    
            :rules="rulesTxtareaEditPost"
            v-model="postText"
            @change="extractMeta"
          ></v-textarea>

        </v-col>

        <v-col class="mt-0" v-if="showTags">
          <v-card>
            <v-col class="">
              <!-- <h4>#hashtags</h4> -->
              <v-col class="pa-0 mt-2">
                <h5 class="mb-1">{{ $vuetify.lang.t('$vuetify.stream.hashtagSuggestions') }}</h5>
                <template v-for="(tag, i) in hashtagList">
                  <v-chip @click="addTagNewPost(tag.tag)" small 
                          :color="postText.indexOf(tag.tag) > -1 ? 'blue' : ''"
                          :key="i" class="mr-2 mt-2">
                      {{ tag.tag }}
                  </v-chip>
                </template>
                </v-col>
            </v-col>
          </v-card>
        </v-col>
        
        <!-- link metadata preview -->
        <v-col 
          v-if="$store.state.postComposer.showLinkPreviews"
          flex class="pa-0"
        >
            <MetaLinks 
              :links="$store.getters['postComposer/linkPreviewsList']"
              :show="$store.getters['postComposer/shouldShowLinkPreviews']"
              :clearable="true"
            />
        </v-col>

        <v-col class="pt-0">
          <v-file-input v-show="showInputImage"
            :label="$vuetify.lang.t('$vuetify.main.JoinPicture')" ref="fileInput" id="fileInput"
            outlined accept="image/*"
            prepend-icon="mdi-camera"
            v-model="postImage"
          ></v-file-input>
          <v-img :src="urlToImage" :v-show="urlToImage!=''"></v-img>
        </v-col> 

        <v-col class="pt-0">
          <v-file-input v-show="showInputPdf"
            :label="$vuetify.lang.t('$vuetify.main.AddAPdf')" ref="pdfInput" id="pdfInput"
            outlined accept=".pdf"
            prepend-icon="mdi-file"
            v-model="postPDF"
          ></v-file-input>
        </v-col> 

        <v-col class="pa-0">
          <v-card color="transparent" style="width:100%; box-shadow:none;" 
                  class="pa-0 pr-4 mb-0 d-flex align-end flex-column">
              <small>{{ $vuetify.lang.t('$vuetify.stream.enableShare') }} ?</small>
              <v-switch v-model="postSharable" color="primary" class="ma-0 mb-0"></v-switch>
          </v-card>
        </v-col>

        <hr style="border-color:#02020226;margin-bottom:15px;">
        <v-row flex>
          <v-col class="text-center" style="padding-top:0"> 
            <v-btn icon large @click="selectImage">
              <v-icon>mdi-image-plus</v-icon>
            </v-btn><br>
            <small>{{ $vuetify.lang.t('$vuetify.stream.addPicture') }}</small>
          </v-col>
          <!-- <v-col col="4" class="text-center" style="padding-top:0"> 
            <v-btn icon large @click="showTags=!showTags">
              <v-icon>mdi-tag-plus</v-icon>
            </v-btn><br>
            <small>#tags</small>
          </v-col> -->
          <v-col col="4" class="text-center" style="padding-top:0"> 
            <v-btn icon large @click="selectPDF">
              <v-icon>mdi-file-plus</v-icon>
            </v-btn><br>
            <small>PDF</small>
          </v-col>
          <v-col class="text-center" style="padding-top:0"> 
            <v-btn icon large @click="closeFormEditPost()" color="red">
              <v-icon>mdi-cancel</v-icon>
            </v-btn><br>
            <small>{{ $vuetify.lang.t('$vuetify.main.Cancel') }}</small>
          </v-col>
          <v-col class="text-center" style="padding-top:0">
            <v-btn icon large @click="firstStepSend" 
                   color="green" :disabled="postText == ''">
              <v-icon>mdi-checkbox-marked-circle-outline</v-icon>
            </v-btn><br>
            <small>{{ $vuetify.lang.t('$vuetify.main.Validate') }}</small>
          </v-col>
        </v-row>
        <v-row flex>
          <v-col col="12"> 
            <br><br>
          </v-col>
        </v-row>

      </v-card>
    </v-expand-transition>

    <!-- STREAM POST -->
    <!-- <v-expand-transition> -->
      <Stream 
        v-show="$store.state.stream.map.show === false && !$store.getters['stream/showFormEditPost']"
        :stream="stream"
        :mapMode="$store.state.stream.mode"
        :streamLoading="$store.state.stream.isLoading" 
        :pageNumber="pageNumber" 
        :totalUserPages="totalUserPages"
        :isPrivate="false"></Stream>
    <!-- </v-expand-transition> -->
    
  </v-row>

  <!-- MARKER POPUP FOR PAGES : displayed on marker popup on the map -->
  <div v-show="false" v-if="pageMapPopup!=null" id="bar-popup-map-pages">
    
    <v-list-item>
      <v-list-item-avatar height="46" width="46"
          :class="'mr-3 btn-poppage-to-page-'+pageMapPopup.uid">
        <v-img :src="avatarUrl(pageMapPopup.uid)"></v-img>
      </v-list-item-avatar>
      
      <v-list-item-content>

        <v-list-item-title class="headline mb-1" style="line-height: 1.3rem;">
          <a href="javascript:" text 
            style="color:white;text-transform:none;font-size:0.7em!important;text-decoration:none;white-space:normal;display:inline;" 
                :class="'pa-0 btn-poppage-to-page-'+pageMapPopup.uid">@{{ pageMapPopup.name }}</a>
        </v-list-item-title>
        
        <v-list-item-subtitle v-show="pageMapPopup.address==null &&  pageMapPopup.city==null">
          <small style="margin-right:10px;"><v-icon x-small>mdi-spider-web</v-icon> {{ iName(pageMapPopup.uid) }}</small>
          <small><v-icon x-small>mdi-map-marker</v-icon> {{ $vuetify.lang.t('$vuetify.map.notLocated') }}</small>
        </v-list-item-subtitle>

        <v-list-item-subtitle v-show="pageMapPopup.address!=null ||  pageMapPopup.city!=null">
          <small style="margin-right:10px;"><v-icon x-small>mdi-spider-web</v-icon> {{ iName(pageMapPopup.uid) }}</small>
          <v-icon x-small style="margin-left:-5px;" v-if="pageMapPopup.address != ''">mdi-map-marker</v-icon>
          {{ pageMapPopup.address }} {{ pageMapPopup.city }}
        </v-list-item-subtitle>

        <v-list-item-subtitle>
          <!-- <small style="margin-right:10px;"><v-icon x-small>mdi-spider-web</v-icon> {{ iName(pageMapPopup.uid) }}</small> -->

          <span style="color:#5D586C;" v-if="pageMapPopup.type == 'user'">
            <span v-if="statusConnected(pageMapPopup) == 0" :title="$vuetify.lang.t('$vuetify.main.connectedShortly')" class="green--text">
                <v-icon x-small color="green" class="" style="margin-right:-3px;">mdi-flash</v-icon> {{ $vuetify.lang.t('$vuetify.main.online') }}
            </span>
            <span v-if="statusConnected(pageMapPopup) == 1" class="yellow--text text--darken-2">
                <v-icon x-small color="yellow darken-2" class="">mdi-flash</v-icon>
                <span class="d-none d-sm-inline mr-1">{{ $vuetify.lang.t('$vuetify.main.wasOnline') }}</span>
                <time-ago style="margin-left: -4px;"
                        :datetime="pageMapPopup.dateConnected" 
                        :refresh="60" 
                        long :locale="$vuetify.lang.current">
                </time-ago>
            </span>
            <small v-if="statusConnected(pageMapPopup) == 2" class="grey--text text--lighten-1">
                <v-icon x-small color="grey lighten-1" class="">mdi-flash</v-icon>
                <span class="d-none d-sm-inline">{{ $vuetify.lang.t('$vuetify.main.wasOnlineThereAre') }}
                {{ diffInDays(pageMapPopup) }}
                {{ (diffInDays(pageMapPopup) > 1 ? $vuetify.lang.t('$vuetify.main.day') : $vuetify.lang.t('$vuetify.main.days')) }}</span>
            </small>
            <small v-if="statusConnected(pageMapPopup) == 3" class="grey--text text--lighten-1">
                <v-icon x-small color="grey lighten-1" class="">mdi-flash</v-icon>
                {{ $vuetify.lang.t('$vuetify.main.offlineSinceLong') }}
            </small>
          </span>

            
        </v-list-item-subtitle>

      </v-list-item-content>
    </v-list-item>

    <v-bottom-navigation :height="70" 
        style="margin-bottom:15px; border-radius:5px; "
        grow color="primary"
    >
        <v-btn :class="'btn-poppage-to-page-'+pageMapPopup.uid">
            <span>{{ $vuetify.lang.t('$vuetify.map.seePage') }}</span>
            <v-icon>mdi-account</v-icon>
        </v-btn>
        <v-btn v-if="false" :class="'btn-send-private-'+pageMapPopup.uid">
            <span>{{ $vuetify.lang.t('$vuetify.map.privateMsg') }}</span>
            <v-icon>mdi-send</v-icon>
        </v-btn>
    </v-bottom-navigation>
  </div>

  <!-- BOTTOM TOOL BAR displayed on showStream == true only -->
  <v-bottom-navigation fixed :height="44" v-show="$store.state.stream.map.show === false" 
                        small grow 
                        class="nav-footer">

      <v-btn x-small icon :title="$vuetify.lang.t('$vuetify.stream.showMap')"
          @click="$store.dispatch('stream/showMap', true)">
          <v-icon>mdi-map-marker</v-icon>
      </v-btn>

      <v-btn x-small icon @click="scrollTop" :title="$vuetify.lang.t('$vuetify.home.goUp')">
          <v-icon>mdi-chevron-double-up</v-icon>
      </v-btn>

      <v-btn x-small icon  :title="$vuetify.lang.t('$vuetify.stream.searchAPage')"
            @click="$store.dispatch('stream/setMode', 'pages')">
          <v-icon>mdi-account-search</v-icon>
      </v-btn>

      <v-btn x-small icon @click="$root.$emit('get-count')" 
            :title="countConnected + ' ' + (countConnected<=1?$vuetify.lang.t('$vuetify.home.userConnected'):$vuetify.lang.t('$vuetify.home.usersConnected')) + ' ' + $vuetify.lang.t('$vuetify.home.nowOnServer') + ' : ' + iName(this.$store.state.auth.profile.uid)">
          <span>{{ countConnected }} <v-icon small>mdi-account</v-icon></span>
      </v-btn>
      
  </v-bottom-navigation>

  <ActivityBlock v-if="$store.state.auth.profile.uid != null" 
                :lat="$store.state.auth.profile.lat" 
                :lng="$store.state.auth.profile.lng">
  </ActivityBlock>
</div>
</template>

<style>

  .lbl-nb-res-map{
    position: absolute;
    top: 80px;
    left: 15px;
    font-size: 25px;
    text-align: center!important;
    background-color: #1c1c1c4f;;
    padding: 0 10px;
    border-radius: 30px;
  }
  .lbl-nb-res-map.mode-page{
    top: 140px;
  }

  .leaflet-marker-icon.connected-0{
    border : 2px solid green;
    border-radius:50%;
  }
  .leaflet-marker-icon.connected-1{
    border : 2px solid orange;
    border-radius:50%;
  }
  .slider-show-only-connected{
    width: 96%;
    position:absolute;
    top: 80px;
    left:2%;
    right:2%;
  }
  .v-slider__tick{
    border-radius:50%!important;
  }
  .btn-bar-stream .v-btn{
    min-width:55px !important;
  }

  .toolbar-map-search{
    top: 64px;
    position: fixed;
    width: 100%;
  }
  @media (max-width: 600px){

  }
</style>

<script>

import axios from 'axios'
import router from '../router/router'

import L from 'leaflet';
import {LMap, LTileLayer, LMarker, LCircle, LPopup} from 'vue2-leaflet'
import Vue2LeafletMarkerCluster from 'vue2-leaflet-markercluster'
import CTP from 'circle-to-polygon';

import Stream from '@/components/Stream.vue'
import MetaLinks from '@/components/MetaLinks.vue'
import ActivityBlock from '@/components/main-layout/ActivityBlock.vue'
import ModalScopeGeo from '@/components/main-layout/modals/ModalScopeGeo.vue'
import TimeAgo from 'vue2-timeago'

import core from '../plugins/core.js'
import nominatim from '../services/nominatim.js'

import '@/assets/css/main.css';

const config = require('../config/' + process.env.NODE_ENV)

export default {
  name: 'home',
  props: ['countConnected'],
  components: { MetaLinks, Stream, ActivityBlock, ModalScopeGeo, LMap, 
                LTileLayer, LMarker, LCircle, LPopup,  
                'v-marker-cluster' : Vue2LeafletMarkerCluster,
                TimeAgo },
  data() {
    return {
      showMap: true,
      showSlider: true,
      zoom:5,
      mapCenter: L.latLng(46.16685851396646, -1.1697435379028323),
      //url:'//{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', 
      url: config.mapTilesUrl, //'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      //url : '//stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png',
      attribution:'&copy; <a href="http://osm.org/copyright">OSM</a>',
      
      markers: null,
      rootMarker: {
        lat: 46.16685851396646,
        lng: -1.1697435379028323,
      },
      scopeCircle: {
        lat: 46.16685851396646,
        lng: -1.1697435379028323,
        radius: 500000
      },
      rootCircle: {
        radius: 100000
      },
      rootRadius: 600,
      rootRadiusMeters: 900,
      kmCurrentMax: 600,
      kmMax: 600,
      kmLimit: 600,
      kmLimitByDay: 1000,
      showFormEdit: true,
      rulesTxtareaEditPost: [v => v.length <= 5000 || this.$vuetify.lang.t('$vuetify.post.maxMsg5Label')],
      postText: "",
      postTextError: '',
      postTagText: "",
      postPDF: null,
      postSignedUid: "",
      postSharable: true,
      popupKey: "send1",
      showStream: true,
      stream: [],
      streamLoading: false,
      showScopeCircle: false,
      clusterOptions: { showCoverageOnHover: false, maxClusterRadius: 30 },
      places: [],
      placeSelected: {},
      searchPlaceStr: '',
      loadPlaces: false,
      searchContentStr: '',
      searchPageStr: '',
      embedMetaLinks: [],
      showInputImage: false,
      showInputPdf: false,
      urlToImage: '',
      postImage: null,
      streamOrigine: 'local',
      scopePrivate: false,
      totalUserPages: 0,
      pageMapPopup: {},
      sharedPostUid: null,
      sharedPost: null,
      showModalScopeGeo: false,
      showTags: false,
      pageNumber: 1,
      map: null,
      lastScrollY: 0,
      uiLoaded: false,
      showOnlyConnected: 3,
      showOnlyConnectedModel: 0,
      cntPageOnMap: 0,
      viewInited:false,
      timerUpdateMarker: null,
      hashtagList: [
        { tag: '#info', count: 2 },
        { tag: '#annonce', count: 4 },
        { tag: '#question', count: 2 },
        { tag: '#sondage', count: 2 },
        { tag: '#proposition', count: 2 },
        { tag: '#action', count: 4 },
        { tag: '#manifestation', count: 4 },
        { tag: '#mobilisation', count: 4 },
        { tag: '#assemblée', count: 2 },
      ],
      pageTypes: ['user', 'group', 'event', 'assembly'],
      pageColors: ['yellow darken-2', 'red', 'orange', 'purple']
    }
  },
  async mounted(){
      //console.log("main mounted process.ENV", process.env.NODE_ENV, config)
      if(window.isDev) { console.log('#MAIN UX MOUNTED', this.$route); }

      delete L.Icon.Default.prototype._getIconUrl  
      L.Icon.Default.mergeOptions({  
        iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),  
        iconUrl: require('leaflet/dist/images/marker-icon.png'),  
        shadowUrl: require('leaflet/dist/images/marker-shadow.png')  
      })

      await this.initRadius()
      
      this.postSignedUid = this.$store.state.auth.profile.uid
      this.streamOrigin = this.$store.state.stream.origin 
      this.pageType = this.$store.state.stream.pageType 

      //init root marker on the position of the current user loggedIn
      if(this.$store.state.stream.rootMarkerInited == false){
        this.rootMarker = { lat: this.$store.state.auth.profile.coordinates[1], 
                            lng: this.$store.state.auth.profile.coordinates[0] }
      }else{
        this.rootMarker = this.$store.state.stream.rootMarker
      }

      //init the scope circle, to visualize the current area selected on the map
      this.scopeCircle = { lat: this.rootMarker.lat, 
                           lng: this.rootMarker.lng,
                           radius : this.$store.state.auth.radius 
                         }

      this.rootRadius = this.$store.state.auth.radius
      this.rootCircle = { radius: this.$store.state.auth.radius  }

      this.$root.$off('updateRadius').$on('updateRadius', (radius, loadContent=true) => { 
        if(window.isDev) { console.log('#MAIN updateRadius'); }
        this.rootRadius = radius
        this.updateRadius(loadContent)
      })

      this.$root.$off('updateContent').$on('updateContent',  
        async (pageNumber=1, pageType, streamOrigin, search) => { 
          if(window.isDev) { console.log('#MAIN $root.on updateContent', pageNumber, pageType, streamOrigin, search, this.searchContentStr); }
          this.pageType = pageType != null ? pageType : this.pageType
          this.searchContentStr = search != null ? search : this.searchContentStr
          this.streamOrigin = streamOrigin != null ? streamOrigin : this.streamOrigin
          this.pageNumber = pageNumber
          this.updateContent()
      })

      this.$root.$off('sharePost').$on('sharePost', async (post, postText) => { 
        if(window.isDev) { console.log('#MAIN sharePost', post); }
        this.sharedPostUid = post.uid
        this.sharedPost = post
        this.scopeCircle.lat = post.coordinates[0]
        this.scopeCircle.lng = post.coordinates[1]
        this.scopeCircle.radius = post.radius
        this.showScopeCircle = true
        this.postText = postText.length > 0 ? postText : ""

        await this.$store.dispatch('stream/setMode', 'send')
        this.$root.$emit("closeModalUserPage")
        this.firstStepSend()
      })

      this.$root.$off('loadNextContent').$on('loadNextContent', () => { 
        if(window.isDev) { console.log('#MAIN loadNextContent', this.pageNumber+1); }
        this.pageNumber++
        this.updateContent()
      })

      //emited by <EndOfStream>
      this.$root.$off('loadStream').$on('loadStream', async (pageType, streamOrigin, search) => { 
        if(window.isDev) { console.log('#MAIN on loadStream', pageType, streamOrigin, search); }
        this.pageType = pageType != null ? pageType : this.pageType
        this.searchContentStr = search != null ? search : this.searchContentStr
        this.streamOrigin = streamOrigin != null ? streamOrigin : this.streamOrigin
        this.pageNumber = 1
        this.updateContent()
      })

      if(window.isDev) { console.log("#MAIN rootMarker ?", this.rootMarker); }
      if(window.isDev) { console.log("#MAIN MOUNTED 100%", this.rootMarker); }
      
      if(this.$route.name == 'stream-explore') core.incStat('/stream-explore')
      else core.incStat('/stream')

      
      this.$nextTick(async () => {
        if(window.isDev) { console.log("#MAIN MOUNTED nextTick ?"); }
        if(this.$refs.map)
          this.map = this.$refs.map.mapObject

        if(this.$route.name == 'stream-explore') this.$store.dispatch('stream/setMode', 'pages')
        else                                     this.$store.dispatch('stream/setMode', 'posts')

        let loadContent = this.$store.state.stream.mode == "posts" 
                        ? (this.$store.state.stream.posts.length == 0) 
                        : false //(this.$store.state.stream.posts.length > 0) 
        
        //console.log("goToMainPosition ???", this.$store.state.stream.mode, this.$store.state.stream.pages.length)

        if(loadContent || this.$store.state.stream.mode == "posts" || this.$store.state.stream.rootMarkerInited == false){
          this.$store.dispatch('stream/setRootMarker', this.rootMarker)
          this.goToMainPosition(loadContent)
        }else{
          if(this.$store.state.stream.mode == "posts") this.updateMarkersPosts()
          if(this.$store.state.stream.mode == "pages") this.updateMarkersPages()
        }

      }); 

  },
  methods: {

    searchInClouds: function(){
      this.$store.dispatch('stream/setPageType', null)
      this.$store.dispatch('stream/setMode', 'pages')
      this.updateContent()
    },
      
      initRadius: async function(){
        //console.log("!*-!MAIN")
        //if(this.$store.state.stream.radiusMax == 0)
        //  await this.$store.dispatch('stream/init')

        this.kmCurrentMax = this.$store.state.stream.radiusMax
        this.kmMax = this.$store.state.stream.radiusMax
        this.kmLimit = this.$store.state.stream.radiusMax

        if(localStorage.getItem("radius") == null) {
          this.rootRadius = this.$store.state.stream.radiusMax
          localStorage.setItem("radius", this.rootRadius)
        }
        else this.rootRadius = localStorage.getItem("radius")

        if(this.rootRadius > this.kmCurrentMax) this.rootRadius = this.kmCurrentMax
      },
      closeFormEditPost: async function(){
        if(window.isDev) { console.log("#MAIN closeFormEditPost"); }
        this.$refs.rootMarker.mapObject.closePopup()
        this.postTextError = ""
        this.places = []
        this.pageType = ""
        this.sharedPostUid = null
        this.goToMainPosition(false)
        
        await this.$store.dispatch('stream/showMap', false)
        await this.$store.dispatch('stream/setMode', 'posts')
        this.updateMarkersPosts()

      },

      editPostFromMap: async function(){
        this.$store.dispatch('stream/setMode', 'send')
        this.showFormEdit = true
      },
      
      rootMarkerDrag: function(){
        if(window.isDev) { console.log("#MAIN rootMarkerDrag"); }
        this.rootMarker.lat = this.$refs.rootMarker.mapObject._latlng.lat
        this.rootMarker.lng = this.$refs.rootMarker.mapObject._latlng.lng
      },
      rootMarkerDragend: function(){
        if(window.isDev) { console.log("#MAIN rootMarkerDragend"); }
        this.$refs.rootMarker.mapObject.openPopup()
        this.$store.dispatch('stream/setRootMarker', this.rootMarker)

        //when displaying result on map (draging marker), 
        //always fetch first page of result
        this.pageNumber = 1
        this.updateRadius()
      }, 

      updateRadius: async function(loadContent=true){ //(meters to kilometers)
        if(window.isDev) { console.log("#MAIN updateRadius", this.rootRadius, loadContent); }
        
        if(this.rootRadius > 0)
          this.rootCircle.radius = this.rootRadius * 1000 
        else
          this.rootCircle.radius = this.rootRadiusMeters //* 10

        this.drawCircle()
        
        this.$root.$emit("changeRadius", this.rootRadius) 

        await this.$store.dispatch('auth/update_current_radius', this.rootRadius*1000)
        
        if(loadContent) this.updateContent()
        else{ 
          if(this.$store.state.stream.mode == "posts") this.updateMarkersPosts()
          if(this.$store.state.stream.mode == "pages") this.updateMarkersPages()
        }

        //alert(loadContent)
        console.log("#MAIN this.$store.state.stream.mode", this.$store.state.stream.mode)
        if(this.$store.state.stream.mode != "send"
        && this.$store.state.stream.mode != "share")
          localStorage.setItem("radius", this.rootRadius)
      },
      drawCircle: function(){
        var tCircle = L.circle(L.latLng(this.rootMarker.lat, this.rootMarker.lng), 
                              { radius: this.rootCircle.radius })
        tCircle.addTo(this.map)
        this.map.fitBounds(tCircle.getBounds())
        tCircle.remove()
      },

      startSearchOnMap: function(){
        this.$store.dispatch('stream/setMode', 'pages')
        this.updateContent()
      },

      updateContent: async function(){
          if(window.isDev) { console.log("#MAIN updateContent", 
                                          this.$store.state.stream.mode,
                                          this.$store.state.auth.profile.coordinates) }
          //security : go to your main position before all fetch posts
          if(this.$store.state.stream.mode == "posts"
          && this.$store.state.auth.profile.coordinates[1] != this.rootMarker.lat) {
            this.goToMainPosition()
            return
          }

          this.showScopeCircle = false

          await this.$store.dispatch("stream/setSearchStr", this.searchContentStr)

          let params = {  search: this.$store.state.stream.searchStr, 
                          lat: this.rootMarker.lat, 
                          lng: this.rootMarker.lng, 
                          radius: this.rootCircle.radius,
                          pageNumber: this.pageNumber,
                          nbPerPage: 50 }

          if(this.$store.state.stream.mode == "posts") {
            if(window.isDev) { console.log("#MAIN updateContent posts") }
            
            params.streamOrigin = this.$store.state.stream.origin

            if(this.pageNumber == 1)
            await this.$store.dispatch('stream/initPosts') 

            params.nbPerPage = 5
            this.$store.dispatch('stream/fetchPost', params).then(()=>{
                  this.updateMarkersPosts() 
                  this.uiLoaded = true
            })
          }
          else  if(this.$store.state.stream.mode == "pages"
                || this.$store.state.stream.mode == "share"
                || this.$store.state.stream.mode == "send") {
              if(window.isDev) { console.log("#MAIN updateContent pages", this.rootCircle.radius) }
              
              params.pageType = this.$store.state.stream.pageType

              if(this.pageNumber == 1)
              await this.$store.dispatch('stream/initPages') 

              this.$store.dispatch('stream/fetchPages', params).then(()=>{
                  this.updateMarkersPages() 
                  this.uiLoaded = true
              })

              
          }
      },

      updateMarkersPosts: function(){ 
        if(window.isDev) { console.log("#MAIN updateMarkersPosts"); }
        if (!this.$refs.markerCluster) {
          return;
        }

        let mks = this.$refs.markerCluster.mapObject
        if(mks != null) mks.clearLayers()
        let icon = this.markerIconMsg()
        this.$store.state.stream.posts.forEach((post) => {
          if(post.scopeType == 'localised'){
            let marker = L.marker(post.coordinates, { icon: icon })
            marker.bindPopup("<div id='popup"+post._id+"' style='min-width:300px'></div>")
            marker.on('click', () => {
                document.getElementById("popup" + post._id).innerHTML = 
                  document.getElementById("post" + post._id).outerHTML

                document.getElementsByClassName("btn-post" + post._id)[0]
                    .addEventListener("click", ()=>{
                      this.openPost(post)
                })

                this.scopeCircle.lat = post.coordinates[0]
                this.scopeCircle.lng = post.coordinates[1]
                this.scopeCircle.radius = post.radius
                this.showScopeCircle = true
                this.map.panTo([this.scopeCircle.lat, this.scopeCircle.lng], { animate:false })
                this.map.panBy([0, -100]);
        
            })
            mks.addLayer(marker)
          }
        })
      },
      updateMarkersPages: function(){
          //if(window.isDev) { console.log("#MAIN updateMarkersPages", this.showOnlyConnectedModel, this.showOnlyConnected); }
          if(this.$refs.markerCluster == null) return 
          let mks = this.$refs.markerCluster.mapObject
          if(mks != null) mks.clearLayers()
          this.cntPageOnMap = 0
          this.$store.state.stream.pages.forEach((page) => {
            if(page.uid !== this.$store.state.auth.profile.uid || page.type != "user")
            if(page.coordinates != null
            && (this.statusConnected(page) <= this.showOnlyConnected)){
              this.cntPageOnMap++
              //console.log("#MAIN updateMarkersPages uid:", page.uid)
              let icon = this.markerIconPage(page)
              //if(window.isDev) { console.log("show page on map", page.name, icon); }
              let marker = L.marker([page.coordinates[1], page.coordinates[0]], { icon: icon })
              marker.on('click', () => {
                if(window.isDev) { console.log("click marker", page.uid); }
                this.pageMapPopup = page
                setTimeout(()=>{
                  let popup = document.getElementById("bar-popup-map-pages").innerHTML
                  marker.bindPopup("<div id='popup"+page._id+"' style='min-width:300px'>" +
                                      popup +
                                  "</div>")
                  marker.openPopup()
                  document.getElementsByClassName("btn-poppage-to-page-" + page.uid).forEach((el)=>{
                    el.addEventListener("click", ()=>{
                      router.push("/page/"+page.uid)
                    })
                  })
                  document.getElementsByClassName("btn-send-private-" + page.uid).forEach((el)=>{
                    el.addEventListener("click", async ()=>{
                      router.push('/private/sendto/'+page.uid+'/'+page.name)
                    })
                  })
                }, 300)
                
              })
              
              mks.addLayer(marker)
            }
          })

          if(this.timerUpdateMarker != null) 
            clearTimeout(this.timerUpdateMarker)
          this.timerUpdateMarker = null
      },

      changeCenterSendPost : function(){
        if(window.isDev) { console.log("#MAIN changeCenterSendPost", this.postSignedUid); }
        this.$store.state.auth.profile.memberPages.forEach((page) => {
          if(page.uid == this.postSignedUid){
            if(window.isDev) { console.log("#MAIN changeCenterSendPost2", page.name, page.coordinates); }
            this.rootMarker.lat = page.coordinates[1]
            this.rootMarker.lng = page.coordinates[0]
            this.map.panTo([page.coordinates[1], page.coordinates[0]])
            this.map.panBy([0, -100]);
          }
        })
        if(window.isDev) { console.log("#MAIN changeCenterSendPost2", this.rootMarker.lat, this.rootMarker.lng); }
      },

      goToMainPosition: function(loadContent=true){
        if(window.isDev) { console.log("#MAIN goToMainPosition"); }
          if(this.map) {
              this.kmCurrentMax = this.kmLimit
              this.postSignedUid = this.$store.state.auth.profile.uid
              this.rootMarker.lat = this.$store.state.auth.profile.coordinates[1]
              this.rootMarker.lng = this.$store.state.auth.profile.coordinates[0]
              this.mapCenter = L.latLng(this.rootMarker.lat, this.rootMarker.lng)
              this.rootRadius = localStorage.getItem("radius") //
              if(this.rootRadius > this.kmLimit) this.rootRadius = this.kmLimit
              this.updateRadius(loadContent)
          }
      },
      initKmMax: async function(){
        if(window.isDev) { console.log("#MAIN initKmMax"); }
        const res = await axios.get('/publication/km-limit')
        this.kmMax = res.data.kmRemainToday / 1000
        this.kmCurrentMax = this.kmMax
        if(this.kmCurrentMax > this.kmLimit) this.kmCurrentMax = this.kmLimit
        if(window.isDev) { console.log("initKmMax", this.kmMax, this.kmLimit); }
        if(this.kmCurrentMax < this.rootRadius){
          this.rootRadius = this.kmCurrentMax
          this.updateRadius()
          return false
        }
        return true
      },

      firstStepSend: function(){
        if(window.isDev) { console.log("#MAIN firstStepSend"); }
        this.showFormEdit = false
        this.map.panTo([this.rootMarker.lat, this.rootMarker.lng], { animate:false })
        this.map.panBy([0, -100]);
        this.$refs.rootMarker.mapObject.openPopup()
      },

      sendPost: async function(){
        this.popupKey = "send2"

        if(window.isDev) { console.log('#MAIN /upload/image-post', this.postImage); }
        let imageName = null
        if(this.postImage != null){
          const imgData = new FormData()
          imgData.append('image-post', this.postImage, this.postImage.name)
          if(window.isDev) { console.log('#MAIN send image', imgData); }
          const resImg = await axios.post('/upload/image-post', imgData)
          imageName = resImg.data.imageName
          if(window.isDev) { console.log('#MAIN /upload/image-post', resImg); }
        }

        if(window.isDev) { console.log('#MAIN /upload/pdf-post', this.postPDF); }
        let pdfId = null
        if(this.postPDF != null){
          const pdfData = new FormData()

          //pdfData.append('accessToken', this.$store.state.auth.user.access_token )
          pdfData.append('originalName', this.postPDF.name)
          pdfData.append('signedUid', this.postSignedUid)
          pdfData.append('pdf-post', this.postPDF, this.postPDF.name)

          if(window.isDev) { console.log('send image', pdfData); }
          const resPdf = await axios.post('/upload/pdf-post', pdfData)
          pdfId = resPdf.data.pdfId
          if(window.isDev) { console.log('/upload/pdf-post', resPdf); }
        }

         if (window.isDev) {
          console.log('embedMetaLinks', JSON.stringify(this.$store.getters['postComposer/linkPreviewsList']))
        }


        let fromCity = await this.getFromCity()
        const res = await axios.post('/publication/send-post', { 
          text: this.postText, 
          lat: this.rootMarker.lat, 
          lng: this.rootMarker.lng,
          radius: this.rootCircle.radius, 
          sharable: this.postSharable,
          fromCity: fromCity,
          imageName: imageName,
          pdf: pdfId,
          postSignedUid: this.postSignedUid,
          scopeGeo: this.getPolygonCircle(),
          embedMetaLinks: [...this.$store.getters['postComposer/linkPreviewsList']],
          sharedPostUid: this.sharedPostUid
        });
        
        if(res.data.error == true){
          if(window.isDev) { console.log("#MAIN error /publication/send-post", res.data); }
          this.popupKey = "send1"
          this.postTextError = "Sorry, you are trying to send more km than you are allowed to do. Cheating is not a good idea."
        }else{
          await this.$store.dispatch('postComposer/hideLinkPreviews', null, {root:true});
          await this.$store.dispatch('stream/addNewPost', res.data.post, {root:true});

          this.kmMax = res.data.kmRemainToday / 1000

          this.postText = ""
          this.postSharable = true
          this.embedMetaLinks = []
          this.postImage = null
          
          this.popupKey = "stream1"
          this.$store.dispatch('stream/showMap', false)
          
          await this.$store.dispatch('stream/setMode', 'posts')

          this.sharedPostUid = null
        }
        
        
        if(window.isDev) { console.log("#MAIN res /publication/send-post", res.data); }

      },

      selectImage : function(){
          this.showInputImage=!this.showInputImage
          if(window.isDev) { console.log("#MAIN this.$refs.fileInput", this.$refs.fileInput); }
          if(this.showInputImage)
              document.getElementById('fileInput').click()
          else{
              this.postImage = null
          }
      },
      selectPDF : function(){
          this.showInputPdf=!this.showInputPdf
          if(window.isDev) { console.log("#MAIN this.$refs.pdfInput", this.$refs.pdfInput); }
          if(this.showInputPdf)
              document.getElementById('pdfInput').click()
          else{
              this.postPDF = null
          }
      },


      addToContact : async function(uid, name){
          if(window.isDev) { console.log("#MAIN addToContact"); }
          const res = await axios.post('/page/add-to-contacts', { 
                                          pageUid: uid,
                                          pageName: name
                                      })
          
          if(window.isDev) { console.log("#MAIN res /page/add-to-contact", res.data); }
      },

      async extractMeta() {
        const matches = this.postText.match(/\bhttps?:\/\/\S+/gi);
        if (matches == null) {
          await this.$store.dispatch('postComposer/hideLinkPreviews', null, {root: true});

          // Avoid useless computations.
          return;
        }

        await Promise.all(matches.map((url) => 
          this.$store.dispatch('postComposer/addLinkPreview', url, {root: true})
        ));

        await this.$store.dispatch('postComposer/showLinkPreviews', true, {root: true});
        console.log('linkPreviewsList', this.$store.getters['postComposer/linkPreviewsList'])
      },
      removeMetaLink: function(url){
        this.$store.dispatch('postComposer/removeLinkPreview', url, {root:true});
      }, 
      decrementM: function(){
        this.rootRadiusMeters-=100
        this.updateRadius()
      },
      incrementM: function(){
        this.rootRadiusMeters+=100
        this.updateRadius()
      },
      decrement: function(){
        this.rootRadius--
        this.updateRadius(false)
      },
      increment: function(){
        this.rootRadius++
        this.updateRadius(false)
      },
      markerIconMsg: function(){
        return L.icon({
            iconUrl: 'markers/icon-popup.png',
            iconSize:     [32, 32], // size of the icon
            iconAnchor:   [16, 32], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -32] 
        });
      },
      markerIconPage: function(page){
        let avatar = core.avatarUrl(page.uid) //'markers/icon-popup.png'
        return L.icon({
            iconUrl: avatar, //'markers/root-marker-earth.png',
            iconSize:     [30, 30], // size of the icon
            iconAnchor:   [15, 15], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -15], 
            className: 'connected-' + this.statusConnected(page)
        });

      },
      getPolygonCircle: function(){
        return CTP([this.rootMarker.lng, this.rootMarker.lat], this.rootCircle.radius, 30)
      },
      getFromCity: async function(){
        //https://nominatim.openstreetmap.org/reverse?
        var query = "lat="+this.rootMarker.lat+"&lon="+this.rootMarker.lng+"&format=json"
        const res = await axios.get('https://nominatim.openstreetmap.org/reverse?'+query, {
          withCredentials:false
        })
        
        var attr = ["city", "state", "country"]
        var city = ""
        attr.forEach(function(att){
          let c = res.data.address[att]
          if(window.isDev) { console.log("reverse nominatim1", c); }
          if(city == "" && c != "" && c != null) city = c
        })
        if(window.isDev) { console.log("reverse nominatim2", city); }
        return city
        
      },
      updateRootLocation: function(lat, lng, city){
        if(window.isDev) { console.log("#MAIN updateRootLocation"); }
        this.rootMarker.lat = parseFloat(lat)
        this.rootMarker.lng = parseFloat(lng)
        this.rootMarker.city = city
        this.updateRadius()
        //this.popupKey = "place1"
          
        //this.searchPlaceStr = ""
        setTimeout(() => { this.$refs.rootMarker.mapObject.openPopup(); this.places = [] }, 500)
      },
      searchPlace: async function(){
        let query = this.searchPlaceStr
        this.loadPlaces = true
        nominatim.search(query, (res)=>{
          if(res.error == false){
            this.loadPlaces = false
            this.places = res.data
          }//else{ }
        })
      },
      openPost: function(post) {
          if(window.isDev) { console.log("open post", post); }
          this.$root.$emit('openPost', post);
          //router.push('/post/'+postUid);
      },
      avatarUrl: function(pageUid){
        return core.avatarUrl(pageUid)
      },
      iName: function(uid){
        return core.iName(uid)
      },
      scrollTop : function(){
        if(window.isDev) { console.log("scrollTop"); }
        this.$vuetify.goTo(0)
      },
      iconPageType: function(type){
        return core.iconPageType(type)
      },
      addTagNewPost : function(tag){
        let pos = this.postText.indexOf(tag)
        if(pos > -1){ //tag exist in text
          this.postText = this.postText.replace(tag, '')
        }else{ //tag not exist in text
          this.postText += ' ' + tag
        }
      },
      addTagTextNewPost : function(){
        if(this.postTagText.length < 2) return

        let posH = this.postTagText.indexOf("#")
        if(posH != 0) this.postTagText = "#" + this.postTagText
        this.postText += ' ' + this.postTagText
        this.postTagText = ""
      },    
      statusConnected(page){ //return true si la page été connecté il y a moins de 3 minutes
          if(page.dateConnected == null) return 4

          let pageDate = new Date(page.dateConnected)
          
          let date3MinAgo = new Date()
          date3MinAgo.setMinutes( date3MinAgo.getMinutes() - 3 );

          let date1DayAgo = new Date()
          date1DayAgo.setMinutes( date1DayAgo.getMinutes() - (60 * 24) ); //60 minutes * 24h

          if(pageDate > date3MinAgo) return 0 
          if(pageDate > date1DayAgo) return 1
          if(this.diffInDays(page) < 100) return 2

          return 3
          //console.log("dateMinAgo", pageDate, dateMinAgo)
          //return pageDate > date3MinAgo
      },
      diffInDays: function(page) {
          if(page.dateConnected == null) return 200

          let d1 = new Date(page.dateConnected)
          let d2 = new Date()

          var t2 = d2.getTime()
          var t1 = d1.getTime()

          return parseInt((t2-t1)/(24*3600*1000))
      },
      nl2br: function(str){
        return core.nl2br(str) + (str.length > 99 ? "..." : "")
    },
      
  },
  computed: {
      markerIconRoot: function(){
        let uid = (this.postSignedUid == "") ? this.$store.state.auth.profile.uid : this.postSignedUid
        let avatar = core.avatarUrl(uid) //this.$store.state.auth.avatarUrl
        if(window.isDev) { console.log("markerRoot", uid, avatar); }
        return L.icon({
            iconUrl: avatar, //'markers/root-marker-earth.png',
            iconSize:     [60, 60], // size of the icon
            iconAnchor:   [30, 30], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -30] // point from which the po
        });
      },      
      tagExists : function(tag){
        return this.postText.indexOf(tag) > -1 ? true : false
      },  
      labelSliderOnlyConnected : function(){
        if(this.showOnlyConnected == 0) return this.$vuetify.lang.t('$vuetify.main.Online')
        if(this.showOnlyConnected == 1) return this.$vuetify.lang.t('$vuetify.main.connectedLess24h')
        if(this.showOnlyConnected == 2) return this.$vuetify.lang.t('$vuetify.main.connectedDays')
        if(this.showOnlyConnected == 3) return this.$vuetify.lang.t('$vuetify.main.connectedAll')
        return this.$vuetify.lang.t('$vuetify.main.offlineSinceLong')
      },  
      colorSliderOnlyConnected : function(){
        if(this.showOnlyConnected == 0) return "green"
        if(this.showOnlyConnected == 1) return "orange"
        if(this.showOnlyConnected == 2) return "blue"
        if(this.showOnlyConnected == 3) return "purple"
        return "grey"
      },
      ticksLabelsOnlyConnected : function(){
        return [this.$vuetify.lang.t('$vuetify.main.All'), this.$vuetify.lang.t('$vuetify.main.connectedDays'), this.$vuetify.lang.t('$vuetify.main.connectedLess24h'), this.$vuetify.lang.t('$vuetify.main.Online')]
      }
  },

  watch: {
        '$route.name': { immediate: true, 
          async handler (val, oldVal) {
            if(window.isDev) { console.log("#MAIN -- route.name changed", val, oldVal, this.$store.state.stream.posts.length, this.$store.state.stream.pages.length) }
            if(typeof oldVal == 'undefined') return 
            if(val == 'stream-explore'){
              this.$store.dispatch('stream/setMode', 'pages')
            }
            if(val == 'stream'){
              this.$store.dispatch('stream/setMode', 'posts')
            }
          }
        },
        '$store.state.stream.mode': { immediate: true, 
            async handler (val, oldVal) {
                if(window.isDev) { console.log("#MAIN -- stream.mode changed", val, oldVal, this.uiLoaded, this.sharedPostUid) }

                //if user want to send post, 
                if(val == "send" || val == "share"){
                  //init stat of the popup on map
                  this.popupKey = 'send1'
                  //init max radius available (relative to km posted last 24h)
                  let load = await this.initKmMax()
                  if(load) this.updateContent()
                }else{
                  this.kmCurrentMax = this.kmLimit
                  if(val == "pages") this.updateMarkersPages()
                  if(val == "posts") this.updateMarkersPosts()
                } 

                //if mode changed, reload content
                if(oldVal == 'send'){
                  console.log("#MAIN -- do not reload content cause we come from send")
                } else{
                  this.pageNumber = 1
                  if(typeof oldVal != "undefined" && this.uiLoaded) 
                    if(this.$store.state.stream.pages.length == 0) this.updateContent()
                    if(this.$store.state.stream.posts.length == 0) this.updateContent()
                }



                this.showFormEdit = true
            }
        },
        '$store.state.stream.map.show': { immediate: true, 
            async handler (val) {
                if(window.isDev) { console.log("#MAIN stream.map.show has changed", 
                                                val, this.$refs, typeof this.$refs.rootMarker) }
                //on map show/hide : open/closePopupt
                if(this.$refs.rootMarker != null){
                  if(val == true) this.$refs.rootMarker.mapObject.openPopup()    
                  else            this.$refs.rootMarker.mapObject.closePopup()          
                }

                if(val == false){ //on hide map (show stream)
                  if(this.lastScrollY > 0) 
                    this.$vuetify.goTo(this.lastScrollY)
                }else{
                  this.lastScrollY = window.scrollY
                }
            }
        },

        '$store.state.stream.posts': { immediate: true, 
            handler () {
              if(window.isDev) { console.log("#MAIN stream.posts has changed"); }
              if(this.$store.state.stream.mode == "posts"){
                if(window.isDev) { console.log("#MAIN update markers posts"); }
                this.updateMarkersPosts()
              }
            }
        },
        '$store.state.stream.pages': { immediate: true, 
            handler () {
              if(window.isDev) { console.log("#MAIN stream.pages has changed", this.$store.state.stream.pages.length); }
              if(this.$store.state.stream.mode == "pages"
              || this.$store.state.stream.mode == "share"
              || this.$store.state.stream.mode == "send"){
                if(window.isDev) { console.log("#MAIN update markers pages"); }

                // if(this.timerUpdateMarker == null){
                //   this.timerUpdateMarker = setTimeout(()=>{
                //     console.log("setTimeout stream.pages changed GO")
                //     this.updateMarkersPages()
                //   }, 3000)
                // }else{
                this.updateMarkersPages()
                //     console.log("setTimeout stream.pages changed NOGO")
                // }
              }
            }
        },

        '$store.state.stream.origin': { immediate: true, 
            handler (val, oldVal) {
              if(window.isDev) { console.log("#MAIN °°° stream.origin has changed", val, oldVal); }
              if(typeof oldVal == "undefined") return
              if(this.$store.state.stream.mode == "posts"){
                this.pageNumber = 1
                this.$store.dispatch('stream/initPosts')
                this.updateContent()       
              }
            }
        },

        '$store.state.stream.pageType': { immediate: true, 
            handler (val, oldVal) {
              if(window.isDev) { console.log("#MAIN °°° stream.pageType has changed", val, oldVal); }
              if(typeof oldVal == "undefined") return
              if(this.$store.state.stream.mode == "pages"){
                if(this.$route.name != "stream-explore"){
                  this.$router.push('/stream-explore')
                }
                this.updateContent()
              }
            }
        },

        // '$store.state.stream.searchStr': { immediate: true, 
        //     handler (val, oldVal) {
        //       if(window.isDev) { console.log("#MAIN °°° stream.searchStr has changed", val, oldVal); }
        //       if(typeof oldVal == "undefined") return
        //       this.pageNumber = 1
        //       this.$store.dispatch('stream/initPosts')
        //       this.updateContent()
        //     }
        // },
        'showOnlyConnectedModel': { immediate: false, 
            handler () {
              this.showOnlyConnected = 3 - this.showOnlyConnectedModel
              this.updateMarkersPages()
              //sil y a des marker visibles sur la carte
              if(this.cntPageOnMap > 0){
                //zoom sur les marker visibles
                let mks = this.$refs.markerCluster.mapObject
                this.map.fitBounds(mks.getBounds())
              }else{ //si aucun marker visible
                let mks = this.$refs.rootCircle.mapObject
                //zoom sur le cercle de la zone de recherche
                this.map.fitBounds(mks.getBounds())
              }
              //console.log("#MAIN showOnlyConnectedModel", this.showOnlyConnectedModel, this.showOnlyConnected);
            }
        },
    }
}
</script>
