<template>
<div>
<v-row class="d-flex">
  <h1 class="d-none">Plaanet network user charter, please read carefully !</h1>
  <v-col cols="12" lg="7"  md="10" sm="10" class="mx-auto">
    <v-col cols="12" class="mx-auto text-center">
      <v-col cols="12" class="pa-0 mx-auto" style="background-color:#231f20;">

        <v-col class="text-center mx-auto"  cols="12" sm="8">
          <v-btn color="primary" block @click="signeCharte">
            <v-icon>mdi-check</v-icon> 
            {{ $vuetify.lang.t('$vuetify.home.readTheManifest') }}
          </v-btn>
          <v-chip color="transparent" class="pa-2 mt-1" small text-color="primary">
             You will then be redirected to the rest of the registration procedure
          </v-chip>
        </v-col>    
        <v-col cols="12" sm="12" class="pa-0 mt-5 text-center">
          <h1 class="d-none d-sm-inline font-konk mt-5">
            <v-icon>mdi-book</v-icon>Plaanet network user charter, please read carefully !
          </h1>
          <h3 class="d-sm-none font-konk mt-5">
            <v-icon>mdi-book</v-icon> 
          
          </h3>
        </v-col>

        <v-card class="pa-5 mt-4" outlined >
          <h1 class="font-konk">Plaanet Charter (english)</h1>
          <p class="text-left">
    <br><br>Plaanet is a free tool whose main purpose is to promote social gatherings and local organization, with a view to developing our resilience and towards a certain form of collective emancipation.

      <br><br>The involvement of Plaanet users may be subject to a posteriori moderation. If, after publication, the moderators consider that an intervention or any other form of participation does not comply with the principles of good conduct below, they reserve the right to delete this contribution without notice.

      <br>Plaanet users are free to exchange and interact, we invite you to show courtesy and moderation in all your actions and thank you for respecting some principles of good conduct expressed below.

      <br><br><b>These principles are the following, in a non-exhaustive way:</b>
<ul><li>
          The publication of a content on the platform is an acknowledgement of the public nature of Plaanet. As a user, you are responsible for your publications. You are therefore advised not to publish personal data such as personal details, email, postal address or telephone number.
</li><li>
          The comments which would harm or would be likely to harm a living being, a physical or moral person will be deleted and their authors will be likely to be banned.
</li><li>
          All comments of a defamatory, racist, xenophobic, sexist, aggressive, abusive, vulgar, threatening, obscene, calling for violence, religious proselytizing, disability, age, sexual orientation, or denigrating another user is prohibited, as well as any comments or content of a pornographic or pedophilic nature.
</li><li>
          Redundant or repetitive messages for commercial purposes (spam) are prohibited.
</li><li>
          Publications with a majority of CAPITAL LETTERS, which can be perceived as aggressive, are to be avoided.
</li><li>
          Concerning private messages, the same rules apply.
</li><li>
          As a reminder and/or information, Plaanet is a free initiative created, hosted and managed by volunteers who devote a lot of time and energy to it; we do our best to offer you the best user experience possible with the means we have, therefore publications by "haters" or any other aggressive behavior will not be tolerated, we will not reply to them and will automatically block these users.
</li></ul>
          <br><br>Under no circumstances can the Plaanet network be held responsible for the messages and publications posted on the platform by its users.
          <br><br>Thanking you in advance for your behavior, let us be tolerant, respectful and responsible, on Plaanet as elsewhere.
          The Plaanet Team
        </p>
        </v-card>

      </v-col>

      <v-col class="text-center">
        <!--
          <small class="red--text text-left">
            Toute inscription est soumise à l'approbation de la charte.
          </small><br>
        <br>
        -->
        <v-btn color="primary" block @click="signeCharte"><v-icon>mdi-check</v-icon>{{ $vuetify.lang.t('$vuetify.home.readTheManifest') }}</v-btn>
        <v-chip color="transparent" class="pa-2 mt-1" large text-color="primary">
            <small>You will then be redirected to the rest of the registration procedure</small>
        </v-chip>
        <br><br><br>
      </v-col>
    </v-col>
  </v-col>
</v-row>
</div>
</template>

<style>
  @media (max-width: 960px){
    .home-main-title{
      margin-top:45px;
      font-size:25px; 
    }
  }
  @media (max-width: 600px){
    .home-main-title{
      margin-top:10px;
      font-size:15px; 
    }
  }
</style>

<script>

//import axios from 'axios'
import router from '../router/router'
import core from '../plugins/core.js'

export default {
  name: 'home',
  components: {  },
  data:() => ({
    
  }),
  async mounted(){
       core.incStat('/manifest')
  },
  methods: {
    signeCharte : function(){
      localStorage.setItem("signedCharte", true)
      if(localStorage.getItem("nodeSelected")){
          router.push('/register')
      }else{
        router.push('/select-node')
      }
    }
  },
}
</script>
