<template>
<div>
<v-row class="d-flex">
  <h1 class="d-none">Charte utilisateur du réseau Plaanet,  à lire attentivement !</h1>
  <v-col cols="12" lg="7"  md="10" sm="10" class="mx-auto">
    <v-col cols="12" class="mx-auto text-center">
      <v-col cols="12" class="pa-0 mx-auto" style="background-color:#231f20;">

        <v-col class="text-center mx-auto"  cols="12" sm="8">
          <v-btn color="primary" block @click="signeCharte">
            <v-icon>mdi-check</v-icon> 
            {{ $vuetify.lang.t('$vuetify.home.readTheManifest') }}
          </v-btn>
          <v-chip color="transparent" class="pa-2 mt-1" small text-color="primary">
              Vous serez ensuite redirigé vers la suite de la procédure d'inscription
          </v-chip>
        </v-col>    
        <v-col cols="12" sm="12" class="pa-0 mt-5 text-center">
          <h1 class="d-none d-sm-inline font-konk mt-5">
            <v-icon>mdi-book</v-icon>Charte utilisateur du réseau Plaanet, à lire attentivement !
          </h1>
          <h3 class="d-sm-none font-konk mt-5">
            <v-icon>mdi-book</v-icon> 
          
          </h3>
        </v-col>

        <v-card class="pa-5 mt-4" outlined >
          <h1 class="font-konk">Charte Plaanet</h1>
          <p class="text-left">
              <br><br>Plaanet est un outil libre dont la raison d’être principale est de favoriser les rencontres physiques et l’organisation locale, dans l’optique du développement de notre résilience et vers une certaine forme d’émancipation collective.
              <br><br>
              L’implication des utilisateurs Plaanet peut faire l’objet d’une modération a posteriori. Si, après publication, les modérateurs estiment qu’une intervention ou toute autre forme de participation n’est pas conforme aux principes de bonne conduite ci-dessous, ils se réservent le droit de supprimer cette contribution sans préavis.
              <br><br>
              Les utilisateurs de Plaanet sont libres d’échanger et d’interagir, nous vous invitons à faire preuve de courtoisie et de modération dans l'ensemble de vos actions et vous remercions de respecter quelques principes de bonne conduite exprimés ci-après.
              <br><br>
              <b>Ces principes sont les suivants et ce de façon non exhaustive :</b>
              <ul>
              <li> La publication d'un contenu sur la plateforme vaut reconnaissance du caractère public de Plaanet.
              </li><li> En tant qu'utilisateur, vous êtes responsable de vos publications.
              </li><li> Il vous est donc déconseillé de publier des données à caractère personnel telles que coordonnées t personnelles, email, adresse postale, téléphone.
              </li><li> Les commentaires qui porteraient atteinte ou seraient susceptibles de porter atteinte à un être vivant, une personne physique ou morale seront supprimés et leurs auteurs seront susceptibles d'être bannis.
              </li><li> Tous propos à caractère diffamatoire, raciste, xénophobe, sexiste, agressif, injurieux, vulgaires, menaçants, obscènes, faisant appel à la violence, au prosélytisme religieux, au handicap, à l’âge, à l’orientation sexuelle, ou dénigrant un autre utilisateur est interdit, de même que tout propos ou contenu à caractère pornographique ou pédophile.
              </li><li> Les messages redondants ou répétitifs à des fins commerciales (spams) sont prohibés.
              </li><li> Les publications comportant une majorité de MAJUSCULES, pouvant être perçues comme agressive sont à éviter.
              </li><li> Concernant les messages privés, les mêmes règles s’appliquent.
              </li><li> Pour rappel et/ou information, Plaanet est une initiative libre créée, hébergée et gérée bénévolement par des libres y consacrant beaucoup de temps et d’énergie ; nous faisons donc de notre mieux pour vous proposer la meilleure expérience utilisateur possible avec les moyens qui sont les nôtres, par conséquent les publications de « haters », haineux ou autres comportements agressifs ne seront pas tolérés, nous n’y répondrons pas et bloquerons d’office ces utilisateurs.
              </li></ul>
              <br><br>
              En aucun cas le réseau Plaanet ne pourra pas être tenu pour responsable des messages et publications déposées sur la plateforme par ses utilisateurs.
              <br><br>
              En vous remerciant par avance pour votre comportement, soyons tolérants, respectueux et responsables, sur Plaanet comme ailleurs.
        </p>
        </v-card>
        

      </v-col>

      <v-col class="text-center">
        <!--
          <small class="red--text text-left">
            Toute inscription est soumise à l'approbation de la charte.
          </small><br>
        <br>
        -->
        <v-btn color="primary" block @click="signeCharte"><v-icon>mdi-check</v-icon>{{ $vuetify.lang.t('$vuetify.home.readTheManifest') }}</v-btn>
        <v-chip color="transparent" class="pa-2 mt-1" large text-color="primary">
            <small>Vous serez ensuite redirigé vers la suite de la procédure d'inscription</small>
        </v-chip>
        <br><br><br>
      </v-col>
    </v-col>
  </v-col>
</v-row>
</div>
</template>

<style>
  @media (max-width: 960px){
    .home-main-title{
      margin-top:45px;
      font-size:25px; 
    }
  }
  @media (max-width: 600px){
    .home-main-title{
      margin-top:10px;
      font-size:15px; 
    }
  }
</style>

<script>

//import axios from 'axios'
import router from '../router/router'
import core from '../plugins/core.js'

export default {
  name: 'home',
  components: {  },
  data:() => ({
    
  }),
  async mounted(){
       core.incStat('/manifest')
  },
  methods: {
    signeCharte : function(){
      localStorage.setItem("signedCharte", true)
      if(localStorage.getItem("nodeSelected")){
          router.push('/register')
      }else{
        router.push('/select-node')
      }
    }
  },
}
</script>
