<template>

<v-row id="profil" v-if="activeList != null">

  <v-col cols="12" >
    <v-card max-width="800" class="mx-auto">
      <v-list-item>

        <v-list-item-avatar height="60" width="60">
          <v-img :src="avatarUrl(page.uid)"></v-img>
        </v-list-item-avatar>
      
        <v-list-item-content>
          <v-list-item-title class="headline">
            <small>
              <template v-if="type=='my-pages'">
              <v-icon>mdi-certificate-outline</v-icon>
                {{ $vuetify.lang.t('$vuetify.page.youCreated') }} <strong class="pa-1">{{ activeList.length }}</strong> 
                {{ activeList.length > 1 ? $vuetify.lang.t('$vuetify.page.pages') : $vuetify.lang.t('$vuetify.page.page') }}
              </template>
              <template v-if="type=='contacts'">
              <v-icon>mdi-clipboard-account</v-icon>
                {{ $vuetify.lang.t('$vuetify.page.youHave') }} <strong class="pa-1">{{ activeList.length }}</strong> 
                {{ activeList.length > 1 ? $vuetify.lang.t('$vuetify.page.contacts') : $vuetify.lang.t('$vuetify.page.contact') }}
              </template>
              <template v-if="type=='follows'">
              <v-icon>mdi-link-variant</v-icon>
                {{ $vuetify.lang.t('$vuetify.page.youSubscribed') }} <strong class="pa-1">{{ activeList.length }}</strong> 
                {{ activeList.length > 1 ? $vuetify.lang.t('$vuetify.page.pages') : $vuetify.lang.t('$vuetify.page.page') }}
              </template>
              <template v-if="type=='blacklist'">
              <v-icon>mdi-scissors-cutting</v-icon>
                {{ $vuetify.lang.t('$vuetify.page.youBlocked') }} <strong class="pa-1">{{ activeList.length }}</strong> 
                {{ activeList.length > 1 ? $vuetify.lang.t('$vuetify.page.pages') : $vuetify.lang.t('$vuetify.page.page') }}
              </template>
              <template v-if="type=='roleEditor'">
              <v-icon>mdi-scissors-cutting</v-icon>
                {{ $vuetify.lang.t('$vuetify.page.youAreMember') }} <strong class="pa-1">{{ activeList.length }}</strong> 
                {{ activeList.length > 1 ? $vuetify.lang.t('$vuetify.page.pages') : $vuetify.lang.t('$vuetify.page.page') }}
              </template>
            </small>
          </v-list-item-title>
          
        </v-list-item-content>

      </v-list-item>
    </v-card>
    
    <br>
    
    <template v-if="activeList != null && activeList.length > 0">
      <template v-for="(p, i) in activeList">
          <PageCard :page="p" :key="i" :type="type"/>
      </template>
    </template>

    <v-card max-width="800" class="mx-auto">
    
      <v-list v-if="activeList == null || activeList.length < 0">
          <v-list-item>
          <v-list-item-content>
                <v-list-item-title>
                    <v-icon>mdi-cancel</v-icon> {{ $vuetify.lang.t('$vuetify.private.ContactListEmpty') }}
                </v-list-item-title>
                <v-list-item-subtitle>
                    {{ $vuetify.lang.t('$vuetify.page.addContactMsgPart1') }}
                    <v-icon>mdi-clipboard-account</v-icon>
                    {{ $vuetify.lang.t('$vuetify.page.addContactMsgPart2') }} .<br>
                    {{ $vuetify.lang.t('$vuetify.page.addContactMsgPart3') }}
                </v-list-item-subtitle>
          </v-list-item-content>
          </v-list-item>
      </v-list>
    
    </v-card>

  </v-col>
  {{ updateList }}
</v-row>
</template>


<script>
import core from '../plugins/core.js'
import PageCard from '@/components/page/PageCard.vue'


export default {
  name: 'contacts',
  components: { PageCard },
  props: [],
  data: () => ({
    user: {},
    page: {}, 
    activeList: [],
    type: "" 
  }),
  created(){
      this.initList()
  },
  methods: {
    initList: function(){
      this.user = this.$store.state.auth.user
      this.page = this.$store.state.auth.profile

      if(window.isDev) { console.log("route", this.$route.params.type); }
      if(this.$route.params.type == 'my-pages') this.activeList = this.user.pages
      if(this.$route.params.type == 'contacts') this.activeList = this.page.contacts
      if(this.$route.params.type == 'follows') this.activeList = this.page.follows
      if(this.$route.params.type == 'blacklist') this.activeList = this.page.blacklist
      if(this.$route.params.type == 'roleEditor') this.activeList = this.$store.state.auth.profile.memberPages

      this.type = this.$route.params.type
    },
    avatarUrl: function(pageUid){ return core.avatarUrl(pageUid) }
  },
  computed: {
      updateList : function(){
        if(this.type != this.$route.params.type) this.initList()
        return ""
      }
  }
}
</script>
