<template>
    <v-row id="profil" class="mt-5">
        <v-col cols="12" class="pa-0" v-if="secureAccess">
            <v-col class="d-none d-sm-flex"></v-col>
            <v-card max-width="600" color="" class="pa-3 mx-auto">
                <v-row style="margin-top:-12px;">
                <v-app-bar>
                    <v-icon class="ml-2 mr-3">mdi-cog</v-icon>
                    <v-toolbar-title>
                        <span v-if="!isMyProfil">{{ $vuetify.lang.t('$vuetify.settings.pageParameters') }}</span>
                        <span v-else>{{ $vuetify.lang.t('$vuetify.settings.accountParameters') }}</span>
                    </v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn class="mr-3" icon :to="'/page/'+page.uid"><v-icon>mdi-close</v-icon></v-btn>
                </v-app-bar>
                </v-row>
                <br>

                <v-card-subtitle v-if="page.type != 'user'"><v-icon small>mdi-chevron-down</v-icon> {{ $vuetify.lang.t('$vuetify.settings.modifyPageName') }}</v-card-subtitle>
                <v-card-subtitle v-else><v-icon small>mdi-chevron-down</v-icon> {{ $vuetify.lang.t('$vuetify.settings.modifyUserName') }}</v-card-subtitle>

                <v-text-field clearable outlined
                    :placeholder="((page.type == 'user')?$vuetify.lang.t('$vuetify.settings.userName'):$vuetify.lang.t('$vuetify.settings.pageName'))" :title="((page.type == 'user')?$vuetify.lang.t('$vuetify.settings.userName'):$vuetify.lang.t('$vuetify.settings.pageName'))" style="margin:0 15px 0 15px;"
                    single-line v-model="page.name"  class="input-search" color="blue"></v-text-field>

              <template v-if="page.type == 'user'">
                <v-textarea
                    :error-messages="PGPError"
                    outlined v-model="publicPGPKey" id="page_pgp_key" spellcheck="false" style="margin:0 15px 0 15px;"
                            :placeholder="$vuetify.lang.t('$vuetify.settings.enterPgpKey')"
                            :label="$vuetify.lang.t('$vuetify.settings.pgpKey')"></v-textarea>
              </template>


                <template v-if="page.type != 'user'">
                    <br>
                    <v-card-subtitle><v-icon small>mdi-chevron-down</v-icon> {{ $vuetify.lang.t('$vuetify.settings.modifyPageType') }}</v-card-subtitle>
                    
                    <v-bottom-navigation :height="70" style="margin:0;border-radius:5px;"
                                        v-model="page.type" grow color="primary" @change="changedType">
                        <v-btn value="group">
                            <span>{{ $vuetify.lang.t('$vuetify.pageType.group') }}</span>
                            <v-icon>mdi-account-group-outline</v-icon>
                        </v-btn>

                        <v-btn value="event">
                            <span>{{ $vuetify.lang.t('$vuetify.pageType.event') }}</span>
                            <v-icon>mdi-calendar-clock</v-icon>
                        </v-btn>

                        <v-btn value="assembly">
                            <span>{{ $vuetify.lang.t('$vuetify.pageType.assembly') }}</span>
                            <v-icon>mdi-hexagon-multiple-outline</v-icon>
                        </v-btn>
                    </v-bottom-navigation>
                    <br><br>
                </template>

                <v-row cols="12" class="" flex v-if="page.type=='event' && page.startDate != ''">
                    <v-col cols="12" sm="6" class="pr-0 pl-5">
                        <v-date-picker v-model="page.startDate" width="100%"
                                    :locale="$vuetify.lang.current"
                                    color="primary" class="mr-5"></v-date-picker>
                    </v-col>
                    <v-col cols="12" sm="6">
                        <v-time-picker :locale="$vuetify.lang.current" width="260" color="primary" 
                                        v-model="page.startTime"></v-time-picker>
                    </v-col>
                    <v-col cols="12">
                    <hr><br>
                    </v-col>
                </v-row>
                
                <v-row class="mx-auto">
                    <v-col class="pa-1">
                        <v-btn small block color="orange" :to="'/page/' + page.uid">
                            <v-icon>mdi-close</v-icon> {{ $vuetify.lang.t('$vuetify.main.Cancel') }}
                        </v-btn>
                    </v-col>
                    <v-col class="pa-1">
                        <v-btn small block color="green" @click="saveChanges">
                            <v-icon>mdi-check</v-icon> {{ $vuetify.lang.t('$vuetify.settings.confirmChanges') }}
                        </v-btn>
                    </v-col>
                </v-row>
                
                <template v-if="!isMyProfil && (isOwner || isSuperAdmin)">
                    <br><hr><br>
                    <v-btn small text color="red" v-if="isOwner" 
                                                    @click="showDeleteBlock=!showDeleteBlock">
                        <v-icon>mdi-delete</v-icon> {{ $vuetify.lang.t('$vuetify.settings.deletePage') }} 
                    </v-btn>
                    <v-btn small text color="red" v-else-if="isSuperAdmin" 
                                                    @click="showDeleteBlock=!showDeleteBlock">
                        <v-icon>mdi-delete</v-icon> <v-icon small class="ml-1">mdi-crown</v-icon> {{ $vuetify.lang.t('$vuetify.settings.deletePage') }}
                    </v-btn>
                </template>
                <template v-if="isMyProfil">
                    <br><hr><br>
                    <v-btn small text color="red" @click="showDeleteBlock=!showDeleteBlock">
                        <v-icon>mdi-delete</v-icon> {{ $vuetify.lang.t('$vuetify.settings.deleteMyAccount') }}
                    </v-btn>
                </template>

                <v-card class="pa-3 mt-3" v-if="showDeleteBlock">
                    <h4 class="red--text">{{ $vuetify.lang.t('$vuetify.settings.areYouSure') }}</h4>
                    <small>{{ $vuetify.lang.t('$vuetify.settings.dataWarning1') }}<br>
                           <small class="grey--text">{{ $vuetify.lang.t('$vuetify.settings.dataWarning2') }}</small>
                           <br>
                           {{ $vuetify.lang.t('$vuetify.settings.dataWarning3') }}
                    </small>
                    
                    <br><br>

                    <v-row class="mx-auto">
                        <v-col class="pa-1">
                            <v-btn small outlined block color="white" @click="showDeleteBlock=!showDeleteBlock">
                                <v-icon>mdi-close</v-icon> {{ $vuetify.lang.t('$vuetify.main.Cancel') }}
                            </v-btn>
                        </v-col>
                        <v-col class="pa-1">
                            <v-btn small  block color="red" @click="deletePage">
                                <v-icon>mdi-check</v-icon> {{ $vuetify.lang.t('$vuetify.main.Delete') }}
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-card>
            </v-card>
        </v-col>
        <v-col cols="12" md="6" class="mx-auto" v-else>
            <v-card>
                <v-app-bar class="pl-5" color="blue-grey darken-4">
                    <v-btn :loading="true" icon>
                    <v-icon class="ml-2 mr-3">mdi-refresh</v-icon>
                    </v-btn>
                    <v-card-subtitle>
                        <span>{{ $vuetify.lang.t('$vuetify.settings.identifyVerif') }}</span> 
                    </v-card-subtitle>
                </v-app-bar>
            
            </v-card>
        </v-col>
    </v-row>
</template>


<script>

import axios from 'axios'
import router from '../router/router'
import core from '../plugins/core.js'
import moment from 'moment'
import * as openpgp from "openpgp";
// import * as openpgp from "openpgp";


export default {
  name: 'pageSettings',
  props: [],
  components: {  },

  data: () => ({
    PGPError: [],
    publicPGPKey: '',
    page: { name: '', startDate: '', startTime : '12:00'},
    showDeleteBlock: false,
    secureAccess: false,
    isAdmin: false
  }),
  watch: {
    publicPGPKey: async function (v){
      try {
        await openpgp.readKey({ armoredKey: v });
        this.PGPError = []
      } catch(e) {
        this.PGPError = [e.message]
      }
    }
  },
  async mounted(){
    if(window.isDev) { console.log("CHECK MOUNT"); }
    this.tab = 0
    this.page.uid = this.$route.params.pageUid
    this.updateDataProfile()
  },

  methods: {
    async updateDataProfile(){
        if(window.isDev) { console.log("updateDataProfile"); }
        try{
            axios.post('/page/profil', { pageUid: this.page.uid })
                .then( res => {
                    if(res.data.error == false){
                        this.page = res.data.page
                        this.publicPGPKey = res.data.page.publicPGPKey;
                        this.checkAccessToSettings()

                        //if(window.isDev) { console.log("res.data", res.data); }
                    }else{
                        router.push('/');
                    }
                })        
        }catch(e){
            router.push('/login');
        }
    },
    checkAccessToSettings(){
        //check if is admin of the page
        this.page.roles.admin.forEach((p)=>{
            if(p.uid == this.$store.state.auth.profile.uid) this.isAdmin = true
        })
        //si pas admin de la page et pas superAdmin de l'instance : exit
        if(this.isAdmin == false && this.isSuperAdmin == false){ 
            console.log("exit")
            router.push('/')
        }
        else {
            this.secureAccess = true
        }
    },
    async saveChanges(){
        if(window.isDev) { console.log("saveChanges"); }
        try {
            try {
              await openpgp.readKey({ armoredKey: this.publicPGPKey })
            } catch {
              this.publicPGPKey = "";
            }

            axios.post('/page/save-settings', {
                      pageUid: this.page.uid,
                      pageName: this.page.name,
                      pageType: this.page.type,
                      publicPGPKey: this.publicPGPKey
                                              })
                .then( res => {
                    if(res.data.error == false){ 
                        this.$store.dispatch('auth/fetchUserContext')
                        router.push('/page/'+this.page.uid);
                    }else{
                        router.push('/');
                    }
                })        
        }catch(e){
            router.push('/login');
        }
    },

    async deletePage(){
        if(window.isDev) { console.log("deletePage"); }
        try{
            axios.post('/page/delete', { pageUid: this.page.uid })
                .then( res => {
                    if(res.data.error == false){ 
                        if(window.isDev) { console.log("delete page success", res); }
                        if(this.page.type == "user"){
                            localStorage.clear();
                            //this.$root.$emit('logout');
                            this.$store.dispatch('auth/logout')
                            //router.push('/');
                        }else{
                            this.$store.dispatch('auth/fetchUserContext');
                            router.push('/stream');
                        }
                    }else{
                       if(window.isDev) { console.log("error deleting page 1", res); }
                    }
                })        
        }catch(e){
            if(window.isDev) { console.log("error deleting page 2", e); }
            //router.push('/login');
        }
    },

    changedType(){
        if(window.isDev) { console.log("changed value", this.page.type, this.page.startDate); }
        if(this.page.type == 'event'){
            let date =  new Date()
            if(this.page.startDate == ''){
                this.page.startDate = moment(date).format('YYYY-MM-DD')
                this.page.startTime = "12:00"
            }else{
                 this.page.startDate = moment(this.page.startDate).format('YYYY-MM-DD')
            }
        }else{
            this.page.startDate = ''
        }
        if(window.isDev) { console.log("changed value res", this.page.startDate); }
    }
  },
  computed: {
    isMyProfil: function(){
        return this.page.uid == this.$store.state.auth.profile.uid
    },
    isOwner: function(){
        return this.page.owner._id == this.$store.state.auth.user._id
    },
    isSuperAdmin: function(){
        //si l'aut est super admin de l'instance sur laquelle se trouve la page
        return this.$store.state.auth.isAdmin &&
                core.iName(this.$store.state.auth.profile.uid) == core.iName(this.page.uid)
    }

  }
}

</script>