<template>
    <div>
        
        <v-row class="d-flex">

        <v-col cols="12" xl="6" lg="8"  md="11" sm="11" class="mx-auto">
            

            <v-col cols="12" class="pa-0 mx-auto text-center" style="background-color:#231f20;">
                

                <div id="doc" class="markdown-body container-fluid comment-enabled"
                     style="">
                
                <h1 class="font-konkretika main-title" style=" line-height:0.7em;">
                    LE PLAN<br><br>
                    <small style="font-size:0.6em;">Mise en place d'une assemblée citoyenne dans votre commune</small>
                </h1>
                <h5 class="main-title text-left">
                    <v-icon small>mdi-information</v-icon> Le plan exposé ici est à considérer comme une <u>proposition</u>.<br> 
                    Il vise à guider les personnes qui ne sauraient pas comment procéder pour organiser une assemblée.<br> 
                    Chaque individu est libre d'appliquer ce plan, ou non, ou de le modifier à sa convenence.
                    <br><br>
                    Le plus difficile n'est pas de tenir l'assemblée, mais de l'organiser.<br>
                    La première question à laquelle il faut répondre est : où organiser l'assemblée ?<br>
                    Pour trouver la réponse à cette question, une solution vous est proposée dans le plan.
                    Libre à vous d'essayer cette solution, ou de trouver un lieu par vos propres moyens.
                    <br><br> 
                    L'important est que des assemblées se forment rapidement et le plus largement possible.<br>
                    Si vous ne savez pas comment faire, le plan ci-dessous peut vous aider à élaborer votre propre plan.
                    <br><br>
                    <i>le plan présenté ci-dessous peut être modifié tant que le réseau n'est pas encore vraiment ouvert,
                        contactez AlphaTango si vous souhaitez contribuer.
                    </i>
                </h5>           

                <p></p>
                <hr><br>
                <h4 id="LE-PLAN-">LE PLAN :</h4><ul><br>
                <li>
                <p>Tout d’abord : décider de la date à laquelle vous souhaitez organiser votre première assemblée (dans l’idéal, l’assemblée sera ensuite hebdomadaire).</p>
                </li>
                <li>
                <p>Ensuite, rédiger un courrier à votre mairie dans lequel :</p>
                <ul>
                <li>Vous expliquez votre démarche.</li>
                <li>Vous invitez le maire de votre commune, ainsi que tous les élus locaux, à se joindrent à votre assemblée à la date indiquée.</li>
                <li>Vous demandez la mise à disposition d’un local ou d’un espace approprié pour tenir votre assemblée  <br><em>(facultatif : si vous disposez déjà d’un local, vous pouvez ignorer cette étape)</em>.
                <ul>
                <li>En cas de refus, déterminer un lieu sans le consentement du/des élu(s) tout en maintenant leurs invitations, et tenir l’assemblée à l’endroit décidé, sans tenir compte des interdictions s’il y en a.</li>
                </ul><br>
                </li>
                </ul>
                </li>
                <li>
                <p>Dans le cas où les pouvoirs publiques tenteraient d’utiliser la force pour interrompre l’assemblée, 
                    protéger l’assemblée autant que possible pour lui permettre de continuer.</p>
                </li>
                <li>
                <p>Dans le cas où il n’est plus possible de tenir l’assemblée dans des conditions raisonnables, 
                    susprendre l’assemblée et la reporter à une date ultérieure, dans l’idéal le lendemain, ou le même jour à un autre endroit.</p>
                </li>
                </ul><blockquote>
                <p>De cette façon, ce sont les citoyens à l’initiative de l’assemblée qui contrôlent la situation, pas les pouvoirs publics. 
                    Il est fort probable que certaines assemblées soient interrompues. Mais il est aussi fort probable qu’elle ne le soit pas toutes, 
                    et même que certaines mairies coopèreront avec bonne volonté.</p>
                </blockquote><ul>
                <li>Dans le cas où l’assemblée peut se tenir dans de bonnes conditions, elle devra alors se charger de remplir sa mission : 
                    donner la parole aux citoyens afin de discuter de la situation, débattre, proposer des solutions, et décider des mesures à prendre.</li>
                </ul><blockquote>
                <p>La présence des élus est souhaitable pour que ces échanges soient entendus et que les mesures soient mises en oeuvre plus facilement.
                    Le rapport de force sera d'autant plus grand si nous réussissons à rallier des élus à notre cause.
                </p>
                </blockquote><blockquote>
                <p>Les élus ne seront pas là pour diriger l’assemblée, mais pour y assister, en tant qu’invité, pour ne rien rater du débat politique et démocratique ayant lieu dans l’assemblée. 
                    Si l’élu veut rester crédible et garder son titre de “représentant”, il ne pourra faire autrement que suivre vos règles du jeu.</p>
                </blockquote><ul>
                <li>Dans le cas où les élus refuseraient d’appliquer les décisions prises par les citoyens qu’ils sont censés représenter, 
                    il faudra alors décider collectivement de la marche à suivre pour parvenir à leur mise en oeuvre malgré la non-coopération des pouvoirs publics.</li>
                </ul>
                
                <br><hr><br>

               
                    <h4 class="text-center mb-2">Comment fonctionne une assemblée ?</h4>
                    <v-btn target="_blank" block href="https://docs.google.com/presentation/d/e/2PACX-1vTSnRERaly5MjC3UY1EGSVImPJe8zIv4RoUP1nSNMuTxlwC4fDbb0dv_WfLYn6QDKmVjK-TGzlYcZCC/pub#slide=id.g64247d88f4_0_380">
                       <v-icon>mdi-file</v-icon> ouvrir le document
                    </v-btn>
               
                </div>
            </v-col>
        </v-col>
        </v-row>
    </div>
</template>

<style>
.markdown-body{
    background-color: #171516;
    border: 4px dashed #231f20;
    border-radius:1px;
    padding: 30px 40px 50px 40px;
}
.main-title{
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px dashed #2f2b2c;
}

.markdown-body ul,
.markdown-body p{
    font-size:0.92em;
    font-weight: 500 !important;
}
.markdown-body blockquote{
    margin-top:10px;
    margin-bottom:5px;
    color:#a49595;
    font-size:0.88em;
    font-weight:200;
}

@media (max-width: 600px){

.markdown-body{
    padding: 30px 15px 50px 15px;
}
.markdown-body ul,
.markdown-body p{
    font-size:0.87em;
}
.markdown-body li{
    padding:5px 0px;
}

}
</style>


<script>


export default {
  name: 'plan',
  components: {  },
  data:() => ({
   
    
  }),
  async mounted(){
      
     
  },
  methods: {
    
  }
}

</script>