<template>

<v-row id="private">  
    <v-col style="max-width:600px; width:100%; margin:auto;" id="stream" class="main-container">  
        <v-col class="pa-0 text-center grey--text">
            <!-- <v-chip class="mt-3 pl-3" primary--text 
                    color="rgba(29, 59, 70, 0.5)" text-color="primary">
                <v-icon small color="primary" class="mr-1">mdi-comment</v-icon> 
                <h3>
                  {{ $vuetify.lang.t('$vuetify.private.PrivateMessaging') }}
                </h3>
            </v-chip> -->
            <small class="d-sm-none">
              <v-icon small color="grey">mdi-comment</v-icon>
              {{ $vuetify.lang.t('$vuetify.private.PrivateMessaging') }}
            </small>

        </v-col>
        <v-navigation-drawer  id="contact-drawer" absolute
            v-model="drawerContact" color="grey darken-4" 
            style="max-width:100%; width:400px; ">
                
            <v-list two-line>
                <v-btn icon style="float:right" class=" ma-2" @click="drawerContact=false">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title class="pa-3">
                  <v-icon>mdi-clipboard-account</v-icon> 
                  {{ $vuetify.lang.t('$vuetify.main.Contacts') }}
                </v-toolbar-title>
                <hr>
                

                <template v-for="(p, i) in page.follows">
                    
                    <v-list-item :key="i" @click="loadStream(p)">
                            <v-list-item-avatar class="mt-6 mr-2">
                                        <v-img :src="avatarUrlF(p.uid)"></v-img>
                            </v-list-item-avatar> 
                       
                        <v-list-item-content>
                            <v-list-item-title>{{ p.name }}</v-list-item-title>
                            <v-list-item-subtitle>
                                <v-icon small>mdi-spider-web</v-icon> {{ iName(p.uid) }}
                            </v-list-item-subtitle>
                        </v-list-item-content>
                        <v-list-item-icon class="ma-2 mt-3">
                          <v-btn class="ma-2" icon @click="loadStream(p)">
                            <v-icon :color="'primary'">mdi-comment</v-icon>
                          </v-btn>
                          <v-btn class="ma-2" icon :to="'/private/sendto/' + p.uid">
                            <v-icon :color="'secondary'">mdi-send</v-icon>
                          </v-btn>
                        </v-list-item-icon>
                    </v-list-item>
                </template>
            </v-list>

            <v-list v-if="page.contacts == null || page.contacts.length == 0">
                <v-list-item>
                <v-list-item-content>
                        <v-list-item-title>
                            <v-icon>mdi-cancel</v-icon> 
                            {{ $vuetify.lang.t('$vuetify.private.ContactListEmpty') }}
                        </v-list-item-title>
                        <v-list-item-subtitle>
                            {{ $vuetify.lang.t('$vuetify.private.UseTheButton') }}
                            <v-icon>mdi-clipboard-account</v-icon> 
                            {{ $vuetify.lang.t('$vuetify.private.toAddMember') }}
                        </v-list-item-subtitle>
                </v-list-item-content>
                </v-list-item>
            </v-list>

                
        </v-navigation-drawer>
  
        <v-col class="pa-0 mt-3">

            <v-toolbar id="toolbar-contentt" dense color="darkblock"
                style="margin:0 0 15px 0; border-radius:5px;">
                <v-btn icon color="grey" style="margin-left:0px">
                    <v-icon>mdi-magnify</v-icon>
                </v-btn>

                <v-text-field clearable :loading="loadingContent" @change="loadStream" id="searchInPost"
                    hide-details :placeholder="$vuetify.lang.t('$vuetify.stream.searchContent')" style="margin-right:15px;"
                    single-line v-model="searchContentStr"  class="input-search"
                ></v-text-field>

                <v-btn icon style="margin-right:0px" @click="showTags=!showTags">
                    <v-icon>mdi-pound-box</v-icon>
                </v-btn>
            </v-toolbar>


            <v-col class="mt-0 mb-4 pa-0" v-if="showTags">
                <v-card color="blue-grey darken-4">
                    <v-col class="">
                    <!-- <h4>#hashtags</h4> -->
                    <h5>#hashtags suggestions</h5>
                    <v-col class="pa-0 mt-2">
                        <template v-for="(tag, i) in hashtagList">
                        <v-chip @click="addTagNewPost(tag.tag)" small 
                                style="padding-right:6px;"
                                :color="searchContentStr.indexOf(tag.tag) > -1 ? 'blue' : ''"
                                :key="i" class="mr-2 mt-2">
                                {{ tag.tag }} 
                                <v-avatar small right class="grey darken-1" >{{ tag.count }}</v-avatar>
                        </v-chip>
                        </template>
                        </v-col>
                    </v-col>
                </v-card>
            </v-col>
            

            <v-bottom-navigation :height="70" 
                style="border-radius:5px; "
                grow 
            >

                <v-btn @click="drawerContact=!drawerContact">
                    <span>{{ $vuetify.lang.t('$vuetify.main.Contacts') }}</span>
                    <v-icon>mdi-clipboard-account</v-icon>
                </v-btn>

                <v-btn :loading="streamLoading" @click="loadStream()">
                    <span>{{ $vuetify.lang.t('$vuetify.main.Messages') }}</span>
                    <v-icon>mdi-refresh</v-icon>
                </v-btn>


                <v-btn :to="'/private/sendto'">
                    <span>{{ $vuetify.lang.t('$vuetify.main.New') }}</span>
                    <v-icon>mdi-send</v-icon>
                </v-btn>
            </v-bottom-navigation>
        </v-col>
        

        <v-col class="text-center" v-if="currentPage!=null">
            <v-chip  style="height:36px; margin-top:30px;" 
                    color="dark" class="pl-0 pr-2"
                    :title="'on node :'+iName(currentPage.uid)">
                    <img :src="avatarUrlF(currentPage.uid)" width="30" class="ma-1"/>
                @{{ currentPage.name }}
            </v-chip> 
        </v-col>

        <template>
          <Post
            v-for="(post, i) in stream" :key="i" 
            :post="post"
            :notread="$store.state.auth.profile.dateReadPrivate < post.created"
            origin="private" 
          />
          <EndOfStream 
            :endOfStream="endOfStream"
            :mapMode="'stream'"
            :pageNumber="pageNumber"
            :searchContentStr="''"
            :streamLoading="streamLoading"
            :streamLength="stream.length"
          />
        </template>
        

    </v-col>
</v-row>


</template>

<style>
  @import "~leaflet/dist/leaflet.css";
  @import "~leaflet.markercluster/dist/MarkerCluster.css";
  @import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

    .main-row,
    #contact-drawer{
        height:100%;
    }
    #private .v-bottom-navigation{
        background-color: #212121!important;
    }
    #stream{
      padding-bottom:400px;
    }
</style>

<script>

import axios from 'axios'
import router from '../router/router'

//import L from 'leaflet';
//import {LMap, LTileLayer, LMarker, LCircle, LPopup} from 'vue2-leaflet'
//import Vue2LeafletMarkerCluster from 'vue2-leaflet-markercluster'
//import CTP from 'circle-to-polygon';
//import Stream from '@/components/Stream.vue'
import Post from '@/components/Post.vue'
import core from '../plugins/core.js'
import EndOfStream from '@/components/page/EndOfStream.vue'

//import GetUrls from 'get-urls'

export default {
  name: 'home',
  components: { Post, EndOfStream },
  props: [],
  data:() => ({
    loadingContent: false,  
    drawerContact: false,
    page: {},
    stream: [],
    lastScrollOffset: window.screenTop || 0,
    showStream: true,
    streamLoading: false,
    currentPage: null,
    searchContentStr: "",
    showTags: false,
    sendToUid: null,
    pageNumber : 1,
    endOfStream : false,
    hashtagList: [
      ]
  }),
  async mounted(){
      this.updateDataProfile()
      this.loadStream()

      core.initRand()
     
      this.$root.$off('showFormEditPost').$on('showFormEditPost', (bool) => { 
        if(window.isDev) { console.log('showFormEditPost 2', bool); }
        this.showFormEdit = bool;
        this.loadStream()
      })


      this.$root.$off('loadStream').$on('loadStream', () => { 
        this.pageNumber = 1
        this.loadStream(this.currentPage)
      })

      this.$root.$off('openTag').$on('openTag', (tag) => { 
        if(window.isDev) { console.log('openTag in Stream.vue', tag); }
        this.searchContentStr = tag
        this.loadStream();
      })


      this.myPages = this.$store.state.auth.user.pages
      this.postSignedUid = this.$store.state.auth.profile.uid

      this.sendToUid = this.$route.params.uid

    // Never call e.preventDefault here
      const onScroll = () => {
        if(
            this.$store.state.stream.isLoading !== false ||
            document.getElementById("stream") == null
        ) {
            if (window.isDev) {
                //console.log('onScroll handler called but skipped.');
            }

            return;
        }

        const streamEndOffset = document.getElementById("stream").offsetHeight - window.innerHeight - 500;
        if (this.lastScrollOffset !== streamEndOffset && window.scrollY > streamEndOffset) {
            if (window.isDev) {
                console.log('Scrolled to end of stream, fetching next page...');
            }

            this.$root.$emit('loadNextContent');
            this.lastScrollOffset = streamEndOffset;
        }
      }

      window.addEventListener('scroll', onScroll, { passive: true });

      core.incStat('/private')
  },
  methods: {

      
      removeUid : function(arr, uid){
        if(window.isDev) { console.log("removeUid", arr, uid); }
        let pos = arr.indexOf(uid)
        arr.splice(pos, 1)
        return arr
      },
      
      async updateDataProfile(){
        this.page = this.$store.state.auth.profile
        this.avatarUrl = core.avatarUrl(this.page.uid)        
        this.myPages = this.$store.state.auth.user.pages
        this.pageNumber = 1
    },

    sendPrivateMsg : async function(uid){
        //await this.addToContact()
        if(uid == null) router.push('/private/sendto')
        else            router.push('/private/sendto/'+uid)
    },
    addTagNewPost : function(tag){
        let pos = this.searchContentStr.indexOf(tag)
        if(pos > -1){ //tag exist in text
            this.searchContentStr = this.searchContentStr.replace(tag, '')
        }else{ //tag not exist in text
            this.searchContentStr += ' ' + tag
        }
    },

    loadStream: async function(page=null){
        if(this.pageNumber == 1) this.stream = []
        this.streamLoading=true
        this.drawerContact = false
        this.loadingContent = true
        const res = await axios.post('/publication/get-stream-private', 
                                      { search: this.searchContentStr, 
                                        pageNumber: this.pageNumber,
                                        pageUid: page != null ? page.uid : null })
        this.loadingContent = false
        this.currentPage = page

        if(this.pageNumber == 1) this.stream = res.data.stream
        else                     this.stream = this.stream.concat(res.data.stream)
        
        this.streamLoading = false
        this.showScopeCircle = false
        this.updateTags()
        this.$root.$emit('streamLoaded')

        this.endOfStream = (res.data.stream.length < res.data.nbPerPage)

        this.$store.dispatch("notifications/updateDatePrivate")
        // setTimeout(()=>{
        //   this.$root.$emit('updateDatePrivate')
        // }, 1000)
        

        if(window.isDev) { console.log("res /publication/get-stream", res, page); }
      },
      updateTags : function(){
        this.hashtagList = []
        this.stream.forEach((post)=>{
          if(window.isDev) { console.log("hashtags ?", post.hashtags); }
          if(post.hashtags != null && post.hashtags.length > 0){
            post.hashtags.forEach((tag)=>{
              let found = false
              this.hashtagList.forEach((tagL)=>{
                if(tag == tagL.tag) found = true
              })
              if(!found) this.hashtagList.push({ tag: tag, count: 1})
              else{
                this.hashtagList.forEach((tagL)=>{
                  if(tag == tagL.tag) tagL.count++
                })
              }
            })
            
          }
        })
        this.hashtagList.sort((a, b) => (a.count < b.count) ? 1 : -1)
      },
      setReceiver: async function(receiverUid){
        this.drawerContact = false
        this.$root.$emit('setReceiver', receiverUid);
      },
      extractMeta: async function(){
        //let links = GetUrls(this.postText)
        var matches = this.postText.match(/\bhttps?:\/\/\S+/gi);
        this.embedMetaLinks = []
        if(matches != null)
        matches.forEach(async (link, i) => {
          const res = await axios.post('/publication/extract-meta', 
                                      { link: link })
          if(window.isDev) { console.log("request for", link, i, res); }
          this.embedMetaLinks.push(res.data.embedMetaLink)
        })
        
      },
      removeMetaLink: function(i){
        this.embedMetaLinks.splice(i, 1)
      },
      decrementM: function(){
        this.rootRadiusMeters-=100
        this.updateRadius()
      },
      incrementM: function(){
        this.rootRadiusMeters+=100
        this.updateRadius()
      },
      decrement: function(){
        this.rootRadius--
        this.updateRadius()
      },
      increment: function(){
        this.rootRadius++
        this.updateRadius()
      },
      openPost: function(post) {
          if(window.isDev) { console.log("open post", post); }
          this.$root.$emit('openPost', post);
          //router.push('/post/'+postUid);
      },
      avatarUrlF: function(pageUid){
        return core.avatarUrl(pageUid)
      },
      iName: function(pageUid){
        return core.iName(pageUid)
      }
      
  },
  computed: {
      
  },
}
</script>
