<template>
<v-row>
  <v-col cols="8" class="mx-auto" style="margin-top:100px;">
    <h2 class="text-center pb-2 primary--text">{{ $vuetify.lang.t('$vuetify.page.pageUpdate') }}</h2>
    <h4 class="text-center pb-5 primary--text">{{ $vuetify.lang.t('$vuetify.main.pleaseWaitDuringPageLoad') }}...</h4>
    <v-progress-linear indeterminate ></v-progress-linear>
  </v-col>
</v-row>
</template>

<script>

import router from '../router/router'

export default {
  name: 'reload-view',
  props: [],
  data:() => ({
    progress: 0
  }),
  computed: {},
  async mounted(){
    setTimeout(()=>{
        router.back()
        }, 2000)
    //this.loop()
  },
  methods: {
    loop: function(){
      if(this.progress < 100){
        setTimeout(()=>{
          this.progress+=10
          this.loop()
        }, 100)
      }else{
        router.back()
      }
    }
  },



}
</script>