<template>
<div>
    <h5 class="card-lbl"><v-icon>mdi-chevron-down</v-icon> Send money from</h5>
    <v-card class="mx-auto">
        <v-col cols="12" style="padding:0px;">
            <v-card-title>
                <v-icon>mdi-wallet</v-icon> 
                {{ fromWalletName == 'current' ? 'Compte courant' : fromWalletName }}
            </v-card-title> 
            <v-card-subtitle><small>{{ fromWalletUid }}</small></v-card-subtitle>
            <v-card-text>
                <h2 v-if="fromWalletType=='current'">{{ coinChangeUni(fromWalletAmount) }} ùni</h2>
                <h2 v-if="fromWalletType=='custom'">{{ roundUni(fromWalletAmount) }} ùni</h2>
            </v-card-text> 
            
        </v-col>
    </v-card>

    <center><v-icon style="transform: rotate(270deg); margin-top:10px">mdi-coins</v-icon></center>

    <h5 class="card-lbl"><v-icon>mdi-chevron-down</v-icon> Send money to</h5>

    <v-btn large style="width:49%; margin: 0px 1% 15px 0%" @click="scanQR=!scanQR">
        <v-icon style="margin-right:5px">mdi-qrcode-scan</v-icon> SCAN QR-CODE
    </v-btn>

    <v-btn large style="width:49%; margin: 0px 0% 15px 1%" @click="showMyWallets=!showMyWallets">
        <v-icon style="margin-right:5px">mdi-wallet</v-icon> WALLETS
    </v-btn>

    
    <br>
    <qrcode-stream v-if="scanQR == true" @decode="onDecode" @init="onInit"></qrcode-stream>
    
    <v-text-field v-if="scanQR == false" prepend-inner-icon="mdi-account-search" outlined clearable
                    v-model="searchContactStr" @change="searchForContact()"
                    id="name" label="Search contact" @focus="showMyAccounts=false; showMyContacts=false">
    </v-text-field> 

    <v-card class="mx-auto"  v-if="searchContactRes.length > 0 && showSearchContact">
        <v-list shaped>            
            <v-list-item-group v-model="toWalletUid" clickable color="primary" @change="selectToWallet()">
                <v-list-item
                v-for="(item, i) in searchContactRes"
                :key="i"
                :value="item.uid"
                >
                    <v-list-item-icon>
                        <v-icon>mdi-wallet</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title style="font-weight:200; font-size:18px" 
                                            v-text="item.name">
                        </v-list-item-title>
                        <small><small style="font-weight:200">{{ item.uid }}</small></small>
                    </v-list-item-content>

                </v-list-item>
            </v-list-item-group>
        </v-list>                
    </v-card>
    
    <br>

    <div v-if="showMyWallets">
        <v-card class="mx-auto">
            <v-list shaped>
                <v-subheader @click="showMyAccounts=!showMyAccounts">
                    <v-icon>mdi-chevron-down</v-icon>MY ACCOUNTS - {{ toWallets != null ? toWallets.length : 0 }}
                </v-subheader>

                <v-list-item-group v-if="showMyAccounts" v-model="toWalletUid"
                        clickable  @change="selectToWallet()" color="primary">
                    <v-list-item @click="showMyContacts=false;showSearchContact=false;searchContactStr=''"
                    v-for="(item, i) in toWallets"
                    :key="i"
                    :value="item.value"
                    >
                        <v-list-item-icon>
                            <v-icon>mdi-wallet</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title style="font-weight:200; font-size:18px" 
                                                v-text="item.text">
                            </v-list-item-title>
                        </v-list-item-content>

                        <v-list-item-action>
                            <small>{{ item.account_uni }} ùni</small>
                        </v-list-item-action>

                    </v-list-item>
                </v-list-item-group>
            </v-list>
        </v-card>
        <br>
        
        <v-card class="mx-auto">   
            <v-list shaped>
                <v-subheader @click="showMyContacts=!showMyContacts">
                    <v-icon>mdi-chevron-down</v-icon>
                    MY CONTACTS - {{ user.contacts != null ? user.contacts.length : 0 }}
                </v-subheader>

                <v-list-item-group v-if="showMyContacts" v-model="toWalletUid"
                    clickable  @change="selectToWallet()" color="primary">
                    <v-list-item
                    v-for="(item, i) in user.contacts"
                    :key="i"
                    :value="item.uid"
                    >
                    <v-list-item-icon>
                        <v-icon>mdi-wallet</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title style="font-weight:200; font-size:18px" v-text="item.name">
                        </v-list-item-title>
                            <small><small style="font-weight:200">{{ item.uid }}</small></small>
                    </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
                    
        </v-card>
    </div>
    <!-- KEYBOARD -->
    <v-row v-show="toWalletName != false">
        <v-col cols="12">
            <br><hr>
            <br><center id="ready-to-send"><v-icon>mdi-check</v-icon> ready to send</center>
            <br><hr><br>
             
            <h5 class="card-lbl"><v-icon>mdi-chevron-down</v-icon> Send money from</h5>
            <v-alert
                border="left"
                colored-border
                color="blue accent-4"
                elevation="2"
                >
                <v-col cols="12" style="padding:0px;">
                    <v-card-title style="padding:0px;">
                        <v-icon>mdi-wallet</v-icon> 
                        {{ fromWalletName == 'current' ? 'Compte courant' : fromWalletName }}
                    </v-card-title> 
                    
                    <h2 v-if="fromWalletType=='current'">{{ coinChangeUni(fromWalletAmount) }} ùni</h2>
                    <h2 v-if="fromWalletType=='custom'">{{ roundUni(fromWalletAmount) }} ùni</h2>
                    
                    <small style="font-weight:200" class="orange--text" 
                            v-if="fromWalletType=='current' && relativeAmountU() < parseFloat(coinChangeUni(fromWalletAmount))">
                        R = {{ relativeAmountU() }}
                        <!-- <img alt="UNI" src="../assets/uni-logo-white.png" height=15> -->
                    </small>

                    <small style="font-weight:200" class="orange--text" 
                            v-if="fromWalletType=='custom' && relativeAmountUni() < parseFloat(roundUni(fromWalletAmount))">
                        R = {{ relativeAmountUni() }} 
                        <!-- <img alt="UNI" src="../assets/uni-logo-white.png" height=15> -->
                    </small>
                    
                    <v-card-subtitle style="padding:0px;margin-top:0px">
                        <small>{{ fromWalletUid }}</small>
                    </v-card-subtitle>
                    
                </v-col>
            </v-alert>

            <h5 class="card-lbl"><v-icon>mdi-chevron-down</v-icon> Send money to</h5>
            <v-alert
                border="left"
                colored-border
                color="green accent-4"
                elevation="2"
                >
                <v-col cols="12" style="padding:0px;">
                    <v-card-title style="padding:0px;">
                        <v-icon>mdi-wallet</v-icon> 
                        {{ toWalletName == 'current' ? 'Compte courant' : toWalletName }}
                    </v-card-title> 
                    <v-card-subtitle style="padding:0px;margin-top:0px">
                        <small>{{ toWalletUid }}</small>
                    </v-card-subtitle>
                </v-col>
            </v-alert>

            <h5 class="card-lbl"><v-icon>mdi-chevron-down</v-icon> Amount transaction</h5>
            <hr>
            <h1 style="margin-bottom:5px" :class="amountColor"><center>
              {{ amount }} <img alt="UNI" src="../assets/uni-logo-white.png" height=30>
            </center></h1>
            <hr>

        </v-col>
        <v-col  cols="4" v-for="(n, i) in keyboard" :key="i" style="padding:5px">
            <v-btn rounded class="mx-auto" block  color='primary'
                    @click='kbAddNumber(n)' retain-focus-on-click
                    style="height:40px">
                {{ n }}
            </v-btn>
        </v-col>
        <v-col cols="4" style="padding:5px">
            <v-btn rounded class="mx-auto" block color='primary'
                    @click='kbRemoveNumber()' retain-focus-on-click
                    style="height:40px">
                <v-icon>mdi-backspace</v-icon>
            </v-btn>
        </v-col>

        <v-col cols="12" style="padding:5px"><br>

            <v-alert  v-if="errorSendTransaction != ''" :value="true" type="error" >
                {{ errorSendTransaction }}
            </v-alert>
            
            <v-alert  v-if="successSendTransaction != ''" :value="true" type="success" >
                {{ successSendTransaction }}
            </v-alert>
            
            <v-btn rounded class="mx-auto" block color='secondary' v-show='!sending' :disabled="this.errorSendTransaction!=''"
                    @click='sendMoney()' retain-focus-on-click
                    style="height:50px">
                <v-icon>mdi-send</v-icon> Send
            </v-btn>

            <!-- <v-badge colors="red--text" v-if="errorSendTransaction != ''">{{ errorSendTransaction }}</v-badge> -->
            <br><br><br><br>
        </v-col>
    </v-row>
    
</div>
</template>

<style>
    .card-lbl{
        font-weight: 200;
        padding:5px;
    }
    .v-list-item__icon,
    .v-card__title .v-icon{
        margin-right: 5px!important;
    }
</style>

<script>

import axios from 'axios'
import router from '../router/router'
import { QrcodeStream } from 'vue-qrcode-reader'


export default {
  name: 'auth',
  components: { QrcodeStream },
  data: () => ({
    user: { name : "", wallets : [{ account_u: "~",  account_uni: "~" }] },
    myWallets: [],
    fromWalletUid: '',
    fromWalletName: '',
    fromWalletAmount: '~',
    fromWalletAmountPending: '~',
    fromWalletType: '~',
    fromWalletPendings: [],
    toWallets: [],
    toWalletUid: '',
    amount: "0",
    keyboard: [1,2,3,4,5,6,7,8,9,0,'.'],
    amountColor: '',
    showMyAccounts: true,
    showMyContacts: false,
    showMyWallets: false,
    showSearchContact: true,
    searchContactStr: "",
    searchContactRes: [],
    errorSendTransaction: "",
    successSendTransaction: "",
    sending: false,
    scanQR: false,
    jsonQR: {},
    error: ""
  }),
  async mounted(){
      this.fromWalletUid = this.$route.params.fromWalletUid
      try{
        await axios.get('/user/profil').then(res => {
            //get user data
            this.user = res.data.user
            
            //search for name & amout of the sender wallet (cf: url param fromWalletUid)
            this.user.wallets.forEach(wallet => {
                //if(window.isDev) { console.log("UID ?", wallet.uid, this.$route.params.fromWalletUid); }
                //if found : save name & amount
                if(wallet.uid == this.$route.params.fromWalletUid){
                    this.fromWalletType = wallet.type
                    this.fromWalletName = wallet.name
                    this.fromWalletAmount = wallet.type == "current" ? wallet.account_u :  wallet.account_uni
                    this.fromWalletPendings = wallet.pendingTransactions
                }else{ //else push the wallet to the list of possible receivers
                    this.toWallets.push({ 
                        text: wallet.name,
                        type: wallet.type,
                        value: wallet.uid,
                        account_u: wallet.account_u,
                        account_uni: wallet.account_uni,
                    })
                    if(window.isDev) { console.log("wallet.account", wallet.account_u, "u", wallet.account_uni, "uni"); }
                }
            });
            //if no wallet found > exit : this is not your wallet man !
            if(this.fromWalletName == '') router.push('/');
            if(window.isDev) { console.log("toWallets", this.toWallets); }
            if(window.isDev) { console.log("user.contacts", this.user.contacts); }
            //this.myWallets.splice(0,1)
        })
      }catch(e){
        if(window.isDev) { console.log("error /user/profil", e); }
        router.push('/');
      }
  },
  methods: {
    async onInit (promise) { if(window.isDev) { console.log("on init"); }
      try {
          this.error = 'try await promise'
        await promise
      } catch (error) {
        if (error.name === 'NotAllowedError') {
          this.error = "ERROR: you need to grant camera access permisson"
        } else if (error.name === 'NotFoundError') {
          this.error = "ERROR: no camera on this device"
        } else if (error.name === 'NotSupportedError') {
          this.error = "ERROR: secure context required (HTTPS, localhost)"
        } else if (error.name === 'NotReadableError') {
          this.error = "ERROR: is the camera already in use?"
        } else if (error.name === 'OverconstrainedError') {
          this.error = "ERROR: installed cameras are not suitable"
        } else if (error.name === 'StreamApiNotSupportedError') {
          this.error = "ERROR: Stream API is not supported in this browser"
        }
        if(window.isDev) { console.log("ERROR QR", this.error); }
      }
    },  
    selectToWallet(){ 
        //if(window.isDev) { console.log("toWallet ??", this.toWalletUid, window.innerHeight, window.scrollTop); }
        //window.scrollTop = window.innerHeight+"px"
        var thiss = this
        setTimeout(function(){
            thiss.$vuetify.goTo(document.getElementById("ready-to-send").offsetTop)//+window.innerHeight)
        }, 500);
    },

    async sendMoney(){ 
         if(window.isDev) { console.log("sendMoney"); }

         if(this.checkAmountDisp() == false) {
          this.errorSendTransaction = "Sorry, you do not have enough money in your wallet."
          return
         }
         this.sending = true
         //let fwn = this.fromWalletName == "current" ? this.user.name : this.fromWalletName
         let transaction = {
             amount: parseFloat(this.amount),
             senderUid: this.fromWalletUid,
             receiverUid: this.toWalletUid,
             senderName: this.fromWalletName,
             receiverName: this.toWalletName,
             senderType: this.fromWalletType,
             receiverType: this.toWalletType,
         }
         if(window.isDev) { console.log("transaction ?", transaction); }
        try{ //if(window.isDev) { console.log("INFO INSTANCE ?"); }
            //let thiss = this
            await axios.post('/user/sendTransaction', transaction)
                            .then(res => {
                                if(window.isDev) { console.log("send transaction success", res.data); }
                                if(res.data.error == false){
                                    this.errorSendTransaction = ""
                                    this.successSendTransaction = "Your transaction has been registred with success ! You will be redirected, please wait..."
                                    setTimeout(function(){
                                        router.push('/profile');
                                    }, 3000)
                                    
                                }else{
                                    this.successSendTransaction = ""
                                    this.errorSendTransaction = "Sorry, an error occured while sending transaction"
                                    this.sending = false
                                }
                            })
        }catch(e){
            if(window.isDev) { console.log("error /user/sendTransaction", e); }
            router.push('/');
        }
    },
    kbAddNumber(num){
        if(this.amount == "0" && num != '.') this.amount = ""
        this.amount += num.toString()
        this.checkAmountDisp()
    },
    kbRemoveNumber(){
        this.amount = this.amount.substr(0, this.amount.length - 1)
        if(this.amount == "") this.amount = "0"
        this.checkAmountDisp()
    },
    checkAmountDisp(){ //check if we are trying to send more money than I have in my accound (-pending)
        let am = this.fromWalletType == "current" ? this.relativeAmountU() : this.relativeAmountUni()
        let am2 = this.fromWalletType == "current" ? this.coinChangeUni(this.fromWalletAmount) : this.roundUni(this.fromWalletAmount)
        if(window.isDev) { console.log("AMOUNT CHECK ?", am, this.amount, this.fromWalletType); }
        if(am < parseFloat(this.amount) || am2 < parseFloat(this.amount)){
            this.amountColor = 'red--text'
            this.errorSendTransaction = "Sorry, you do not have enough money in your wallet."
            return false
        }else{
            this.amountColor = ''
            this.errorSendTransaction = ""
            return true
        }
    },
    async searchForContact(){
        if(window.isDev) { console.log("searchForContact", this.searchContactStr); }
        //searchContactRes

        try{
            await axios.post('/user/search-wallet', { searchStr: this.searchContactStr })
                .then(wallets => { if(window.isDev) { console.log("success", wallets.data.wallets); }
                    this.searchContactRes = wallets.data.wallets
                    this.searchContactRes.forEach((wallet, i) => {
                        wallet.name = wallet.name == "current" ? "Compte courant" : wallet.name
                        if(wallet.uid == this.fromWalletUid){
                            //remove current from wallet from response
                            this.searchContactRes.splice(i,1)
                            //return
                        }
                    })
                    this.showSearchContact = true
                        if(window.isDev) { console.log("search res", typeof this.searchContactRes, this.searchContactRes); }
                }).catch(e => {
                    if(window.isDev) { console.log("error 1 /user/searchWalletForward", e); }
                    router.push('/');
                })
      }catch(e){
            if(window.isDev) { console.log("error 2 /user/searchWalletForward", e); }
        router.push('/');
      }

        //this.searchContact
    },
    roundUni(uni){ if(uni == "~") return uni
      var pp = uni.toString().indexOf(".")
      //if(window.isDev) { console.log("pp", pp); }
      if(pp == -1) return uni
      //if(window.isDev) { console.log(0, uni.toString().length, pp + 1); }
      return uni.toString().substr(0, 7 + pp)
    },
    coinChangeUni: function(coin){ if(coin == "~") return coin
        var UniVal = coin / localStorage.getItem("UDValue") //this.instance.UDValue
        return this.roundUni(UniVal)
    },
    onDecode : function(decodedString) { //alert(decodedString)
        let json = JSON.parse(decodedString)
        if(json.name != null && json.uid != null && json.app == "UNI" ){
            if(window.isDev) { console.log("this QR is valide ! let's go !"); }
            //this.toWalletName = json.name
            this.jsonQR = json
            this.toWalletType = json.type
            this.toWalletUid = json.uid
            this.scanQR = false
            let thiss = this
            setTimeout(function(){
                thiss.$vuetify.goTo(document.getElementById("ready-to-send").offsetTop)//+window.innerHeight)
            }, 500);
        }else{
            if(window.isDev) { console.log("this QR is not a valide UNI-QR"); }
        } 
    },
    relativeAmountU: function(){
        var rAmount = 0
        this.fromWalletPendings.forEach(transaction => {
          if(transaction.senderUid == this.fromWalletUid) rAmount -= transaction.amount
          if(transaction.senderUid != this.fromWalletUid) rAmount += transaction.amount
        })
        //if(window.isDev) { console.log("relative amount u", rAmount, this.currentWallet.account_u, parseFloat(localStorage.getItem("UDValue"))); }
        var cAmount = this.fromWalletAmount / parseFloat(localStorage.getItem("UDValue"))
        return this.roundUni(cAmount + rAmount)
    },
    relativeAmountUni: function(){
        var rAmount = 0
        this.fromWalletPendings.forEach(transaction => {
          if(transaction.senderUid == this.fromWalletUid) rAmount -= transaction.amount
          if(transaction.senderUid != this.fromWalletUid) rAmount += transaction.amount
        })
        //if(window.isDev) { console.log("relative amount uni", rAmount, this.currentWallet.account_u, parseFloat(localStorage.getItem("UDValue"))); }
        return this.roundUni(this.fromWalletAmount + rAmount)
    },
  },
  computed: {
      amountTransaction: function(){
          return 0
      },
      toWalletName: function(){
        var name = false
        this.toWallets.forEach(wallet => { //if(window.isDev) { console.log("toWalletName1", wallet.text, wallet.value, this.toWalletUid); }
            if(wallet.value == this.toWalletUid){
                name = wallet.text
            } 
        })
        if(this.user.contacts != null)
        this.user.contacts.forEach(wallet => { //if(window.isDev) { console.log("toWalletName2", wallet.name, wallet.uid, this.toWalletUid); }
            if(wallet.uid == this.toWalletUid) name = wallet.name
        })
        this.searchContactRes.forEach(wallet => { //if(window.isDev) { console.log("toWalletName3", wallet.name, wallet.uid, this.toWalletUid); }
            if(wallet.uid == this.toWalletUid) name = wallet.name
        })

        if(this.jsonQR.uid == this.toWalletUid) name = this.jsonQR.name
        if(window.isDev) { console.log("name found :", name); }
        return name
      },
      toWalletType: function(){
        var type = false
        this.toWallets.forEach(wallet => { //if(window.isDev) { console.log("toWalletName1", wallet.text, wallet.value, this.toWalletUid); }
            if(wallet.value == this.toWalletUid){
                type = wallet.type
            } 
        })
        if(this.user.contacts != null)
        this.user.contacts.forEach(wallet => { //if(window.isDev) { console.log("toWalletName2", wallet.name, wallet.uid, this.toWalletUid); }
            if(wallet.uid == this.toWalletUid) type = wallet.type
        })
        this.searchContactRes.forEach(wallet => { //if(window.isDev) { console.log("toWalletName3", wallet.name, wallet.uid, this.toWalletUid); }
            if(wallet.uid == this.toWalletUid) type = wallet.type
        })
        if(window.isDev) { console.log("type found :", type); }
        return type
      },
  }
}
</script>
