<template>
  <div style="max-width:800px;" class="mx-auto">
    <v-row class="d-flex">
      <v-col class="pb-0">

        <Survey :survey="$store.state.room.currentSurvey" :loadingSurvey="loadingSurvey"></Survey>
      
        <v-row class="row-comment" v-if="$store.state.room.currentSurvey != null">
          <v-list three-line style="width: 100%;">
            
            <v-btn text x-small color="grey" class="pa-1"
                          style="margin-bottom:5px; text-transform:none; justify-content:left;"
                          v-if="$store.state.room.currentSurvey.post.comments[0] != null" :loading="commentsLoading"
                          @click="showAllComments = !showAllComments">
                              <v-icon x-small v-show="showAllComments==false">mdi-chevron-down</v-icon> 
                              <v-icon x-small v-show="showAllComments==true">mdi-chevron-up</v-icon> 
                              {{ $store.state.room.currentSurvey.post.comments.length }} 
                              {{ $vuetify.lang.t('$vuetify.stream.comment') }}{{ $store.state.room.currentSurvey.post.comments.length > 1 ? 's' : '' }}...
            </v-btn>

            <template v-for="(comment, i) in $store.state.room.currentSurvey.post.comments">
              
                <Comment :comment="comment" origin="post"
                        :parentPostUid="$store.state.room.currentSurvey.post.uid" 
                        :parentPostSignedUid="$store.state.room.currentSurvey.post.signed.uid"
                        :parentPostAuthorUid="$store.state.room.currentSurvey.post.author.ui"  
                        :postOrigin="'survey'"
                        :key="i" :index="i" :showAllComments="showAllComments"
                        :nbTotalComments="$store.state.room.currentSurvey.post.comments.length"></Comment>
            </template>

            <v-skeleton-loader ref="skeleton"
                :boilerplate="false"
                type="list-item-avatar-three-line"
                :tile="false"
                class="mx-auto"
                v-show="newCommentLoading"
            ></v-skeleton-loader>
          </v-list> 
          <v-row class="mx-0">
            <v-textarea :class="'input-comment ' + (commentOpen?'focus':'')" @click="commentOpen=true"
                        :counter="commentStr.length > 950" auto-grow outlined 
                        @change="cleanClearComment"  spellcheck="false"
                        clearable :rules="rulesTxtareaEditComment" 
                        :label="$vuetify.lang.t('$vuetify.post.yourComment') + '...'" v-model="commentStr">
            </v-textarea>

            <v-btn icon style="margin:2px 5px 0 5px;" @click="sendComment" :disabled="commentStr==''">
                <v-icon large>mdi-send-circle</v-icon>
            </v-btn>
          </v-row>
        </v-row>

      </v-col>
    </v-row>
  </div>
</template>

<style scoped>
  /* #card-survey{
    border-radius: 4px 4px 0 0;
  } */
  .row-comment{
    margin-top:-3px;
    padding-top:10px;
  }
</style>

<script>
import axios from 'axios';
//import router from '../router/router'

import Survey from '@/components/room/Survey.vue';
import Comment from '@/components/Comment.vue';
import core from '../plugins/core.js'

export default {
  name: 'survey',
  components: { Survey, Comment },
  //props: [],
  data() {
    return {
    postObj: null,
    showAllComments: false,
    newCommentLoading: false,
    commentsLoading: false,
    commentStr: '',
    commentOpen: false,
    loadingSurvey: true,
    rulesTxtareaEditComment: [v => (v != null && v.length <= 1000) || this.$vuetify.lang.t('$vuetify.post.maxMsgLabel')],
    }
  },
  async mounted(){
      console.log("this.$route.params.surveyUid", this.$route.params.surveyUid)
    this.refreshCurrentSurvey()
    
    this.$root.$off('onNotifEmoji').$on('onNotifEmoji', async (notif) => {
      await this.$store.dispatch('room/onNotifEmoji', notif)
    })
    this.$root.$off('onNotifComment').$on('onNotifComment', async (notif) => {
      this.showAllComments = !this.showAllComments
      await this.$store.dispatch('room/onNotifComment', notif)
      this.showAllComments = !this.showAllComments
    })
    this.$root.$off('refreshCurrentSurvey').$on('refreshCurrentSurvey', async () => {
      this.refreshCurrentSurvey()
    })
  },
  methods: {
    async refreshCurrentSurvey() {
      console.log("this.$route.params.surveyUid", this.$route.params.surveyUid)
      this.loadingSurvey = true
      await this.$store.dispatch('room/fetchCurrentSurvey', this.$route.params.surveyUid)
      this.loadingSurvey = false
    },
    avatarUrl: function(roomUid){
      return core.avatarUrl(roomUid)
    },
    cleanClearComment: function(){
        if(this.commentStr==null) this.commentStr=''
    },
    sendComment: async function(){
        if(window.isDev) { console.log("sendComment", this.$store.state.room.currentSurvey.post.uid); }
        this.newCommentLoading = true
        const res = await axios.post('/comment/send-comment', 
                                  {   commentStr: this.commentStr, 
                                      postUid: this.$store.state.room.currentSurvey.post.uid })

        if(window.isDev) { console.log("res /comment/send-comment", res); }
        if(res.data.error == false){
            this.newCommentLoading = false
            this.commentStr = ""
            await this.$store.dispatch('room/addCommentToCurrentSurvey', res.data.newComment)
            //this.postObj.comments.push(res.data.newComment)
            //this.showAllComments = true
        }
          
    },
  },
  watch: {
    '$route.params.surveyUid': function() {
      console.log('$route.params.surveyUid changed', this.$route.params.surveyUid)
      this.refreshCurrentSurvey()
    }
  }
}
</script>
