<template>
    <v-carousel
        interval="10000" height="400"
        hide-delimiter-background
        show-arrows-on-hover
        class="moreInfoNode">

        <v-carousel-item>
        <v-card color="primary darken-3" class="fill-height text-center pa-5" height="100%">
            <img alt="" src="../../assets/centralize_distributed.png" style="width:80%;"><br>
            <h3>{{ $vuetify.lang.t('$vuetify.info.WhatIsNetworkDecentralisedPart1') }}
            {{ $vuetify.lang.t('$vuetify.info.WhatIsNetworkDecentralisedPart2') }}
            {{ $vuetify.lang.t('$vuetify.info.WhatIsNetworkDecentralisedPart3') }}
            {{ $vuetify.lang.t('$vuetify.info.WhatIsNetworkDecentralisedPart4') }} ?</h3>
            <v-card-subtitle class="text-center">
                {{ $vuetify.lang.t('$vuetify.info.AnswerWhatIsNetworkDecentralised') }}
            </v-card-subtitle>
        </v-card>
        </v-carousel-item>

        <v-carousel-item>
        <v-card color="primary darken-2" class="fill-height text-center pa-5" height="100%">
            <v-icon>mdi-server-network</v-icon>
            <v-icon>mdi-server-network</v-icon>
            <v-icon>mdi-server-network</v-icon>
            <br><br>
            <h3>{{ $vuetify.lang.t('$vuetify.info.WhatIsServerPart1') }}
            {{ $vuetify.lang.t('$vuetify.info.WhatIsServerPart2') }} ?</h3>
            <v-card-subtitle class="text-center">
                {{ $vuetify.lang.t('$vuetify.info.AnswerWhatIsServer1') }}
            </v-card-subtitle>
            <v-card-subtitle class="text-center">
                {{ $vuetify.lang.t('$vuetify.info.AnswerWhatIsServer2') }}
            </v-card-subtitle>
        </v-card>
        </v-carousel-item>

        <v-carousel-item>
        <v-card color="primary darken-3" class="fill-height text-center pa-5" height="100%">
            <v-icon>mdi-server-network</v-icon>
            <v-icon color="green">mdi-server-network</v-icon>
            <v-icon>mdi-server-network</v-icon>
            <br><br>
            <v-card-subtitle class="text-center">
                {{ $vuetify.lang.t('$vuetify.info.AnswerHowDoesItWork1') }}
            </v-card-subtitle>
            <v-card-subtitle class="text-center">
                {{ $vuetify.lang.t('$vuetify.info.AnswerHowDoesItWork2') }}
            </v-card-subtitle>
        </v-card>
        </v-carousel-item>

        <v-carousel-item>
        <v-card color="primary darken-2" class="fill-height text-center pa-5" height="100%">
            <v-icon>mdi-monitor-cellphone</v-icon>
            <br><br>
            <h3>{{ $vuetify.lang.t('$vuetify.info.WhatDoesItChangePart1') }}
            {{ $vuetify.lang.t('$vuetify.info.WhatDoesItChangePart2') }} ?</h3>
            <v-card-subtitle class="text-center">
                {{ $vuetify.lang.t('$vuetify.info.AnswerWhatDoesItChange1') }}
            </v-card-subtitle>
            <v-card-subtitle class="text-center">
                {{ $vuetify.lang.t('$vuetify.info.AnswerWhatDoesItChange2') }}
            </v-card-subtitle>
        </v-card>
        </v-carousel-item>

        <v-carousel-item>
        <v-card color="primary darken-3" class="fill-height text-center pa-5" height="100%">
            <v-icon large>mdi-security-network</v-icon>
            <br><br>
            <h3>{{ $vuetify.lang.t('$vuetify.info.SoWhatForPart1') }}
            {{ $vuetify.lang.t('$vuetify.info.SoWhatForPart2') }}
            {{ $vuetify.lang.t('$vuetify.info.SoWhatForPart3') }} ?</h3>
            <v-card-subtitle class="text-center">
                {{ $vuetify.lang.t('$vuetify.info.AnswerSoWhatFor1') }}
            </v-card-subtitle>
            <v-card-subtitle class="text-center">
                {{ $vuetify.lang.t('$vuetify.info.AnswerSoWhatFor2') }}
            </v-card-subtitle>
        </v-card>
        </v-carousel-item>

        <v-carousel-item>
        <v-card color="secondary darken-1" class="fill-height text-center pa-5" height="100%">
            <br>
            <img alt="" src="../../assets/centralize_distributed.png" style="width:80%;"><br>
            <v-card-subtitle class="text-center" style="font-weight:500;">
                {{ $vuetify.lang.t('$vuetify.info.AnswerSoWhatFor4') }}
            </v-card-subtitle>
            <v-icon>mdi-thumb-up</v-icon>
        </v-card>
        </v-carousel-item>

    </v-carousel>
</template>


<script>

//import axios from 'axios'
//import router from '../../router/router'
//import core from '../../plugins/core.js'

export default {
  name: 'carousel-info-node',
  props: [],
  components: {  },
  data: () => ({
  }),  
  mounted: async function(){
    
  },
  methods: {
    
  },
  
};
</script>