<template>
<div v-show="!$store.state.app.drawerOpen">

<div class="calendar-right-block"
      :style="$store.state.app.drawerOpen ? 'width: 15%; left:280px;' : 'width: 22%; left: 2%;'">
    <!-- BUTTONS -->
    <div class="block1 mt-2" v-if="$store.state.stream.map.show === false">
      <v-bottom-navigation :height="70" 
                  style="margin-bottom:15px; border-radius:5px;"
                  grow color="darkblock" >
        <template v-for="(pType, p) in pageTypes">
          <v-btn :key="p" :to="'/create/'+pType.type"
                  :title="$vuetify.lang.t('$vuetify.createPageType.' + pType.type)" 
                  style=" font-size:11px;" text>
            <span :class="pType.color + '--text'">
              <v-icon :color="pType.color" x-small>mdi-plus</v-icon> 
              {{ $vuetify.lang.t('$vuetify.pageType.' + pType.type) }}
            </span>
            <v-icon class="mb-1" :color="pType.color">mdi-{{ pType.icon }}</v-icon> 
          </v-btn>
        </template>
      </v-bottom-navigation>
    </div>
    <!-- ASSEMBLIES -->
    <div class="block2" v-if="$store.state.stream.map.show === false">
        
        <v-btn class="my-1" v-if="$store.state.app.activity.assemblies.length > 0" 
                outlined small block color="purple"  :to="'room/publish/'+$store.state.app.activity.assemblies[0].uid">
          <v-icon small class="mr-2" color="purple">mdi-vote-outline</v-icon>
          {{ $vuetify.lang.t('$vuetify.menu.createSurvey') }}
        </v-btn>
        <v-btn class="my-1" v-else outlined block color="purple" to="/find-assembly">
          <v-icon class="mr-2" color="purple">mdi-vote-outline</v-icon> 
          {{ $vuetify.lang.t('$vuetify.menu.createSurvey') }}
        </v-btn>

        <div class="list">
          <PageListActivity
            v-if="$store.state.app.activity.assemblies!=null && $store.state.app.activity.assemblies.length > 0"
            :pageList="$store.state.app.activity.assemblies" 
            :userPageUid="$store.state.auth.profile.uid"
            :limit="2"
          />
        </div>
    </div>
    <!-- CALENDAR -->
    <div class="block3" v-if="$store.state.stream.map.show === false">
        <div class="px-0 my-2 mt-0 d-flex">
          
          <v-btn icon outlined color="grey" small class="mr-2 my-1" @click="$refs.calendar.prev()" 
                 :loading="$store.state.app.activityLoading['events']">
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
          <!--
          <v-slider hide-details v-model="radiusCalendar" inverse-label 
                    color="primary" thumb-color="primary" track-fill-color="primary"
                    :min="1000" :max='600000' :label="parseInt(radiusCalendar/1000)+' km'"
                    @change="loadEvents"></v-slider>
            -->
            <v-btn icon outlined color="grey" small class="ml-2 my-1" @click="$refs.calendar.next()" 
                   :loading="$store.state.app.activityLoading['events']">
              <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
        </div>
        <div>
          <v-calendar
              ref="calendar"
              color="primary"
              type='month'
              v-model="dateCalendar"
              :events="eventsCalendar"
              @click:event="clickEventCalendar"
          ></v-calendar>
        </div>
    </div>
  </div>

<!--
    <div class="list">
    <PageListActivity
      v-if="$store.state.app.activity.pages!=null && $store.state.app.activity.pages.length > 0"
      :pageList="$store.state.app.activity.pages" 
      :userPageUid="$store.state.auth.profile.uid"
      :userFilter="true" 
    />
    </div>
-->

  </div>

</div>
</template>


<style>
  @media (max-width: 1100px){
    .main-left-block{ display:none; }
    #main-right-col{ display:none; }
  }


  @media (max-width: 1530px){
    .main #stream .card-container{
      max-width: 580px !important;
    }
  }
  .v-overlay--active .main-left-block{ display: none; }

  .notif-open .main-left-block{ display:none; }

  .main-left-block{
    position: fixed;
    top: 80px;
    border-radius: 8px;
  }
  
  .calendar-right-block {
    position: absolute;
    background: linear-gradient(#18191ab5, #18191a26);
    top: 10px;
    right: 130px;
    padding : 30px;
    margin-right: 30px;
    position: relative;
    align-content: center;
    float: right;
    border-radius: 5px;
  }

  .main-left-block .block1{
    padding:0px;
    /* background: linear-gradient(#18191ab5, #18191a65);
    box-shadow: 0px 0px 3px #00000087; */
    margin-bottom:10px;
    border-radius: 8px;
  }
  .main-left-block .block2{
    padding:0px;
    margin-bottom:20px;
    border-radius: 8px;
    /* padding-bottom:50px; */
  }
  .main-left-block .block3{
    padding:8px;
    background: linear-gradient(#18191ab5, #18191a26);
    box-shadow: 0px 0px 3px #00000087;
    margin-bottom:20px;
    border-radius: 8px;
  }

  #main-right-col{
    position: fixed;
    top: 90px;
    bottom: 60px;
    right:2%;
    background: linear-gradient(#18191ab5, #18191a26);
    border-radius: 8px;
    box-shadow: 0px 0px 3px #00000087;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #main-right-col .list{
    max-height:83%;
    padding: 8px;
    overflow-y: auto;
    /* border-top:solid 1px rgba(58, 58, 58, 0.938); */
  }


</style>

<script>

import PageListActivity from '@/components/main-layout/PageListActivity.vue'

export default {
  name: 'activity-block',
  props: [ 'lat', 'lng' ],
  data:() => ({
    loading: false,
    radius: 200000,
    radiusCalendar: 600000,
    dateCalendar: null,// "account", "account-group-outline", "hexagon-multiple-outline"
    pageTypes: [{ type: "group",    color:"red",     icon: "account-group-outline" }, 
                { type: "assembly", color:"purple",           icon: "hexagon-multiple-outline" }, 
                { type: "event",    color:"orange",           icon: "calendar-clock" }]
  }),
  components: { PageListActivity },
  async mounted(){
    this.dateCalendar = new Date()
    this.loadData()
    this.loadEvents()
    this.loadAssembly()
  },
  methods: {
    async loadData(){
      let params = {  lat: this.$store.state.auth.profile.coordinates[1], 
                      lng: this.$store.state.auth.profile.coordinates[0], 
                      radius: this.radius,
                      pageNumber: 1,
                      key: 'pages' }

      this.loading = true
      await this.$store.dispatch('app/fetchActivity', params).then(()=>{ this.loading = false })
    },
    async loadAssembly(){
      this.loading = true
      let params = {  lat: this.$store.state.auth.profile.coordinates[1], 
                      lng: this.$store.state.auth.profile.coordinates[0], 
                      radius: this.radius,
                      pageNumber: 1,
                      pageType: 'assembly',
                      key: 'assemblies' }
      await this.$store.dispatch('app/fetchActivity', params).then(()=>{ this.loading = false })
    },
    async loadEvents(){
      this.loading = true
      let params = {  lat: this.$store.state.auth.profile.coordinates[1], 
                      lng: this.$store.state.auth.profile.coordinates[0], 
                      radius: this.radiusCalendar,
                      pageNumber: 1,
                      pageType: 'event',
                      key: 'events' }
      this.$store.dispatch('app/fetchActivity', params).then(()=>{ this.loading = false })
    },
    clickEventCalendar(data){
      console.log("clickEventCalendar", data)
      this.$root.$emit("openModalUserPage", data.event.uid)
    }
  },
  computed: {
    currentRoute : function(){
      return this.$route.path
    },
    eventsCalendar: function(){
      
      let eventsCalendar = []
      this.$store.state.app.activity.events.forEach((event)=>{
        eventsCalendar.push({
              uid: event.uid,
              name: event.name,
              start: new Date(event.startDate),
              end: new Date(event.startDate),
              color: "red",
              timed: true,
            })
      })
      return eventsCalendar
    }
    
  }
}

</script>