<template> 
   <!-- MENU LEFT -->
  <v-navigation-drawer
    v-model="$store.state.app.drawerOpen" 
    app disable-resize-watcher
    id="left-drawer"
    color="grey darken-4"
  >
    <router-link to="/stream">
      <div class="logo">
          <img alt="Plaanet Logo" :src="pathToLogoImg" height="40px" width="40px">
          <span style="font-size:1.1em;color:white;" class="font-konkretika">
            {{ mainLocalName }}
          </span>
      </div>
    </router-link>
        
    <v-list>

      <!-- <v-btn @click="$root.$emit('updateContext')">refresh context</v-btn> -->
       <!-- avatar profil -->
       <!--   <v-list-item
          v-if="$store.state.auth.isLoggedIn"
          :to="'/page/' + userPageUid"
          color="primary" small link
          class="px-2"
          >

          <v-list-item-avatar width="30" height="30" class="pa-0 mr-2">
            <img :src="$store.state.auth.avatarUrl">
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>{{ $store.state.auth.profile.name }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
       -->
        
        <v-list-item
          v-if="$store.state.auth.isLoggedIn"
          to="/stream"
          @click="$root.$emit('loadStream')"
          color="primary" small link>
          <v-list-item-action>
            <v-icon>mdi-newspaper-variant-multiple</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $vuetify.lang.t('$vuetify.menu.Stream') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item
          v-if="$store.state.auth.isLoggedIn" @click="$root.$emit('loadPages')"
          to="/stream-explore"
          color="primary" small link>

         <!-- MENU Début "Rechercher ..." -->
          <v-list-item-action>
            <v-icon>mdi-magnify</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $vuetify.lang.t('$vuetify.menu.search') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
         <!-- MENU Fin  "Rechercher ..." -->

       <!-- <v-divider></v-divider> -->

      <!-- MENU  début "Créer ..." -->
      <v-list-group :value="false">
         <template v-slot:activator>
            <v-list-item-action>
            <v-icon>mdi-card-plus-outline</v-icon>
            </v-list-item-action>
            <v-list-item-title>{{ $vuetify.lang.t('$vuetify.menu.CreatePage') }}</v-list-item-title>
        </template>

        <v-list-item
          v-if="$store.state.auth.isLoggedIn"
          to="/create/group"
          color="primary" small link
         >
          <v-list-item-action>
            <v-icon class="ml-5" small>mdi-account-group-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title><small>{{ $vuetify.lang.t('$vuetify.createPageType.group') }}</small></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item v-if="$store.state.auth.isLoggedIn" to="/create/event"  color="primary" small link>
          <v-list-item-action>
            <v-icon class="ml-5" small>mdi-calendar</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title><small>{{ $vuetify.lang.t('$vuetify.createPageType.event') }}</small></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          v-if="$store.state.auth.isLoggedIn"
          to="/create/assembly"
          color="primary" small link>
          <v-list-item-action>
            <v-icon class="ml-5" small>mdi-hexagon-multiple-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title><small>{{ $vuetify.lang.t('$vuetify.createPageType.assembly') }}</small></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
      <!-- MENU Fin "Créer ..." -->

       <!-- MENU  début "Organiser  ..." -->
      <v-list-group :value="false">
        <template v-slot:activator>
          <v-list-item-action>
            <v-icon>mdi-vote</v-icon>
          </v-list-item-action>
          <v-list-item-title>{{ $vuetify.lang.t('$vuetify.createSurvey.organizeVote') }}</v-list-item-title>
        </template>

        <v-list-item v-if="$store.state.auth.isLoggedIn" to="/find-assembly" color="primary" small link>
          <v-list-item-action>
            <v-icon class="ml-5" small>mdi-vote-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title><small>{{ $vuetify.lang.t('$vuetify.createSurvey.organizeSeanceVote') }}</small></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item
          v-if="$store.state.auth.isLoggedIn"
          to="/room-all"
          color="primary" small link
        >
          <v-list-item-action>
            <v-icon class="ml-5" small>mdi-eye</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title><small>{{ $vuetify.lang.t('$vuetify.createSurvey.browseVotes') }}</small></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
      <!-- MENU  Fin  "Organiser  ..." -->

      <!-- <v-divider></v-divider> -->

  <!-- MENU  début "Organiser  ..."
      <v-list-group :value="false">
        <template v-slot:activator>
          <v-list-item-action>
            <v-icon>mdi-card-plus-outline</v-icon>
          </v-list-item-action>
          <v-list-item-title>{{ $vuetify.lang.t('$vuetify.createSurvey.organizeVote') }}</v-list-item-title>
        </template>
        -->

    <!-- MENU  début "Mes pages  ..." -->
     <v-list-group :value="false">
        <template v-slot:activator>
          <v-list-item-action>
            <v-icon>mdi-book-plus-outline</v-icon>
          </v-list-item-action>
          <v-list-item-title>{{ $vuetify.lang.t('$vuetify.menu.MyPages') }}</v-list-item-title>
        </template>

        <v-list-item v-if="$store.state.auth.isLoggedIn" to="/list/roleEditor" color="primary" small link>

          <v-list-item-action>
            <v-icon>mdi-book-open-page-variant-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              {{ $vuetify.lang.t('$vuetify.menu.MemberOf') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <PageList 
          v-if="$store.state.auth.profile.memberPages!=null && $store.state.auth.profile.memberPages.length > 0"
          :pageList="$store.state.auth.profile.memberPages"  :userPageUid="userPageUid"  :toLive="true"
        />
      </v-list-group>
    
      <v-list-group :value="false">
         <template v-slot:activator>
            <v-list-item-action>
            <v-icon>mdi-card-plus-outline</v-icon>
            </v-list-item-action>
            <v-list-item-title>{{ $vuetify.lang.t('$vuetify.menu.MyContacts') }}</v-list-item-title>
        </template>

        <PageList 
          v-if="$store.state.auth.profile.memberPages!=null && $store.state.auth.profile.memberPages.length > 0"
          :pageList="$store.state.auth.profile.memberPages" 
          :userPageUid="userPageUid"
          :toLive="true"
        />

      </v-list-group>
        
        <v-list-item 
          v-if="$store.state.auth.isLoggedIn === false"
          to="/home" 
          color="primary" small link
        >
        </v-list-item>

        <v-list-item 
          v-if="$store.state.auth.isLoggedIn === false"
          to="/home" 
          color="primary" small link
        >
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              {{ $vuetify.lang.t('$vuetify.menu.HomePage') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>


    </v-list>
    
    <template v-slot:append>
      <v-list-item 
        to="/status"
        color="primary" 
        small 
        link
      >

      <!-- Etat du réseau -->
        <v-list-item-action>
          <v-icon>mdi-chart-line</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
            {{ $vuetify.lang.t('$vuetify.home.networkStatus')}}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>


       <!--Lancer le tutorial des ihm   <i class="far fa-question-circle"></i>-->

    </template>
  </v-navigation-drawer>
</template>




<style>
  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 56px;
    padding: 8px 8px 0px 8px;
  }

  .logo img {
    margin-right: 20px;
    margin-left:20px!important;
  }

  .v-navigation-drawer__content .v-divider{
    margin-bottom:0px;
  }
  .icon-top-menu{
    margin: 0 0px 0 0px
  }
  .main-icon-top-menu{
    margin-left: 30px!important;
    margin-right:50px;
  }
  .toolbar-slider,
  .toolbar-slider .v-tabs-bar{
    background-color: transparent!important;
  }

  .toolbar-slider .v-tabs-slider-wrapper{
    min-width:unset !important;
    width:unset !important;
  }
  .toolbar-slider .v-tab{
    min-width:unset !important;
    width:unset !important;
  }
  .v-toolbar__content, .v-toolbar__extension {
      padding: 0px 0px 0px 5px!important;
  }
  #top-bar-nav{
    margin:0 0px 0 0;
    background-color:transparent;
    box-shadow: none;
  }
  #left-drawer .v-list-item{
    min-height:40px !important;
    font-size: 18px;
    border-top:1px solid #2f2f2f;
  }
  #left-drawer .v-list-item--active{
    border-top:1px solid transparent;
    color:white!important;
  }
  #left-drawer .v-list-item--link::before{
    background-color:#0097a7!important;
  }
  
  #left-drawer .v-list-item .v-list-item__action{
    margin: 0px;
    margin-right: 10px !important;
  }
  #left-drawer .v-list-item .v-list-item__title{
    font-size:0.9em;
  }
  /*
  #left-drawer .v-list-item__content{

  }
  */
  #left-drawer .v-badge span.v-badge__badge{
    top: 0px;
    padding: 0 4px;
    height: 18px;
    width: unset;
    max-width: 45px;
    min-width: 18px;
    font-size: 13px;
    right: -30px;
  }
  #left-drawer .v-badge{
    margin-top: 0px;
  }

@media (min-width: 600px){
  /* .btn-notif .v-badge__badge{
    margin-top:7px;
  } */
 }
@media (max-width: 600px){
  #top-bar-nav{
    margin:0;
  }
  #top-bar-nav .v-btn{
    padding: 0 8px!important;
    min-width: unset !important;
  }
  #top-bar-nav.v-item-group.v-bottom-navigation .v-btn .v-btn__content .v-icon {
    margin-bottom: 0px!important;
  }
}
</style>
<script>

import axios from 'axios'
import core from '../../plugins/core.js'
import router from '../../router/router'

const config = require('../../config/' + process.env.NODE_ENV)

import PageList from '@/components/main-layout/PageList.vue'

export default {
  name: 'menu-left',
  props: ['notifications'],
  components: { PageList },
  data: () => ({
    user: {},
    userPage: null,
    username: '',
    userPageUid: '',
    isAdmin: false,
    baseUrl: null,
    itemsDrawer: [
      //{ name: 'Stream',       to: '/map',       icon: 'mdi-newspaper-variant-multiple'    , login: true },
      { name: 'CreatePage',  to: '/create-page',icon: 'mdi-card-plus-outline'            , login: true},
      { name: 'MyPages',     to: '/myPages',   icon: 'mdi-certificate-outline'           , login: true},
      { name: 'MyFollows',   to: '/follows',   icon: 'mdi-link-variant'                  , login: true},
      { name: 'MyContacts',  to: '/contacts',  icon: 'mdi-clipboard-account'             , login: true},
      { name: 'Blacklist',   to: '/blacklist', icon: 'mdi-scissors-cutting'              , login: true },
      { name: 'HomePage',    to: '/',          icon: 'mdi-home'                          , login: false},
    ]
  }),
  
  mounted: async function(){

    //if(window.isDev) { console.log("MOUNT MENULEFTTOPBAR", this.$store.state.auth); }
    this.username = this.$store.state.auth.user.name
    this.userPageUid = this.$store.state.auth.profile.uid
    this.baseUrl = localStorage.getItem("baseUrl")
    this.baseUrl = (this.baseUrl == null || this.baseUrl === "") ? config.root_node.url + ":" + config.root_node.port : this.baseUrl
    this.isAdmin = this.$store.state.auth.isAdmin
    //this.myPages = this.$store.state.auth.user.pages
    //axios.defaults.baseURL = this.baseUrl
    localStorage.setItem("baseUrl", this.baseUrl)
    this.$vuetify.lang.current = localStorage.getItem("lang")
  },
  
  methods: {
    logout(){
      //this.initNetwork()
      localStorage.removeItem('currentPosition')
      this.$store.dispatch('auth/logout')
      this.user = {}
      this.username = ""
      //this.$root.$emit("logout")
    },

    async randomize(){
      try{
        await axios.post('/instance/randomize')
                        .then(res => {
                            if(window.isDev) { console.log("res /instance/randomize", res); }
                        }).catch( res => { if(window.isDev) { console.log("error login", res); }
                            
                        })
      }catch(e){
        if(window.isDev) { console.log("error login", e); }
        router.push('/');
      }
    },
    showFormEditPost(bool){
      if(window.isDev) { console.log("showFormEditPost 1"); }
      this.$root.$emit('showFormEditPost', bool);
      
    },
    showMap(){
      if(window.isDev) { console.log("showMap 1"); }
      this.$root.$emit('showMap');
    },
    showStream(){
      if(window.isDev) { console.log("showStream 1"); }
      this.$root.$emit('showStream');
    },
    showToolbarContent(){
      if(window.isDev) { console.log("showToolbarContent 1"); }
      this.$root.$emit('showToolbarContent', true);

    },
    iName: function(pageUid){
      return core.iName(pageUid)
    },
    avatarUrl2: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    
  },
  
  computed: {
    showAppDrawer() {
      if (this.$route.meta.requiresAuth) {
        return false;
      }
      return true;
    },
    follows : function(){
      return this.$store.state.auth.profile.follows
    },
    contacts : function(){
      return this.$store.state.auth.profile.contacts
    },
    blacklist : function(){
      return this.$store.state.auth.profile.blacklist
    },
    nbPrivateMsg : function(){
      let nb = 0
      this.notifications.forEach((notif)=>{
        if(notif.updated > this.$store.state.auth.profile.dateReadPrivate && notif.verb == 'NEW_PRIVATE_MSG') nb++
      })
      return nb
    },
    pathToLogoImg() { return process.env.VUE_APP_LOGO ? process.env.VUE_APP_LOGO : 'plaanet-logo.png' },
    mainLocalName() { return process.env.VUE_APP_NAME != 'Plaanet' ? process.env.VUE_APP_NAME : 'Plaanet' }
  },
};
</script>
