<template>
<div>
  <v-col class="py-0 mb-4 text-left" v-if="userFilter">
    <template v-for="(pType, p) in pageTypes">
      <v-btn  fab x-small :outlined="filterPageType != pType.type" :key="p"
              :color="pType.color" class="ml-1 ml-lg-3"  
              @click="filterPageType = pType.type"
              >
        <v-icon small>mdi-{{ pType.icon }}</v-icon>
      </v-btn>
    </template>
  </v-col>
  <v-col class="py-0 mt-0 mb-3 px-0" v-if="pageList != null && pageList.length > 0 ">
    <span style="display:none;">{{ $store.state.auth.lastCheckLiveNotif }}</span>
      <template v-for="(page, i) in pageList">
        <template v-if="limit == null || limit > i">
          <v-card class="mx-auto mt-2 card-last-activity" 
                      @click="openModalUserPage(page)" 
                      v-if="filterPageType == null || filterPageType == page.type"
                      :key="i" color="rgba(22,22,22,0.5)">
            <v-list one-line color="transparent" class="px-1 py-0">
        
            <v-list-item class="px-1">
                  <v-list-item-avatar class="">
                    <v-img style="" :src="avatarUrl(page.uid)" :class="statusConnected(page) == 0 ? 'online' : ''" height="44" width="44"/>
                  </v-list-item-avatar> 

                  <v-list-item-content class="py-1">
                      <span style="font-size:0.9em;line-height:1.5em;">
                        {{ page.name }} 
                        <v-icon class="mb-1" color="grey" v-if="page.city" x-small>mdi-map-marker</v-icon> 
                        <span class="grey--text">{{ page.city }}</span>
                      </span>


                      <small>

                        <span style="" class="pr-2">
                          <v-icon class="mb-1 mr-1" color="grey" x-small>mdi-spider-web</v-icon> 
                          <span class="grey--text">{{ iName(page) }}</span>
                        </span>
                        <span style="color:#5D586C;" v-if="page.type == 'user'">
                          <span v-if="statusConnected(page) == 0" :title="$vuetify.lang.t('$vuetify.main.connectedShortly')" class="green--text">
                              <v-icon x-small color="green" class="ml-1" style="margin-right:-3px;">mdi-flash</v-icon> en ligne
                          </span>
                          <span v-if="statusConnected(page) == 1" class="yellow--text text--darken-2" :title="$vuetify.lang.t('$vuetify.main.wasOnlineThereAre') + '...' ">
                              <v-icon x-small color="yellow darken-2" class="">mdi-flash</v-icon>
                              <time-ago style="margin-left: -4px;"
                                      :datetime="page.dateConnected" 
                                      :refresh="60" 
                                      long :locale="$vuetify.lang.current">
                              </time-ago>
                          </span>
                          <span v-if="statusConnected(page) == 2" class="grey--text text--darken-2">
                              <v-icon x-small color="grey darken-2" class="">mdi-flash</v-icon>
                              {{ $vuetify.lang.t('$vuetify.main.wasOnlineThereAre') }}
                              {{ diffInDays }}
                              {{ (diffInDays > 1 ? $vuetify.lang.t('$vuetify.main.days') : $vuetify.lang.t('$vuetify.main.day') ) }}
                          </span>
                          <span v-if="statusConnected(page) == 3" class="grey--text text--darken-2">
                              <v-icon x-small color="grey darken-2" class="">mdi-flash</v-icon>
                              {{ $vuetify.lang.t('$vuetify.main.offline') }}
                          </span>
                        </span>
                      </small>

                      <small v-if="page.type == 'event'" 
                            class="font-konkretika ">
                            {{ getDateFormat(page) }}
                      </small>

                  </v-list-item-content>
            </v-list-item>

            <div v-if="page.description && page.description.length > 0" class="px-3 pb-5" style="line-height:1.1em;">
              <small> {{ page.description }}</small>
            </div>

            </v-list>
          </v-card>
        </template>
      </template>
  </v-col>
</div>
</template>

<style>
  .menu-page.pending{
    background-color:rgba(247, 247, 247, 0.842);
    border-radius:28px;
  }
  .menu-page.pending small{
    color:black;
  }
  .menu-page.pending:hover{
    background-color:rgba(43, 172, 204, 0.562);
    border-radius:28px;
  }
  .menu-page.pending:hover small{
    color:white;
  }
  #menu-page-selected, .menu-page:hover{
    background-color:rgb(0,0,0,0.3);
    border-radius:28px;
  }
  #menu-page-selected.page-only-avatar, .page-only-avatar:hover{
    background-color:rgba(212, 209, 209, 0.925);
  }
  .menu-page{
    margin-top:2px!important;
  }

  .menu-page{
    max-width:90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .page-only-avatar{
    width: 30px;
    padding:5px 2px;
    margin-right:1px;
    border-radius:30px;
  }

  .v-image.online .v-image__image{
    border: 2px solid rgb(28, 158, 49);
    border-radius:50%;
  }

  .card-last-activity{
    border-radius:25px !important;
    padding-right:20px !important;

  }
  .card-last-activity:hover{
    background: rgba(22,22,22,0.8) !important;
  }
</style>

<script>
import TimeAgo from 'vue2-timeago'

import core from '../../plugins/core.js'

export default {
  name: 'page-list',
  props: ['pageList', 'userPageUid', 'toLive', 'userFilter', 'limit'],
  components: { TimeAgo },
  data:() => ({
    path: '/page/',
    filterPageType: null,
    pageTypes: [{ type:null,        color:"primary",  icon: "asterisk" }, 
                { type:"user",      color:"yellow darken-2", icon: "account" }, 
                { type: "group",    color:"red darken-2",    icon: "account-group-outline" }, 
                { type: "assembly", color:"purple", icon: "hexagon-multiple-outline" }, 
                { type: "event",    color:"orange", icon: "calendar-clock" }]
  }),
  
  async mounted(){
    this.path = '/page/'
  },
  methods: {
    
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    avatarUrl2: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    shortName : function(thisPage){
      if(thisPage == null) return ""
      if(thisPage.alert != true) return thisPage.name
      let max = 15
      return thisPage.name.length > max ? thisPage.name.substr(0, max) + "..." : thisPage.name
    },
    statusConnected(page){ //return true si la page été connecté il y a moins de 3 minutes
        if(page.dateConnected == null) return 4

        let pageDate = new Date(page.dateConnected)
        
        let date3MinAgo = new Date()
        date3MinAgo.setMinutes( date3MinAgo.getMinutes() - 3 );

        let date1DayAgo = new Date()
        date1DayAgo.setMinutes( date1DayAgo.getMinutes() - (60 * 24) ); //60 minutes * 24h

        if(pageDate > date3MinAgo) return 0 
        if(pageDate > date1DayAgo) return 1

        if(this.diffInDays < 100) return 2

        return 3
        //console.log("dateMinAgo", pageDate, dateMinAgo)
        //return pageDate > date3MinAgo
    },
    openModalUserPage(page){
      this.$root.$emit("openModalUserPage", page.uid)
    },
    getDateFormat(page){
      let date = new Date(page.startDate)
      //var todayTime = new Date();
      var month = (date.getMonth() + 1);
      var day = (date.getDate());
      var year = (date.getFullYear());
      var min = date.getMinutes() > 9 ? date.getMinutes() : "0"+date.getMinutes()
      return day + "/" + month + "/" + year + " " + date.getHours() + "h" + min ;
    },
    iName: function(page){
      return core.iName(page.uid)
    },
  },
  computed: {
    currentRoute : function(){
      return this.$route.path
    },
    pathToPage: function(){
        return this.$router.currentRoute
    },
    
  }
    
}

</script>