<template>
    <v-col class="py-0 mt-1 mb-5" v-if="pageList != null && pageList.length > 0">
      <span style="display:none;">{{ $store.state.auth.lastCheckLiveNotif }}</span>
        <template v-for="(page, i) in pageList">
            <div class="pb-1 menu-page" :key="i" v-if="page != null && page.uid != userPageUid && (pageList.length < 5 || toLive)" 
                 :id="currentRoute == path + page.uid ? 'menu-page-selected' : ''">
                  <!-- TO LIVE -->
                  <div  :title="page.name" style="padding-top:2px;"
                        @click="$root.$emit('openModalUserPage', page.uid)" 
                        v-if="toLive && page.type == 'user'">
                    <v-avatar size="24" class="mx-1">
                      <img v-if="i < 30"
                        :src="avatarUrl2(page.uid)" 
                        :class="page.online ? 'online' : ''"
                        class="" 
                        style=""/>
                    </v-avatar>
                    <small>{{ shortName(page) }}</small>
                    <v-icon v-if="page.alert" style="" :key="page.uid" class="ml-0 mt- px-2" small color="red">mdi-comment-multiple</v-icon>
                  </div>
                  <div  v-else :title="page.name" style="padding-top:2px;"
                        @click="$root.$emit('openModalUserPage', page.uid)">
                    <v-avatar size="24" class="mx-1">
                      <img v-if="i < 30"
                          :class="page.online ? 'online' : ''"
                          :src="avatarUrl2(page.uid)"
                          class="" 
                          style=""/>
                    </v-avatar>
                    <small>{{ shortName(page) }}</small>
                    <v-icon v-if="page.alert" style="" :key="page.uid" class="ml-0 mt- px-2" small color="red">mdi-comment-multiple </v-icon>
                  </div>
            </div>
            
             <div class="d-inline-block mb-1" :key="i"  
                  v-if="page != null && page.uid != userPageUid && (pageList.length >= 5 && !toLive)">
                  <v-avatar  :id="currentRoute == path + page.uid ? 'menu-page-selected' : ''"
                                @click="$root.$emit('openModalUserPage', page.uid)" class=" page-only-avatar"
                                style=""
                                :title="page.name" size="30">
                    <img v-if="i < 30" :class="page.online ? 'online' : ''"
                        :src="avatarUrl2(page.uid)"
                        class="" style="padding:2px;"/>
                    <small v-if="pageList.length < 5">{{ page.name }}<br></small>
                  </v-avatar>
             </div>
          
        </template>
    </v-col>
</template>

<style>
  .menu-page.pending{
    background-color:rgba(247, 247, 247, 0.842);
    border-radius:28px;
  }
  .menu-page.pending small{
    color:black;
  }
  .menu-page.pending:hover{
    background-color:rgba(43, 172, 204, 0.562);
    border-radius:28px;
  }
  .menu-page.pending:hover small{
    color:white;
  }
  #menu-page-selected, .menu-page:hover{
    background-color:rgb(0,0,0,0.3);
    border-radius:28px;
  }
  #menu-page-selected.page-only-avatar, .page-only-avatar:hover{
    background-color:rgba(212, 209, 209, 0.925);
  }
  .menu-page{
    margin-top:2px!important;
  }

  .menu-page{
    max-width:90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
  }

  .lbl-name{
    
  }

  .page-only-avatar{
    width: 30px;
    padding:5px 2px;
    margin-right:1px;
    border-radius:30px;
    cursor: pointer;
  }

  .v-image.online .v-image__image{
    border: 2px solid rgb(28, 158, 49);
    border-radius:50%;
  }
</style>

<script>

import core from '../../plugins/core.js'
export default {
  name: 'page-list',
  props: ['pageList', 'userPageUid', 'toLive'],
  data:() => ({
    path: '/page/'
  }),
  
  async mounted(){
    if(this.toLive === true) this.path = '/live/'
    else this.path = '/page/'
  },
  methods: {
    
    avatarUrl2: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    shortName : function(thisPage){
      //console.log("shortName thisPage", this.pageList, thisPage)
      if(thisPage == null) return ""
      if(thisPage.alert != true) return thisPage.name
      let max = 15
      return thisPage.name.length > max ? thisPage.name.substr(0, max) + "..." : thisPage.name
    }
  },
  computed: {
    currentRoute : function(){
      return this.$route.path
    }
    
  }
    
}

</script>