<template>
<div v-if="(showAllComments == true ||  
          ((index > (nbTotalComments - 4)  && postOrigin!='singlePost') ||
           (index > (nbTotalComments - 10) && postOrigin=='singlePost')))
            && commentObj != null">

    <v-list-item style="padding-left:10px;padding-right:10px;user-select:default;"
                :v-model="comment" >
        <v-list-item-avatar class="pa-0 avatar-comment">
            <v-img :src="avatarUrl(comment.author.uid)" height="25" max-width="25"></v-img>
        </v-list-item-avatar>

        <v-list-item-content :class="'lbl-comment ' + classColorComment">

            <v-list-item-title class="lbl-name-comment">
                <router-link :to="'/page/'+comment.author.uid">{{ comment.author.name }}</router-link> 
            </v-list-item-title>

            <v-list-item-title class="lbl-name-comment text-right" 
                                style="color:grey; position:absolute; right:20px; top:5px">
                <small style="margin-left:5px">
                    <time-ago :datetime="comment.created" :refresh="60" long :locale="$vuetify.lang.current"></time-ago> <!-- 2h ago -->
                </small>
                <small style="margin-left:5px">
                    <v-btn x-small icon 
                            v-if="isAuthorComment || isAuthorPost || canDelete" 
                            @click="showBtnEdit=!showBtnEdit">
                        <v-icon color="grey">mdi-dots-horizontal</v-icon>
                    </v-btn>
                </small>
            </v-list-item-title>

            <p class="lbl-text-comment" v-show="!showEditComment" 
                                v-html="completeText(comment.text)">
            </p> 
            

            <v-col v-show="showEditComment==true" v-if="isAuthorComment">
                <v-textarea filled dense v-model="commentObj.text"  spellcheck="false"
                            style="font-size:14px;font-weight:200"></v-textarea>
                <v-row>
                    <v-col cols="6">
                        <v-btn block small color="grey" @click="showEditComment=false">
                            <v-icon small>mdi-cancel</v-icon> 
                            {{ $vuetify.lang.t('$vuetify.main.cancel') }}
                        </v-btn>
                    </v-col>
                    <v-col cols="6">
                        <v-btn block small color="secondary" @click="saveEditComment()">
                        <v-icon small>mdi-content-save-move-outline</v-icon> 
                        {{ $vuetify.lang.t('$vuetify.main.save') }}
                    </v-btn>
                    </v-col>
                </v-row>
            </v-col>

            <v-col v-show="showDeleteComment==true" 
                  v-if="isAuthorComment || isAuthorPost || canDelete">
                <v-card>
                    <v-col>
                        <v-row>
                            <v-col>{{ $vuetify.lang.t('$vuetify.comment.dyw_delete_comment') }} ?</v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="6">
                                <v-btn block small color="red" @click="deleteComment()">
                                    <v-icon small>mdi-delete</v-icon> 
                                    {{ $vuetify.lang.t('$vuetify.main.delete') }}
                                </v-btn>
                            </v-col>
                            <v-col cols="6">
                                <v-btn block small color="grey" @click="showDeleteComment=false">
                                    <v-icon small>mdi-cancel</v-icon> 
                                    {{ $vuetify.lang.t('$vuetify.main.cancel') }}
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-card>
            </v-col>


            <p class="lbl-text-comment" style="margin-top:5px;">
                    <v-btn text rounded small class="btn-emojis" v-show="emo.users.length > 0"
                            @click="sendEmoji(emo.name)" :color="iAmEmo(emo.users)"
                            style="margin-right:0px;background:transparent;padding:1px 3px 1px 3px; min-width: 45px;" 
                            v-for="(emo, i) in commentObj.emojis" :key="i">
                        {{ emo.users.length }} 
                        <v-icon small style="margin-left:3px">
                            mdi-{{ emo.name }}
                        </v-icon>
                    </v-btn>
            </p>
        
            <v-btn text x-small color="grey" class="pa-0"
                style="margin-top:5px; text-transform:none; justify-content:left;"
                v-show="commentObj.answers[0] != null" :loading="commentsLoading"
                @click="showAllAnswersConv()">
                    <v-icon x-small v-show="showAllAnswers==false">mdi-chevron-down</v-icon> 
                    <v-icon x-small v-show="showAllAnswers==true">mdi-chevron-up</v-icon> 
                    {{ commentObj.answers.length }} {{ $vuetify.lang.t('$vuetify.comment.answers') }}...
            </v-btn>

            <v-list three-line style="width: 100%;" 
                    v-if="commentObj.answers[0] != null">
                
                <template v-for="(com, i) in commentObj.answers">
                    <Comment :comment="com" origin="comment" 
                            :key="i"  :index="i" 
                            :parentPostUid="parentPostUid"
                            :isModerator="isModerator"
                            :parentCommentId="comment._id" :postOrigin="postOrigin"
                            :nbTotalComments="commentObj.answers.length"
                            :showAllComments="showAllAnswers"></Comment>
                </template>

                <v-skeleton-loader ref="skeleton"
                    :boilerplate="false"
                    type="list-item-avatar-three-line"
                    :tile="false"
                    class="mx-auto"
                    v-show="newCommentLoading"
                ></v-skeleton-loader>
            </v-list>


            <div style="right:15px; bottom:5px; position:absolute;" class="tools-comments">
                
                <!-- <v-expand-transition> -->
                    <v-btn color="red" icon small @click="showDeleteComment=!showDeleteComment"
                        style="margin-right:5px" v-if="(isAuthorComment || isAuthorPost || canDelete) && showBtnEdit">
                            <v-icon small>mdi-delete</v-icon>
                    </v-btn>
                <!-- </v-expand-transition> -->
                <!-- <v-expand-transition> -->
                    <v-btn color="blue" icon small 
                            style="margin-right:5px" v-if="isAuthorComment && showBtnEdit"
                            @click="showEditComment=!showEditComment"
                        >
                            <v-icon small>mdi-pencil</v-icon>
                    </v-btn>
                <!-- </v-expand-transition> -->

                <v-btn color="grey" icon small @click="showEmojis=!showEmojis"
                    style="margin-right:5px">
                        <v-icon small>mdi-sticker-emoji</v-icon>
                </v-btn>
                <v-btn color="grey" v-if="origin=='post'" icon small 
                        @click="showInputAnswer=!showInputAnswer"
                    >
                        <v-icon small>mdi-comment</v-icon>
                </v-btn>
            </div>

            <!-- <v-expand-transition> -->
                <v-row id="input-comment" style="margin: 15px 0 0 0px;" v-show="showInputAnswer">
                    <v-textarea :class="'input-comment ' + (commentOpen?'focus':'')" @click="commentOpen=true" spellcheck="false"
                            :counter="answerStr.length > 950" auto-grow outlined clearable :rules="rulesTxtareaEditComment"
                            :label="$vuetify.lang.t('$vuetify.comment.yourAnswer') + '...'" v-model="answerStr" @change="cleanClearComment">
                    </v-textarea>
                    <v-btn icon style="margin:2px 5px 0 5px;" @click="sendAnswer" :disabled="answerStr==''">
                        <v-icon large>mdi-send-circle</v-icon>
                    </v-btn>
                </v-row>
            <!-- </v-expand-transition> -->

            <!-- <v-expand-transition> -->
                <v-row v-show="showEmojis" class="toolbar-emojis" style="margin: 15px 0 0 0px;">
                    <v-col class="text-center pa-0">
                    <v-btn icon small v-for="(emo, i) in emojis" :key="i" @click="sendEmoji(emo.icon)">
                        <v-icon>mdi-{{ emo.icon }}</v-icon>
                    </v-btn>
                    </v-col>
                </v-row>
            <!-- </v-expand-transition> -->

        </v-list-item-content>
    </v-list-item>   

    <v-snackbar v-model="snackbar">
        {{ snackbarText }}
        <v-btn color="red" text @click="snackbar = false">Close</v-btn>
    </v-snackbar>

</div>


</template>

<style>
</style>

<script>

import axios from 'axios'
import core from '../plugins/core.js'
//import router from '../router/router'
//import Comment from '@/components/Comment.vue'
import TimeAgo from "vue2-timeago";

export default {
  name: 'Comment',
  components: { TimeAgo },
  props: ['comment', 'origin', 'index', 'nbTotalComments', 
          'showAllComments', 'postOrigin', 'parentPostSignedUid', 'parentPostUid',
          'parentCommentId', 'isModerator', 'isAdmin'],
  data() {
      return {
      commentOpen: false,
      answerStr: '',
      commentObj: { 'emojis':[], 'answers':[] },
      showInputAnswer: false,
      newCommentLoading: false,
      rulesTxtareaEditComment: [v => v.length <= 1000 || this.$vuetify.lang.t('$vuetify.post.maxMsgLabel')],
      showAnswers: false,
      showEmojis: false,
      showAllAnswers: false,
      showBtnEdit: false,
      showEditComment: false,
      showDeleteComment: false,
      commentsLoaded: false,
      commentsLoading: false,
      snackbarText: '',
      snackbar: false,
      classColorComment: '',
      emojis: [
          { icon: 'thumb-up' },
          { icon: 'emoticon-lol' },
          { icon: 'emoticon-kiss' },
          { icon: 'emoticon-cool' },
          { icon: 'emoticon-tongue' },
          { icon: 'emoticon-excited' },
          { icon: 'emoticon-cry' },
          { icon: 'emoticon-devil' },
          { icon: 'thumb-down' },
          
      ]
      }
  },
  mounted: function(){
     this.commentObj = this.comment
     //this.commentObj.emojis = this.comment.emojis

     if(this.commentObj.new == true){
         this.classColorComment = "new-com"
         setTimeout(()=>{
             this.classColorComment = ""
             this.commentObj.new = false
         },4000)
     }
  },
  methods: {
      cleanClearComment: function(){
          if(this.answerStr==null) this.answerStr=''
      },
      nl2br: function(str, is_xhtml){
        var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';
        return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
      },
      showAllAnswersConv: async function(){
        this.showAllAnswers = !this.showAllAnswers
      },
      sendEmoji: async function(emoji){
          if(window.isDev) { console.log("sendEmoji", this.comment._id, this.parentCommentId); }
          this.newCommentLoading = true
          const res = await axios.post('/comment/send-emoji', 
                                    {   emoji: emoji, 
                                        postUid: this.parentPostUid, 
                                        parentCommentId: this.parentCommentId,
                                        commentId: this.comment._id })

          if(window.isDev) { console.log("res /comment/send-emoji", res.data); }
          if(res.data.error == false){
              this.newCommentLoading = false
              this.commentStr = ""
              this.commentObj.emojis = res.data.comment.emojis
          }
            
      },
      sendAnswer: async function(){
          if(window.isDev) { console.log("sendAnswer", this.comment._id); }
          if(this.answerStr.trim() == ""){
              this.snackbarText = "Hey, your message is empty !"
              this.snackbar = true
              return
          }

          this.newCommentLoading = true
          const res = await axios.post('/comment/send-comment', 
                                    {   commentStr: this.answerStr, 
                                        postUid: this.parentPostUid, 
                                        parentCommentId: this.comment._id })

          if(window.isDev) { console.log("res /comment/send-comment1", res.data.newComment); }
          if(window.isDev) { console.log("res /comment/send-comment2", this.comment.answers); }
          if(res.data.error == false){
              this.newCommentLoading = false
              this.answerStr = ""
              this.commentObj.answers.push(res.data.newComment)
              this.showAllAnswers = true
          }else{
              this.snackbarText = "Sorry, an error occured."
              this.snackbar = true
          }
      },
      saveEditComment: async function(){
        if(window.isDev) { console.log("saveEditComment", this.comment._id, this.commentObj.text); }
        const res = await axios.post('/comment/edit-comment', { 
                                        commentId: this.comment._id,
                                        text: this.commentObj.text,
                                        postUid: this.parentPostUid
                                    })
                                    
        if(res.data.error == false){
            this.commentObj.text = res.data.commentText
            this.showEditComment = false
        }
        if(window.isDev) { console.log("res /publication/edit-comment", res.data); }
      },
      deleteComment: async function(){
        if(window.isDev) { console.log("deleteComment"); }
        const res = await axios.post('/comment/delete-comment', { 
                                        commentId: this.comment._id,
                                        parentPostUid: this.parentPostUid
                                    })
                                    
        if(res.data.error == false){
            this.commentObj = null
            this.showDeleteComment = false
        }
        if(window.isDev) { console.log("res /publication/delete-comment", res.data); }
      },
      avatarUrl: function(pageUid){
        return core.avatarUrl(pageUid)
      },
      iAmEmo: function(users){
          return users.indexOf(this.$store.state.auth.profile.uid)  > -1 ? 'white' : 'grey'
      },
      completeText: function(){
          return core.completeText(this.commentObj.text)
      }
      
  },
  computed: {
      isAuthorComment: function(){
          //if(window.isDev) { console.log("isAuthorComment", this.comment, this.$store.state.auth.profile.uid); }
          return this.comment.author.uid == this.$store.state.auth.profile.uid
      },
      isAuthorPost: function(){
          //if(window.isDev) { console.log("isAuthorComment", this.comment, this.$store.state.auth.profile.uid); }
          return this.parentPostSignedUid == this.$store.state.auth.profile.uid
      },
      canDelete: function(){ return this.isModerator || this.isAdmin }
  }, 
  watch: {
    'comment.answers': { immediate: true, 
        async handler (val) {
            if(this.commentObj != null)
            this.commentObj.answers = val
        }
    }
  }
  
}
</script>