<template>
<div @click="$store.dispatch('app/setDrawerOpen', false)">
  <v-card id="stream" class="mx-auto">
      <v-col class="card-container">

        <v-col class="pa-0">

            <v-alert border="top" colored-border color="blue" 
                     v-if="$store.state.auth.isNewUser && showFstMsg"
                     style="text-align:left!important;" class="mt-5">
                <p class="text-left pa-3 pb-0" style="font-size:1.1em;">
                    {{ $vuetify.lang.t('$vuetify.stream.completeRegister') }} ...<br>
                <small>
                    {{ $vuetify.lang.t('$vuetify.stream.notPresented') }} !<br>
                    {{ $vuetify.lang.t('$vuetify.stream.promptFirstMessage') }} :
                </small>
                </p>
                <FormFirstMsg :streamRadius="rootRadius"
                              :page="$store.state.auth.profile"></FormFirstMsg>

                <v-divider></v-divider>

                <v-row class="mx-0 mt-2">
                <v-col cols="6">
                    <v-btn text style="text-transform:none;" color="blue" block to="/first-step">
                        <v-icon small color="blue" class="mr-1">mdi-cog</v-icon> {{ $vuetify.lang.t('$vuetify.stream.configAccount') }}
                    </v-btn>
                </v-col>
                <v-col cols="6">
                    <v-btn text style="text-transform:none;" color="blue" block :to="'/page/'+$store.state.auth.profile.uid">
                        <v-icon small color="blue" class="mr-1">mdi-account</v-icon> {{ $vuetify.lang.t('$vuetify.page.changeImgProfil') }}
                    </v-btn>
                </v-col>
                </v-row>
                <v-col >
                    <v-btn outlined color="orange ligthen-2" block @click="$store.dispatch('app/setPopupEmailOpen', true)">
                        <v-icon small class="mr-1">mdi-mail</v-icon> {{ $vuetify.lang.t('$vuetify.stream.enableEmailNotification') }}
                    </v-btn>
                </v-col>
            </v-alert>
            
            <!-- <v-col class="pa-0 text-center d-sm-none">
                <small>
                <v-icon small color="grey">mdi-home</v-icon>
                {{ $vuetify.lang.t('$vuetify.menu.Home') }}
                </small>
            </v-col> -->
            

<!-- 
            <template v-if="!isPrivate">
                <v-bottom-navigation :height="70"  style="margin-bottom:15px; border-radius:5px; " grow class="mt-3 btn-bar-stream" v-model="mainMenu">
                    <v-btn :color="$store.state.stream.mode=='posts' ? 'primary darken-3' : ''" 
                            to="/stream" 
                            @click="$store.dispatch('stream/setMode', 'posts')">
                        <span>{{ $vuetify.lang.t('$vuetify.menu.Stream') }}</span>
                        <v-icon>mdi-newspaper-variant-multiple</v-icon>
                    </v-btn>

                    <v-btn :color="$store.state.stream.mode=='pages' ? 'primary darken-3' : ''" 
                            to="/stream-explore" 
                            @click="$store.dispatch('stream/setMode', 'pages')">
                        <span>{{ $vuetify.lang.t('$vuetify.stream.searchUser') }}</span>
                        <v-icon>mdi-cloud-search-outline</v-icon>
                    </v-btn>
                    <v-btn @click="$store.dispatch('stream/showMap', true)">
                        <span>{{ $vuetify.lang.t('$vuetify.stream.map') }}</span>
                        <v-icon>mdi-map-marker-circle</v-icon>
                    </v-btn>
                    <v-btn :disabled="$store.state.auth.isNewUser" 
                        @click="$store.dispatch('stream/setMode', 'send')">
                        <span>{{ $vuetify.lang.t('$vuetify.stream.sendPost') }}</span>
                        <v-icon>mdi-tooltip-edit</v-icon>
                    </v-btn>
                </v-bottom-navigation>

-->
                <!-- <v-btn block small @click="showStreamOptions=!showStreamOptions">



                <v-btn block small @click="showStreamOptions=!showStreamOptions">
                    <v-icon small>mdi-dots-horizontal-circle-outline</v-icon> options
                </v-btn> -->
<!--
                <template v-if="showStreamOptions && $store.state.stream.mode == 'posts'">
                    <h5 class="ma-2" style="color: #aaa;">
                        <v-icon small style="color: #aaa;">mdi-chevron-double-down</v-icon> 
                        {{ $vuetify.lang.t('$vuetify.stream.selectSourceStream') }}
                        
                    </h5>
    
                    <v-bottom-navigation :height="70" v-show="showOrigineOptions" 
                                        style="margin:0;border-radius:5px;" class="btn-bar-stream"
                                        v-model="streamOrigin" grow>
                        <v-btn class="hover-blue" value="local" 
                            @click="$store.dispatch('stream/setOrigin', 'local')">
                            <span>{{ $vuetify.lang.t('$vuetify.stream.localStream') }}</span>
                            <v-icon>mdi-map-marker-radius-outline</v-icon>
                        </v-btn>

                        <v-btn class="hover-red" value="follows" 
                            @click="$store.dispatch('stream/setOrigin', 'follows')">
                            <span>{{ $vuetify.lang.t('$vuetify.stream.myFollows') }}</span>
                            <v-icon>mdi-link-variant</v-icon>
                        </v-btn>

                        <v-btn class="hover-yellow" value="favorites" 
                            @click="$store.dispatch('stream/setOrigin', 'favorites')">
                            <span>{{ $vuetify.lang.t('$vuetify.stream.favoritePosts') }}</span> 
                            <v-icon>mdi-star</v-icon>
                        </v-btn>
                    </v-bottom-navigation>
                </template>

                <template v-if="showStreamOptions && $store.state.stream.mode == 'pages'">
                    <h5 class="ma-2" style="color: #aaa;">
                        <v-icon small style="color: #aaa;">mdi-chevron-double-down</v-icon> 
                        {{ $vuetify.lang.t('$vuetify.stream.whatSearch') }} ?
                    </h5>

                    <v-bottom-navigation :height="70" v-show="showOrigineOptions" 
                                        style="margin:0;border-radius:5px;" class="btn-bar-stream"
                                        v-model="pageType" grow>
                        <v-btn class="hover-blue px-2" value="" 
                                @click="$store.dispatch('stream/setPageType', '')">
                            <span class="d-none d-sm-inline">{{ $vuetify.lang.t('$vuetify.stream.All') }}</span>
                            <v-icon>mdi-asterisk</v-icon>
                        </v-btn>

                        <v-btn class="hover-yellow px-2" value="user" 
                                @click="$store.dispatch('stream/setPageType', 'user')">
                            <span class="d-none d-sm-inline">{{ $vuetify.lang.t('$vuetify.stream.users') }}</span>
                            <v-icon>mdi-account</v-icon>
                        </v-btn>

                        <v-btn class="hover-red px-2" value="group" 
                                @click="$store.dispatch('stream/setPageType', 'group')">
                            <span class="d-none d-sm-inline">{{ $vuetify.lang.t('$vuetify.stream.groups') }}</span> 
                            <v-icon>mdi-account-group-outline</v-icon>
                        </v-btn>

                        <v-btn class="hover-purple px-2" value="assembly"
                                 @click="$store.dispatch('stream/setPageType', 'assembly')">
                            <span class="d-none d-sm-inline">{{ $vuetify.lang.t('$vuetify.stream.assemblies') }}</span>
                            <v-icon>mdi-hexagon-multiple-outline</v-icon>
                        </v-btn>

                        <v-btn class="hover-orange" value="event" 
                                @click="$store.dispatch('stream/setPageType', 'event')">
                            <span class="d-none d-sm-inline">{{ $vuetify.lang.t('$vuetify.stream.events') }}</span>
                            <v-icon>mdi-calendar-clock</v-icon>
                        </v-btn>
                    </v-bottom-navigation>
                </template>
            </template>
-->
        <!--
            </template>
        -->


            <template v-if="showStreamOptions">
                <v-toolbar id="toolbar-contentt" dense  color="darkblock" v-if="$store.state.stream.mode=='posts'"
                    style="margin:15px 0 15px 0; border-radius:5px;">
                    <v-btn icon color="grey" style="margin-left:0px" @click="showTags=!showTags">
                        <v-icon>mdi-pound-box</v-icon>
                    </v-btn>

                     <v-text-field clearable :loading="streamLoading && searchContentStr != '' && searchContentStr != null" 
                        @change="$store.dispatch('stream/setSearchStr', searchContentStr)" id="searchInPost"
                        hide-details :placeholder="$vuetify.lang.t('$vuetify.stream.searchInStream')" 
                        style="margin-right:15px;" single-line v-model="searchContentStr"  
                        class="input-search" color="blue"
                    ></v-text-field>

                    <v-btn icon color="white" @click="loadStreamOrigin()"
                            :title="$vuetify.lang.t('$vuetify.stream.updateResults')"
                            style="margin-right:0px">
                        <v-icon>mdi-magnify</v-icon>
                    </v-btn>

                </v-toolbar>


                <v-toolbar id="toolbar-contentt" dense  color="darkblock"
                        style="margin:15px 0 15px 0; border-radius:5px;" v-if="$store.state.stream.mode=='pages'">
                        
                    <v-btn icon color="grey" style="margin-left:0px" @click="showTags=!showTags">
                        <v-icon>mdi-pound-box</v-icon>
                    </v-btn>

                    <v-text-field clearable :loading="streamLoading"
                        @change="$store.dispatch('stream/setSearchStr', searchContentStr)" id="searchInPost"
                        hide-details :placeholder="$vuetify.lang.t('$vuetify.stream.searchInPages')" style="margin-right:15px;"
                        single-line v-model="searchContentStr"  class="input-search" color="blue"
                    ></v-text-field>

                    <v-btn icon @click="loadStreamOrigin()" 
                            :title="$vuetify.lang.t('$vuetify.stream.searchContent')"
                            style="margin-right:0px">
                        <v-icon>mdi-magnify</v-icon>
                    </v-btn>
                    
                </v-toolbar>


                <v-col class="mt-0 mb-4 pa-0" v-if="showTags"> 
                    <v-card color="">
                        <v-col class="">
                            <!-- <h4>#hashtags</h4> -->
                            <h5>{{ $vuetify.lang.t('$vuetify.stream.hashtagSuggestions') }}</h5>
                            <v-col class="pa-0 mt-2">
                                <template v-for="(tag, i) in hashtagList">
                                <v-chip @click="addTagNewPost(tag.tag)" small 
                                        style="padding-right:10px;"
                                        :color="searchContentStr!=null && searchContentStr.indexOf(tag.tag) > -1 ? 'blue' : 'blue-grey darken-2'"
                                        :key="i" class="mr-2 mt-2">
                                        {{ tag.tag }} 
                                        <!-- <v-avatar small right class="grey darken-1" >{{ tag.count }}</v-avatar> -->
                                </v-chip>
                                </template>
                                <template v-for="(tag, j) in hashtagSuggest">
                                <v-chip @click="addTagNewPost(tag.tag)" small 
                                        style="padding-right:6px;"
                                        :color="searchContentStr!=null && searchContentStr.indexOf(tag.tag) > -1 ? 'blue' : 'blue-grey darken-2'"
                                        :key="j+hashtagList.length" class="mr-2 mt-2">
                                        {{ tag.tag }} 
                                        <v-avatar small right class="blue-grey darken-3" >{{ tag.count }}</v-avatar>
                                </v-chip>
                                </template>
                            </v-col>
                            <v-col class="pa-0 mt-4">
                                <v-btn small block color="blue" @click="loadStreamOrigin()" :loading="streamLoading">
                                    <v-icon small>mdi-refresh</v-icon> {{ $vuetify.lang.t('$vuetify.stream.update') }}
                                </v-btn>
                            </v-col>
                        </v-col>

                        
                    </v-card>
                </v-col>
            </template>

        </v-col>

        <v-col class="pa-0 xs-8" style="margin-top:30px;">
            
            <div>
                <v-slider v-model="rootRadius" 
                        @change="$root.$emit('updateRadius', rootRadius)"
                        color="primary" :label="rootRadius+' km'" 
                        inverse-label :max='kmCurrentMax'
                >
                <template v-slot:prepend>
                    <v-icon @click="decrement">mdi-minus</v-icon>
                </template>

                <template v-slot:append>
                    <v-icon @click="increment">mdi-plus</v-icon>
                </template>
                </v-slider>
            </div>
            
        </v-col>


        <v-col class="text-center pb-0">
            <!-- <v-btn class="mr-3 mt-0" fab dark small color="secondary" 
                    v-if="$store.state.stream.mode=='pages'" 
                    @click="$store.dispatch('stream/setMode', 'posts')">
                    <v-icon :title="$vuetify.lang.t('$vuetify.stream.backToStream')" color="">
                        mdi-newspaper-variant-multiple
                    </v-icon>
                </v-btn> -->
                 <!-- 
            <v-btn class="mx-3 mt-0" fab dark color="blue"
                    @click="loadStreamOrigin()" :loading="streamLoading"
                    :title="$vuetify.lang.t('$vuetify.stream.updateResults')">
                <v-icon dark :title="$vuetify.lang.t('$vuetify.stream.updateResultsShort')">mdi-refresh</v-icon>
            </v-btn>
            <v-btn class="mx-3 mt-0" fab dark color="secondary"
                   @click="$store.dispatch('stream/showMap', true)"
                   :title="$vuetify.lang.t('$vuetify.stream.showMap')">
                    <v-icon dark color="" :title="$vuetify.lang.t('$vuetify.stream.ShowResultOnMap')">
                        mdi-map-marker
                    </v-icon>
            </v-btn>
            -->
            <br><br>

            <template v-if="streamLoading">{{ $vuetify.lang.t('$vuetify.stream.loadInProgress') }}</template>
            <template v-if="!streamLoading">
                <span v-if="$store.state.stream.mode=='posts'">
                    <v-icon small>mdi-chevron-down</v-icon>
                    {{ $vuetify.lang.t('$vuetify.stream.streamLabel') }}
                </span>
                <div class="mb-5 text-center" v-if="$store.state.stream.mode=='pages'">
                    <v-icon small>mdi-chevron-down</v-icon>
                    {{ $store.state.stream.pages.length }}
                    {{ ($store.state.stream.pages.length > 1 ? $vuetify.lang.t('$vuetify.stream.results') : $vuetify.lang.t('$vuetify.stream.result')) }}
                    <small v-if="$store.state.stream.countPages > 50"> /{{ $store.state.stream.countPages }}</small>
                    <!-- <br>
                    <v-btn x-small text @click="showMoreResults">
                        <v-icon x-small>mdi-chevron-right</v-icon> 
                        {{ $vuetify.lang.t('$vuetify.stream.showMoreResults') }} 
                    </v-btn> -->
                </div>
            </template>
            
        </v-col>

<!--
        <v-col class="text-center px-0">
            <v-btn v-for="(node, n) in $store.state.network.nodes" :key="n"
                    class="ma-1" outlined
                    :color="filterNodes.indexOf(node.name) > -1 ? 'blue' : ((node.unreachable || !node.isActive || node.lockOut) ? 'red lighten-3' : 'blue-grey')"
                    small style="text-transform:none;"
                    @click="clickFilterNode(node.name)"
                    :title="(node.unreachable || !node.isActive || node.lockOut) ? $vuetify.lang.t('$vuetify.stream.serverUnavailable') : $vuetify.lang.t('$vuetify.stream.displayServerResults')">
                <v-icon x-small>mdi-spider-web</v-icon>
                {{ node.name }}
            </v-btn>
            <br>
            <v-btn small color="grey" text @click="filterMyNodes" class="my-2 mx-1"
                    :title="$vuetify.lang.t('$vuetify.stream.selectOnlyServer') + ' - ' + iName($store.state.auth.profile.uid) + '-'"
                    style="text-transform:none;">
                <v-icon x-small>mdi-account</v-icon> 
                {{ $vuetify.lang.t('$vuetify.stream.serverMy') }}
            </v-btn>
            <v-btn small color="grey" text @click="$store.dispatch('network/fetchNodes', { refresh: true })" class="my-2 mx-1"
                    :title="$vuetify.lang.t('$vuetify.stream.updateAvailableServersList')"
                    style="text-transform:none;">
                <v-icon x-small>mdi-refresh</v-icon> 
                {{ $vuetify.lang.t('$vuetify.stream.updateNetwork') }}
            </v-btn>
            <v-btn small color="grey" text @click="initFilterNodes" class="my-2 mx-1"
                    :title="$vuetify.lang.t('$vuetify.stream.selectAllServers')"
                    style="text-transform:none;">
                <v-icon x-small>mdi-asterisk</v-icon> 
                {{ $vuetify.lang.t('$vuetify.stream.all') }}
            </v-btn>
        </v-col>
-->


        <div v-show="$store.state.stream.mode=='posts'">
            <template v-for="(post, i) in $store.state.stream.posts">
                <template v-if="filterNodes.indexOf(iName(post.uid)) > -1">
                    <Post :post="post" origin="stream" :key="'post'+i" ></Post>
                </template>
            </template>
        </div>
    
        <div v-show="$store.state.stream.mode=='pages'">
            <template v-for="(page, j) in $store.state.stream.pages">
                <template v-if="filterNodes.indexOf(iName(page.uid)) > -1">
                    <PageCard :page="page" :key="'page'+j"></PageCard>
                </template>
            </template>
        </div>

        <EndOfStream v-if="$store.state.stream.mode == 'posts'"
                     :endOfStream="isEndOfStream" 
                     :mapMode="$store.state.stream.mode" 
                     :pageNumber="pageNumber" 
                     :mapPages="$store.state.stream.posts" 
                     :streamLoading="streamLoading" 
                     :streamLength="$store.state.stream.posts.length"></EndOfStream>
        
        <EndOfStream v-if="$store.state.stream.mode == 'pages'"
                     :endOfStream="isEndOfStream" 
                     :mapMode="$store.state.stream.mode" 
                     :pageNumber="pageNumber" 
                     :mapPages="$store.state.stream.pages" 
                     :streamLoading="streamLoading" 
                     :streamLength="$store.state.stream.pages.length"></EndOfStream>
        
    
    </v-col>
  </v-card>
</div>
</template>

<style>
    #stream .input-search .v-input__slot::before{
        border-color: transparent!important
    }
    #stream .theme--dark.v-bottom-navigation .v-btn:not(.v-btn--active){
        color:white!important;
    }
    #stream .hover-orange{
        color:#ec9e37
    }
    #stream .hover-yellow{
        color:#dfc953
    }
    #stream .hover-purple{
        color:#b580d2
    }
    #stream .hover-red{
        color:#cf4747
    }
    #stream .hover-blue{
        color:#4098aa
    }
    #stream .v-bottom-navigation{
        background-color: #212121;
    }
    #stream{
        padding-bottom:200px;
    }
</style>

<script>
import Post from '@/components/Post.vue'
import PageCard from '@/components/page/PageCard.vue'
import EndOfStream from '@/components/page/EndOfStream.vue'

import FormFirstMsg from '@/components/page/FormFirstMsg.vue'
import core from '../plugins/core.js'

export default {
  name: 'home',
  components: { Post, PageCard, EndOfStream, FormFirstMsg },
  data:() => ({
      stream: [],
      lastScrollOffset: window.screenTop || 0,
      loadingContent: false,
      searchContentStr: '',
      showOrigineOptions: true,
      showStreamOptions: true,
      streamOrigin: 'local',
      showTags: false,
      pageType: null,
      mainMenu: "stream",

      kmCurrentMax: 600,
      rootRadius: 600,

      showFstMsg: true,

      filterNodes: [],

      hashtagSuggest: [],
      hashtagList: [],
      hashtagListOrigin: [
            { tag: '#bénévoleAsso' },
            { tag: '#médiaIndependant' },
            { tag: '#décroissant' },
            { tag: '#enColère' },
            { tag: '#pacifiste' },
            { tag: '#autonomiste' },
            { tag: '#désobéissant' },
            { tag: '#constituant' },
            { tag: '#soignant' },
            { tag: '#permaculteur' },
            { tag: '#boulanger' },
            { tag: '#artisan' },
            { tag: '#avocat' },
            { tag: '#scientifique' },
            { tag: '#informaticien' },
            { tag: '#bricoleur' },
            { tag: '#chercheur' },
            { tag: '#GiletsJaunes' },
            { tag: '#GrèveGénérale' },
            { tag: '#RIC' },
            { tag: '#XR' },
            { tag: '#Colibris' },
      ]
  }),
  props: ['streamLoading', 'isPrivate', 'mapMode', 'pageNumber', 'totalUserPages'],
  mounted: async function(){

      //console.log("!*-!STREAM")
      //await this.$store.dispatch('stream/init')
      this.initFilterNodes()
      
      this.kmCurrentMax = this.$store.state.stream.radiusMax
      this.rootRadius = localStorage.getItem("radius") ? localStorage.getItem("radius") : this.kmCurrentMax
      //console.log("radiusMax", this.$store.state.stream.radiusMax)

      this.hashtagList = this.hashtagListOrigin
      this.streamOrigin = this.$store.state.stream.origin  
      this.pageType = this.$store.state.stream.pageType 

      this.searchContentStr = this.$store.state.stream.searchStr ? this.$store.state.stream.searchStr : ""

      
      if(this.$route.name == 'stream-explore'){
        this.showStreamOptions = true
      }

      this.$root.$on('streamLoaded', () => { 
        this.loadingContent = false
        this.stream = this.$store.state.stream.posts
        this.updateTags()
      })

      this.$root.$off('openTag').$on('openTag', (tag) => { 
        if(window.isDev) { console.log('openTag in Stream.vue', tag); }
        this.searchContentStr = tag
        this.loadStreamOrigin();
      })

      this.$root.$off('changeRadius').$on('changeRadius', (radius) => { 
        this.rootRadius = radius
      })

      this.$root.$off('nextFirstStep').$on('nextFirstStep', () => { 
        this.showFstMsg = false
      })

        
        // Never call e.preventDefault here
        const onScroll = () => {
            if( this.streamLoading !== false ||
                this.isEndOfStream == true ||
                document.getElementById("stream") == null
            ) {
                return;
            }

            const streamEndOffset = document.getElementById("stream").offsetHeight - window.innerHeight - 1000;
            if (this.lastScrollOffset !== streamEndOffset && window.scrollY > streamEndOffset) {
                if (window.isDev) {
                    console.log('Scrolled to end of stream, fetching next page...');
                }
                
                if(!this.isEndOfStream)
                this.$root.$emit('loadNextContent');

                this.lastScrollOffset = streamEndOffset;
            }
        }

        window.addEventListener('scroll', onScroll, { passive: true });
    
  },
  methods: {
      loadStreamOrigin: function(streamOrigin=null){
        if(streamOrigin != null) this.streamOrigin = streamOrigin
        if(this.searchContentStr == null) this.searchContentStr = ""
        this.$root.$emit('updateContent', 1, this.pageType, this.streamOrigin, this.searchContentStr);
      },
      addTagNewPost : function(tag){
        let pos = -1
        if(this.searchContentStr == null) this.searchContentStr = ""

        if(this.searchContentStr != "") 
            pos = this.searchContentStr.indexOf(tag)
        

        if(pos > -1){ //tag exist in text
            this.searchContentStr = this.searchContentStr.replace(tag, '').trim()
        }else{ //tag not exist in text
            if(this.searchContentStr.length == 0) 
                 this.searchContentStr = tag
            else this.searchContentStr += ' ' + tag
        }
      },
      updateTags : function(){
        //if(window.isDev) { console.log("1 updateTags ? hashtags", this.hashtagSuggest, this.stream.length); }
        this.hashtagSuggest = []
        this.stream.forEach((post)=>{
          //if(window.isDev) { console.log("2 hashtags ?", post.hashtags); }
          if(post.hashtags != null && post.hashtags.length > 0){
            post.hashtags.forEach((tag)=>{
              let found = false
              this.hashtagSuggest.forEach((tagL)=>{
                if(tag == tagL.tag) found = true
              })
              //if(window.isDev) { console.log("3 hashtags found?", found); }
              if(!found) this.hashtagSuggest.push({ tag: tag, count: 1})
              else{
                this.hashtagSuggest.forEach((tagL)=>{
                  if(tag == tagL.tag) tagL.count++
                })
              }
            })
            
          }
        })
        this.hashtagSuggest.sort((a, b) => (a.count < b.count) ? 1 : -1)

        let tmp = []
        this.hashtagListOrigin.forEach((t)=>{
            tmp.push(t)
        })
        //if(window.isDev) { console.log("4 hashtagSuggest ??", this.hashtagSuggest, this.hashtagList.length, this.hashtagListOrigin.length); }

        //let tmp = []
        this.hashtagSuggest.forEach((h)=>{
            let found = false
            //if(window.isDev) { console.log("5 hashtags double ?", h.tag, found, tmp.length); }
            tmp.forEach((t, i)=>{
                if(h.tag==t.tag) found = i
            })
            //if(window.isDev) { console.log("5 hashtag double ???", h.tag, found, 'length', tmp.length); }
            if(found !== false)  tmp.splice(found, 1)
        })

        this.hashtagList = tmp

      },
      decrement: function(){
        this.rootRadius--
        this.$root.$emit('updateRadius', this.rootRadius, false)
      },
      increment: function(){
        this.rootRadius++
        this.$root.$emit('updateRadius', this.rootRadius, false)
      },
      initFilterNodes: function(){
        this.filterNodes = []
        this.$store.state.network.nodes.forEach((node)=>{
            if(!node.unreachable && node.isActive && !node.lockOut)
            this.filterNodes.push(node.name)
        })
      },
      filterMyNodes: function(){
          this.filterNodes = []
          this.filterNodes.push(this.iName(this.$store.state.auth.profile.uid))
      },
      clickFilterNode: function(nodeName){
          let available = true 
          this.$store.state.network.nodes.forEach((node)=>{
              if(node.name == nodeName)
                if(node.unreachable || !node.isActive || node.lockOut) 
                    available = false
          })
          console.log("available", available)
          if(!available) return  

          let inx = this.filterNodes.indexOf(nodeName)
          if(inx > -1) this.filterNodes.splice(inx, 1)
          else this.filterNodes.push(nodeName)
      },
      iName: function(pageUid){
        return core.iName(pageUid)
      },
  },
  computed : {
      scrollStream : function(){
          return window.scrollX
      },
      isEndOfStream: function(){
        let streamHistory = this.$store.state.stream.streamHistory
        let nbPerPage = this.$store.state.stream.lastNbPerPage
        let len = streamHistory.length
        let nbNodes = this.$store.getters['network/activeNodes']
        let isEnd = true 

        //console.log("isEndOfStream nbPerPage", nbPerPage)
        for(let i = 1; i <= nbNodes && i <= streamHistory.length; i++) {
            //console.log("isEndOfStream", 
            //len, i, len-i, streamHistory.length, streamHistory[len-i] , nbPerPage)
            if(streamHistory[len-i] != null)
            if(streamHistory[len-i] == nbPerPage){
                isEnd = false
            }
        }
        //console.log("-end isEndOfStream", nbNodes, streamHistory, isEnd)
        return isEnd
      },
  },

watch: {
    '$store.state.stream.searchStr': { immediate: true, 
        handler () {
            if(window.isDev) { console.log("#STREAM stream.searchStr has changed"); }
            this.searchContentStr = this.$store.state.stream.searchStr
        }
    },

    '$store.state.stream.posts': { immediate: true, 
        handler () {
            if(window.isDev) { console.log("#STREAM stream.posts has changed"); }
            this.stream = this.$store.state.stream.posts
        }
    },

    '$route.name': { immediate: true, 
        async handler (val) {
            //if(window.isDev) { console.log("#STREAM -- route.name changed", val, oldVal) }
            if(val == 'stream-explore'){
                this.showStreamOptions = true
            }
        }
    },

    '$store.state.network.nodes': { immediate: true, 
        async handler () {
            this.initFilterNodes()
        }
    },
}, 
}
</script>