<template>
  <div>
    <v-snackbar
      v-for="(notification, i) in $store.state.notifications.flashNotifications"
      :key="notification._id"
      v-model="$store.state.notifications.flashNotifications"
      :timeout="notification.durationMs"
      app top centered
      multi-line
      fixed
      :color="notification.color || 'grey darken-4'"
      :style="'top:' + 80 * i + 'px;'"
    >
      <component
        :is="notification.url ? 'a' : 'div'"
        class="snackbar"
        :href="notification.url || undefined"
        @click="notification.url ? navigateAndClose(notification._id, notification.url) : null"
      >
        <div class="snackbar--content">
            <template v-if="notification.image != null">
              <v-img
                :src="notification.image"
                cover
                width="32px"
                height="32px"
                min-width="32px"
                min-height="32px"
                max-height="32px"
                max-width="32px"
                class="snackbar--icon"
              />
            </template>
            <template v-else>
              <v-icon class="snackbar--icon">
                {{ notification.icon || 'mdi-bell' }}
              </v-icon>
            </template>
          <div class="snackbar--texts">
            <strong>
              {{ notification.title}}
            </strong>
            <span style="color:white!important;">
              {{ notification.body}}
            </span>
          </div>
        </div>
      </component>
      <template v-slot:action="{ attrs }" v-if="notification.closable">
        <v-btn
          v-if="notification.closable !== false"
          v-bind="attrs"
          @click="$store.dispatch('notifications/clearFlashNotification', notification._id, {root:true})"
          dark icon text
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<style scoped>
  .snackbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
  }

  .snackbar--content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    flex: 1;
    margin: 0 0 0 8px;
  }
  .snackbar--texts {
    display: flex;
    flex-flow: column wrap;

    margin:0 32px;
  }
  .snackbar--texts span {
    color: white !important;
  }

  .snackbar--actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    flex: 0.3;
  }
  .snackbar--actions .v-btn {
    margin: 0 4px;
  }
</style>

<script>
import router from '../../router/router';
export default {
  name: 'NotificationPermissionSnackbar',
  computed: {
    displayFlashNotification() {
      return this.$store.state.notifications.flashNotifications
    }
  },
  methods: {
    async navigateAndClose(id, url) {
      await this.$store.dispatch('notifications/removeFlashNotification', id, {root:true});

      if (url) {
        router.push(url);
      }
    }
  },
}
</script>