<template>
  
  <v-row class="d-flex">
    <v-col cols="12" md="12" sm="12" class="">
      <br>

      <v-btn small icon color="" @click="$router.back()" title="retour">
        <v-icon>mdi-chevron-left</v-icon>
      </v-btn> 
      <small class="px-4 d-none d-sm-inline"><v-icon small>mdi-clock</v-icon> Visitors history</small>
      <v-btn small color="blue darken-1" :outlined="origin=='global'"
              :title="$vuetify.lang.t('$vuetify.login.displayLocalStats')"
              @click="refreshChartVisitors('local')">
        <v-icon small>mdi-refresh</v-icon>{{ $vuetify.lang.t('$vuetify.main.Local') }}
      </v-btn> 
      <v-btn small color="blue darken-1" class="ml-2 mr-5" :outlined="origin=='local'"
              :title="$vuetify.lang.t('$vuetify.login.displayGlobalStats')" 
              @click="refreshChartVisitors('global')">
        <v-icon small>mdi-refresh</v-icon>{{ $vuetify.lang.t('$vuetify.main.Global') }}
      </v-btn> 
      <v-btn small color="orange darken-2" class="ml-5" outlined @click="initDayStat">
        <v-icon small>mdi-auto-fix</v-icon>{{ $vuetify.lang.t('$vuetify.main.Init') }}
      </v-btn> 

      <br><br>

      <v-card  class="pa-4" style="overflow-x:hidden;" elevation="0">
        <template v-if="dataSet != null">

          <v-btn  small  color="white" light
                  class="mb-2 mr-2 text-left" @click="showAllLine(true)">
                  <v-icon small>mdi-asterisk</v-icon>{{ $vuetify.lang.t('$vuetify.main.All') }}
          </v-btn>
          <v-btn  small  color="black" 
                  class="mb-2 mr-2 text-left" @click="showAllLine(false)">
                  <v-icon class="mr-1" x-small>mdi-circle</v-icon>{{ $vuetify.lang.t('$vuetify.main.None') }}
          </v-btn>
          <template v-for="(line, l) in dataSet">
            <v-btn  :key="l" small :text="line.hidden" :outlined="!line.hidden"
                    :color="line.pointBackgroundColor" 
                    class="mb-2 mr-2 text-left" @click="showLine(l)">
                      {{ line.label }}
            </v-btn>
          </template>
        </template>
      </v-card>
    </v-col>
    <v-col cols="12" md="12" sm="12" class="text-center">
      <v-card  class="px-0 pt-3" style="overflow-x:hidden;" 
              elevation="0" height="570">

          <br><br>
          <ChartVisitors :height="500" :width="100"/>
      </v-card>
    </v-col>
  </v-row>

</template>

<script>

import ChartVisitors from '@/components/admin/ChartVisitors.vue'
import axios from 'axios'

export default {
  name: 'dashboard-visitors',
  props: [],
  components: {
    ChartVisitors
  },
  computed: {
   
  },
  data: () => ({
    dataSet: null,
    origin: 'global'
  }),
  mounted: function(){ 
    this.$root.$on('initDataSet', (data) => { 
        this.dataSet = data
    })
  },
  methods: {

    refreshChartVisitors(origin){
      this.origin = origin
      this.$root.$emit('refreshChartVisitors', origin)
    },
    async initDayStat(){
      await axios.post('/instance/init-day-stat-url')
      this.refreshChartVisitors(this.origin)
    },
    showLine(line){
      console.log("line", line)
      this.$root.$emit('showLine', line)
    },
    showAllLine(bool){
      console.log("showAllLine", bool)
      this.$root.$emit('showAllLine', bool)
    }
  }
}
</script>