<template>
  
  <v-row class="d-flex mt-5" id="version-mobile">

    <v-col cols="12" md="4" sm="6" class="">
      <v-card class="px-5 pt-3 mx-auto"  elevation="0">
        <h2>
          <v-icon>mdi-cellphone-cog</v-icon>
          <small>{{ $vuetify.lang.t('$vuetify.settings.MobileVersion') }}<br>
            {{ $vuetify.lang.t('$vuetify.settings.NoticeUpdate') }}</small>
        </h2>
        <small>- {{ $vuetify.lang.t('$vuetify.settings.noticeUpdateComment1') }}</small><br><br>
        <small>- {{ $vuetify.lang.t('$vuetify.settings.noticeUpdateComment2') }}
        </small>
        <br><br>
      </v-card>
    </v-col>
      
    <v-col cols="12" md="8" sm="6" class="">
      <v-card class="px-5 pt-3 mx-auto"  elevation="0">
        <h3>+ {{ $vuetify.lang.t('$vuetify.settings.AddAnApp') }}</h3>
        <v-col cols="12" md="12" sm="12" class="">
          <v-text-field v-model="appName" :placeholder="$vuetify.lang.t('$vuetify.settings.AppName')"></v-text-field>
          <v-select :items="OPS"  v-model="appOS" :label="$vuetify.lang.t('$vuetify.settings.OSLong')"></v-select>
          <v-textarea spellcheck="false" auto-grow solo v-model="appDescription" v-show="appName!=''" :placeholder="$vuetify.lang.t('$vuetify.settings.DescV1')"></v-textarea>
          <v-btn block color="blue" class="" @click="saveNewMobileApp()">
            <v-icon>mdi-plus-circle</v-icon>{{ $vuetify.lang.t('$vuetify.main.Add') }}
          </v-btn><br>
        </v-col>
      </v-card>
    </v-col>

    <v-col cols="12" md="12" sm="12" class="">
      <v-card class="mx-auto" color="transparent" elevation="0">
        <br>
        <h3 class="ml-2"><v-icon>mdi-chevron-down</v-icon>{{ $vuetify.lang.t('$vuetify.settings.ManageApps') }}</h3>
      </v-card>
      
      <template v-for="(app, k) in apps">
        <ManageApp :app="app" :key="k" :getMobileApps="getMobileApps"></ManageApp>
      </template>
    </v-col>
  </v-row>

</template>

<style>
  #version-mobile .v-textarea.v-input{
    font-size:12px !important;
  }
</style>

<script>

import axios from 'axios'
import ManageApp from '@/components/admin/ManageApp.vue'
import router from '../../router/router'
//import core from '../../plugins/core.js'

export default {
  name: 'admin-version-mobile',
  props: [],
  components: {
    ManageApp
  },
  computed: {
   
  },
  data: () => ({
    appName: '',
    appDescription: '',
    appOS: '',
    apps: [],
    OPS: ['Android']
  }),
  mounted: function(){ 
    this.getMobileApps()
  },
  methods: {
    async saveNewMobileApp(){
      axios.post('/admin/save-mobile-app', { appName: this.appName, 
                                             appDescription: this.appDescription,
                                             appOS: this.appOS })
            .then( res => {
              console.log("res /admin/save-mobile-app", res.data)
              if(res.data.error == false){                  
                this.getMobileApps()
                this.appName = ""
              }
            })
    },
    async getMobileApps(){
      this.apps = []
      axios.post('/admin/get-mobile-apps')
            .then( res => {
              console.log("res /admin/get-mobile-apps", res.data)
              if(res.data.error == false){                  
                this.apps = res.data.mobileApps
              }else{
                router.push('/stream')
              }
            })
    },
    dateFormat(date){
      let d = new Date(date)
      
      return ("0" + d.getDate()).slice(-2) + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" +
              d.getFullYear() + " " + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2)
    },
  }
}
</script>