<template>
    <!-- BLACKLIST -->
    <v-card>
        <v-col>
            <v-row>
                <v-col>
                    <v-icon small>mdi-scissors-cutting</v-icon>
                    <small v-if="!isBlacklisted">
                        {{ $vuetify.lang.t('$vuetify.post.dyw_addto_blacklist1') }} 
                        
                        <router-link :to="'/page/'+page.uid">
                            {{ page.name }}
                        </router-link> 
                        {{ $vuetify.lang.t('$vuetify.post.dyw_addto_blacklist2') }}<br>
                        <small>
                        {{ $vuetify.lang.t('$vuetify.post.dyw_addto_blacklist_sub') }}</small>
                    </small>

                    <small v-if="isBlacklisted">
                       <router-link :to="'/page/'+page.uid">
                            {{ page.name }}
                        </router-link> 
                        {{ $vuetify.lang.t('$vuetify.post.uAllreadyAre_blacklist') }}<br>
                        <small>{{ $vuetify.lang.t('$vuetify.post.dyw_blacklist_cancel') }}</small>
                    </small>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-btn block outlined small color="grey"  @click="$root.$emit('closeBlock', page.uid)">
                        <v-icon small>mdi-cancel</v-icon> {{ $vuetify.lang.t('$vuetify.main.Cancel') }}
                    </v-btn>
                </v-col>
                <v-col>
                    <v-btn :loading="loading" v-if="!isBlacklisted" block small color="primary" @click="addToBlacklist()">
                        <v-icon small>mdi-link-variant</v-icon> {{ $vuetify.lang.t('$vuetify.post.yesBlackL') }}
                    </v-btn>
                    <v-btn :loading="loading" v-if="isBlacklisted" block outlined small color="orange darken-2" @click="removeFromBlacklist()">
                        <v-icon small>mdi-check</v-icon> {{ $vuetify.lang.t('$vuetify.post.yesCancelBlackL') }}
                    </v-btn>
                </v-col>
            </v-row>
        </v-col>
    </v-card>
    <!-- BLACKLIST -->
</template>


<style>
    p small{
        font-weight: 200;
        font-size:0.7em;
    }
</style>

<script>
//import Post from '@/components/Post.vue'
import core from '../../plugins/core.js'
import axios from 'axios'

export default {
  name: 'blockBlacklist',
  components: {  },
  data:() => ({
      loading: false,
  }),
  props: ['page' ],
  mounted: function(){
     
  },
  methods: {
     
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },

    addToBlacklist: async function(){
        if(window.isDev) { console.log("addToBlacklist"); }
        this.loading = true
        const res = await axios.post('/page/add-to-blacklist', { 
                                        pageUid: this.page.uid,
                                        pageName: this.page.name
                                    })
                                     
        if(res.data.error == false){
            this.showSnackbar = true
            this.snackText = "Vous êtes abonné à " + this.page.name
            this.snackColor = "success"
            this.$store.dispatch('auth/fetchUserContext')
        }
        this.loading = false
       
        //if(window.isDev) { console.log("res /page/add-to-blacklist", res.data); }
    },
    removeFromBlacklist: async function(){
        if(window.isDev) { console.log("removeFromBlacklist"); }
        this.loading = true
        const res = await axios.post('/page/remove-from-blacklist', { 
                                        pageUid: this.page.uid
                                    })
                                    
        if(res.data.error == false){
            this.showSnackbar = true
            this.snackText = this.page.name + "n'est plus blacklisté"
            this.snackColor = "orange darken-3"
            this.$store.dispatch('auth/fetchUserContext')
        }
        this.loading = false
       
        if(window.isDev) { console.log("res /publication/delete-post", res.data); }
    },

  },

  computed: {
    isFollowing: function(){
        return core.isFollowing(this.$store.state.auth, this.page.uid)
    },
    isMyContact: function(){
        return core.isMyContact(this.$store.state.auth, this.page.uid)
    },
    isBlacklisted: function(){
        return core.isBlacklisted(this.$store.state.auth, this.page.uid)
    },
  }
  
  
}
</script>