<template>
    <!-- FILELIST -->
    <v-card>
        <v-col>
            <v-row>
              <v-col cols="12" class="py-0">
                <v-btn x-small text color="primary" :loading="loadFileList" @click="getFileList()">
                  <v-icon x-small>mdi-refresh</v-icon>
                  {{ $vuetify.lang.t('$vuetify.stream.refresh') }}
                </v-btn>
              </v-col>

                <v-col cols="12" v-if="files.length == 0">
                  <span>
                    <v-icon>mdi-source-commit-end</v-icon> 
                    {{ $vuetify.lang.t('$vuetify.page.noFile') }}
                  </span>
                </v-col>

                <v-col cols="12" v-else>
                  <v-simple-table height="300px" style="background-color:transparent">
                    <template v-slot:default>
                      <tbody>
                        <template v-for="item in files">
                        <tr v-if="item.name != '**deleted**'" :key="item.id">
                          <td>
                            <a :href="item.path" target="_blank" style="color:unset;">
                              <v-icon small>mdi-file</v-icon> {{ item.name }}
                            </a>
                          </td>
                          <td>
                        <time-ago :datetime="item.date" v-if="item.date != null"
                                  :refresh="60" long 
                                  :locale="$vuetify.lang.current"></time-ago>
                          </td>
                          <td>
                            <v-btn :title="$vuetify.lang.t('$vuetify.page.deleteFile')" 
                                  x-small fab style="float:right"
                                  @click="openModalDelete(item)">
                              <v-icon x-small>mdi-delete</v-icon>
                            </v-btn>
                          </td>
                        </tr>
                        </template>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-col>
                
            </v-row>
            <v-row>
                
            </v-row>
        </v-col>

        <v-dialog v-model="showModalDelete" width="500" >
          <v-card v-if="currentFile != null">
            <v-card-title class=" red">
              <v-icon class="mr-2">mdi-delete</v-icon> 
              {{ $vuetify.lang.t('$vuetify.page.removeAFile') }}
            </v-card-title>

            <v-card-text><br>
              <h3 class="pb-1">
                <v-icon small class="mr-">mdi-file</v-icon> 
                {{ currentFile.name }}
              </h3>
              {{ $vuetify.lang.t('$vuetify.page.sureToRemoveAFile') }}
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="" text @click="showModalDelete = false" >
                {{ $vuetify.lang.t('$vuetify.main.cancel') }}
              </v-btn>
              <v-btn color="red"  @click="deletePDF(currentFile)" >
                 <v-icon class="">mdi-delete</v-icon> 
                 {{ $vuetify.lang.t('$vuetify.post.delete') }}
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        
    </v-card>
    <!-- FILELIST -->
</template>


<style>
    p small{
        font-weight: 200;
        font-size:0.7em;
    }
    .file-list-item:hover{
        background-color:#242d2f;
    }
</style>

<script>
//import Post from '@/components/Post.vue'
import core from '../../plugins/core.js'
import axios from 'axios'
import TimeAgo from 'vue2-timeago'
//import router from '../../router/router'

export default {
  name: 'blockFileList',
  components: { TimeAgo },
  data:() => ({
      loading: false,
      files : [],
      showModalDelete: false,
      currentFile: null,
      loadFileList: false
  }),
  props: ['page'],
  mounted: function(){
     this.getFileList()
  },
  methods: {
    async getFileList(){
      this.files = []
      try{
        this.loadFileList = true
        axios.post('/page/get-library', { pageUid: this.page.uid })
            .then( res => {
              if(window.isDev) { console.log("FILES", res.data); }
              if(res.data.error == false){
                this.files = res.data.files
                if(window.isDev) { console.log("FILES", this.files); }
              }
              this.loadFileList = false
              /*else{
                router.push('/');
              }*/
            })        
      }catch(e){
        if(window.isDev) { console.log("FILES error", e); }
        this.loadFileList = false
        //router.push('/login');
      }
    },

    openModalDelete(item){
      this.currentFile = item
      this.showModalDelete = true
    },

    async deletePDF(pdf){
      if(window.isDev) { console.log("deletePDF", pdf._id); }
      try{
        axios.post('/publication/delete-pdf', { pdfId: pdf._id, pdfName: pdf.name })
            .then( res => {
              if(window.isDev) { console.log("res", res.data); }
              if(res.data.error == false){
                this.files.forEach((file, i) => {
                  if(file._id == pdf._id) this.files.splice(i, 1)
                  this.showModalDelete = false
                });
              }
              /*else{
                router.push('/');
              }*/
            })        
      }catch(e){
        if(window.isDev) { console.log("FILES error", e); }
        //router.push('/login');
      }
    },


    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },

   

  },

  computed: {
    
  },

    watch: {
        page: {
            // the callback will be called immediately after the start of the observation
            immediate: false, 
            handler (val, oldVal) {
                if(window.isDev) { console.log("watch page", val.uid, oldVal.uid); }
                this.getFileList()
                
            }
        },
    }
  
  
}
</script>