<template>
  <div>
    <div v-if="page != null">

      <template v-if="page.coordinates != null">
        <l-map ref="map"  :zoom="zoom"  :maxZoom="15" :minZoom="3" 
                :center="[page.coordinates[1], page.coordinates[0]]"  
                id="map-container-page">
          <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
            
            <l-marker  v-if="showMap" ref="rootMarker" :lat-lng="[page.coordinates[1], page.coordinates[0]]" 
                      :draggable="false"
                      :icon="markerIconRoot" id="myMarker"></l-marker>
        </l-map>
      </template>


      <v-row class="btn-lowerc mx-0 mt-0 px-3 py-3" style="position:absolute;top:0px; width:100%;" v-if="page.roles != null">
        <v-col class="pt-0 pb-2" cols="12">
          <v-btn @click="closePageDialog()"  color="black" 
                style="background-color:rgba(0,0,0,0.3)!important; text-transform:uppercase!important;" outlined small block>
              <v-icon small color="white" class="mr-1">mdi-close</v-icon> <span class="white--text">{{ $vuetify.lang.t('$vuetify.main.closePage') }}</span>
          </v-btn>
        </v-col>
        <v-col class="pt-0 pb-2">
          <v-btn @click="showDialogFollowers=true" color="grey darken-4"
                 class="m" small block>
              <v-icon  class="mr-1">mdi-account</v-icon> 
              {{ page.followers.length }} 
              {{ (page.followers.length > 1) ? $vuetify.lang.t('$vuetify.main.followers') : $vuetify.lang.t('$vuetify.main.follower') }}
          </v-btn>
        </v-col>
        <v-col class="pt-0 pb-2">
          <v-btn @click="openDialogRole('editor')" color="grey darken-4" v-if="page.type != 'user'"
                 class="m" small block>
              <v-icon  class="mr-1">mdi-account</v-icon> 
              {{ page.roles['editor'].length }}
              {{ (page.followers.length > 1) ? $vuetify.lang.t('$vuetify.page.role_editors') : $vuetify.lang.t('$vuetify.page.role_editor') }}
          </v-btn>
          <v-btn @click="openDialogRole('editor')" color="grey darken-4" v-else
                 class="m" small block>
              <v-icon  class="mr-1">mdi-account</v-icon> 
              {{ page.roles['editor'].length }}
              {{ (page.followers.length > 1) ? $vuetify.lang.t('$vuetify.page.friends') : $vuetify.lang.t('$vuetify.page.friend') }}
          </v-btn>
        </v-col>
        <v-col class="pt-0 pb-2" v-if="page.type == 'user' && !isEditor">
          <v-btn @click="openDialogRole('editor')" color="blue"
                 class="m" small block>
              <v-icon class="mr-1">mdi-handshake</v-icon> 
              <span class="d-none d-sm-inline">
                {{ $vuetify.lang.t('$vuetify.page.becomeFriend') }}
              </span>
          </v-btn>
        </v-col>
        <v-col class="pt-0 pb-2" v-if="page.type != 'user'">
          <v-btn @click="openDialogRole('admin')" color="grey darken-4"
                 class="m" small block>
              <v-icon class="mr-1">mdi-crown</v-icon> 
              {{ page.roles['admin'].length }} 
              <span class="d-none d-sm-inline">
                {{ (page.roles['admin'].length > 1) ? $vuetify.lang.t('$vuetify.page.role_admins_short') : $vuetify.lang.t('$vuetify.page.role_admin_short') }}
              </span>
          </v-btn>
        </v-col>
        <v-col class="pt-0 pb-2" v-if="page.type != 'user'">
          <v-btn @click="openDialogRole('moderator')" color="grey darken-4"
                 class="m" small block>
              <v-icon class="mr-1">mdi-account-star</v-icon> 
              {{ page.roles['moderator'].length }} 
              <span class="d-none d-sm-inline">
                {{ (page.roles['moderator'].length > 1) ? $vuetify.lang.t('$vuetify.page.role_moderators') : $vuetify.lang.t('$vuetify.page.role_moderator') }}
              </span>
          </v-btn>
        </v-col>

        <v-col class="pt-0 pb-2 text-center" v-if="page.type == 'user' && isEditor && page.uid != $store.state.auth.profile.uid">
          <v-chip @click="openDialogRole('editor')" color="blue" small block>
              <v-icon class="mr-1" small>mdi-check</v-icon> 
              <v-icon class="mr-1" small>mdi-account</v-icon> 
              <span class="d-none d-sm-inline">
                {{ $vuetify.lang.t('$vuetify.page.youAreFriend') }}
              </span>
          </v-chip>
        </v-col>
        <v-col cols="12" class="pt-0 pb-2 text-right" v-if="page.type != 'user' && isEditor">
          <v-chip @click="openDialogRole('editor')" color="blue" rounded small>
              <v-icon class="mr-1" small>mdi-check</v-icon> 
              <v-icon class="mr-1" small>mdi-account</v-icon> 
              <span class="d-none d-sm-inline">
                {{ $vuetify.lang.t('$vuetify.page.youAreMember') }}
              </span>
          </v-chip>
        </v-col>
          
      </v-row> 


      <v-row style="border-top: 1px solid #4c4c4c;" class="mt-0 mb-3 mx-0">
        <v-tabs centered color="blue">

          <v-tab :title="$vuetify.lang.t('$vuetify.createPage.ActualityShort')" @click="goTo('page')">
            <v-icon small class="mr-1" color="">mdi-newspaper-variant-multiple</v-icon>
          </v-tab>
          <v-tab @click="goTo('page-roles')" v-if="isAdmin && (page.type != 'user' || page.uid == $store.state.auth.profile.uid)"
                  :title="$vuetify.lang.t('$vuetify.settings.modifyPageRoles')">
            <v-icon small class="mr-1">mdi-crown</v-icon> 
            <span class="d-none d-md-inline">{{ $vuetify.lang.t('$vuetify.page.roles') }}</span>
          </v-tab>
          <v-tab  @click="goTo('settings')" v-if="isAdmin" :title="$vuetify.lang.t('$vuetify.settings.modifyPageParameters')">
            <v-icon small class="mr-1">mdi-cogs</v-icon> 
            <span class="d-none d-md-inline">{{ $vuetify.lang.t('$vuetify.menu.Settings') }}</span>
          </v-tab>
          <v-tab v-if="!isEditor && page.uid != $store.state.auth.profile.uid" @click="openDialogRole('editor')">
            <v-icon small class="mr-1" color="blue">mdi-handshake</v-icon> 
            <span class="d-none d-sm-inline blue--text">
              {{ $vuetify.lang.t('$vuetify.main.Become') }} <template v-if="page.type=='user'">{{ $vuetify.lang.t('$vuetify.page.friends') }}</template><template v-else>{{ $vuetify.lang.t('$vuetify.page.role_editor') }}</template>
            </span>
          </v-tab>
          <v-tab  @click="goTo('live')" v-if="(isAdmin || isModerator || isEditor) && page.uid != $store.state.auth.profile.uid">
            <v-icon small class="mr-1" color="blue">mdi-comment</v-icon> 
            <span class="d-none d-sm-inline blue--text">{{ $vuetify.lang.t('$vuetify.private.PrivateTchat') }}</span>
            <v-icon x-small class="mr-1" color="blue">mdi-check</v-icon> 
          </v-tab>
          <v-tab @click="openDialogRole('editor')" v-if="!isAdmin && !isModerator && !isEditor">
            <v-icon small class="mr-1" color="blue">mdi-comment</v-icon> 
            <span class="d-none d-sm-inline blue--text">{{ $vuetify.lang.t('$vuetify.private.PrivateTchat') }}</span>
          </v-tab>
          <v-tab v-if="!isFollowing && page.uid != $store.state.auth.profile.uid" @click="showDialogFollowers=true">
            <v-icon small class="mr-1" color="">mdi-link</v-icon> 
            <span class="d-none d-sm-inline --text">{{ $vuetify.lang.t('$vuetify.page.follow') }}</span>
          </v-tab>
          <v-tab v-if="isFollowing && page.uid != $store.state.auth.profile.uid" @click="showDialogFollowers=true">
            <span class="d-none d-sm-inline green--text">{{ $vuetify.lang.t('$vuetify.main.followers') }}</span>
            <v-icon x-small class="mr-1" color="green">mdi-check</v-icon> 
          </v-tab>
          <v-tab @click="goTo('room')" v-if="page.type == 'assembly'">
            <v-icon small class="mr-1" color="purple">mdi-hexagon-multiple-outline</v-icon> 
            <span class="d-none d-sm-inline purple--text">{{ $vuetify.lang.t('$vuetify.createSurvey.votingRoom') }}</span>
          </v-tab>
          <v-tab @click="goTo('page')" :title="$vuetify.lang.t('$vuetify.main.openPage')">
            <v-icon small class="mr-1" color="">mdi-page-next-outline</v-icon>
          </v-tab>
         
        </v-tabs>
      </v-row>

      <v-row class="my-0">
 
        <v-col cols="12">
          <v-list-item style="" class="pa-0">
            
            <v-list-item-content class="capsule-profile py-2">
              <v-list-item-title class="headline mb-2" 
                                style="text-overflow: unset; white-space: normal;">
                <v-icon class="" v-if="page.type=='user'">mdi-account</v-icon> 
                {{ page.name }}
              </v-list-item-title>
              
              <v-list-item-subtitle v-if="page.type != null">

                <template v-if="page.type=='user'">
                  <span class="mr-2 ml-5 pl-2">
                    {{ page.followers.length }} 
                    {{ (page.followers.length > 1) ? $vuetify.lang.t('$vuetify.main.followers') : $vuetify.lang.t('$vuetify.main.follower') }}
                  </span>
                </template>
                <span class="mr-2" :title="$vuetify.lang.t('$vuetify.createPage.typePage')" v-if="page.type!='user'">
                  <v-icon small color="grey" class="mb-1">mdi-{{ iconsPageType }}</v-icon> 
                  {{ $vuetify.lang.t('$vuetify.pageType.' + page.type) }}
                </span>
                <template v-if="page.city!=null">
                  <span class="mr-2">
                    <v-icon small color="grey" style="margin-left:-5px;" class="mb-1">mdi-map-marker</v-icon> 
                    {{ page.address }} {{ page.city }}
                  </span>
                </template>
                <span class="mr-2" :title="$vuetify.lang.t('$vuetify.createPage.pageServeName')">
                  <v-icon small color="grey" class="mb-1">mdi-spider-web</v-icon> {{ iName }}
                </span>


              </v-list-item-subtitle>

              <small class="d-inline mt-1 grey--text" v-if="ownerPage != null"
                                style="text-overflow: unset; white-space: normal;font-size:11px;">
                <v-img :src="avatarUrl(ownerPage.uid)" 
                                    style="margin: 0 3px -7px -5px; display:inline-block;" 
                                    height="22" width="22"/>
                {{ $vuetify.lang.t('$vuetify.main.createdBy') }} <div class="d-inline primary--text cursor-pointer" @click="$root.$emit('openModalUserPage', ownerPage.uid)">{{ ownerPage.name }}</div>
              </small>
              
            </v-list-item-content>


          </v-list-item>
        </v-col>

        <!-- <v-col cols="3" class="text-right pr-5">
          <v-btn  class="mb-2 mr-2" icon v-if="isAdmin && (page.type != 'user' || page.uid == $store.state.auth.profile.uid)"
                  title="Gérer les rôles" small @click="closePageDialog()"
                  :to="'/page-roles/'+page.uid">
                <v-icon small>mdi-crown</v-icon>
          </v-btn>


          <v-btn  class="mb-2" icon v-if="isAdmin"
                  title="Paramètres de la page" small @click="closePageDialog()"
                  :to="'/settings/'+page.uid">
                <v-icon small>mdi-cog</v-icon>
          </v-btn>
          <v-btn  class="mb-2 mx-2" outlined icon color="blue"
                  title="Aller sur la page" small @click="closePageDialog()"
                  :to="'/page/'+page.uid">
                <v-icon small>mdi-chevron-right</v-icon>
          </v-btn>
        </v-col> -->


        <v-col class="mx-2 px-5 py-0" v-if="page.hashtags != null && page.hashtags.length > 0">
            <v-chip v-for="(tag, i) in page.hashtags" small
                  :key="i" class="mr-2 mt-2" outlined color="indigo lighten-3">
                    {{ tag }} 
            </v-chip>
        </v-col>

        <v-col cols="12" class="px-5" v-if="page.type == 'event'" >
          <h2 class="font-konkretika ">
            <v-icon large class="ml-2">mdi-calendar</v-icon> {{ getDateFormat(page) }}
          </h2>
        </v-col>

        <v-col cols="12" class="px-5" v-if="page.description != null && page.description != ''" >          
          <v-alert class="pa-3 ma-0" color="#1a1a1a" 
                style="font-size:0.9em;" elevation="3"
                v-html="completeText(page.description)">
          </v-alert>
        </v-col>
     
      </v-row>


      <v-row style="border-top: 1px solid #4c4c4c;" class="mt-2 mx-0">
        <v-col class="px-5 pt-5 mt-5" cols="12" md="12">
          
          <v-btn class="mx-3 mt-0 mb-0"   icon outlined dark small
              color="blue" @click="pageNumber=1; loadStream()" :loading="streamLoading">
              <v-icon small dark :title="$vuetify.lang.t('$vuetify.post.updatePostStream')">mdi-refresh</v-icon>
          </v-btn>

          <v-icon class="" dark>mdi-chevron-down</v-icon> 
          
          <span v-if="!streamLoading">
            {{ $vuetify.lang.t('$vuetify.stream.streamLabel') }}
            <!-- {{ stream.length }} {{ (stream.length > 1 ? $vuetify.lang.t('$vuetify.home.publications') : $vuetify.lang.t('$vuetify.home.publication') ) }} -->
          </span>
          <span v-else>{{ $vuetify.lang.t('$vuetify.stream.loadInProgress') }}</span>
          
        </v-col>
      </v-row>

      <div id="streamPage" class="px-5 pb-5" style="min-height: 800px;">
        <div v-for="(post, i) in stream" :key="i" >
            <Post :post="post" origin="stream"></Post>
        </div>
        
        <EndOfStreamPage 
          :endOfStream="endOfStreamPage"
          :mapMode="'posts'"
          :pageNumber="pageNumber"
          :searchContentStr="''"
          :streamLoading="streamLoading"
          :streamLength="stream.length"
        />
      </div>

    </div>
    <div v-else-if="!pageError">
      <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      <v-skeleton-loader class="mx-auto" type="article"></v-skeleton-loader>
      <v-skeleton-loader class="mx-auto" type="article"></v-skeleton-loader>
      <v-skeleton-loader class="mx-auto" type="article"></v-skeleton-loader>
    </div>
    <div v-else>
      <v-card class="pa-5 text-center">
        <br><br><br>
        <v-icon x-large>mdi-robot-dead</v-icon><br><br>
        {{ $vuetify.lang.t('$vuetify.error.pageDoesntExist') }}
        <br><br>
        <v-btn @click="closePageDialog" outlined>{{ $vuetify.lang.t('$vuetify.main.Ok') }}</v-btn>
        <br><br><br><br>
      </v-card>
    </div>


    <v-dialog v-if="showDialogRole && page != null" v-model="showDialogRole" max-width="550">

      <v-card class="pa-5" v-if="!isRole">
        <v-card-actions class="pb-0">
            <v-icon  class="pr-1">mdi-{{ icons[currentRoleRequest] }}</v-icon> 
            <h3 v-if="page.type != 'user'">{{ $vuetify.lang.t('$vuetify.main.Become') + ' ' + $vuetify.lang.t('$vuetify.page.role_'+currentRoleRequest) }}</h3>
            <h3 v-else>{{ $vuetify.lang.t('$vuetify.main.BecomeFriends') }}</h3>
            <v-spacer></v-spacer>
            <v-btn class="mr-3" icon @click="showDialogRole=false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-actions>

        <v-card-text class="px-3" v-if="isPending">
          {{ $vuetify.lang.t('$vuetify.main.demandSent') }}
        </v-card-text>

        <template v-else>
          <v-card-text class="px-3" v-if="currentRoleRequest == 'admin'">
            {{ $vuetify.lang.t('$vuetify.page.commentRoleAdmin') }}
          </v-card-text>
          <v-card-text class="px-3" v-if="currentRoleRequest == 'editor'">
            <template v-if="page.type!='user'">{{ $vuetify.lang.t('$vuetify.page.commentRoleUser') }}</template>
            <template>{{ $vuetify.lang.t('$vuetify.page.commentBecomeFriend') }}...</template>
          </v-card-text>
          <v-card-text class="px-3" v-if="currentRoleRequest == 'moderator'">
            {{ $vuetify.lang.t('$vuetify.page.commentRoleModerator') }}
          </v-card-text>
          <v-card-text class="px-3" v-if="currentRoleRequest == 'follower'">
            {{ $vuetify.lang.t('$vuetify.page.commentRoleFollower') }}
          </v-card-text>


          <h5 class="px-3" v-if="page.type != 'user'">
            {{ $vuetify.lang.t('$vuetify.page.sendRequestToBecomeBegin') }}
            {{ $vuetify.lang.t('$vuetify.page.role_'+currentRoleRequest) }}
            {{ $vuetify.lang.t('$vuetify.page.sendRequestToBecomeEnd') }} ?
          </h5>
          <h5 class="px-3" v-else>
            {{ $vuetify.lang.t('$vuetify.page.sendRequestToBecomeBegin') + ' ' + $vuetify.lang.t('$vuetify.page.friends') + ' ' + $vuetify.lang.t('$vuetify.page.sendRequestToBecomeEnd') }} ?
          </h5>
          
          <v-card-text class="px-3">
            <small v-if="page.type!='user'">{{ $vuetify.lang.t('$vuetify.page.demandRequireAdminValidation') }}</small>
            <small v-else>{{ $vuetify.lang.t('$vuetify.page.demandRequireValidationBy') + ' ' + page.name }}.</small>
          </v-card-text>
        </template>
        
        <v-card-actions class="pa-3 btn-lowerc">
          <v-spacer></v-spacer>
          <v-btn color="" text @click="showDialogRole = false">
            {{ $vuetify.lang.t('$vuetify.main.Cancel') }}
          </v-btn>
          <v-btn color="blue" :disabled="isPending"  @click="manageRole('add', 'pending')">
            <v-icon small>mdi-check</v-icon>{{ $vuetify.lang.t('$vuetify.page.yesSendDemand') }}
          </v-btn>
        </v-card-actions>

      </v-card>

      <v-card class="pa-5" v-else>
        <v-card-actions>
            <v-icon  class="pr-1">mdi-{{ icons[currentRoleRequest] }}</v-icon> 
            <h3 v-if="page.type != 'user'">
              {{ $vuetify.lang.t('$vuetify.page.youAreAlready') + ' ' + $vuetify.lang.t('$vuetify.page.role_'+currentRoleRequest) }}
            </h3>
            <h3 v-else>{{ $vuetify.lang.t('$vuetify.page.youAreAlready') + ' ' + $vuetify.lang.t('$vuetify.page.friend') }} avec {{ page.name }}</h3>
            <v-spacer></v-spacer>
            <v-btn class="mr-3" icon @click="showDialogRole=false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-actions>

        <h5 class="px-3">
          {{ $vuetify.lang.t('$vuetify.page.doYouWantToQuitRole') }} ?
        </h5>
        
        <v-card-actions class="pa-3 btn-lowerc">
          <v-spacer></v-spacer>
          <v-btn color="" text @click="showDialogRole = false">
            {{ $vuetify.lang.t('$vuetify.main.Cancel') }}
          </v-btn>
          <v-btn color="blue"  @click="manageRole('cancel', 'role')">
            <v-icon small>mdi-check</v-icon>{{ $vuetify.lang.t('$vuetify.post.yesQuit') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-if="showDialogFollowers && page != null" v-model="showDialogFollowers" max-width="550">
      <v-card class="pa-5">
        <v-card-actions>
            <v-icon  class="pr-1">mdi-link-variant</v-icon> 
            <h3 v-if="isFollowing">{{ $vuetify.lang.t('$vuetify.page.youSubscribedThisPage') }}</h3>
            <h3 v-if="!isFollowing">{{ $vuetify.lang.t('$vuetify.page.follow') }}</h3>
            <v-spacer></v-spacer>
            <v-btn class="mr-3" icon @click="showDialogFollowers=false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-actions>

        <v-card-text v-if="!isFollowing" class="px-3">
          {{ $vuetify.lang.t('$vuetify.page.commentSubscribe') }}
        </v-card-text>

        <h5 v-if="isFollowing" class="px-3">
          {{ $vuetify.lang.t('$vuetify.page.doYouWantUnsubscribe') }} ?
        </h5>
        
        <v-card-actions class="pa-3 btn-lowerc">
          <v-spacer></v-spacer>
          <v-btn color="" text @click="showDialogFollowers = false">
            {{ $vuetify.lang.t('$vuetify.main.Cancel') }}
          </v-btn>
          <v-btn color="blue" v-if="!isFollowing" @click="addToFollows()">
            <v-icon small>mdi-check</v-icon>{{ $vuetify.lang.t('$vuetify.page.ISubscribe') }}
          </v-btn>
          <v-btn color="blue" v-if="isFollowing" @click="removeFromFollows()">
            <v-icon small>mdi-cancel</v-icon>{{ $vuetify.lang.t('$vuetify.page.IUnsubscribe') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>

<style scoped>

  #map-container-page{
    height:300px;
    z-index:0;
    background-color: #1b2f35;
  }

  .capsule-profile{
    /* background-color: #1b1c1dcc; */
    /* margin-bottom:25px; */
    padding: 15px;
    border-radius: 0;
    font-size:1.3em!important;
  }
</style>

<script>

import core from '../../plugins/core.js'
import axios from 'axios'
import router from '../../router/router'

import L from 'leaflet';
import {LMap, LTileLayer, LMarker} from 'vue2-leaflet'

import EndOfStreamPage from '@/components/page/EndOfStreamPage.vue'
import Post from '@/components/Post.vue'

const config = require('../../config/' + process.env.NODE_ENV)

export default {
  name: 'LightPageStream',
  components: { EndOfStreamPage, Post,
                LMap, LTileLayer, LMarker, },
  data:() => ({
      page: null,
      ownerPage: null,
      loading: false,
      pageError: false,

      zoom:7,
      url : config.mapTilesUrl,
      attribution:'',
      showMap: true,

      pageNumber: 0,
      streamLoading: false,
      stream: [],
      streamHistory: [],
      endOfStreamPage: false,

      showDialogFollowers: false,
      showDialogRole: false,

      currentRoleRequest: '',

      icons : { 'admin' : 'crown', 
              'moderator': 'account-star', 
              'editor': 'handshake',
              'follower' : 'link'},

  }),
  props: [ 'pageUid', 'closePageDialog' ],
  mounted: function(){
      this.loadPage()
      this.bindScroll()

      this.$root.$on('sendStreamPage', (data) => { 
        this.streamHistory.push(data.stream.length)
        this.stream = this.stream.concat(data.stream)
        this.streamLoading = false
        this.showScopeCircle = false
        this.$root.$emit('streamLoaded')

        this.endOfStreamPage = this.isEndOfStreamPage(data.nbPerPage)
        if(window.isDev) { console.log('sendStreamPage in LigthPage', 
                                        data.stream.length, data.nbPerPage, 
                                        this.endOfStreamPage); }
      })
  },
  methods: {
    async loadPage(notEmpty=false){
      if(!notEmpty) {
        this.pageNumber = 1
        this.page = null
        this.stream = []
        this.streamHistory = []
        this.endOfStreamPage = false
      }


      try{
        this.loading = true
        axios.post('/page/profil', { pageUid: this.pageUid })
            .then( res => {
              if(res.data.error == false){
                this.page = res.data.page
                this.ownerPage = res.data.ownerPage
                this.loading = false

                if(!notEmpty) this.loadStream()
              }else{
                this.pageError = true
              }
        })        
      }catch(e){
        //router.push('/login');
        console.log("error updateDataProfile", e)
      }
    },

    loadStream: async function(){
      
      if(this.streamLoading) return 

      if(this.pageNumber == 1){
        this.stream = []
        this.streamHistory = []
      }
      
      this.streamLoading = true

      let currentPos = {lat: this.$store.state.auth.profile.coordinates[1], 
                        lng: this.$store.state.auth.profile.coordinates[0] }

      let radius = 600000; // Define for backward compat
      
      axios.post('/page/get-stream',{ search: "", 
                                      lat: currentPos.lat, 
                                      lng: currentPos.lng, 
                                      radius: radius,
                                      pageUid: this.pageUid,
                                      pageNumber: this.pageNumber })
                  .then(async (res)=>{
                    if(window.isDev) console.log("/page/get-stream", res.data.stream)

                    await this.$root.$emit("sendStreamPage", res.data)
                  })
                  .catch((e)=>{
                    if(window.isDev) { console.log("error /page/get-stream", e); }
                  })
    
    
    },
    isEndOfStreamPage: function(nbPerPage){
      let len = this.streamHistory.length
      let nbNodes = this.$store.getters['network/activeNodes']

      let isEnd = true 
      for(let i = 1; i <= nbNodes && i <= this.streamHistory.length; i++) {
        if(window.isDev) console.log('sendStreamPage in LigthPage isEndOfStreamPage', this.streamHistory[len-i], nbPerPage, this.streamHistory[len-i] == nbPerPage)
        if(this.streamHistory[len-i] != null)
        if(this.streamHistory[len-i] == nbPerPage){
          isEnd = false
        }
      }
      return isEnd
    },

    bindScroll: function(){
      if(document.getElementById('modal-page') != null){
        let scrollerModal = document.getElementById('modal-page').parentNode
        scrollerModal.removeEventListener('scroll', ()=>{})
        scrollerModal.addEventListener('scroll', ()=>{
          //console.log("scroll", this.endOfStreamPage, this.streamLoading, scrollerModal.scrollTop)
          if(document.getElementById("streamPage") == null) return 
          //console.log("scroll-", document.getElementById("streamPage").offsetHeight - 800)
          
          // if(window.isDev) { 
          //   console.log("scroll loadstream in page.vue", scrollerModal.scrollTop, 
          //              document.getElementById("streamPage").offsetHeight-800, 
          //              this.streamLoading, this.endOfStreamPage ); 
          // }
          
          if(!this.endOfStreamPage 
          && scrollerModal.scrollTop > document.getElementById("streamPage").offsetHeight-800){
            //console.log("time to reload !")
            if(!this.streamLoading && !this.endOfStreamPage){
                this.pageNumber++
                this.loadStream()
            }
          }
        })
      }
    },
    goTo: function(url){
      router.push(url + "/" + this.page.uid)
      this.closePageDialog()
    },
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    completeText: function(text){
        return core.completeText(text)
    },
    openDialogRole: function(role){
      this.showDialogRole = true
      this.currentRoleRequest = role
    },
    async manageRole(type, action){ //action is invite or cancel
      let res = await axios.post('/page/manage-role', { 
                                  type: type,
                                  action: action,
                                  role: this.currentRoleRequest,
                                  page: { uid: this.$store.state.auth.profile.uid, 
                                          name: this.$store.state.auth.profile.name },
                                  onPageUid: this.page.uid,
                                 })
                   
      if(res.data.error == false){
          this.showDialogRole = false
          this.onRoleRequestSuccess()
      }
      console.log("/page/manage-role", res.data)
    },

    onRoleRequestSuccess: function(){
      this.loadPage(true)
    },
    
    addToFollows: async function(){
        if(window.isDev) { console.log("addToFollows"); }
        //this.loading = true
        const res = await axios.post('/page/add-to-follows', { 
                                        pageUid: this.page.uid,
                                        pageName: this.page.name
                                    })
                                    
        if(res.data.error == false){
            this.loadPage(true)
            this.showDialogFollowers = false
        }
        //this.loading = false
        //if(window.isDev) { console.log("res /page/add-to-blacklist", res.data); }
    },

    removeFromFollows: async function(){
        if(window.isDev) { console.log("removeFromFollows"); }
        //this.loading = true
        const res = await axios.post('/page/remove-from-follows', { 
                                        pageUid: this.page.uid
                                    })
                                    
        if(res.data.error == false){
            this.loadPage(true)
            this.showDialogFollowers = false
        }
        //this.loading = false
        if(window.isDev) { console.log("res /publication/delete-post", res.data); }
    },
    getDateFormat(page){
      let date = new Date(page.startDate)
      //var todayTime = new Date();
      var month = (date.getMonth() + 1);
      var day = (date.getDate());
      var year = (date.getFullYear());
      var min = date.getMinutes() > 9 ? date.getMinutes() : "0"+date.getMinutes()
      return day + "/" + month + "/" + year + " " + date.getHours() + "h" + min ;
    }
  },

  computed: {
    iName: function(){
      return core.iName(this.page.uid)
    },
    isRole: function(){
      //console.log('this.page.roles', this.page.roles)
      //console.log('this.page.roles', this.currentRoleRequest)
      if(this.page.roles == null) return false 
      let f = false
      this.page.roles[this.currentRoleRequest].forEach((p)=>{
        //console.log('this.page.roles p', p, this.$store.state.auth.profile.uid)
        if(p.uid == this.$store.state.auth.profile.uid) f = true
      })
      return f
    },
    isPending: function(){
      //console.log('this.page.roles', this.page.roles)
      //console.log('this.page.roles', this.currentRoleRequest)
      if(this.page.pendingRoles == null) return false 
      let f = false
      this.page.pendingRoles[this.currentRoleRequest].forEach((p)=>{
      console.log('this.page.pendingRoles p', p, this.$store.state.auth.profile.uid)
        if(p.uid == this.$store.state.auth.profile.uid) f = true
      })
      return f
    },

    isAdmin: function(){
        return core.isRole(this.$store.state.auth.profile.uid, 
                            this.page, 'admin')
    },
    isModerator: function(){
        return core.isRole(this.$store.state.auth.profile.uid, 
                            this.page, 'moderator')
    },
    isEditor: function(){
        return core.isRole(this.$store.state.auth.profile.uid, 
                            this.page, 'editor')
    },

    isMyPage: function(){
        let found = false
        this.myPages.forEach((page) => {
            if(page.uid == this.page.uid)
            found = true
        })
        return found
    },
    isFollowing: function(){
        let found = false
        //console.log("this.page.followers", this.page.followers)
        if(this.page.followers==null) return false
        this.page.followers.forEach((page) => {
            if(window.isDev) { console.log("followers", page, this.$store.state.auth.profile.uid); }
            if(page == this.$store.state.auth.profile.uid)
            found = true
        })
        if(window.isDev) { console.log("followers", this.page.followers, this.$store.state.auth.profile.uid, found); }
        return found
    },
    isMyContact: function(){
        if(this.myPages.length < 1) return false
        let loggedPage = null
        this.myPages.forEach((page)=>{
          if(page.uid == this.$store.state.auth.profile.uid) loggedPage = page
        })
        let found = false
        loggedPage.contacts.forEach((page) => {
            if(page.uid == this.page.uid) found = true
        }); return found
    },
    isBlacklisted: function(){
        if(this.myPages.length < 1) return false
        let loggedPage = null
        this.myPages.forEach((page)=>{
          if(page.uid == this.$store.state.auth.profile.uid) loggedPage = page
        })
        let found = false
        loggedPage.blacklist.forEach((page) => {
            if(page.uid == this.page.uid) found = true
        }); return found
    },
    isMyProfil: function(){
        return this.page.uid == this.$store.state.auth.profile.uid
    },
    markerIconRoot: function(){
      if(this.showMap == true || this.showMap == false)
        console.log("refresh icon marker")

      let avatar = core.avatarUrl(this.page.uid)
      return L.icon({
          iconUrl: avatar, //'markers/root-marker-earth.png',
          iconSize:     [60, 60], // size of the icon
          iconAnchor:   [30, 30], // point of the icon which will correspond to marker's location
          popupAnchor:  [0, -30] // point from which the po
      });
    },
    iconsPageType: function(){
      return core.iconPageType(this.page.type)
    }
    
  },
  watch: {
    'pageUid': function() {
      //console.log("pageUid changed", this.pageUid)
      this.loadPage()

    },
  }
  
  
}
</script>