<template>
<div class="px-2" v-if="page.roles != null">

  <v-col cols="12" class="py-0 mt-5">
    <h4>
      <v-icon >mdi-{{ icons[role] }}</v-icon> 
      {{ $vuetify.lang.t('$vuetify.page.role_'+role) }}

      <v-btn text small color="green" v-if="isAdmin"
            @click="showDialogInvite = true" 
            class="ml-1">
            + {{ $vuetify.lang.t('$vuetify.main.Invite') }}
      </v-btn>
    </h4>
    <small v-if="role=='admin'">{{ $vuetify.lang.t('$vuetify.page.commentRoleAdmin') }}</small>
    <small v-if="role=='moderator'">{{ $vuetify.lang.t('$vuetify.page.commentRoleModerator') }}</small>
    <small v-if="role=='editor'">{{ $vuetify.lang.t('$vuetify.page.commentRoleUser') }}</small>
  </v-col>

  <v-col cols="12" sm="12" md="6" lg="4" v-if="page.roles[role].length === 0">
    <v-card dense outlined class="py-1 px-4" color="rgb(38, 37, 40)">
      <v-icon class="" small>mdi-cancel</v-icon>{{ $vuetify.lang.t('$vuetify.main.None') }}
    </v-card>
  </v-col>

  <!-- CARD PENDING -->
  <v-row class="ma-0" v-if="page.pendingRoles != null">
    <template v-for="(p, i) in page.pendingRoles[role]">
      <v-col :key="i" cols="12" sm="12" md="6" lg="4">
        <v-card dense outlined class="mx-auto mb-3" color="primary darken-2">
          <v-list  color="transparent">
            <v-list-item>
                <router-link style="color:white; text-decoration:none;"
                            :to="'/page/'+p.uid">
                        <img :src="avatarUrlPage(p.uid)" height="36" class="mr-3">
                </router-link>

                <v-list-item-content>
                    <router-link style="color:white; text-decoration:none;" 
                                :to="'/page/'+p.uid" v-text="p.name"></router-link>
                    <small>{{ $vuetify.lang.t('$vuetify.page.sentRequestToBecomeBeing') + ' ' + $vuetify.lang.t('$vuetify.page.role_'+role) + ' ' + $vuetify.lang.t('$vuetify.page.sentRequestToBecomeEnd') }}</small>
                </v-list-item-content>
                <v-btn text small :title="$vuetify.lang.t('$vuetify.page.validateDemand')" v-if="isAdmin"
                        @click="manageRole('add', 'role', p.uid, p.name)">
                  <v-icon class="" color="" small>mdi-check</v-icon>{{ $vuetify.lang.t('$vuetify.main.Validate') }}
                </v-btn>
                <v-btn text x-small :title="$vuetify.lang.t('$vuetify.page.cancelDemand')" v-if="isAdmin"
                        @click="manageRole('cancel', 'pending', p.uid, p.name)">
                  <v-icon class="" color="grey" x-small>mdi-cancel</v-icon>
                </v-btn>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
    </template>
  </v-row>

  <!-- CARD INVITES -->
  <v-row class="ma-0" v-if="page.inviteRoles != null">
    <template v-for="(p, i) in page.inviteRoles[role]">
      <v-col :key="i" cols="12" sm="12" md="6" lg="4" class="py-1">
        <v-card dense outlined class="mx-auto" color="primary darken-3">
          <v-list  color="transparent">
            <v-list-item>
                <router-link style="color:white; text-decoration:none;"
                            :to="'/page/'+p.uid">
                        <img :src="avatarUrlPage(p.uid)" height="36" class="mr-3">
                </router-link>

                <v-list-item-content>
                    <router-link style="color:white; text-decoration:none;" 
                                :to="'/page/'+p.uid" v-text="p.name"></router-link>
                    <small>{{ $vuetify.lang.t('$vuetify.guest.wasInvitedToBecomeBegin') + ' ' + $vuetify.lang.t('$vuetify.page.role_'+role) + ' ' + $vuetify.lang.t('$vuetify.guest.wasInvitedToBecomeEnd') }}</small>
                </v-list-item-content>
                <v-btn text x-small color="red" :title="$vuetify.lang.t('$vuetify.guest.cancelInvitation')"
                       v-if="isAdmin"
                       @click="manageRole('cancel', 'invite', p.uid, p.name)">
                  <v-icon color="grey" x-small>mdi-cancel</v-icon>
                </v-btn>
                
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
    </template>
  </v-row>

  <!-- CARD CURRENTS -->
  <v-row class="ma-0" v-if="page.roles != null">
    <template v-for="(p, i) in page.roles[role]">
      <v-col :key="i" cols="12" sm="12" md="6" lg="4">
        <v-card dense outlined class="mx-auto mb-3" color="blue-grey darken-4">
          <v-list  color="transparent">
            <v-list-item>
                <router-link style="color:white; text-decoration:none;"
                            :to="'/page/'+p.uid">
                        <img :src="avatarUrlPage(p.uid)" height="36" class="mr-3">
                </router-link>

                <v-list-item-content>
                    <router-link style="color:white; text-decoration:none;" 
                                :to="'/page/'+p.uid" v-text="p.name"></router-link>
                </v-list-item-content>
                <v-btn text x-small :title="$vuetify.lang.t('$vuetify.guest.cancelRole')"  v-if="isAdmin"
                      @click="manageRole('cancel', 'role', p.uid, p.name)">
                  <v-icon class="" color="grey" x-small>mdi-cancel</v-icon>
                </v-btn>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
    </template>
  </v-row>

  <v-dialog v-if="showDialogInvite" v-model="showDialogInvite" max-width="600">
      <v-card>
        <v-app-bar dense flat class="pl-4 mb-3">
            <v-icon small color="green" class="pa-1">mdi-{{ icons[role] }}</v-icon> 
            <h4 class="green--text">{{ $vuetify.lang.t('$vuetify.main.InviteA') + ' ' + $vuetify.lang.t('$vuetify.page.role_'+role) }}</h4>
            <v-spacer></v-spacer>
            <v-btn class="mr-3"  icon @click="showDialogInvite=false">
              <v-icon >mdi-close</v-icon>
            </v-btn>
        </v-app-bar>

        <v-card-text v-if="role=='admin'">{{ $vuetify.lang.t('$vuetify.page.commentRoleAdmin') }}</v-card-text>
        <v-card-text v-if="role=='moderator'">{{ $vuetify.lang.t('$vuetify.page.commentRoleModerator') }}</v-card-text>
        <v-card-text v-if="role=='editor'">{{ $vuetify.lang.t('$vuetify.page.commentRoleUser') }}</v-card-text>

        <v-row class="mx-0 px-4 mb-3">
          <v-text-field outlined dense v-model="autocomplete" @change="checkAutocomplete()"
                        :placeholder="$vuetify.lang.t('$vuetify.main.lookForSomeone') + '...'" hide-details
          ></v-text-field>
          <v-btn color="secondary" class="ml-3" style="margin-top:2px;">
            <v-icon >mdi-magnify</v-icon>
          </v-btn>
        </v-row>

        <div class="list-invite" v-if="invitePages.length > 0">
          <template v-for="(p, i) in invitePages">
            <v-col :key="i" cols="12" class="py-2 pt-0 px-2">
              <v-card dense outlined class="mx-auto" color="rgb(38, 37, 40)">
                <v-list two-line color="transparent">
                  <v-list-item>
                      <img :src="avatarUrlPage(p.uid)" height="36" class="mr-3">
                      {{ p.name }}

                      <v-list-item-content>
                        <small>
                          <v-icon class="ml-3" x-small>mdi-spider-web</v-icon>
                          {{ iNamePage(p.uid) }}
                        </small>
                      </v-list-item-content>
                      
                      <v-btn  small color="green" 
                            @click="manageRole('add', 'invite', p.uid, p.name)">
                        <v-icon class="mr-1">mdi-account-plus</v-icon>{{ $vuetify.lang.t('$vuetify.main.Invite') }}
                      </v-btn>
                  </v-list-item>
                </v-list>
              </v-card>
            </v-col>
          </template>
        </div>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="showDialogInvite = false">
            {{ $vuetify.lang.t('$vuetify.main.Cancel') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</div>
</template>

<style scoped>
  .list-invite{
    padding-top:8px;
    margin:15px;
    border:1px #4f4f4f solid; 
    max-height:410px; 
    overflow-y:auto;
    border-radius:4px;
  }
</style>

<script>

import axios from 'axios'
// import router from '../router/router'
import core from '../../plugins/core.js'
// import moment from 'moment'

//import Cropper from '@/components/Cropper.vue'

export default {
  name: 'page-roles',
  props: [ 'page', 'role', 'updateDataProfile' ],
  components: { },

  data: () => ({
    showDialogInvite: false,
    invitePages: [],
    loadingAutocomplete: false,
    autocomplete: '',
    icons : { 'admin' : 'crown',  
              'moderator': 'account-star', 
              'editor': 'account-edit-outline'}
  }),
  async mounted(){
  },
  methods: {
    avatarUrlPage(uid){
      return  core.avatarUrl(uid)
    },
    iNamePage(uid){
      return  core.iName(uid)
    },
    async manageRole(type, action, pageUid, pageName){ //action is invite or cancel
      let res = await axios.post('/page/manage-role', { 
                                  type: type,
                                  action: action,
                                  role: this.role,
                                  page: { uid: pageUid, name: pageName },
                                  onPageUid: this.$route.params.pageUid,
                                 })
      if(res.data.error == false){
        this.updateDataProfile()
      }
      console.log("/page/manage-role", res.data)
    },

    checkAutocomplete : function(){
      if(window.isDev) { console.log("regex", new RegExp(".*"+this.autocomplete.toLowerCase().trim(), "i")); }
      this.loadingAutocomplete = true
      axios.post('/page/get-user-autocomplete', { search: this.autocomplete })
          .then( res => {
              if(window.isDev) { console.log('/page/get-user-autocomplete', res.data); }
            if(res.data.error == false){
              this.loadingAutocomplete = false
              this.invitePages = res.data.userPages
            }else{
              this.loadingAutocomplete = false
              if(window.isDev) { console.log('error on /page/get-user-autocomplete', res.data); }
            }
          })
    },
  },
  computed: {
    iName: function(){
      return core.iName(this.page.uid)
    },
    isAdmin: function(){
        return core.isRole(this.$store.state.auth.profile.uid, 
                           this.page, 'admin')
    }
  }
}
</script>