<template>
  <v-card outlined v-if="loaded">
    <v-row>
      <v-col cols="12" class="px-5">
        <v-btn fab x-small @click="getcumulSurveys" 
                style="margin:-23px -15px 0 0; padding:2px;float:right;"
                :loading="loading">
          <v-icon small>mdi-refresh</v-icon>
        </v-btn>
        <template v-for="(answers, x) in parentSurvey.answers">
          <div :key="x"> 
                <p class="survey-answer-cumul">
                  {{ answers }}
                </p>
                <v-chip x-small class="px-2 chip-percent-cumul" 
                      style="" color="green darken-3">
                      {{ parseInt(cumulPercent[x]) }}%
                </v-chip> 

                <v-progress-linear :value="cumulPercent[x]" 
                                    color="green darken-3" height="10"
                                    background-color="primary"
                                    class="progress-cumul">
                </v-progress-linear>

                <template v-for="(survey, s) in cumulSurveys">
                  <v-row :key="s" class="mx-0">
                    <v-col class="pa-0">
                      <v-progress-linear :value="calcPercent(survey.results, x)" 
                                          background-color="primary darken-3"
                                          class="progress-cumul" height="18"
                                          @click="$router.push('/room/survey/'+survey.uid)">
                        <span class="badge-count mr-4">
                          {{ calcPercent(survey.results, x) }}%
                        </span>
                        {{ survey.parentPage.name }}
                        <span class="badge-count" :title="$vuetify.lang.t('$vuetify.survey.votersCount')">
                          {{ survey.results[x] }}
                        </span>
                        
                      </v-progress-linear>
                    </v-col>
                  </v-row>
                </template>

                <v-chip x-small class="px-2 chip-nb-votes-cumul"
                      :title="$vuetify.lang.t('$vuetify.survey.totalVotesThisResponse')"
                      style="font-size:13px;" color="primary darken-3">
                      <v-icon x-small class="mr-1">mdi-vote</v-icon> 
                      {{ cumulTotal[x] }}
                </v-chip>
          </div>
        </template>
      </v-col>
    </v-row>
  </v-card>

  <v-card outlined v-else>
    <v-row>
      <v-col cols="12" class="px-5">
        <v-progress-linear
            color="primary darken-3"
            indeterminate
            rounded
            height="6"
          ></v-progress-linear>
      </v-col>
    </v-row>
  </v-card>
</template>

<style>

   p.survey-answer-cumul{
     font-size:0.8em;
     line-height:17px;
     padding-left:53px;
     margin-top:15px;
     margin-bottom:-15px;
   }
   .chip-percent-cumul{
     margin-top: 0px !important;
     margin-bottom: -6px !important;
     border-radius: 4px 4px 0 0 !important;
     font-size:13px;
     margin-bottom:-8px!important;
   }
   .chip-nb-votes-cumul{
     border-radius: 0 0 4px 4px !important;
     padding-bottom:2px;
     margin-right:0px;
     float:right;
   }
   .progress-cumul{
     margin-top: 1px !important;
     cursor: pointer;
   }
   .progress-cumul .v-progress-linear__content{
     text-align: left !important;
     display: block;
     padding-left: 5px;
     font-size:0.75em;
   }
   .badge-count{
     background-color: rgba(0,0,0,0.3);
     border-radius:10px;
     padding:0px 5px;
     font-size:0.9em;
   }
</style>

<script>
//import ProgressResVote from '@/components/room/ProgressResVote.vue'

import axios from 'axios';
export default {
  name: 'CumulResult',
  components: {  },//Post },
  props: [ 'surveyUid', 'parentSurvey' ],
  data:() => ({
    cumulSurveys: [],
    cumulPercent: [],
    cumulTotal: [],
    loading: true,
    loaded: false,
  }),
  async mounted(){
    this.getcumulSurveys()
  },
  methods: {
    async getcumulSurveys(){
      this.loading = true
      const res = await axios.get(`/room/get-cumul-results/${this.surveyUid}`)
      console.log("res getcumulSurveys", res.data)
      if(res.data.error == false){
        this.cumulSurveys = res.data.surveys
        this.calculateCumul()
        console.log("res surveys are here !", this.cumulSurveys)
      }
      this.loading = false
      this.loaded = true
    },
    calcPercent(results, xAns){
      let val = 0
      let total = 0
      results.forEach((res, x) => {
        total += res
        if(x == xAns) val = res
      })
      if(total == 0) return 0
      return parseInt(val / total * 100)
    },
    calculateCumul(){
      //init matrix
      this.cumulTotal = []
      this.cumulPercent = []
      this.cumulPercent = []
      this.cumulSurveys.forEach((survey, x) => { 
        this.cumulTotal.push(0) 
        this.cumulTotal[x] = []
        survey.results.forEach(() => {
          this.cumulTotal[x].push(0)
        })
      })

      this.cumulAll = []
      this.parentSurvey.results.forEach((x) => {
        this.cumulTotal[x] = 0
        this.cumulPercent[x] = 0
      })
        
      console.log('cumulTotal >', this.cumulTotal, this.cumulSurveys.length) 

      //pour chaque réponse
      this.parentSurvey.results.forEach((ans, x) => {
        let total = 0
        this.cumulSurveys.forEach((survey, y) => {
            total += survey.results[x]
            console.log('cumulSurveys survey', x, y, survey.results[x], total)
        })
        this.cumulTotal[x] = total
      })
      console.log('cumulSurveys total', this.cumulTotal)

      let totalAll = 0
      this.cumulTotal.forEach((n) => {
        totalAll += n
      })
      console.log('cumulSurveys totalAll', totalAll)

      //pour chaque réponse
      this.parentSurvey.results.forEach((ans, x) => {  
        if(totalAll == 0) this.cumulPercent[x] = 0
        else this.cumulPercent[x] = this.cumulTotal[x] / totalAll * 100
      })
      console.log('cumulSurveys totalAll', this.cumulPercent)
    }
  }
}

</script>