<template>
  <v-app app id="inspire">
    
    <AppDrawer 
      v-if="$store.state.auth.isLoggedIn && !$store.state.app.isLoading"
      :notifications="$store.state.notifications.notifications"
    />
  
    <!-- TOP BAR -->
    <AppTopBar
      v-if="!$store.state.app.isLoading"
      :isLoggedIn="$store.state.auth.isLogged"
      :userId="$store.state.auth.user.id"
      :userName="$store.state.auth.user.name"
    />

    <div id="notif" v-if="!$store.state.app.isLoading">
      <v-navigation-drawer
        v-model="$store.state.notifications.drawerOpen"
        absolute temporary right
        class="drawer-notifications"
        id="drawer-notifications"
      >
        <v-app-bar absolute color="#212121"
            dark scroll-target="#notif .v-navigation-drawer__content"
            style="left:1px; height:unset;">
            
            <v-toolbar-title class="pa-3" style="font-size:1em;">
              <v-icon>mdi-bell</v-icon> 
              {{ $store.state.notifications.notifications.length }} 
              {{ ( $store.state.notifications.notifications.length > 1 ? $vuetify.lang.t('$vuetify.stream.notifications') : $vuetify.lang.t('$vuetify.stream.notification') ) }}
            </v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn @click="$store.dispatch('notifications/setDrawerOpen', false)"
                    fab x-small class="ma-3" color="primary">
                <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-app-bar>

        <v-col class="pt-0">
          <v-btn v-if="$store.state.auth.user.allowEmail == null" 
                block outlined color="orange lighten-2" style="text-transform:none;" 
                @click="$store.dispatch('app/setPopupEmailOpen', true)">
            <v-icon class="mr-1">mdi-mail</v-icon> {{ $vuetify.lang.t('$vuetify.stream.enableEmailNotification') }}
          </v-btn>
          <v-btn v-else
                block outlined color="grey darken-2" style="text-transform:none;" 
                @click="$store.dispatch('app/setPopupEmailOpen', true)">
            <v-icon class="mr-1">mdi-mail</v-icon> {{ $vuetify.lang.t('$vuetify.stream.manageEmailNotification') }}
          </v-btn>
        </v-col>

        <v-card v-for="(invite, i) in $store.state.notifications.invitesRoles" 
                :key="'i'+i" class="ma-2" flat color="primary darken-3">
          <InviteRole :invite="invite"/>
        </v-card>
        <v-card v-for="(pending, j) in $store.state.notifications.pendingsRoles" 
                :key="'j'+j" class="ma-2" flat color="primary darken-2">
          <PendingRole :pending="pending"/>
        </v-card>
        <v-card v-for="(notification, k) in $store.state.notifications.notifications" :key="k" class="ma-2" >
          <Notification :notification="notification"/>
        </v-card>

      </v-navigation-drawer>
    </div>
    
    <v-content :class="!$store.state.auth.isLoggedIn ? 'disconected' : ''">
      <v-container :class="showPostSelected ? 'notif-open' : ''">

        <router-view v-if="!$store.state.app.isLoading" :countConnected="countConnected"/>        

        <template v-if="$store.state.app.isLoading">
          <v-col class="mx-auto" style="max-width:400px; margin-top:100px;">
            <v-card class="pa-5 text-center">
              <img alt="Plaanet" src="./assets/plaanet-logo.png" 
                   height=80 style="position: absolute;margin-left: -13px;margin-top: -12px;">
              <v-btn style="border-width:3px;" :loading="true" 
                      fab outlined color="white">
                      <v-icon>mdi-close</v-icon>
              </v-btn>
              <br><br>
              <h3 class="font-konkretika">
                {{ $vuetify.lang.t('$vuetify.stream.pleaseWaitDuringAppLoad') }}
              </h3>
            </v-card>
          </v-col>
        </template>

      </v-container>
    </v-content>



    <v-navigation-drawer  @close="closePostSelected"
      v-model="showPostSelected"
      v-show="showPostSelected"
      absolute
      hide-overlay
      right
      class="drawer-single-post"
      id="drawer-post-selected"
    >
    
      <div style="">
      <v-row flex class="ma-3 mb-1">
          
          <v-app-bar v-if="postSelected!=null"
            absolute
            color="#212121"
            dark
            height="100"
            scroll-target="#drawer-post-selected .v-navigation-drawer__content"
            style="left:1px; height:unset;"
          >            
            <v-toolbar-title class="pa-3" style="font-size:0.8em;">
              
                <v-icon>mdi-flash</v-icon>
                {{ $vuetify.lang.t('$vuetify.main.directChat') }}<br>
                <small>{{ $vuetify.lang.t('$vuetify.main.autoReceiveComments') }}...</small>
                <br>
                
                <v-icon small>mdi-account</v-icon> 
                {{ postSelected.viewers.length }} 

                <small v-if="postSelected.viewers.length <= 1">{{ $vuetify.lang.t('$vuetify.main.connectedPerson') }}</small>
                <small v-if="postSelected.viewers.length > 1">{{ $vuetify.lang.t('$vuetify.main.connectedPersons') }}</small>
                
                <template v-for="(viewer, i) in postSelected.viewers">
                    <img v-if="i < 10" :key="i" :title="'on node :'+iName(viewer)" :to="'/page/'+viewer"
                        :src="avatarUrl(viewer)" width="20" class="ma-1" style="margin-bottom:-6px!important"/>
                </template>
            

            </v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn fab x-small class="ma-3" color="primary" @click="closePostSelected">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-app-bar>
          
      </v-row>
      </div>

      <v-col class="pb-0" style="padding-top:80px;" v-if="postSelected!=null"
      >
        <v-col class="text-left pa-0" >
          
          <p class="mb-2" style="max-width:600px;">

          </p>
        </v-col>
        <Post :post="postSelected" origin="singlePost" ref="postDrawer"></Post>
      </v-col>


      <v-col v-if="postSelected==null">
        <v-card style="min-width: 300px; margin:auto; margin-bottom:10px; padding-top:15px;" >
          <v-skeleton-loader ref="skeleton"
              :boilerplate="false"
              type="list-item-avatar-three-line"
              :tile="false"
              class="mx-auto"
          ></v-skeleton-loader> 
        </v-card>
      </v-col>

    </v-navigation-drawer>
   
    <NotificationPermissionSnackbar/>
   
    <FlashNotifications />

    <v-snackbar :timeout="5000" v-model="snackbarNotif" bottom right :color="snackbarColor" class="snackbar">
      {{ snackbarNotifText }}
      
      <Notification v-if="snackNotif != null" :notification="snackNotif"/>
      
      <!-- <v-btn class="ma-1" darken @click="snackbarNotif = false" :color="snackbarColor + ' darken-3'">
        <v-icon>mdi-check</v-icon>
      </v-btn> -->
    </v-snackbar>


    <audio :src="soundNotifValidated" preload="auto" id="soundNotifValidated">
      <p>{{ $vuetify.lang.t('$vuetify.main.browserDontSupportElementBegin') }} <code>audio</code> {{ $vuetify.lang.t('$vuetify.main.browserDontSupportElementEnd') }}.</p>
    </audio>
    <audio :src="soundNotifPending" preload="auto" id="soundNotifPending">
      <p>{{ $vuetify.lang.t('$vuetify.main.browserDontSupportElementBegin') }} <code>audio</code> {{ $vuetify.lang.t('$vuetify.main.browserDontSupportElementEnd') }}.</p>
    </audio>

    <ModalSetEmail></ModalSetEmail>

    <v-dialog v-model="showModalFastPage"
            max-width="850" height="100%" top="0" style="border-radius: 0px !important;"
            transition="dialog-top-transition">
      <v-card id="modal-page" class="">
        <LightPageStream v-if="currentModalPageUid != null" 
                        :pageUid="currentModalPageUid"
                        :closePageDialog="closePageDialog">
        </LightPageStream>
      </v-card>
    </v-dialog>

  </v-app>
<!-- https://www.youtube.com/watch?v=uzEjvHyiUmU -->
</template>

<style>
  .disconected .v-content__wrap{
    background-size: cover;
    background: fixed url('./assets/bg/bg-star-empty.png') top center !important;
    background-color: black;
  }
  @font-face{
      font-family: Konkretika;
      src: url('./assets/fonts/Konkretika.ttf');
  }.font-konkretika{font-family:"Konkretika"!important;font-weight:200!important;}

  @import "~leaflet/dist/leaflet.css";
  @import "~leaflet.markercluster/dist/MarkerCluster.css";
  @import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
</style>

<script>
import axios from 'axios'
import io from 'socket.io-client'
import router from './router/router'

import AppTopBar from '@/components/main-layout/AppTopBar.vue'
import AppDrawer from '@/components/main-layout/AppDrawer.vue'
import Notification from '@/components/main-layout/Notification.vue'
import InviteRole from '@/components/main-layout/InviteRole.vue'
import PendingRole from '@/components/main-layout/PendingRole.vue'
import ModalSetEmail from '@/components/main-layout/modals/ModalSetEmail.vue'


import NotificationPermissionSnackbar from './components/notifications/PermissionSnackbar.vue';

import FlashNotifications from './components/notifications/FlashNotifications.vue';


import Post from '@/components/Post.vue';
import LightPageStream from '@/components/page/LightPageStream.vue';

import core from './plugins/core.js';

import '@/assets/css/app.css';
import '@/assets/css/post.css';
// Import the functions you need from the SDKs you need
// const firebaseapp = require('firebase/app');
// const firebaseanalytics = require('firebase/analytics');

const config = require('./config/' + process.env.NODE_ENV)

var socket = null

export default {
  name: 'App',
  
  components: {
    AppTopBar,
    AppDrawer,
    FlashNotifications,
    Notification,
    NotificationPermissionSnackbar,
    Post,
    InviteRole,
    PendingRole,
    ModalSetEmail,
    LightPageStream
  },

  data: () => ({
    name: "",
    snackbarNotif: false,
    snackbarNotifText: "",
    snackbarColor: 'green',
    snackNotif: null,
    soundNotifPending: 'sounds/sound-notification.wav',
    soundNotifValidated: 'sounds/sound-message.mp3',
    notifLoading: false,
    isOnNetwork: false,
    currentNodeName: '',
    postSelected: null,
    showPostSelected: false,
    countConnected: 0,
    socketUidPage: '',
    showModalFastPage: false,
    currentModalPageUid: null,
  }),
  computed: {
  },
  mounted: async function(){

    localStorage.removeItem('access_token')
    localStorage.removeItem('user_name')
    localStorage.removeItem('user_id')
    localStorage.removeItem('user_page_uid')
    localStorage.removeItem('avatarUrl')
    localStorage.removeItem('currentPosition')
    localStorage.removeItem('user_pages')
    // end backward comp

    
    if(localStorage.getItem("lang"))
      this.$vuetify.lang.current = localStorage.getItem("lang")
    else{
      this.$vuetify.lang.current = 'fr'
      localStorage.setItem("lang", 'fr')
    }

    axios.defaults.withCredentials = true

    this.$root.$off('setPostSelected').$on('setPostSelected', (postUid) => {
        this.setInViewers(postUid, true)
    })

    this.$root.$off('openModalUserPage').$on('openModalUserPage', (pageUid) => {
      console.log("open modal fast page !")
        this.openModalUserPage(pageUid)
    })
    this.$root.$off('closeModalUserPage').$on('closeModalUserPage', () => {
      console.log("close modal fast page !")
        this.closePageDialog()
    })

    this.$root.$off('openPost').$on('openPost', (post) => {
      this.$nextTick(async () => {
        await this.closePostSelected()
        this.showPostSelected = true
        this.postSelected = null
        if(window.isDev) { console.log('openPost', typeof this.$refs.postDrawer, post); }
        setTimeout(async ()=>{
          await this.setInViewers(post.uid, true)
          this.scrollBottomDrawerPost()
        }, 1)
      });
    })

    this.$root.$on('scrollBottomDrawerPost', async (postUid) => {
      setTimeout(()=>{
        if(this.postSelected != null && postUid == this.postSelected.uid)
        this.scrollBottomDrawerPost()
      }, 300)
    })

    this.$root.$on('updateContext', async () => {
      if(window.isDev) { console.log('updateContext'); }
      await this.$store.dispatch('auth/fetchUserContext')
    })

    this.checkMobileAppVersion()
    this.checkUserEmail()

    await this.$store.dispatch('stream/init')

    this.initFirebase()
  },


  methods: {
    openModalUserPage(pageUid){
      console.log("open modal", pageUid)
      this.currentModalPageUid = pageUid 
      this.showModalFastPage = true
    },
    closePageDialog(){
      this.showModalFastPage = false
    },

    async checkMobileAppVersion(){
      //check if a new version of the mobile app is available
      //mobile version are saved in specific config file like mobile-dev.json, mobile-prod.json
      //console.log("current mobileAppVersion", config.mobileAppVersion)
      if(localStorage.getItem("updateAppVersion") != null){
        if(localStorage.getItem("updateAppVersion") != config.mobileAppVersion){
          router.push("/last-version-mobile-app")
          return
        }
      }

      if(config.mobileAppName != null){
        const res = await axios.get('/instance/last-mobile-app-version/'+config.mobileAppName)
        if(res.data.error==false){
          if(res.data.app.version != config.mobileAppVersion){
            router.push("/last-version-mobile-app")
          }
        }
      }
    },
    checkUserEmail(){
      if(this.$store.state.auth.isNewUser == false 
      && this.$store.state.auth.isLoggedIn == true
      && this.$store.state.auth.user.email == null
      && this.$store.state.auth.user.allowEmail != false){
        this.$store.dispatch('app/setPopupEmailOpen', true)
      }else this.$store.dispatch('app/setPopupEmailOpen', false)
    },
    removeUid : function(arr, uid){
      if(window.isDev) { console.log("removeUid", arr, uid); }
      let pos = arr.indexOf(uid)
      arr.splice(pos, 1)
      return arr
    },
    showSnackbar: function(data){ if(window.isDev) { console.log("showSnackbar ?", data); }
        if((data.verb == "LIKES"   || data.verb == "DISLIKES" 
        ||  data.verb == "VIEWERS" || data.verb == "FAVORITES") 
            && data.whatObj.posAdded > -1) return false

        if(data.verb == "COMMENT" 
        && (this.postSelected != null 
          && data.aboutObj.uid == this.postSelected.uid)) 
          return false
        return true
    },
    playSound: function(soundId){ 
      if(window.isDev) { console.log("playSound", this.soundNotif); }
      let audio = document.getElementById(soundId)
      audio.volume = 0.2
      audio.play()
    },
    closePostSelected: async function(){
      //if(window.isDev) { console.log("closePostSelected"); }
      if(this.postSelected != null)
        this.setInViewers(this.postSelected.uid, false)
      //if(window.isDev) { console.log("clear postSelected"); }
      this.showPostSelected=false
      this.postSelected = null
      
    },
    setInViewers: async function(postUid, bool){
        if(window.isDev) { console.log("setInViewers", bool); }
        const res = await axios.post('/publication/action', { 
                                        type : 'viewers',
                                        postUid: postUid,
                                        bool: bool })

        if(res.data.error == false && res.data.postObj && bool){
          this.postSelected = res.data.postObj
        }
        if(window.isDev) { console.log("res /publication/set-in-viewers", bool, res.data); }
    },
    iName: function(pageUid){
      return core.iName(pageUid)
    },
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    scrollBottomDrawerPost: function(){
      let id1 = '#drawer-post-selected .v-navigation-drawer__content'
      let id2 = '#drawer-post-selected .v-navigation-drawer__content .singlePost'
      //console.log('scrollBottomDrawerPost', document.querySelectorAll(id2))
      if(document.querySelectorAll(id2).length > 0)
      setTimeout(() => {
        console.log('scrollBottomDrawerPost', document.querySelectorAll(id2).item(0).offsetHeight)
        document.querySelectorAll(id1).item(0).scrollTop = 
          document.querySelectorAll(id2).item(0).offsetHeight+250
      }, 1)
    },
    
    scrollBottom: function(){
      setTimeout(() => {
        document.getElementsByTagName('html')[0].scrollTop = 
          document.getElementsByTagName('html')[0].offsetHeight
          this.newMsgText = ""
      }, 1)
    },
    initSocket : function(){
      let _this = this;

      if(socket != null){
        //console.log("INIT BEFORE UNLOAD")
        window.onbeforeunload = function(){
            console.log('emit LEAVE')
            //setTimeout(()=>{
              if(socket != null) socket.emit('leave', { UID: _this.$store.state.auth.profile.uid });
            //}, 1000)
        }

        socket.on('conf-connexion', (data) => {
            if(window.isDev) { console.log("#WS connected to the socket server", data); }
            if(this.$store.state.auth.profile.uid != null){
              console.log("#WS join as", this.$store.state.auth.profile.uid); 
              socket.emit('join', { UID: this.$store.state.auth.profile.uid })
            }
        });

        socket.on('count-connected', (data) => {
            if(window.isDev) { console.log("#WS : nb connected", data); }
            this.countConnected = data.count
        });

        this.$root.$on('get-count', () => { 
          if(window.isDev) { console.log('#WS get-count'); }
          socket.emit('get-count')
        })

        socket.emit('get-count')

        socket.on('receive-notif', async (data) => {
            if(window.isDev) { console.log("#WS receive a notification !", data.verb, data); }

            this.snackbarColor = "dark"
            
            if(data.verb != "EMOJI"){ //Emoji are not listed in notifications
              //show snackbar notification
              if(this.showSnackbar(data) == true) {
                this.snackbarNotif = true
                this.snackNotif = data
              }
            }
            await this.$store.dispatch('notifications/newNotification', data)

            if(data.verb == "COMMENT"){
              if(window.isDev) { console.log("#WS receive comment", data.aboutObj.uid); }
              
              this.$root.$emit('onNotifComment', data)
                
              //if i am watching the post 
              //i want to receive the comment in the conv, but no notification
              if(this.postSelected != null){
                this.postSelected = core.addCommentToPost(data, this.postSelected)
                this.$root.$emit('updatePostObj', this.postSelected.uid);
                this.scrollBottomDrawerPost()
              }
            }

            if(data.verb == "LIKES" || data.verb == "DISLIKES"){
              let p = data.whatObj.posAdded
              if(window.isDev) { console.log("#WS to postSelected ?", this.postSelected); }
              if(this.postSelected != null && this.postSelected.uid == data.whatObj.uid){
                if(p > -1){
                  if(data.verb=="LIKES") this.postSelected.likes.splice(p, 1)
                  if(data.verb=="DISLIKES") this.postSelected.dislikes.splice(p, 1)
                }else{
                  if(data.verb=="LIKES") this.postSelected.likes.push(data.authors[0].uid)
                  if(data.verb=="DISLIKES") this.postSelected.dislikes.push(data.authors[0].uid)
                }
                this.$root.$emit('updatePostObj', this.postSelected.uid);
              }
            }

            if(data.verb == "EMOJI"){
              if(window.isDev) { console.log("#APP on receiveEmoji", data); }
              if(this.postSelected != null)
                this.postSelected = core.addEmojiToPost(data, this.postSelected)
                this.$root.$emit('onNotifEmoji', data)
            }

            if(data.verb == "VIEWERS"){
              this.$root.$emit('newViewer', data);
              let p = data.whatObj.posAdded
              if(this.postSelected != null && data.whatObj.uid == this.postSelected.uid){
                if(p > -1){
                  if(window.isDev) { console.log("#WS viewer removed", this.postSelected); }
                  let uidNewR = data.authors[data.authors.length-1]
                  this.postSelected.viewers = this.removeUid(this.postSelected.viewers, uidNewR.uid)
                }else{
                  if(window.isDev) { console.log("#WS viewer added", this.postSelected.viewers.length); }
                  let uidNewR = data.authors[data.authors.length-1]
                  this.postSelected.viewers.push(uidNewR.uid)
                }
              }            
            }

            if(data.verb == "NEW_ROLE_ACCEPTED"){
              this.$store.dispatch('auth/fetchUserContext')
              //let notifAuthorUid = data.whatObj.onPageUid

              if(window.isDev) { console.log('#WS new-role-accepted', data, data.whatObj.onPageUid) }
              if(this.$router.currentRoute.fullPath == '/page/'+data.whatObj.onPageUid)
                this.$root.$emit('updateDataProfile');
            }
            
        });
        }
      
        socket.on('new-role', async (data) => {
          if(window.isDev) { console.log('#WS new-role', data) }
          if(data.action == 'invite') 
            this.$store.dispatch('notifications/fetchInviteRoles')
          if(data.action == 'pending') 
            this.$store.dispatch('notifications/fetchPendingRoles')
        })

        socket.on('receive-liveMsg', (data) => {
            if(window.isDev) { console.log("#WS : receive-liveMsg", data); }
            this.$store.dispatch('live/sockReceiveLiveMsg', data)
            this.$root.$emit('scrollBottom')
            this.$forceUpdate()
        });
        socket.on('edited-liveMsg', async (data) => {
            if(window.isDev) { console.log("#WS : edited-liveMsg", data); }
            await this.$store.dispatch('live/sockEditedLiveMsg', data)
            this.$forceUpdate()
        });
        socket.on('deleted-liveMsg', async (data) => {
            if(window.isDev) { console.log("#WS : deleted-liveMsg", data); }
            await this.$store.dispatch('live/sockDeletedLiveMsg', data)
            this.$forceUpdate()
        });


        console.log("###SOCKET send-stream-main BIND")
        /** receive posts for main stream */
        socket.on('send-stream-main', async (data) => {
          console.log("###SOCKET send-stream-main", data)
          this.$store.dispatch('stream/receivedStreamPost', data)
        })

        /** receive posts for stream in page */
        socket.on('send-stream-page', async (data) => {
          console.log("###SOCKET send-stream-page", data)
          this.$root.$emit('sendStreamPage', data)
        })

        /** receive posts for stream in page */
        socket.on('send-map-pages', async (data) => {
          console.log("###SOCKET send-map-pages", data)
          if(data.origin == "activity"){
            this.$store.dispatch('app/updateActivity', { key: data.key, pages: data.entities });
            this.$store.dispatch('app/setActivityLoading', { key: data.key, loading: false })
          }
          if(data.origin == "stream"){
            this.$store.dispatch('stream/receivedMapPages', data)
          }
        })
    },

    initFirebase(){
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        // const firebaseConfig = {
        //     apiKey: 'AIzaSyAeWxBODcOmNLW0YxAnT69tdztQinJZt28',
        //     authDomain: 'testnico-cb727.firebaseapp.com',
        //     projectId: 'testnico-cb727',
        //     storageBucket: 'testnico-cb727.appspot.com',
        //     messagingSenderId: '87604660208',
        //     appId: '1:87604660208:web:2d15f1932a28aea7f8bf35',
        //     measurementId: 'G-0BRZYWSW6W',
        // };

        // Initialize Firebase
        // const application = firebaseapp.initializeApp(firebaseConfig);
        // const analytics = firebaseanalytics.getAnalytics(application);
        // console.log("Firebase initiated");
    }
  },
  watch: {
        'showPostSelected': { immediate: true, 
            handler (val, oldVal) {
              console.log("showPostSelected has changed", val, oldVal)
              if(val == false)
                this.closePostSelected()
            }
        },
        '$store.state.auth.isLoggedIn': { immediate: true, 
            handler (val) {
                //SOCKET INITIALIZATION AFTER LOGIN
                if(window.isDev) { console.log("#WS -- isLoggedIn", val, 
                                               "socketExists", socket != null, 
                                               "auth.profile.uid", this.$store.state.auth.profile.uid); }
                 //user is connected
                if(val === true){
                  if(this.socketUidPage == '' && this.$store.state.network.localName != ''){
                    if(window.isDev) { 
                      console.log("#WS init connexion", this.$store.state.network.localName, this.$store.getters['network/websocketUrl']); 
                    }
                  
                    socket = io(this.$store.getters['network/websocketUrl'], {
                                  transports: ['websocket'],
                                })
                    this.initSocket()
                    //memorize the pageUid used to join
                    this.socketUidPage = this.$store.state.auth.profile.uid
                    this.checkUserEmail()
                  }           
                }else{ //user has logout
                  if(this.socketUidPage != ''){
                    if(window.isDev) { console.log("#WS leave connexion", this.socketUidPage); }
                    //close connection with this.socketUidPage (this.$store.state.auth.profile.uid is now == null)
                    socket.emit('leave', { UID: this.socketUidPage })
                    this.socketUidPage = ''
                  }
                }
                
            }
        },
        '$store.state.network.localName': { immediate: true, 
            handler (val) {
                //SOCKET INITIALIZATION AFTER LOGIN
                if(window.isDev) { console.log("#WS -- network.localName is set", val, 
                                               "socketExists", socket != null, 
                                               "auth.profile.uid", this.$store.state.auth.profile.uid); }
                //localName is set ?
                if(val != '' && val != null){
                  //user is connected ?
                  if(this.$store.state.auth.isLoggedIn === true){
                    if(window.isDev) { 
                      console.log("#WS init connexion", this.$store.state.network.localName, this.$store.getters['network/websocketUrl']); 
                    }
                    socket = io(this.$store.getters['network/websocketUrl'], {
                                  transports: ['websocket'],
                                })
                    this.initSocket()
                    //memorize the pageUid used to join
                    this.socketUidPage = this.$store.state.auth.profile.uid               
                  }else{ //user is not connected
                    if(this.socketUidPage != ''){
                      if(window.isDev) { console.log("#WS leave connexion", this.socketUidPage); }
                      //close connection with this.socketUidPage (this.$store.state.auth.profile.uid is now == null)
                      socket.emit('leave', { UID: this.socketUidPage })
                      this.socketUidPage = ''
                    }
                  }
                }
                
            }
        },
    }
};
</script>
      