<template>
  <v-list class="drawerRight" v-if="$store.state.live.currentPage">
    <span class="d-none">{{ $store.state.live.refreshOnlineDate }}</span>
    <v-list-item>
      <v-list-item-icon class="text-center mr-0">
        <v-icon>mdi-account-multiple</v-icon>
      </v-list-item-icon>
      <v-list-item-content class="ml-3">
        <h4 v-if="$store.state.live.currentPage.type != 'user'">
          <v-icon>mdi-chevron-down</v-icon>{{ $vuetify.lang.t('$vuetify.settings.MEMBERS') }}
        </h4>
        <h4 v-else>
          <v-icon>mdi-chevron-down</v-icon>{{ $vuetify.lang.t('$vuetify.settings.MY_FRIENDS') }}
        </h4>
      </v-list-item-content>
    </v-list-item>

    <template v-if="$store.state.live.currentPage.type != 'user'">
      <template  v-for="(page, p) in $store.state.live.currentPage.roles.editor" >
        <v-list-item class="px-2" :key="p" :title="page.online ? page.name + ' ' + $vuetify.lang.t('$vuetify.settings.isConnectedRightNow') : page.name + ' ' + $vuetify.lang.t('$vuetify.settings.isNotConnectedRightNow') " :to="'/page/'+page.uid">
          <v-list-item-avatar width="40" height="40" class="pa-0" 
                              :class="page.online ? 'online' : ''">
            <img :src="avatarUrl(page.uid)">
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{ page.name }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </template>
    <template v-else>
      <template  v-for="(page, p) in $store.state.live.currentPage.roles.editor" >
        <v-list-item class="px-2" v-if="page.uid != $store.state.auth.profile.uid" :to="'/live/'+page.uid" :key="p">
          <v-list-item-avatar width="40" height="40" class="pa-0" 
                              :class="page.online ? 'online' : ''">
            <img :src="avatarUrl(page.uid)">
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{ page.name }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </template>
  </v-list>
</template>
<script>

//import axios from 'axios'
//import router from '../router/router'
import core from '../../plugins/core.js'
export default {
  name: 'drawer-right',
  props: [],
  components: {  },
  data:() => ({
   timer: null
  }),
  beforeDestroy () {
    if(this.timer != null){
      clearInterval(this.timer)
      this.timer = null
    } 
  },
  async mounted(){
    if(this.timer != null){
      clearInterval(this.timer)
      this.timer = null
    } 
    this.timer = setInterval(()=>{
      this.$store.dispatch('live/whoIsOnline')
    }, 120000)
  },

  methods: {
    
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid, false)
    },

  }
}
</script>