<template>
<div>
  <v-dialog  v-model="sEditLiveMsg" width="500">
    <v-card>
      <v-card-title class="">{{ $vuetify.lang.t('$vuetify.live.editLiveMsg') }}</v-card-title>
      <v-col><v-textarea spellcheck="false" auto-grow solo hide-details v-model="newLiveMsgText" @change="saveEditLiveMsg()"></v-textarea></v-col>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="red" text @click="loading=false;sEditLiveMsg=false">{{ $vuetify.lang.t('$vuetify.main.Cancel') }}</v-btn>
        <v-btn color="green" text @click="saveEditLiveMsg()" :loading="loading">{{ $vuetify.lang.t('$vuetify.main.Validate') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog  v-model="sDeleteLiveMsg" width="500">
    <v-card>
      <v-card-title class="pb-0">
        <v-icon class="mr-1">mdi-delete</v-icon>{{ $vuetify.lang.t('$vuetify.live.deleteLiveMsg') }} ?
      </v-card-title>
      <v-col class="py-0">
        <v-card-text>
          <i>{{ newLiveMsgText.substr(0,200) }}</i> <br><br>
          {{ $vuetify.lang.t('$vuetify.settings.areYouSureDeleteMessage') }} ?
        </v-card-text>
      </v-col>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="red" text @click="sDeleteLiveMsg=false">{{ $vuetify.lang.t('$vuetify.main.Cancel') }}</v-btn>
        <v-btn color="green" text @click="deleteLiveMsg()" :loading="loading">{{ $vuetify.lang.t('$vuetify.settings.YesRemove') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</div>
</template>

<script>
  import axios from 'axios'
  export default {
    props: ['showEditLiveMsg', 'showDeleteLiveMsg', 'updateLiveData'],
    data:() => ({
        newLiveMsgText: "",        
        sEditLiveMsg : false,
        sDeleteLiveMsg : false,

        loading: false

    }),

    async mounted(){
      this.$root.$off('sEditLiveMsg').$on('sEditLiveMsg', (msgTxt, msgUid) => { 
        this.newLiveMsgText = msgTxt
        this.liveMsgUid = msgUid
        this.sEditLiveMsg = true
        if(window.isDev) { console.log('#MODAL sEditLiveMsg', msgTxt, this.newLiveMsgText, msgUid); }
      })
      this.$root.$off('sDeleteLiveMsg').$on('sDeleteLiveMsg', (msgTxt, msgUid) => { 
        if(window.isDev) { console.log('#MODAL sDeleteLiveMsg', msgUid); }
        this.newLiveMsgText = msgTxt
        this.liveMsgUid = msgUid
        this.sDeleteLiveMsg = true
      })
    },

    methods: {

      async saveEditLiveMsg(){
        this.loading = true
        try{
          const res = await axios.post('/live/edit-live-msg', { 
                                          liveMsgText : this.newLiveMsgText,
                                          liveMsgUid : this.liveMsgUid,
                                          toPageUid: this.$store.state.live.currentDestPage.uid
                                        })
          if(res.data.error == false){
            console.log("success /live/edit-live-msg", res.data)
            this.sEditLiveMsg = false
            this.$store.dispatch('live/refreshConv', { liveUid: res.data.liveMsg.liveUid, 
                                                        categoryUid: res.data.liveMsg.categoryUid, 
                                                        channelUid: res.data.liveMsg.channelUid }, 
                                                  { root: true })
          }else{
            console.log("error /live/edit-live-msg", res.data)
          }
          this.loading = false
        }
        catch(e){
          this.loading = false
        }
      },

      async deleteLiveMsg(){
        this.loading = true
        try{
          const res = await axios.post('/live/delete-live-msg', { 
                                          liveMsgUid : this.liveMsgUid,
                                          toPageUid: this.$store.state.live.currentDestPage.uid
                                        })
          if(res.data.error == false){
            console.log("success /live/delete-live-msg", res.data)
            this.sDeleteLiveMsg = false
            this.$store.dispatch('live/refreshConv', { liveUid: res.data.liveMsg.liveUid, 
                                                        categoryUid: res.data.liveMsg.categoryUid, 
                                                        channelUid: res.data.liveMsg.channelUid }, 
                                                  { root: true })
          }else{
            console.log("error /live/delete-live-msg", res.data)
          }
          this.loading = false
        }
        catch(e){
          this.loading = false
        }
      },

      async deleteCategory(){
        this.loading = true
        const res = await axios.post('/live/delete-category', { 
                                        liveUid: this.$store.state.live.currentLive.uid,
                                        catUid : this.categoryUid
                                      })
        if(res.data.error == false){
          console.log("success /live/delete-category", res.data)
          this.sDeleteCategory = false
          this.updateLiveData()
        }else{
          console.log("error /live/delete-category", res.data)
        }
        this.loading = false
      },

    },

    watch: {
    }
  }
</script>