<template>
  <v-alert  colored-border class="text-center mb-0 elipsis"
            :color="instance.isActive ? 'blue' : 'red'" elevation="2">
    <!-- <small class="yellow--text">Instance Sélectionnée</small> -->
    <h4 class="elipsis text-center">
      <v-icon small>mdi-spider-web</v-icon> 
      {{ instance.name }}, 
      <small>{{ instance.city }} {{ instance.state }}</small>
      <br>
      <small><small>{{ instance.url }}</small></small>
    </h4>

    <v-row class="d-flex mt-2">
      <v-col cols="4" md="4" sm="4" class="pa-0 text-center">
        <small>
          {{ instance.nbUsers }}
        </small> <v-icon small color="yellow">mdi-account-network</v-icon>
      </v-col>

      <v-col cols="4" md="4" sm="4" class="pa-0 text-center">
        <small>
          {{ instance.nbPosts }}
        </small> <v-icon small color="green">mdi-newspaper-variant-multiple</v-icon>
      </v-col>

      <v-col cols="4" md="4" sm="4" class="pa-0 text-center">
        <small>
          {{ instance.nbNotifs }}
        </small> <v-icon small color="red">mdi-bell</v-icon>
      </v-col>

      <v-col cols="12" v-if="instance.name == $store.state.network.localName"
            class="pa-0 mt-2 text-center">
        <v-chip small color="green"> {{ $vuetify.lang.t('$vuetify.home.youAreConnectedThis') }}</v-chip>
      </v-col>
      <v-col cols="12" v-else
            class="pa-0 mt-2 text-center">
        <!-- <v-chip small color="transparent"></v-chip> -->
      </v-col>

      <v-col cols="12" v-if="instance.isActive == false"
            class="pa-0 px-4 mt-2 text-center">
        <h5 small class="red--text">
          <small>{{ $vuetify.lang.t('$vuetify.home.serverNotReachable') }}</small>
        </h5>
      </v-col>

      <v-btn block class="mt-3 mb-1" v-if="showBtn===true && instance.isActive"
            color="blue" :dark="false" @click="selectNode(instance)">
          <v-icon small>mdi-check</v-icon> 
          {{ $vuetify.lang.t('$vuetify.selectNode.selectThisServer') }}
      </v-btn>
      <div style="width:100%" v-else><br></div>

    </v-row>

  </v-alert>
</template>


<script>

import router from '../../router/router'
//import axios from 'axios'
//import Header from '@/components/home/Header.vue'

//const baseUrl = localStorage.getItem("baseUrl")

export default {
  name: 'nodebox',
  props: [ 'instance', 'showBtn' ],
  data: () => ({
    
  }),

  async mounted(){ 

  },
  methods: {

    async selectNode(node){
      await this.$store.dispatch('network/selectNode', node)

      if(localStorage.getItem("signedCharte")){
        router.push('/register');
      }else{
        router.push('/manifest');
      }
    },
  }

}

</script>